Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*

add: type for date
  react/src/components/BatchSessionScheduledTimeSetting.tsx
Labels: none

feat: install babel plugin
  react/package-lock.json
  react/package.json
Labels: none

fix: update storage volume presence condition verification code
  src/components/backend-ai-storage-proxy-list.ts
Labels: none

feat: fix antd version to 5.13.2
  react/package-lock.json
  react/package.json
Labels: none

Revert "add: type for date"
  react/src/components/BatchSessionScheduledTimeSetting.tsx
Labels: none

add: type for date (#2224)
  react/package-lock.json
  react/package.json
  src/components/backend-ai-storage-proxy-list.ts
Labels: none

Override @typescript-eslint/typescript-estree dependency
  react/package-lock.json
  react/package.json
Labels: none

fix: @typescript-eslint/typescript-estree dependency warning (#2225)
  react/package-lock.json
  react/package.json
Labels: none

feat: replace usersetting page with main code.
  react/src/pages/UserSettingsPage.tsx
Labels: none

chore: remove loding indicator
  react/src/components/SettingItem.tsx
  react/src/components/SettingList.tsx
Labels: none

feat: store general style to react and delete token handling in web component
  react/src/components/MainLayout/MainLayout.tsx
  resources/webui.css
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-chart.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-email-verification-view.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-multi-select.ts
  src/components/backend-ai-project-switcher.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-resource-group-list.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-signup.ts
  src/components/backend-ai-splash.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-usage-list.ts
  src/components/backend-ai-user-list.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/components/backend-ai-webui-styles.ts
  src/components/backend-ai-webui.ts
  src/components/lablup-activity-panel.ts
  src/components/lablup-expansion.ts
  src/components/lablup-notification.ts
  src/components/lablup-progress-bar.ts
  src/components/lablup-slider.ts
  src/pipeline/components/pipeline-job-list.ts
  src/pipeline/lib/pipeline-configuration-form.ts
Labels: field:UI / UX

style: mwc-button disabled styling
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-usersettings-general-list.ts
Labels: none

style: change scrollbar colors
  src/components/backend-ai-general-styles.ts
Labels: none

style: replace hard coded color code with token value
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-resource-group-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-session-launcher.ts
Labels: none

feat: separate plugin rollup configs
  package.json
  rollup.plugins.config.ts
Labels: none

feat: add link test plugin sample
  src/plugins_sample/link-test-plugin.ts
  src/plugins_sample/test-plugin.ts
Labels: none

style: revert progress bar color
  src/components/backend-ai-general-styles.ts
Labels: none

feat: confirm with user input when delete from trash bin
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-storage-list.ts
Labels: field:UI / UX, field:localization

feat: make input value blank whenever opening delete dialog
  src/components/backend-ai-storage-list.ts
Labels: none

style: change color of selected background sider menu and scrollbar
  react/src/components/BAIMenu.tsx
  react/src/components/MainLayout/MainLayout.tsx
  src/components/backend-ai-general-styles.ts
Labels: none

feature: impl vfolder delete_by_id request
  src/lib/backend.ai-client-esm.ts
Labels: none

fix: add missing font family in dark theme
  resources/theme.json
Labels: none

introduce a theme configuration for enforcing the sidebar theme mode
  react/src/components/BAISider.tsx
  react/src/components/MainLayout/WebUISider.tsx
  react/src/helper/customThemeConfig.ts
Labels: none

feat: use folder id instead of name when deleting
  src/components/backend-ai-storage-list.ts
Labels: none

feat: change delete param according to manager ver.
  src/components/backend-ai-storage-list.ts
Labels: none

style: touchup progress bar color
  src/components/backend-ai-general-styles.ts
Labels: none

style: change scrollbar background
  react/src/components/MainLayout/MainLayout.tsx
Labels: none

revert: version update
  src/components/backend-ai-webui.ts
Labels: none

feat: update antd icon package version
  react/package-lock.json
  react/package.json
Labels: none

style: change backend-ai-dialog background for better readibility
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-webui-styles.ts
  src/components/lablup-expansion.ts
Labels: none

fix: none checking of missing themeConfig
  react/src/components/MainLayout/WebUISider.tsx
Labels: none

change `Splash` bg color and `Sider` in dark mode
  resources/theme.json
  resources/webui.css
Labels: field:UI / UX

fix: first browser loading with dark mode
  index.html
  react/src/hooks/useThemeMode.tsx
  resources/webui.css
  src/components/backend-ai-webui-styles.ts
Labels: field:UI / UX

revert: remove react user setting page
  react/src/components/DefaultProviders.tsx
  react/src/components/UserSettings.tsx
  react/src/components/WEBUIHelpButton.tsx
  react/src/pages/UserSettingsPage.tsx
Labels: none

fix: revert unnecessary style changes
  react/src/pages/SessionListPage.tsx
Labels: none

fix: remove event dispatcher for better separation of concern
  react/src/components/WebUIThemeToggleButton.tsx
Labels: none

style: a tag color stylings
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-splash.ts
Labels: none

use token variable first
  resources/webui.css
Labels: field:UI / UX

use token variable first (2)
  resources/webui.css
Labels: field:UI / UX

fix: unintended white line on modal border in dark mode
  src/components/backend-ai-general-styles.ts
Labels: none
