Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: area:ux, area:lib, area:i18n

.github/labeler.yml:

area:ux:
  - changed-files:
    - any-glob-to-any-file:
      - resources/fonts/*
      - resources/icons/*
      - resources/*.css
      - src/plastics/**/*
      - resources/i18n/*

area:lib:
  - changed-files:
    - any-glob-to-any-file:
      - src/lib/**/*
      - src/wsproxy/**/*

area:i18n:
  - changed-files:
    - any-glob-to-any-file:
      - resources/i18n/*

fix: sorting constraint and move getImageFullName to helper
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/helper/index.tsx
  react/src/hooks/index.tsx
  react/src/pages/MyEnvironmentPage.tsx
Labels: none

feat: add parse data message
  react/src/hooks/useBAINotification.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-session-list.ts
Labels: area:ux, area:i18n

fix: remove unused codes
  src/components/backend-ai-session-list.ts
Labels: none

fix: rename to renderDataMessage and make its type to function
  react/src/hooks/useBAINotification.tsx
  src/components/backend-ai-session-list.ts
Labels: none

check `QuotaExceeded`message in `renderDataMessage`
  src/components/backend-ai-session-list.ts
Labels: none

add another data.message using `renderDataMessage`
  react/src/hooks/useBAINotification.tsx
Labels: none

feat: add MyEnvironment page to manage per user commit images (#2332)
  react/data/schema.graphql
  react/src/App.tsx
  react/src/components/BAIModal.css
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ImageTags.tsx
  react/src/components/MainLayout/WebUISider.tsx
  react/src/components/SessionKernelTag.tsx
  react/src/helper/index.tsx
  react/src/hooks/index.tsx
  react/src/hooks/useBAINotification.tsx
  react/src/pages/MyEnvironmentPage.tsx
  react/src/pages/ServingListPage.tsx
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/backend-ai-app.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-esm.ts
  src/plastics/lablup-shields/lablup-shields.ts
Labels: area:ux, area:lib, area:i18n

fix: if the token type is a number, save the token value with `px`
  react/src/components/MainLayout/MainLayout.tsx
Labels: none

fix: if the value type of antd is numeric, append 'px' after it
  react/src/components/MainLayout/MainLayout.tsx
  src/components/backend-ai-login.ts
Labels: none

fix: remove unnecessary data type converter
  react/src/components/MainLayout/MainLayout.tsx
Labels: none

style: label wrapping, font resizing and numeric token formatting (#2338)
  react/src/components/MainLayout/MainLayout.tsx
  src/components/backend-ai-login.ts
Labels: none

fix: remove duplicated codes
  react/src/components/MainLayout/MainLayout.tsx
Labels: none

style: remove `px` when calculating margin of WebUIHeader wrapper (#2344)
  react/src/components/MainLayout/MainLayout.tsx
Labels: none

use `defaultSessionEnvironment` as a initial `environments.environment` value
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none

fix typo and parsing imageKey
  react/src/components/ImageEnvironmentSelectFormItems.tsx
Labels: none

fix: image prefix and info tags
  react/src/components/ImageEnvironmentSelectFormItems.tsx
Labels: none

fix: use `defaultSessionEnvironment` as a initial `environments.environment` (#2345)
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none

enable non-accelerator preset when accelerator image
  react/src/components/ResourceAllocationFormItems.tsx
Labels: none

set annotations to `failed-tests`
  .github/workflows/jest.yml
Labels: none

enable non-accelerator preset when accelerator image (#2346)
  react/src/components/ResourceAllocationFormItems.tsx
Labels: none

misc: fix typo error
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourcePresetSelect.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
Labels: none

fix: only allow showing vfolder list in neo session launcher when it has permission
  react/src/components/VFolderTable.tsx
Labels: none

update: version number
  index.html
  manifest.json
  package.json
  react/package.json
  src/components/backend-ai-webui.ts
  version.json
Labels: none

update: version index
  index.html
  manifest.json
  package-lock.json
  package.json
  react/package-lock.json
  react/package.json
  src/components/backend-ai-webui.ts
  version.json
Labels: none

Revert "style: remove `px` when calculating margin of WebUIHeader wrapper (#2344)"
  react/src/components/MainLayout/MainLayout.tsx
Labels: none

Revert "style: remove `px` when calculating margin of WebUIHeader wrapper (#2344)" (#2349)
  react/src/components/MainLayout/MainLayout.tsx
Labels: none

update: CHANGELOG.md
  CHANGELOG.md
Labels: none

set annotations to `failed-tests` (#2347)
  .github/workflows/jest.yml
Labels: none

fix: default environment as a initial value of the service launcher
  react/src/components/ServiceLauncherModal.tsx
Labels: none

introduce AvailableResourcesCard and MyUsageResourcePolicyCard
  react/package-lock.json
  react/package.json
  react/src/components/AvailableResourcesCard.tsx
  react/src/components/MyUsageAndResourcePolicyCard.tsx
  react/src/components/ResourceAvailableGageBar.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
  react/src/pages/SessionListPage.tsx
Labels: none

use `useTransition` for ProjectSelect in Header
  react/src/components/MainLayout/WebUIHeader.tsx
Labels: none

setup jotai
  react/package-lock.json
  react/package.json
  react/src/components/DefaultProviders.tsx
Labels: none

current project hooks using jotai
  react/package-lock.json
  react/package.json
  react/src/hooks/index.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
Labels: none

delete unused code
  react/src/components/ResourceGroupSelectForCurrentProject.tsx
Labels: none

handle current resource group and current project using Jotai
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourceGroupSelectForCurrentProject.tsx
  react/src/hooks/useCurrentProject.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
  react/src/index.tsx
Labels: none

create `useCurrentProject.tsx` and move related hooks
  react/src/components/AvailableResourcesCard.tsx
  react/src/components/MainLayout/WebUIHeader.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourceGroupSelect.tsx
  react/src/components/StorageStatusPanel.tsx
  react/src/components/VFolderLazyView.tsx
  react/src/components/VFolderSelect.tsx
  react/src/components/VFolderTable.tsx
  react/src/hooks/index.tsx
  react/src/hooks/useCurrentProject.tsx
  react/src/pages/ServingListPage.tsx
  react/src/pages/SessionLauncherPage.tsx
  react/src/pages/SessionListPage.tsx
Labels: none

automatically select the first resource group during initialization
  react/src/hooks/useCurrentProject.tsx
  react/src/index.tsx
Labels: none

Add an optimistic project id state to handle the changing transition of the project
  react/src/components/MainLayout/WebUIHeader.tsx
Labels: none

display a loading indicator during the resource group changing transition
  react/src/index.tsx
Labels: none

fix lint
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourceGroupSelectForCurrentProject.tsx
Labels: none
