Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

feat: add config option that can hide custom resource allocation
  config.toml.sample
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-launcher.ts
Labels: none

feat: add @since(version:) and @deprecated_since(version:) as a client directive
  graphql.config.js
  react/data/client-directives.graphql
  react/src/RelayEnvironment.ts
  react/src/helper/graphql-transformer.ts
Labels: none

refactoring
  react/src/helper/graphql-transformer.ts
Labels: none

fix: send stoken by query string
  src/lib/backend.ai-client-esm.ts
  src/lib/backend.ai-client-node.ts
Labels: none

handle session-template with bokff image
  src/components/backend-ai-edu-applauncher.ts
Labels: none

fix: hide infernece app from app launcher
  src/components/backend-ai-app-launcher.ts
Labels: none

fix: sevice session fails to create when service name is long enough
  react/src/components/ServiceLauncherModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-app-launcher.ts
Labels: field:UI / UX, field:localization

fix: touchup sftp connection example text
  src/components/backend-ai-app-launcher.ts
Labels: none

style: add word break and max width
  src/components/backend-ai-app-launcher.ts
Labels: none

fix: add missed options of the scp, rsync example
  src/components/backend-ai-app-launcher.ts
Labels: none

refactor: use `parse` and `visit` in GraphQL transformer and add test code
  react/src/helper/graphql-transformer.test.ts
  react/src/helper/graphql-transformer.ts
Labels: none

remove `console.log` in test code
  react/src/helper/graphql-transformer.test.ts
Labels: none

change relay environment to use `manipulateGraphQLQueryWithClientDirectives`
  graphql.config.js
  react/data/client-directives.graphql
  react/data/relay-and-local-directives-for-graphql-config.graphql
  react/src/RelayEnvironment.ts
Labels: none

fix eslint
  react/src/helper/graphql-transformer.ts
Labels: none

feat: add passwordless sudo user management UI
  react/src/components/UserInfoModal.tsx
  react/src/components/UserSettingModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/lib/backend.ai-client-esm.ts
Labels: field:UI / UX, field:localization

remove unrelated changes
  src/components/backend-ai-app-launcher.ts
Labels: none

fix: remove image naming checking when selecting sftp image
  src/components/backend-ai-storage-list.ts
Labels: none

fix: remove image naming checking when selecting sftp image (#2007)
  src/components/backend-ai-storage-list.ts
Labels: none

fix: touchup sftp connection example text (#2004)
  src/components/backend-ai-app-launcher.ts
Labels: none

update query in test code
  react/src/helper/graphql-transformer.test.ts
Labels: none

fix version compare function
  react/src/RelayEnvironment.ts
Labels: none

revert graphql.config.js for vscode extension
  graphql.config.js
Labels: none

update schema.graphql and apply @since and @deprecatedSince to StorageStatusPanel.tsx
  react/data/schema.graphql
  react/src/components/StorageStatusPanel.tsx
Labels: none

add @since to `created_at` of Endpoint
  react/src/pages/ServingListPage.tsx
Labels: none

comment out project resource policy in StorageStatusPanel
  react/src/components/StorageStatusPanel.tsx
Labels: none

update schema.graphql and version directives
  react/data/schema.graphql
  react/src/components/StorageStatusPanel.tsx
Labels: none

fix: limit number of characters of model service name (#2003)
  react/src/components/ServiceLauncherModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

feat: add config option that can hide custom resource allocation (#1998)
  config.toml.sample
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-launcher.ts
Labels: none

fix: hide infernece app from app launcher (#2002)
  src/components/backend-ai-app-launcher.ts
Labels: none

update: node.js packages
  package-lock.json
  package.json
  react/package-lock.json
  react/package.json
Labels: none

fix: change compatible version
  src/lib/backend.ai-client-esm.ts
Labels: none

feat: add passwordless sudo user management UI (#2005)
  react/src/components/UserInfoModal.tsx
  react/src/components/UserSettingModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/lib/backend.ai-client-esm.ts
Labels: field:UI / UX, field:localization

fix: change reference to old lit-element from chart-js
  index.html
  src/components/backend-ai-webui.ts
  src/plastics/chart-js.ts
  version.json
Labels: field:UI / UX

fix: Nullable fields can be undefined in Relay.js 16
  react/src/components/EndpointStatusTag.tsx
  react/src/components/ImageMetaIcon.tsx
  react/src/components/ModelServiceSettingModal.tsx
  react/src/components/SessionKernelTag.tsx
  react/src/helper/index.tsx
  react/src/pages/RoutingListPage.tsx
Labels: none

update: CHANGELOG.md
  CHANGELOG.md
Labels: none

update: version index / CHANGELOG.md
  CHANGELOG.md
  index.html
  manifest.json
  package.json
  src/components/backend-ai-webui.ts
  version.json
Labels: none

update: version index
  index.html
  manifest.json
  package-lock.json
  package.json
  src/components/backend-ai-webui.ts
  version.json
Labels: none

update comment
  react/src/helper/graphql-transformer.ts
Labels: none

update latest graphql shcmea
  react/data/schema.graphql
Labels: none

feat: new GraphQL directive on Client, `@since(version:)` and `@deprecatedSince(version:)` (#1999)
  graphql.config.js
  react/data/client-directives.graphql
  react/data/relay-and-local-directives-for-graphql-config.graphql
  react/data/schema.graphql
  react/src/RelayEnvironment.ts
  react/src/components/StorageStatusPanel.tsx
  react/src/helper/graphql-transformer.test.ts
  react/src/helper/graphql-transformer.ts
  react/src/pages/ServingListPage.tsx
Labels: none

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*
