Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: area:ux, area:lib, area:i18n

.github/labeler.yml:

area:ux:
  - changed-files:
    - any-glob-to-any-file:
      - resources/fonts/*
      - resources/icons/*
      - resources/*.css
      - src/plastics/**/*
      - resources/i18n/*

area:lib:
  - changed-files:
    - any-glob-to-any-file:
      - src/lib/**/*
      - src/wsproxy/**/*

area:i18n:
  - changed-files:
    - any-glob-to-any-file:
      - resources/i18n/*

feat: use mutation to modify service port
  react/src/components/ManageAppsModal.tsx
  src/components/backend-ai-environment-list.ts
Labels: none

fix: only allow showing vfolder list in service launcher when vfolder status is ready
  react/src/components/ServiceLauncherModal.tsx
Labels: none

fix: remove container commit interaction button in `upload session`
  src/components/backend-ai-session-list.ts
Labels: none

fix: remove container commit interaction button in `upload session` (#2356)
  src/components/backend-ai-session-list.ts
Labels: none

fix: default modal footer button css
  react/src/components/BAIModal.css
Labels: none

fix: remove unused code
  react/src/components/ManageAppsModal.tsx
Labels: none

feat: add resource limit manage modal
  react/src/components/ImageResourceFormItem.tsx
  react/src/components/ManageImageResourceModal.tsx
  react/src/index.tsx
  src/components/backend-ai-environment-list.ts
Labels: none

fix: change step props type so that can use only slider's marks
  react/src/components/InputNumberWithSlider.tsx
Labels: none

feat: apply react modal component into modify resource limits
  react/src/components/ImageResourceFormItem.tsx
  react/src/components/ManageImageResourceModal.tsx
Labels: none

fix: max value validation type change into undefined
  react/src/components/ManageImageResourceModal.tsx
Labels: none

fix: parsing valid appConnectUrl
  src/components/backend-ai-edu-applauncher.ts
Labels: none

feat: add confirm modal for installed image
  react/src/components/ManageImageResourceModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n

fix: remove unused codes
  react/src/components/ManageImageResourceModal.tsx
Labels: none

Validate the form every time in final step
  react/src/pages/SessionLauncherPage.tsx
Labels: none

fix: `aliasMap` is not changed occasionally
  react/src/components/VFolderTable.tsx
Labels: none

feat: add checking url is correct
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-edu-applauncher.ts
Labels: area:ux, area:i18n

feat: add confirm modal into manage app modal
  react/src/components/ManageAppsModal.tsx
Labels: none

fix: do nothing if current preset of url is available
  react/src/components/ResourceAllocationFormItems.tsx
Labels: none

fix: preserve the preset of session launcher using query parameters. (#2361)
  react/src/components/ResourceAllocationFormItems.tsx
Labels: none

fix: parsing valid appConnectUrl (#2358)
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-edu-applauncher.ts
Labels: area:ux, area:i18n

fix: default environment as a initial value of the service launcher (#2352)
  react/src/components/ServiceLauncherModal.tsx
Labels: none

Update component sizes and alignments
  react/src/components/AvailableResourcesCard.tsx
  react/src/components/MyUsageAndResourcePolicyCard.tsx
  react/src/pages/SessionListPage.tsx
Labels: none

fix: wrong vFolder validation result occasionally. (#2359)
  react/src/components/VFolderTable.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none

fix: added logic to determine whether to delete and modify vfolders based on permissions
  src/components/backend-ai-storage-list.ts
Labels: none

fix: add Group Type validation
  src/components/backend-ai-storage-list.ts
Labels: none

fix: consider null value when no allowed_vfolder_hosts in response
  react/src/components/VFolderTable.tsx
Labels: none

Add activity feed API
  graphite-demo/server.js
Labels: none

Add server API
  graphite-demo/server.js
Labels: none

Add frontend for search
  graphite-demo/frontend.jsx
Labels: none

Add user search
  graphite-demo/frontend.jsx
  graphite-demo/server.js
Labels: none

fix: remove redundant map function on filtering accesible storage host by project
  react/src/components/VFolderTable.tsx
Labels: none

feat: add multilingual translations for changing service port
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n

fix: Add logic for validating field values that are not provided
  react/src/components/ManageAppsModal.tsx
  react/src/components/ManageImageResourceModal.tsx
Labels: none

fix: prevent delete in shared vfolder by permission (#2363)
  src/components/backend-ai-storage-list.ts
Labels: none

feat: allow manually specifying model definition file
  react/src/components/ServiceLauncherModal.tsx
  react/src/pages/RoutingListPage.tsx
  src/lib/backend.ai-client-esm.ts
Labels: area:lib

add i18n
  react/src/components/ServiceLauncherModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n

rename filename to path
  react/data/schema.graphql
  react/src/components/ServiceLauncherModal.tsx
  react/src/pages/RoutingListPage.tsx
  resources/i18n/ko.json
Labels: area:ux, area:i18n

show absolute path
  react/src/pages/RoutingListPage.tsx
Labels: none

fix: fix bug where the wrong image was selected when filtering some columns
  src/components/backend-ai-environment-list.ts
Labels: none

add `useResourceSlotsDetails`
  react/src/components/ImageResourceFormItem.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/hooks/backendai.tsx
  react/src/hooks/index.tsx
Labels: none
