Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*

feat: create copy to clipboard button
  src/components/backend-ai-app-launcher.ts
Labels: none

feat: hide pre-open port config when option is 0
  config.toml.sample
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-session-launcher.ts
Labels: field:UI / UX, field:localization

feat: hide pre-open ports when option is 0 on the last session launcher page
  src/components/backend-ai-session-launcher.ts
Labels: none

fix: Exclude 404 status from `throw` target
  src/lib/backend.ai-client-esm.ts
Labels: none

fix: remove unused import
  src/components/backend-ai-session-launcher.ts
Labels: none

fix: Return `resolve(false)` when `url-not-found`
  src/lib/backend.ai-client-esm.ts
Labels: none

modify MaintenanceView file name and location
  react/src/index.tsx
  react/src/pages/MaintenancePage.tsx
Labels: none

feat: add preopen ports configs on the session launcher (#1843)
  config.toml.sample
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/lablup-expansion.ts
  src/lib/backend.ai-client-esm.ts
Labels: field:UI / UX, field:localization

add totpSupported and totpActivated
  react/src/components/UserPrefModal.tsx
  src/components/backend-ai-user-dropdown-menu.ts
Labels: none

fix resource monitor's right border
  src/components/backend-ai-resource-monitor.ts
Labels: none

chore: fix typo
  resources/i18n/ko.json
Labels: field:UI / UX, field:localization

refactor: custom.css and theme.json for react (#1836)
  react/src/helper/react-to-webcomponent.tsx
  react/src/pages/ServingListPage.tsx
  react/src/pages/SessionListPage.tsx
  resources/custom.css
  resources/theme.json
Labels: field:UI / UX

fix: typo i18n/ko (#1852)
  resources/i18n/ko.json
Labels: field:UI / UX, field:localization

feat: display pre open ports to the inside of lablup-expansion
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/lablup-expansion.ts
Labels: none

misc: rename preOpenPortList to preOpenedPortList
  src/components/backend-ai-app-launcher.ts
Labels: none

feat: display pre open ports to the inside of lablup-expansion (#1854)
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/lablup-expansion.ts
Labels: none

refactor: modify client config constructor type check in backend.ai-client-esm.ts (#1853)
  src/lib/backend.ai-client-esm.ts
Labels: none

fix: Change to treat a 404 from `informantion.tsx`
  react/src/components/Information.tsx
  src/lib/backend.ai-client-esm.ts
Labels: none

feat: update preopen port detail info
  resources/i18n/en.json
  resources/i18n/ko.json
Labels: field:UI / UX, field:localization

fix: Change `getLicense`'s logic
  react/src/components/Information.tsx
  src/lib/backend.ai-client-esm.ts
Labels: none

feat: update preopen port detail info (#1856)
  resources/i18n/en.json
  resources/i18n/ko.json
Labels: field:UI / UX, field:localization

display the prefix of image group
  react/src/components/ImageEnvironmentSelectFormItems.tsx
Labels: none

chore: add test scripts for only react
  package.json
Labels: none

test: add Flex component test code and snapshot
  react/src/components/Flex.test.tsx
  react/src/components/__snapshots__/Flex.test.tsx.snap
Labels: none

update: use window mode as default view
  src/components/backend-ai-desktop.ts
  src/components/backend-ai-webui.ts
Labels: none

feat: Add react manage apps modal component
  react/src/components/ManageAppsModal.tsx
  react/src/index.tsx
  src/components/backend-ai-environment-list.ts
Labels: none

fix: Add missing `cancel` dispatchEvent
  react/src/components/ManageAppsModal.tsx
  src/components/backend-ai-environment-list.ts
Labels: none

fix: deprecated type of Button
  react/src/components/SessionListColums/SessionInfoCell.tsx
Labels: none

feat: add tags(requirements, prefix to ImageEnvironmentSelector
  react/src/components/DoubleTag.tsx
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/TextHighlighter.tsx
Labels: none

set the colorWarning
  resources/theme.json
Labels: none

bugfix: requirements tag is not displayed when it has no alias.
  react/src/components/DoubleTag.tsx
  react/src/components/ImageEnvironmentSelectFormItems.tsx
Labels: none

chore: use css variable
  src/components/backend-ai-app-launcher.ts
Labels: none

modify color endpoint-textfield's helper line, textfield's border color
  src/components/backend-ai-login.ts
Labels: none

feat: highlight search text on requirement tag
  react/src/components/ImageEnvironmentSelectFormItems.tsx
Labels: none

fix: Remove license errors in open-source project version (#1847)
  src/lib/backend.ai-client-esm.ts
Labels: none

set the popup container to shadowRoot always
  react/src/components/DefaultProviders.tsx
Labels: none

set Form.Item tooltips on service launcher modal
  react/src/components/ServiceLauncherModal.tsx
Labels: none

fix: set the popup container to shadowRoot always (#1860)
  react/src/components/DefaultProviders.tsx
  react/src/components/ServiceLauncherModal.tsx
Labels: none

modify padding size
  src/components/backend-ai-login.ts
Labels: none

change padding bottom to top
  src/components/backend-ai-login.ts
Labels: none
