Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*

add config.toml to craco proxy list and watch list
  react/craco.config.js
Labels: none

change options(watch, preserveWatchOutput) of build:d script
  package.json
  tsconfig.json
  web-dev-server.config.js
Labels: none

feature: Proxy react server to web dev server by using `devServer` and `proxy` (#1803)
  README.md
  es-dev-server.config.js
  main.js
  package.json
  react/.env.development
  react/craco.config.js
  tests/test_login.js
  tests/test_vfolder.js
  tsconfig.json
  web-dev-server.config.js
Labels: none

fix: revert port for dev environment
  main.js
  tests/test_login.js
  tests/test_vfolder.js
Labels: none

delete unused es-dev-server.config.js
  es-dev-server.config.js
Labels: none

hotfix: revert port for dev environment (#1829)
  es-dev-server.config.js
  main.js
  tests/test_login.js
  tests/test_vfolder.js
Labels: none

feat: update model-service related i18n
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ModelServiceSettingModal.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
  resources/i18n/en.json
  resources/i18n/ko.json
Labels: field:UI / UX, field:localization

feat: Update resources/i18n/ko.json
  resources/i18n/ko.json
Labels: field:UI / UX, field:localization

feat: update model-service related i18n (#1831)
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ModelServiceSettingModal.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
  resources/i18n/en.json
  resources/i18n/ko.json
Labels: field:UI / UX, field:localization

merged main branch
  react/src/components/UserPrefModal.tsx
  src/components/backend-ai-user-dropdown-menu.ts
Labels: none

refactor: check totp activation using fragment
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserSettingModal.tsx
Labels: none

feat: switch off when cancel totp activation
  react/src/components/UserSettingModal.tsx
Labels: none

feat: check user is current logged in user
  react/src/components/TOTPActivateModal.tsx
Labels: none

feat: add useWatch for totp_activation
  react/src/components/UserSettingModal.tsx
Labels: none

misc: add !! for better understanding
  react/src/components/UserSettingModal.tsx
Labels: none

Revert "feat: add useWatch for totp_activation"
  react/src/components/UserSettingModal.tsx
Labels: none

fix: add forceRender to fix form warning
  react/src/components/UserSettingModal.tsx
Labels: none

use event handler instead of useEffect
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserSettingModal.tsx
  resources/i18n/en.json
  resources/i18n/ko.json
Labels: field:UI / UX, field:localization

fix: typo errors and remove forceRender
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserSettingModal.tsx
Labels: none

set confirmLoading to TOTPActivateModal
  react/src/components/TOTPActivateModal.tsx
Labels: none

commit the removeTotp mutation when the switch changes to false
  react/src/components/UserSettingModal.tsx
  resources/i18n/en.json
  resources/i18n/ko.json
Labels: field:UI / UX, field:localization

use @skipOnClient instead of @include
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserSettingModal.tsx
Labels: none

add `user` to return filed of `modify_user` graphql mutation
  react/src/components/UserSettingModal.tsx
Labels: none

revert commented lines
  react/src/components/UserSettingModal.tsx
Labels: none

change GraphQL schema config and update README.md
  graphql.config.js
  react/README.md
  react/data/merged_schema_for_graphql_config.graphql
  react/data/relay-directives.graphql
  react/relay.config.js
Labels: none

feat: add remove totp confirm modal
  react/src/components/UserSettingModal.tsx
  resources/i18n/en.json
  resources/i18n/ko.json
Labels: field:UI / UX, field:localization

refactor: modify totp initializing logic (#1826)
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserSettingModal.tsx
  resources/i18n/en.json
  resources/i18n/ko.json
Labels: field:UI / UX, field:localization

fix: http status code - Using 404, it can be assumed that the API endpoint itself does not exist. Since this error is a configuration error, 500 status code is appropriate.
  src/components/backend-ai-session-list.ts
Labels: none

modify regexTable more shorter
  src/components/backend-ai-painkiller.ts
Labels: none

modify background color and border bottom line
  src/components/backend-ai-login.ts
Labels: none

feat: Subdivide servers to each container
  Dockerfile
  docker-compose.yml
  react/craco.config.js
  scripts/dev/dev-lit
  scripts/dev/dev-react
  scripts/dev/dev-wsproxy
  version.json
Labels: maintenance:dependencies

modify value name and delete unused function
  src/components/backend-ai-user-dropdown-menu.ts
Labels: none

add function update fullName and password mutation
  react/src/components/UserPrefModal.tsx
Labels: none

chore: fix typo
  resources/i18n/ko.json
Labels: field:UI / UX, field:localization

complete mutation function and delete unused function
  react/src/components/UserPrefModal.tsx
  src/components/backend-ai-user-dropdown-menu.ts
Labels: none

add onSettled
  react/src/components/UserPrefModal.tsx
Labels: none

modify error message
  react/src/components/UserPrefModal.tsx
  resources/i18n/en.json
  resources/i18n/ko.json
Labels: field:UI / UX, field:localization

modify useEffect when full name is changed
  react/src/components/UserPrefModal.tsx
Labels: none

Revert "feat: Subdivide servers to each container"
  Dockerfile
  docker-compose.yml
  react/craco.config.js
  scripts/dev/dev-lit
  scripts/dev/dev-react
  scripts/dev/dev-wsproxy
  version.json
Labels: maintenance:dependencies

refactor: Separate scripts for React and Lit
  package.json
  scripts/webui-dev
Labels: maintenance:dependencies
