Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

fix layout of StageStatusPanel
  react/src/components/StorageStatusPanel.tsx
  src/components/backend-ai-data-view.ts
Labels: none

fix sider scroll bug
  react/src/components/MainLayout/MainLayout.tsx
Labels: none

pull out Information react component in web component and remove hardcoded margin of activity-panel
  react/src/App.tsx
  react/src/components/Information.tsx
  react/src/components/MainLayout/MainLayout.tsx
  react/src/components/StorageStatusPanel.tsx
  react/src/index.tsx
  src/backend-ai-app.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-information-view-legacy.ts
  src/components/backend-ai-information-view.ts
  src/components/backend-ai-maintenance-view.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-webui.ts
  src/components/lablup-activity-panel.ts
Labels: none

remove dark style for tab in react component
  resources/custom.css
  resources/theme.json
Labels: field:UI / UX

remove comments and unused variables
  react/src/pages/ServingListPage.tsx
Labels: none

fix preference and logs in UserDropMenu
  react/src/components/UserDropdownMenu.tsx
  react/src/hooks/index.ts
  src/components/backend-ai-webui.ts
Labels: none

feat:set width url and parameter column
  react/src/pages/ErrorLogListPage.tsx
Labels: none

feat:set columns error type
  react/src/pages/ErrorLogListPage.tsx
Labels: none

feat:update logs every 5ms
  react/src/pages/ErrorLogListPage.tsx
Labels: none

feat:implement clearLogs
  react/src/pages/ErrorLogListPage.tsx
Labels: none

fix gab and padding
  react/src/components/MainLayout/MainLayout.tsx
  react/src/components/MainLayout/WebUIHeader.tsx
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-maintenance-view.ts
  src/components/backend-ai-summary-view.ts
Labels: none

feat:implement refresh logs
  react/src/pages/ErrorLogListPage.tsx
Labels: none

add support for Hyperaccel LPU devices
  react/src/components/ResourceNumber.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/hooks/backendai.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
  resources/device_metadata.json
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-session-launcher-neo.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-settings-view.ts
  src/lib/backend.ai-client-esm.ts
Labels: none

fix:set showSizeChanger to false
  react/src/pages/ErrorLogListPage.tsx
Labels: none

check the type of 'light' property
  react/src/helper/customThemeConfig.ts
Labels: none

fix: implement Neo Session column's content (#2130)
  react/src/components/SessionList.tsx
  react/src/components/SessionListColums/SessionInfoCell.tsx
Labels: none

Revert "fix: implement Neo Session column's content (#2130)"
  react/src/components/SessionList.tsx
  react/src/components/SessionListColums/SessionInfoCell.tsx
Labels: none

Revert "fix: implement Neo Session column's content (#2130)" (#2132)
  react/src/components/SessionList.tsx
  react/src/components/SessionListColums/SessionInfoCell.tsx
Labels: none

feature: implement custom hooks to use React dark mode (#2120)
  react/src/components/DefaultProviders.tsx
  react/src/components/ImageEnvironmentSelectFormItems.css
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/helper/customThemeConfig.ts
  react/src/hooks/useLocalStorageGlobalState.tsx
  react/src/hooks/useThemeMode.tsx
  resources/theme.json
Labels: none

fix:remove unused component
  src/components/backend-ai-error-log-list.ts
  src/components/backend-ai-error-log-view.ts
  src/components/backend-ai-usersettings-view.ts
Labels: none

feat: filter agentSummary and fasttrack page
  react/src/components/MainLayout/WebUISider.tsx
Labels: none

feat: recoil setting
  react/package-lock.json
  react/package.json
  react/src/App.tsx
Labels: none

feat: add frontendEndpoint option to the config sample file
  config.toml.sample
Labels: none

fix:modify clearLogButton's okText and add danger option
  react/src/pages/ErrorLogListPage.tsx
Labels: none

fix:remove ellipsis option at requestUrl column
  react/src/pages/ErrorLogListPage.tsx
Labels: none

fix:modify style columns width
  react/src/pages/ErrorLogListPage.tsx
Labels: none

support `allow_manual_image_name_for_session` option in ServiceLauncerModal
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ServiceLauncherModal.tsx
Labels: none

fix: remove linter error
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-webui.ts
Labels: none

fix: missing window load function
  index.html
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-webui.ts
  version.json
Labels: none

fix: remove duplicated attachments
  src/components/backend-ai-webui.ts
Labels: none

update: webui component
  src/components/backend-ai-webui.ts
Labels: none

update: webui activePage check
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-webui.ts
Labels: field:UI / UX, field:localization

fix: broken code by linter
  src/components/backend-ai-webui.ts
Labels: none

fix: webui shell to work again
  src/components/backend-ai-webui.ts
Labels: none

fix: lint issue
  src/components/backend-ai-webui.ts
Labels: none

fix:show shared memory
  react/src/components/SessionList.tsx
Labels: none

fix:remove unnecessary code
  react/src/components/SessionList.tsx
  react/src/components/SessionListColums/SessionInfoCell.tsx
Labels: none

update: webui revamp
  src/components/backend-ai-webui.ts
Labels: none

fix: fix wrong logic of checking batch mode validity
  src/components/backend-ai-session-launcher.ts
Labels: none

fix:add rule sessionNameAlreadyExist
  react/src/components/SessionList.tsx
  react/src/components/SessionListColums/SessionInfoCell.tsx
Labels: none

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*
