Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

fix: window moving
  src/components/backend-ai-window.ts
Labels: none

refactor: import new icon scheme from window mode branch
  resources/fonts/MaterialIcons-Regular.woff
  resources/fonts/MaterialIcons-Regular.woff2
  resources/fonts/fonts.css
  resources/fonts/material-icons-outlined.woff2
  resources/fonts/material-icons-round.woff2
  resources/fonts/material-icons-sharp.woff2
  resources/fonts/material-icons-two-tone.woff2
  resources/fonts/material-icons.woff2
  resources/fonts/quicksand-v13-latin-300.woff
  resources/fonts/quicksand-v13-latin-300.woff2
  resources/fonts/quicksand-v13-latin-500.woff
  resources/fonts/quicksand-v13-latin-500.woff2
  resources/fonts/quicksand-v13-latin-700.woff
  resources/fonts/quicksand-v13-latin-700.woff2
  resources/fonts/quicksand-v13-latin-regular.woff
  resources/fonts/quicksand-v13-latin-regular.woff2
Labels: field:UI / UX

refactor: import new icon scheme from window mode branch (#1816)
  resources/fonts/MaterialIcons-Regular.woff
  resources/fonts/MaterialIcons-Regular.woff2
  resources/fonts/fonts.css
  resources/fonts/material-icons-outlined.woff2
  resources/fonts/material-icons-round.woff2
  resources/fonts/material-icons-sharp.woff2
  resources/fonts/material-icons-two-tone.woff2
  resources/fonts/material-icons.woff2
  resources/fonts/quicksand-v13-latin-300.woff
  resources/fonts/quicksand-v13-latin-300.woff2
  resources/fonts/quicksand-v13-latin-500.woff
  resources/fonts/quicksand-v13-latin-500.woff2
  resources/fonts/quicksand-v13-latin-700.woff
  resources/fonts/quicksand-v13-latin-700.woff2
  resources/fonts/quicksand-v13-latin-regular.woff
  resources/fonts/quicksand-v13-latin-regular.woff2
Labels: field:UI / UX

feat: Add `padding-left` to item with custom property
  src/components/backend-ai-multi-select.ts
  src/components/backend-ai-resource-group-list.ts
Labels: none

fix: deactivated window is hidden
  src/components/backend-ai-webui-styles.ts
  src/components/backend-ai-window.ts
Labels: none

fix: Solve to extract `backend-ai-multi-select` tag from scheduler options (#1815)
  src/components/backend-ai-multi-select.ts
  src/components/backend-ai-resource-group-list.ts
Labels: none

fix: windows does not close
  src/components/backend-ai-webui-styles.ts
  src/components/backend-ai-window.ts
Labels: none

update: change '표시 할' to '표시할' for no-announcement text (#1814)
  resources/i18n/ko.json
Labels: field:UI / UX, field:localization

add: activate menu item of current active one
  src/components/backend-ai-webui.ts
Labels: none

update: revive activity panel for testing
  src/components/backend-ai-session-view.ts
Labels: none

misc: remove comment for fixed issues
  react/src/pages/RoutingListPage.tsx
Labels: none

add: edit and terminate running service with modal UI
  react/src/components/ModelServiceSettingModal.tsx
  react/src/components/ServingList.tsx
  react/src/pages/ServingListPage.tsx
Labels: none

add: temporally add tag for displaying service status
  react/src/components/ServingList.tsx
Labels: none

add: touch up service creation actually works
  react/src/components/ServiceLauncherModal.tsx
  react/src/pages/ServingListPage.tsx
Labels: none

misc: fix typo error
  react/src/pages/RoutingListPage.tsx
Labels: none

add: enable update desired session count on running service
  react/src/components/ModelServiceSettingModal.tsx
  react/src/components/ServiceLauncherModal.tsx
Labels: none

add react component to use userprefdialog
  react/src/components/UserPrefDialog.tsx
Labels: none

fix: unset auto-enabled switch UI for open-to-public in service launcher modal
  react/src/components/ServiceLauncherModal.tsx
Labels: none

fix: push item in an array only when the item's tag actually has content (#1809)
  src/components/backend-ai-session-launcher.ts
Labels: none

feat: AppProxy connection via query param
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-edu-applauncher.ts
Labels: none

fix: hide the version list when there is only one element in the version array: 'Not Selected' (#1809)
  src/components/backend-ai-session-launcher.ts
Labels: none

feat: App delete request with query param
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-session-list.ts
Labels: none

fix: remove debug console log
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-session-list.ts
Labels: none

fix: remove another debug log
  src/components/backend-ai-app-launcher.ts
Labels: none

refactor: react/src/index.tsx
  react/src/index.tsx
Labels: none

set the initial value of useUpdatableState as required
  react/src/hooks/index.ts
Labels: none

set loading of okButtonProps to display the status of mutation pending
  react/src/components/ModelServiceSettingModal.tsx
Labels: none

Set the serviceId as a queryKey to prevent displaying different service information when loading
  react/src/pages/RoutingListPage.tsx
Labels: none

refetch service list whenever any mutation succeeds
  react/src/pages/ServingListPage.tsx
Labels: none

refactoring and set `rowKey`
  react/src/components/ServingList.tsx
Labels: none

fix: lint
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
Labels: none

the desired_session_count is displayed as '-' when terminated
  react/src/components/ServingList.tsx
Labels: none

use outlined style icon with color
  react/src/components/ServingList.tsx
Labels: none

the serving menu is displayed from version 23.03.5
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-esm.ts
Labels: none

fix: lint
  react/src/components/DefaultProviders.tsx
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ResourceGroupSelect.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/ServingList.tsx
  react/src/components/SessionKernelTag.tsx
  react/src/components/SessionListColums/SessionInfoCell.tsx
  react/src/components/SliderInputFormItem.tsx
  react/src/components/VFolderSelect.tsx
Labels: none

feature: Support model serving UI 2 (#1801)
  react/src/components/DefaultProviders.tsx
  react/src/components/DoubleTag.tsx
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ImageMetaIcon.tsx
  react/src/components/Information.tsx
  react/src/components/ModelServiceSettingModal.tsx
  react/src/components/ResetPasswordRequired.tsx
  react/src/components/ResourceGroupSelect.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/ServingList.tsx
  react/src/components/SessionKernelTag.tsx
  react/src/components/SessionListColums/SessionInfoCell.tsx
  react/src/components/SliderInputFormItem.tsx
  react/src/components/TextHighlighter.tsx
  react/src/components/VFolderSelect.tsx
  react/src/helper/index.tsx
  react/src/hooks/index.ts
  react/src/hooks/reactQueryAlias.tsx
  react/src/index.tsx
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
  react/src/react-app-env.d.ts
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/backend-ai-app.ts
  src/components/backend-ai-serving-list.ts
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-esm.ts
Labels: field:UI / UX, field:localization

feat: use GraphQL `endpoint_list` instaed REST `/services`
  graphql.config.js
  react/data/schema.graphql
  react/src/components/ModelServiceSettingModal.tsx
  react/src/pages/ServingListPage.tsx
Labels: none

interval refetch without pending state
  react/src/components/ServingList.tsx
  react/src/pages/ServingListPage.tsx
Labels: none

fix lint and remove unused code
  react/src/components/ModelServiceSettingModal.tsx
  react/src/pages/ServingListPage.tsx
Labels: none

use children as a text of CopyableCodeText
  react/src/components/CopyableCodeText.tsx
Labels: none

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*
