Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

refactor: state changing on service modal using state value
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
Labels: none

fix: add default routing count as 1 in service creation
  react/src/components/ServiceLauncherModal.tsx
Labels: none

change UserDropdownMenu icon from Holder to Setting
  react/src/components/UserDropdownMenu.tsx
Labels: none

add draggable props to modals related to User setting
  react/src/index.tsx
Labels: none

feat: add draggable prop of BAIModal to drag modal (#2179)
  react/package-lock.json
  react/package.json
  react/src/components/BAIModal.css
  react/src/components/BAIModal.tsx
  react/src/components/UserDropdownMenu.tsx
  react/src/index.tsx
Labels: none

fix: disable name,model-mount,open-to-public input in service modification modal
  react/src/components/ServiceLauncherModal.tsx
Labels: none

feat: set RegExpression for validating URL pattern
  react/src/components/ContainerRegistryEditorModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

feat: add detail info button into select option
  react/src/components/StorageSelect.tsx
Labels: none

feat: add theme mode selector
  react/src/components/BAISider.tsx
  react/src/components/DescriptionLabel.tsx
  react/src/components/Information.tsx
  react/src/components/UserSettings.tsx
  react/src/hooks/useThemeMode.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  resources/theme.json
Labels: field:UI / UX, field:localization

feat: refactor UserSettingsPage
  react/src/pages/UserSettingsPage.tsx
Labels: none

feat: language setting
  react/src/components/DefaultProviders.tsx
  react/src/components/WEBUIHelpButton.tsx
  src/components/backend-ai-webui.ts
Labels: none

feat: ssh keypair setting modal
  react/src/components/KeypairInfoModal.tsx
  react/src/components/SSHKeypairGenerationModal.tsx
  react/src/components/SSHKeypairManagementModal.tsx
Labels: none

fix:show credentia-lists when admin click add and manage keypair
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-summary-view.ts
Labels: none

fix: set min value of desired routing count
  react/src/components/ServiceLauncherModal.tsx
Labels: none

feat: add ssh keypair manual form modal
  react/src/components/SSHKeypairManagementModal.tsx
  react/src/components/SSHKeypairManualFormModal.tsx
Labels: none

fix: when keypair info modals is open, it blinks and show up with other selectors.
  react/src/components/KeypairInfoModal.tsx
Labels: none

update: version index / CHANGELOG.md
  CHANGELOG.md
  index.html
  manifest.json
  package.json
  react/package.json
  src/components/backend-ai-webui.ts
  version.json
Labels: none

fix: add type rule pairing with min value in desired routing count
  react/src/components/ServiceLauncherModal.tsx
Labels: none

refactor: set min-max value in DesiredRoutingCount
  react/src/components/ServiceLauncherModal.tsx
Labels: none

fix: temporally convert number to string on AI accelerator on creation
  react/src/components/ServiceLauncherModal.tsx
Labels: none

fix: apply first item in version list when user select environment only
  react/src/components/ImageEnvironmentSelectFormItems.tsx
Labels: none

fix: apply AI accelerator value on initializing current model service update dialog
  react/src/components/ServiceLauncherModal.tsx
Labels: none

add: reset to 0 value when currentImage does not support AI accelerator
  react/src/components/ResourceAllocationFormItems.tsx
Labels: none

fix: update with official source
  react/src/components/ResourceNumber.tsx
  resources/icons/LICENSE.md
  resources/icons/rocm.png
  resources/icons/rocm.svg
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-session-list.ts
Labels: field:UI / UX

style: remove backgroundColor for dark theme
  react/src/components/Flex.tsx
  react/src/components/MainLayout/MainLayout.tsx
Labels: none

fix: set to zero value when only currentImage is set and AI accelerator limit is not set in currentImage metadata
  react/src/components/ResourceAllocationFormItems.tsx
Labels: none

introduce BAIINtervalText and apply it to Neo SessionList
  react/src/components/BAIIntervalText.tsx
  react/src/components/SessionList.tsx
  react/src/hooks/useEventNotStable.ts
  react/src/hooks/useIntervalValue.tsx
Labels: none

handle neo session launcher/list by react root
  react/src/App.tsx
  react/src/pages/SessionLauncherPage.tsx
  react/src/pages/SessionListPage.tsx
  src/components/backend-ai-webui.ts
Labels: none

misc: add space between create/update and cancel button in service launcher
  react/src/components/ServiceLauncherModal.tsx
Labels: none

update: schema.graphql to the latest
  react/data/schema.graphql
Labels: none

feat: set dark theme logos
  manifest/backend.ai-brand-simple-bgdark.svg
  manifest/backend.ai-text-bgdark.svg
  react/src/components/MainLayout/WebUISider.tsx
  react/src/helper/customThemeConfig.ts
  resources/theme.json
Labels: none

add an `undefined` type to `imageInfo` and a conditional chain
  react/src/components/ModelCardModal.tsx
  react/src/hooks/index.tsx
Labels: none

add an `undefined` type to `imageInfo` and a conditional chain (#2197)
  react/src/components/ModelCardModal.tsx
  react/src/hooks/index.tsx
Labels: none

feat: change the regex pattern to new URL
  react/src/components/ContainerRegistryEditorModal.tsx
Labels: none

fix: use usageIndicatorColor to select color by usage
  react/src/components/StorageSelect.tsx
Labels: none

feat: apply ellipsis into notification
  react/src/components/BAINotificationItem.tsx
  react/src/hooks/useBAINotification.tsx
Labels: none

fix: set space size to small between create/update and cancel button
  react/src/components/ServiceLauncherModal.tsx
Labels: none

feat: prevent modifying DESTROYING status services
  react/src/pages/RoutingListPage.tsx
Labels: none

add draft version of resource group available panel
  react/src/components/AvailableResourcesCard.tsx
  react/src/components/ResourceAvailableGageBar.tsx
  react/src/pages/SessionListPage.tsx
Labels: none

feat: set RegExpression for validating URL pattern (#2192)
  react/src/components/ContainerRegistryEditorModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*
