Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

chore: fix empty div noti text
  src/components/backend-ai-app-launcher.ts
Labels: none

chore: add i18n
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
Labels: field:UI / UX, field:localization

delete style and use Typography
  react/src/pages/MaintenancePage.tsx
Labels: none

modify tab size
  react/src/pages/MaintenancePage.tsx
Labels: none

add marginTop style at button
  react/src/pages/MaintenancePage.tsx
Labels: none

apply prettier
  react/src/components/UserProfileSettingModal.tsx
Labels: none

add pipeline dedicated folder tab on folder list
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-storage-list.ts
Labels: field:UI / UX, field:localization

i18n
  resources/i18n/en.json
  resources/i18n/ko.json
Labels: field:UI / UX, field:localization

add edit button to RoutingListPage
  react/src/components/ServingRouteErrorModal.tsx
  react/src/pages/RoutingListPage.tsx
Labels: none

update model-serving feature compatible with 23.03.11
  src/lib/backend.ai-client-esm.ts
Labels: none

fix: model service stability (#1864)
  react/data/schema.graphql
  react/src/components/EndpointStatusTag.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/ServingRouteErrorModal.tsx
  react/src/hooks/backendai.tsx
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
  resources/i18n/en.json
  resources/i18n/ko.json
  src/lib/backend.ai-client-esm.ts
Labels: field:UI / UX, field:localization

test: remove react-test-renderer for testing
  react/src/components/DomainSelector.test.tsx
  react/src/components/Flex.test.tsx
  react/src/components/__snapshots__/Flex.test.tsx.snap
Labels: none

show an error message when the service fails to start.
  react/src/components/ServiceLauncherModal.tsx
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
Labels: field:UI / UX, field:localization

show an error message when the service fails to start. (#1872)
  react/src/components/ServiceLauncherModal.tsx
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
Labels: field:UI / UX, field:localization

update: node.js modules fix: missing type checking blockers (to build desktop app)
  index.html
  package-lock.json
  package.json
  react/package-lock.json
  react/package.json
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
  react/src/pages/SessionListPage.tsx
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-esm.ts
  version.json
Labels: none

update: node.js modules (#1873)
  index.html
  package-lock.json
  package.json
  react/package-lock.json
  react/package.json
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
  react/src/pages/SessionListPage.tsx
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-esm.ts
  version.json
Labels: none

update: version index
  index.html
  manifest.json
  package.json
  src/components/backend-ai-webui.ts
  version.json
Labels: none

update: version to 23.03.5
  index.html
  manifest.json
  package.json
  src/components/backend-ai-webui.ts
  version.json
Labels: none

update: changelog.md
  CHANGELOG.md
Labels: none

update: CHANGELOG.md
  CHANGELOG.md
Labels: none

update: version tag
  index.html
  manifest.json
  package.json
  src/components/backend-ai-webui.ts
  version.json
Labels: none

chore: move to applauncher
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
Labels: field:UI / UX, field:localization

chore: move no existing text to applauncher
  src/components/backend-ai-app-launcher.ts
Labels: none

chore: move clipboard copy text to applauncher
  src/components/backend-ai-app-launcher.ts
Labels: none

feat: add copy to clipboard button (#1846)
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-app-launcher.ts
Labels: field:UI / UX, field:localization

feat: validate batch session command
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-session-launcher.ts
  src/components/lablup-codemirror.ts
Labels: field:UI / UX, field:localization

use useTanQuery instead of useQuery
  react/src/components/UserProfileSettingModal.tsx
Labels: none

feat: rename helperText to validationMessage
  src/components/backend-ai-session-launcher.ts
  src/components/lablup-codemirror.ts
Labels: none

add Modal title and remove unused function event props
  react/src/components/UserProfileSettingModal.tsx
  src/components/backend-ai-user-dropdown-menu.ts
Labels: none

remove unnecessary props
  react/src/components/UserProfileSettingModal.tsx
  src/components/backend-ai-user-dropdown-menu.ts
Labels: none

modify regexTable to use error notification when referenced resource is deleted (#1844)
  src/components/backend-ai-painkiller.ts
Labels: none

test: Flex component rendering test & snapshot (#1857)
  package.json
  react/src/components/DomainSelector.test.tsx
  react/src/components/Flex.test.tsx
  react/src/components/__snapshots__/Flex.test.tsx.snap
Labels: none

style: custom antd modal
  react/src/components/ModelServiceSettingModal.tsx
  react/src/components/ProjectResourcePolicySettingModal.tsx
  react/src/components/QuotaSettingModal.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserResourcePolicySettingModal.tsx
  react/src/fix_antd.css
  react/src/pages/ServingListPage.tsx
  resources/custom.css
  resources/theme.json
  src/components/backend-ai-general-styles.ts
Labels: field:UI / UX

style: add variable to colorPrimary of Tabs
  resources/theme.json
Labels: none

feat: revert and add BAIModal
  react/src/components/BAIModal.css
  react/src/components/BAIModal.tsx
  react/src/components/ModelServiceSettingModal.tsx
  react/src/components/QuotaSettingModal.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserResourcePolicySettingModal.tsx
  react/src/fix_antd.css
  react/src/pages/ServingListPage.tsx
  resources/custom.css
  resources/theme.json
Labels: field:UI / UX

feat: Do not allow batch session startup command to have an empty string. (#1875)
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-session-launcher.ts
  src/components/lablup-codemirror.ts
Labels: field:UI / UX, field:localization

Revert "fix resource monitor's right border"
  src/components/backend-ai-resource-monitor.ts
Labels: none

fix: password validation rule on "Modify User Detail" Modal (#1868)
  react/src/components/UserSettingModal.tsx
Labels: none

feat: replace every Modal component with BAIModal
  react/src/components/BAIModal.tsx
  react/src/components/ManageAppsModal.tsx
  react/src/components/ModelServiceSettingModal.tsx
  react/src/components/ProjectResourcePolicySettingModal.tsx
  react/src/components/QuotaSettingModal.tsx
  react/src/components/ResourcePolicyCard.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/ServingRouteErrorModal.tsx
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserInfoModal.tsx
  react/src/components/UserResourcePolicySettingModal.tsx
  react/src/components/UserSettingModal.tsx
  react/src/pages/ServingListPage.tsx
Labels: none

add vertical gutter
  react/src/pages/MaintenancePage.tsx
Labels: none

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*
