Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*

improve fetch policy of ServingListPage
  react/src/pages/ServingListPage.tsx
Labels: none

use GraphQL `endpoint` query for RoutingListPage
  react/src/pages/RoutingListPage.tsx
Labels: none

fix: use only one child to prevent to having a comma in the copied text
  react/src/components/CopyableCodeText.tsx
Labels: none

set the color of "open to public" icon
  react/src/pages/ServingListPage.tsx
Labels: none

fix: revise regax expression
  src/components/backend-ai-registry-list.ts
Labels: none

remove unused variables
  react/src/pages/RoutingListPage.tsx
Labels: none

add pagination feature to ServingListPage
  react/src/pages/ServingListPage.tsx
Labels: none

remove a pagination and sort by name on ServingListPage
  react/src/pages/ServingListPage.tsx
Labels: none

remove unused code and rename column titles
  react/src/pages/ServingListPage.tsx
Labels: none

feat: use GraphQL `endpoint_list` instaed REST `/services` (#1820)
  graphql.config.js
  react/data/schema.graphql
  react/src/components/CopyableCodeText.tsx
  react/src/components/ModelServiceSettingModal.tsx
  react/src/components/ServingList.tsx
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
Labels: none

feat: add spinner to totp modal and extra message to switch
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserSettingModal.tsx
Labels: none

fix: remove unused codes and mismatch user status
  react/src/components/UserSettingModal.tsx
  src/components/backend-ai-user-list.ts
Labels: none

fix: unable to terminate a compute session when wsproxy address is not properly (#1819)
  src/components/backend-ai-session-list.ts
  version.json
Labels: none

refactor: change user info and setting modal to react component (#1821)
  react/src/components/SessionList.tsx
  react/src/components/StorageSelector.tsx
  react/src/components/StorageStatusPanel.tsx
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserInfoModal.tsx
  react/src/components/UserSettingModal.tsx
  react/src/index.tsx
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-user-list.ts
Labels: field:UI / UX, field:localization

fix: typescript compilation bugs (#1821)
  index.html
  manifest.json
  package.json
  src/components/backend-ai-user-list.ts
  src/components/backend-ai-webui.ts
  version.json
Labels: none

fix: remove debug console log
  src/components/backend-ai-app-launcher.ts
Labels: none

feat: authorize app by query param (#1817)
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-edu-applauncher.ts
  src/components/backend-ai-session-list.ts
Labels: none

update: version index
  index.html
  manifest.json
  package-lock.json
  package.json
  src/components/backend-ai-webui.ts
  version.json
Labels: none

modify props UserPrefModal
  react/src/components/UserPrefDialog.tsx
  react/src/components/UserPrefModal.tsx
  react/src/index.tsx
  src/components/backend-ai-user-dropdown-menu.ts
Labels: none

feat: add validate function
  src/components/backend-ai-registry-list.ts
Labels: none

refactor: remove unused import
  src/components/backend-ai-registry-list.ts
Labels: none

fix: use checkValidity()
  src/components/backend-ai-registry-list.ts
Labels: none

fix: serving dialog popup generates error when unexpected image metadata is loaded without icon URL
  index.html
  package-lock.json
  react/src/hooks/index.ts
  src/components/backend-ai-webui.ts
  version.json
Labels: none

fix: missing valueProp for switch
  react/src/components/ServiceLauncherModal.tsx
Labels: none

refactor: modify totp initializing logic
  react/src/components/TOTPActivateModal.tsx
Labels: none

set a key to Select.Option of VFolderSelect
  react/src/components/VFolderSelect.tsx
Labels: none

fix: serving dialog popup generates error when unexpected image metadata is loaded without icon URL (#1825)
  index.html
  package-lock.json
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/VFolderSelect.tsx
  react/src/hooks/index.ts
  src/components/backend-ai-webui.ts
  version.json
Labels: none

refactor: use validity.valid
  src/components/backend-ai-registry-list.ts
Labels: none

add: serving window
  resources/menu_icons/serving.svg
  resources/menu_icons/summary.svg
  src/components/backend-ai-information-view.ts
  src/components/backend-ai-serving-list.ts
  src/components/backend-ai-webui.ts
Labels: none

refactor: modify error message
  src/components/backend-ai-registry-list.ts
Labels: none

feat: Rewrite `Dockerfile` and `docker-compose.yml`, etc.
  .dockerignore
  Dockerfile
  docker-compose.yml
  scripts/webui-dev
Labels: maintenance:dependencies

set access_key and secret_key default select
  react/src/components/UserPrefModal.tsx
  src/components/backend-ai-user-dropdown-menu.ts
Labels: none

fix: modify the logic to validate the URL input (#1806)
  src/components/backend-ai-registry-list.ts
Labels: none

refactor: Exchange port number `react`, `web-dev`
  es-dev-server.config.js
  main.js
  package.json
  react/.env.development
  react/craco.config.js
  tests/test_login.js
  tests/test_vfolder.js
Labels: none

update: Add a guide for port, host configuration
  README.md
Labels: none

refactor: Change execution command in `server:d`, `build:d`
  package.json
Labels: none

remove: Remove `HOST` for external access
  react/.env.development
Labels: none

update: Modify a guide for port configuration
  README.md
Labels: none

fix: Include `brew` in the path with `ENV` command
  Dockerfile
Labels: none

modify error message when userName input is not match rule
  react/src/components/UserPrefModal.tsx
  resources/i18n/ko.json
Labels: field:UI / UX, field:localization
