Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

refactor: Change to `Form`
  react/src/components/ManageAppsModal.tsx
Labels: none

feat: Add warning with blank in app name
  react/src/components/ManageAppsModal.tsx
Labels: none

rename UserPrefModal to UserProfileSettingModal and run make i18n
  react/src/components/UserProfileSettingModal.tsx
  react/src/index.tsx
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-user-dropdown-menu.ts
Labels: field:UI / UX, field:localization

feat: unify terminology to preopen ports
  config.toml.sample
  resources/i18n/en.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-launcher.ts
Labels: field:UI / UX, field:localization

feat: unify terminology to preopen ports (#1861)
  config.toml.sample
  resources/i18n/en.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-launcher.ts
Labels: field:UI / UX, field:localization

using useSuspendedBackendaiClient instead of props
  react/src/components/UserProfileSettingModal.tsx
  src/components/backend-ai-user-dropdown-menu.ts
Labels: none

add ;
  react/src/components/UserProfileSettingModal.tsx
Labels: none

feat: Pass token as body parameter in token login
  src/backend-ai-app.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-esm.ts
Labels: none

feat: launch app when session_id is given
  src/components/backend-ai-edu-applauncher.ts
Labels: none

show new error column
  react/data/schema.graphql
  react/src/components/ServiceLauncherModal.tsx
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
Labels: none

add `ServingRouteErrorModal`
  react/src/components/ServingRouteErrorModal.tsx
Labels: none

Add toggle visibility function and button at login page (#1848)
  src/components/backend-ai-login.ts
Labels: none

feat: Add Modal's custom footer
  react/src/components/ManageAppsModal.tsx
Labels: none

remove: Delete not appropriate codes(`initialValue`)
  react/src/components/ManageAppsModal.tsx
Labels: none

fix: Solve `remove()` error
  react/src/components/ManageAppsModal.tsx
Labels: none

style: set card tab background color to white
  resources/custom.css
  resources/theme.json
Labels: field:UI / UX

feat: edu-applauncher opens app for a session (#1862)
  src/backend-ai-app.ts
  src/components/backend-ai-edu-applauncher.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-esm.ts
Labels: none

use graphql framgment on `InferenceSessionError` instead of passing error object
  react/src/components/ServingRouteErrorModal.tsx
  react/src/pages/RoutingListPage.tsx
Labels: none

implement EndpointStatusTag
  react/src/components/EndpointStatusTag.tsx
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
Labels: none

fix: version label overlapping (#1866)
  src/components/backend-ai-session-launcher.ts
Labels: none

style: set card tab background color to white (#1865)
  resources/custom.css
  resources/theme.json
Labels: field:UI / UX

separate into a dedicated hook to fetch resource slots
  react/src/components/ServiceLauncherModal.tsx
  react/src/hooks/backendai.tsx
Labels: none

apply lodash
  react/src/components/UserProfileSettingModal.tsx
Labels: none

remove unused variables
  react/src/components/ServingRouteErrorModal.tsx
  react/src/pages/ServingListPage.tsx
Labels: none

set the scroll x property to <Table/>
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
Labels: none

centered modal position
  react/src/components/UserProfileSettingModal.tsx
Labels: none

cosmetic touches
  react/src/components/ManageAppsModal.tsx
Labels: none

modify get totp rule function
  react/src/components/UserProfileSettingModal.tsx
Labels: none

Fixed an error that could not be matched when - was present
  src/components/backend-ai-painkiller.ts
Labels: none

delete className
  react/src/pages/MaintenancePage.tsx
Labels: none

revert backend-ai-environment-list.ts
  src/components/backend-ai-environment-list.ts
Labels: none

refactor: Change manage apps dialog to react component (#1858)
  react/src/components/ManageAppsModal.tsx
  react/src/index.tsx
Labels: none

fix password input pattern
  react/src/components/UserSettingModal.tsx
Labels: none

add: clone session launcher for refactoring
  src/components/backend-ai-session-launcher-neo.ts
Labels: none

fix mutation error
  react/src/components/UserSettingModal.tsx
Labels: none

feat: react-based image environment select display tags with search highlight (#1859)
  react/src/components/DoubleTag.tsx
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/SessionListColums/SessionInfoCell.tsx
  react/src/components/TextHighlighter.tsx
  resources/theme.json
Labels: none

refactor: replace inner css to styles
  src/components/backend-ai-app-launcher.ts
Labels: none

add ; and delete blank
  react/src/components/UserSettingModal.tsx
Labels: none

react dev server to proxy any unknown requests to web-dev-server
  react/craco.config.js
  react/package.json
Labels: none

react dev server to proxy any unknown requests to web-dev-server (#1869)
  react/craco.config.js
  react/package.json
Labels: none

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*
