Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

fix: change to select colors via token (#2247)
  react/src/BAICard.tsx
  react/src/components/ErrorLogList.tsx
  react/src/components/Information.tsx
  react/src/pages/ServingListPage.tsx
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-summary-view.ts
Labels: none

add `theme-logo-url` css variable
  react/src/components/MainLayout/MainLayout.tsx
Labels: none

add a comment related to Component token
  react/src/components/MainLayout/MainLayout.tsx
Labels: none

feat: `theme-logo-url` css variable (#2248)
  react/src/components/MainLayout/MainLayout.tsx
Labels: none

fix: remove duplicated disabled color
  src/components/lablup-slider.ts
Labels: none

fix: totalAllocation conditional rendering logic
  src/components/backend-ai-session-launcher.ts
Labels: none

fix: remove span tag to set text color to white
  src/components/backend-ai-session-launcher.ts
Labels: none

Revert "fix: totalAllocation conditional rendering logic"
  src/components/backend-ai-session-launcher.ts
Labels: none

fix: apply shadow in total allocation panel
  src/components/backend-ai-session-launcher.ts
Labels: none

fix: set nested panel shadow
  src/components/backend-ai-session-launcher.ts
Labels: none

fix: modify disabled slider color and total allocation rendering (#2250)
  src/components/backend-ai-session-launcher.ts
  src/components/lablup-slider.ts
Labels: none

feat: set dynamic color changes in session launcher
  src/components/backend-ai-session-launcher.ts
Labels: none

fix: set deleting function into reset progress
  src/components/backend-ai-session-launcher.ts
Labels: none

feat: change the color total allocation panel according to theme (#2254)
  src/components/backend-ai-session-launcher.ts
Labels: none

fix: set global variable `__local_proxy` in window object for app execution
  main.js
  src/components/backend-ai-app-launcher.ts
Labels: none

fix: remove background color in mwc-icon
  src/components/backend-ai-general-styles.ts
Labels: none

fix: changing local styling rather than global styling
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-storage-list.ts
Labels: none

fix: font-size of session launcher button
  src/components/backend-ai-session-launcher.ts
Labels: none

fix: font-size of session launcher button (#2258)
  src/components/backend-ai-session-launcher.ts
Labels: none

fix: apply dark mode colors using tokens
  src/components/backend-ai-app-launcher.ts
Labels: none

style: modify background color more naturally (#2257)
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-storage-list.ts
Labels: none

fix: set global variable `__local_proxy` in window object for app execution (#2256)
  main.js
  src/components/backend-ai-app-launcher.ts
Labels: none

feat: show UUID in data page's storage status panel
  react/src/components/StorageStatusPanel.tsx
Labels: none

feat: set title i18n text
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

feat: change to the recommended method for your version of antd
  react/src/components/StorageStatusPanel.tsx
Labels: none

fix: conditional check in localStorageEffect
  react/src/hooks/useBAISetting.tsx
Labels: none

remove unused files
  src/plugins.gitignore/README.md
  src/plugins.gitignore/import-test-plugin.ts
  src/plugins.gitignore/link-test-plugin.ts
  src/plugins.gitignore/netapp-ontap.md
  src/plugins.gitignore/test-plugin.ts
  src/plugins.gitignore/tutorial-hira-plugin.ts
Labels: none

refactor: NeoSessionLauncherSwitchAlert label to use Typography.Text component with primary color
  react/src/components/NeoSessionLauncherSwitchAlert.tsx
Labels: none

break down session name validation rules
  react/src/components/SessionNameFormItem.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

session name can be empty
  react/src/components/SessionNameFormItem.tsx
Labels: none

fix: change keys to more contextual name
  react/src/components/StorageStatusPanel.tsx
Labels: none

fix: change userQuotaScopeId i18n text
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

update: CHANGELOG.md
  CHANGELOG.md
Labels: none

update: version index
  index.html
  manifest.json
  package.json
  react/package.json
  src/components/backend-ai-webui.ts
  version.json
Labels: none

fix: merge conflict
  src/components/backend-ai-webui.ts
  version.json
Labels: none

fix: set slider's length to length of the corresponding key array
  src/components/backend-ai-environment-list.ts
Labels: none

reflect PR review
  react/src/components/ResourceNumber.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
  resources/device_metadata.json
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
Labels: none

add `npu_generic` icon
  react/src/components/ResourceNumber.tsx
  resources/icons/npu_generic.svg
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-session-list.ts
Labels: field:UI / UX

fix code format
  src/components/backend-ai-session-launcher.ts
Labels: none

fix: modify husky config to format both lit and react components
  .husky/pre-commit
  package.json
  react/src/components/ResourcePolicyCard.tsx
  react/src/pages/ModelStoreListPage.tsx
Labels: none

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*
