Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

update the text of launch button using @property
  src/components/backend-ai-session-launcher.ts
Labels: none

fix: update the text of launch button using @property (#1783)
  src/components/backend-ai-session-launcher.ts
Labels: none

update: node.js package dependencies (#1781)
  package-lock.json
  package.json
  react/package-lock.json
  react/package.json
Labels: none

fix: fill missing return value of login function
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-login.ts
Labels: none

fix: fill missing return value of login function (#1784)
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-login.ts
Labels: none

add a guide for watchman installation
  README.md
Labels: none

refactor: backend-ai-indicator to be native one
  package-lock.json
  package.json
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-indicator.ts
  src/components/lablup-progress-bar.ts
Labels: none

update: add a guide for watchman installation (#1785)
  README.md
Labels: none

remove: CSS definition from usersettings general list
  src/components/backend-ai-usersettings-general-list.ts
Labels: none

add: draft for model serving list page
  react/src/components/ServingList.tsx
  react/src/pages/ServingListPage.tsx
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/backend-ai-app.ts
  src/components/backend-ai-serving-list.ts
  src/components/backend-ai-webui.ts
Labels: field:UI / UX, field:localization

add: draft routing list component
  react/src/components/RoutingList.tsx
  react/src/components/ServingList.tsx
  react/src/pages/ServingListPage.tsx
Labels: none

add: radio button in serving list table
  react/src/components/ServingList.tsx
  src/components/backend-ai-webui.ts
Labels: none

add: react-to-webcomponent page of serving list
  react/src/components/ServingList.tsx
  react/src/index.tsx
Labels: none

misc: temporally set routing-list component to be visible conditionally for page-routing
  react/src/pages/ServingListPage.tsx
Labels: none

misc: apply service-oriented column name and dummy data in servinglist table
  react/src/components/ServingList.tsx
Labels: none

fix: add omitted semicolon
  react/src/index.tsx
Labels: none

add: draft for service creation modal
  react/src/components/ServiceLauncher.tsx
  react/src/pages/ServingListPage.tsx
Labels: none

refactor: change wl-icon to mwc-icon in environment list (partial)
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-usersettings-general-list.ts
Labels: none

refactor: change wl-button/wl-icon to mwc-icon-button (cont.)
  src/components/backend-ai-environment-list.ts
Labels: none

refactor: remove weightless from environment list (fin.)
  src/components/backend-ai-environment-list.ts
Labels: none

update: remove outline from refresh, add elevation to clear button
  src/components/backend-ai-usersettings-view.ts
Labels: none

update: clearer button role on log page (#1787)
  src/components/backend-ai-usersettings-view.ts
Labels: none

add: tooltips on storage icons
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-storage-list.ts
Labels: field:UI / UX, field:localization

update: match storage list i18n pair / i18n resources
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-storage-list.ts
  src/components/lablup-slider.ts
Labels: field:UI / UX, field:localization

update: remove title attribute from buttons, which breaks vaadin-tooltip behavior by working together
  src/components/backend-ai-storage-list.ts
Labels: none

add: hover tooltips on storage control icons (#1788)
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-storage-list.ts
  src/components/lablup-slider.ts
Labels: field:UI / UX, field:localization

fetch with suspense option and use deferredFetchKey
  react/src/components/StorageStatusPanel.tsx
Labels: none

refactor: typing CodeMirror / password string
  src/components/backend-ai-app-launcher.ts
  src/components/lablup-codemirror.ts
Labels: none

update: remove `any` from notification / TOS
  src/components/lablup-notification.ts
  src/components/lablup-terms-of-service.ts
Labels: none

update: remove `any` from WebUI shell
  src/components/backend-ai-common-utils.ts
  src/components/backend-ai-page.ts
  src/components/backend-ai-webui.ts
Labels: none

update: bugfix in shell. remove `any` from environment/usersetting list
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/components/backend-ai-webui.ts
Labels: none

update: remove `any` from session list
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-session-list.ts
Labels: none

update: remove `any` from resource monitor * remove legacy codes * check _disableEnterKey logic and modified
  src/components/backend-ai-resource-monitor.ts
Labels: none

update: remove `any` from user-defined dropdown menu
  src/components/backend-ai-user-dropdown-menu.ts
Labels: none

update: typing for resource monitor and webui
  src/components/backend-ai-login.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-webui.ts
Labels: none

update: change `any` to correct annotations fix: tooltip points non-existent element on data list
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-user-dropdown-menu.ts
  src/plastics/font/font-awesome.js
  src/plastics/mwc/mwc-dialog.ts
  src/plastics/mwc/mwc-drawer.ts
Labels: field:UI / UX

update: check shadowRoot to reflect chartjs size
  src/plastics/chart-js.ts
Labels: field:UI / UX

update: typing groupData for manager response
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-storage-list.ts
Labels: none

update: rewrite storage list code with two new interface * inviteeData * fileData
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-storage-list.ts
Labels: none

fix: test type loading for annotation (cont.)
  src/components/backend-ai-storage-list.ts
Labels: none

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*
