Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*

the session preparing notification remains on until the promise is resolved
  react/src/pages/SessionLauncherPage.tsx
Labels: none

remove remaining session limit validation error (#2312)
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none

use `max_resoure_policy` of `user_resource_policy` since 23.09.4
  react/src/components/StorageStatusPanel.tsx
Labels: none

fix: since 23.09.4 to 23.09.6
  react/src/components/StorageStatusPanel.tsx
Labels: none

add: translation on push-image and validation msg in session to push into image
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

refactor: change commit button msg when session name inputfield is not empty in commit session dialog
  src/components/backend-ai-session-list.ts
Labels: none

misc: reset input field when opening container commit dialog
  src/components/backend-ai-session-list.ts
Labels: none

fix: use `max_resoure_policy` of `user_resource_policy` since 23.09.6 (#2313)
  react/src/components/StorageStatusPanel.tsx
Labels: none

fix: temporally disable container commit feature when session is not created by current user
  src/components/backend-ai-session-list.ts
Labels: none

hotfix: touchup container commit feature (#2314)
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-session-list.ts
Labels: field:UI / UX, field:localization

update imageify availability status on `input` event
  src/components/backend-ai-session-list.ts
Labels: none

update imageify availability status on `input` event (#2315)
  src/components/backend-ai-session-list.ts
Labels: none

update: version index
  index.html
  manifest.json
  package-lock.json
  package.json
  react/package-lock.json
  react/package.json
  src/components/backend-ai-webui.ts
  version.json
Labels: none

update: CHANGELOG.md
  CHANGELOG.md
Labels: none

update: CHANGELOG.md
  CHANGELOG.md
  index.html
  manifest.json
  package.json
  react/package.json
  src/components/backend-ai-webui.ts
  version.json
Labels: none

Create srcxdeskop
  srcxdeskop
Labels: none

Create npm-publish-github-packages.yml
  .github/workflows/npm-publish-github-packages.yml
Labels: none

update: electron-packager to resolve apple app signing issue
  package-lock.json
  package.json
Labels: none

update: app-packager to use new package
  app-packager.js
  index.html
  src/components/backend-ai-webui.ts
  version.json
Labels: none

update: version tag
  index.html
  manifest.json
  package.json
  react/package.json
  src/components/backend-ai-webui.ts
  version.json
Labels: none

update: CHANGELOG.md
  CHANGELOG.md
Labels: none

fix: notarization not working
  .github/workflows/package.yml
  app-packager.js
Labels: none

fix: notarization not working (#2320)
  .github/workflows/package.yml
  app-packager.js
Labels: none

update: version to point trunk branch
  index.html
  manifest.json
  package.json
  react/package.json
  src/components/backend-ai-webui.ts
  version.json
Labels: none

feat: set color for text 'only'
  src/components/backend-ai-summary-view.ts
Labels: none

fix: remove console log
  src/components/backend-ai-summary-view.ts
Labels: none

feat: set color for text 'only' (#2322)
  src/components/backend-ai-summary-view.ts
Labels: none

fix: check isNaN before set value of DynamicUnitInputNumber
  react/src/components/DynamicUnitInputNumber.tsx
Labels: none

fix: check isNaN before set value of DynamicUnitInputNumber (#2324)
  react/src/components/DynamicUnitInputNumber.tsx
Labels: none

style: add css variable to vaadin grid for plugin page
  src/components/backend-ai-storage-proxy-list.ts
Labels: none

style: add css variable to vaadin grid for plugin page (#2325)
  src/components/backend-ai-storage-proxy-list.ts
Labels: none

feat: add branding config to theme.json
  react/src/components/MainLayout/WebUISider.tsx
  react/src/helper/customThemeConfig.ts
  resources/theme.json
Labels: none

feat: add script for replacing brand name
  scripts/replace-with-brand-name.sh
Labels: maintenance:dependencies

fix: set supported language codes to allow all i18n languages
  src/components/backend-ai-webui.ts
Labels: none

fix: set supported language codes to allow all i18n languages (#2329)
  src/components/backend-ai-webui.ts
Labels: none

ignore '/resource-preset` response error
  react/src/hooks/useResourceLimitAndRemaining.tsx
Labels: none

Clear `ResourceGroupSelect` when value is not in options
  react/src/components/ResourceGroupSelect.tsx
Labels: none

validate and handle validation errors for no resource group
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none

add missing useEffect's dependancies
  react/src/components/ResourceGroupSelect.tsx
Labels: none

fix: unkown scailing group error when user change the project (#2330)
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourceGroupSelect.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none
