Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*

fix: update logo image for AMD ROCm
  react/src/components/ResourceNumber.tsx
  resources/icons/LICENSE.md
  resources/icons/ROCm.png
  resources/icons/ROCm_black.png
  resources/icons/rocm.png
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-session-list.ts
Labels: field:UI / UX

refactor: types of ErrorLogList
  react/src/components/ErrorLogList.tsx
Labels: none

fix lint
  react/src/components/MainLayout/MainLayout.tsx
Labels: none

fix: table pagination margin in ErrorLogList
  react/src/components/ErrorLogList.tsx
Labels: none

feat: set autoSelectType for selecting standard
  react/src/components/StorageSelect.tsx
  react/src/components/StorageStatusPanel.tsx
Labels: none

fix: draggable header for electron app
  react/src/components/BAISider.tsx
  react/src/components/MainLayout/WebUIHeader.css
  react/src/components/MainLayout/WebUIHeader.tsx
Labels: none

fix:fix lint
  src/components/lablup-notification.ts
Labels: none

fix: draggable headers for electron
  react/src/components/MainLayout/WebUIHeader.css
  react/src/components/MainLayout/WebUIHeader.tsx
  react/src/components/WEBUINotificationDrawer.tsx
Labels: none

Fix/draggable header for electron (#2184)
  react/src/components/MainLayout/WebUIHeader.css
  react/src/components/MainLayout/WebUIHeader.tsx
  react/src/components/WEBUINotificationDrawer.tsx
  src/components/lablup-notification.ts
Labels: none

feat: set optional render by host's usage
  react/src/components/StorageSelect.css
  react/src/components/StorageSelect.tsx
Labels: none

fix:modfiy zIndex of BAIModal
  react/src/components/BAIModal.tsx
Labels: none

fix: reset input field when changing into start->update service in modal
  react/src/components/ServiceLauncherModal.tsx
  react/src/pages/ServingListPage.tsx
Labels: none

fix:remove zIndex in style of each modal
  react/src/components/ModelServiceSettingModal.tsx
  react/src/components/ProjectResourcePolicySettingModal.tsx
  react/src/components/QuotaSettingModal.tsx
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserResourcePolicySettingModal.tsx
  react/src/components/VFolderTable.tsx
Labels: none

fix: remove ROCm icon from resource monitor
  src/components/backend-ai-resource-monitor.ts
Labels: none

fix: remove ROCm icon from resource monitor (#2185)
  src/components/backend-ai-resource-monitor.ts
Labels: none

fix: remove useless comma
  .eslintrc.json
  package-lock.json
Labels: none

feat: add ignore settings
  .eslintrc.json
Labels: none

fix: remove useless comma
  .eslintrc.json
Labels: none

feat:add search function of ResourceGroupSelect
  react/src/components/ResourceGroupSelect.tsx
Labels: none

fix:modify maxWidth of ResourceGroupSelect to Flex
  react/src/index.tsx
Labels: none

feat: apply useControllableValue hook
  react/src/components/StorageSelect.tsx
  react/src/components/StorageStatusPanel.tsx
Labels: none

fix: version integration with main branch
  react/package-lock.json
  react/package.json
Labels: none

find matched environment when only version is available
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ServiceLauncherModal.tsx
Labels: none

fix:rollback css and add Icon to draggable in area
  react/src/components/BAIModal.css
  react/src/components/BAIModal.tsx
Labels: none

feat: add support for spawning non-auth tcp apps
  package-lock.json
  react/src/hooks/index.tsx
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-login.ts
  version.json
Labels: none

misc: remove hard-coded environment setting in service Launcher
  react/src/components/ServiceLauncherModal.tsx
Labels: none

update: schema.graphql to the latest
  react/data/schema.graphql
Labels: none

misc: remove unused imports
  react/src/components/ServiceLauncherModal.tsx
Labels: none

refactor: split editing and deleting model service state
  react/src/pages/ServingListPage.tsx
Labels: none

feat:add wrapClassName draggable when draggable is true
  react/src/components/BAIModal.css
  react/src/components/BAIModal.tsx
Labels: none

fix invalid URI resolution
  src/components/backend-ai-app-launcher.ts
Labels: none

restore version
  version.json
Labels: none

remove debug footages
  src/components/backend-ai-app-launcher.ts
Labels: none

feat: separate the formatting and linting configuration (#2162)
  .eslintrc.json
  .github/workflows/jest.yml
  package-lock.json
  package.json
  react/package-lock.json
  react/package.json
Labels: none

fix:allow dragging anywhere on the screen
  react/src/components/BAIModal.tsx
Labels: none

add JSONSchema.md and theme.schema.json for testing
  JSONShcema.md
  json_schemas/theme.schema.json
Labels: none

fix:modify style of close button
  react/src/components/BAIModal.css
Labels: none

add: translation on model service create/update/delete operation msg
  react/src/components/ServiceLauncherModal.tsx
  react/src/pages/ServingListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

refactor: remove duplicated resource group select
  react/src/components/ServiceLauncherModal.tsx
Labels: none

refactor: add endpoint in return value of endpoint modifying mutation
  react/src/components/ServiceLauncherModal.tsx
Labels: none
