Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

Update theme.schema.json
  resources/theme.schema.json
Labels: none

add a script to generate a schema based on TypeScript type for theme.json.theme
  package-lock.json
  package.json
  react/package-lock.json
  resources/antdThemeConfig.schema.json
Labels: none

feat: add branding config to theme.json (#2328)
  react/src/components/MainLayout/WebUISider.tsx
  react/src/helper/customThemeConfig.ts
  resources/theme.json
  resources/theme.schema.json
  scripts/replace-with-brand-name.sh
Labels: maintenance:dependencies

fix: only show allowed vfolder hosts when listing up storages
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-storage-list.ts
Labels: none

fix: <form> cannot appear as a descendant of <form>
  react/src/components/VFolderTable.tsx
Labels: none

add missing name rule for `vfoldersAliasMap` item
  react/src/components/VFolderTable.tsx
  react/src/components/VFolderTableFormItem.tsx
Labels: none

feat: display custom tag and add cyan color to lablup-shields
  react/src/pages/MyEnvironmentPage.tsx
  src/components/backend-ai-environment-list.ts
  src/plastics/lablup-shields/lablup-shields.ts
Labels: field:UI / UX

feat: add MyEnvironmentPage
  react/data/schema.graphql
  react/src/App.tsx
  react/src/components/MainLayout/WebUISider.tsx
  react/src/pages/MyEnvironmentPage.tsx
  react/src/pages/ServingListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/backend-ai-app.ts
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-esm.ts
Labels: field:UI / UX, field:localization

feat: add support for Sapeon X220 accelerator
  config.toml.sample
  react/src/components/ResourceNumber.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/hooks/backendai.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
  resources/device_metadata.json
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-settings-view.ts
  src/lib/backend.ai-client-esm.ts
Labels: none

add i18n
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-settings-view.ts
Labels: field:UI / UX, field:localization

feat: add table column setting to MyEnvironmentPage
  react/src/pages/MyEnvironmentPage.tsx
  src/components/backend-ai-session-list.ts
Labels: none

feat: update image list after mutation
  react/src/pages/MyEnvironmentPage.tsx
Labels: none

fix: remove rowSelection
  react/src/pages/MyEnvironmentPage.tsx
Labels: none

feat: add sorter
  react/src/pages/MyEnvironmentPage.tsx
Labels: none

style: change border color of BAIModal
  react/src/components/BAIModal.css
Labels: none

feat: merge two mutations
  react/src/pages/MyEnvironmentPage.tsx
Labels: none

feat: reflect PR feedbacks
  react/src/components/MainLayout/WebUISider.tsx
  react/src/pages/MyEnvironmentPage.tsx
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-esm.ts
Labels: none

exclude auto-mounted vFolders from the vFolder list in Neo session launcher
  react/src/pages/SessionLauncherPage.tsx
Labels: none

fix: remove message
  react/src/pages/MyEnvironmentPage.tsx
Labels: none

validation form after step changed using useEffect and set the last validate error time to rerender
  react/src/hooks/index.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none

remove comments
  react/src/pages/SessionLauncherPage.tsx
Labels: none

fix lint and remove comments
  react/src/pages/SessionLauncherPage.tsx
Labels: none

feat: update schema
  react/data/schema.graphql
  react/src/pages/MyEnvironmentPage.tsx
Labels: none

fix: decode base64 image id when untag/forgetting customized images
  react/src/pages/MyEnvironmentPage.tsx
Labels: none

feat: parsing image info with `useBackendAIImageMetaData` hook
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ImageTags.tsx
  react/src/components/SessionKernelTag.tsx
  react/src/hooks/index.tsx
  react/src/pages/MyEnvironmentPage.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none

style: display architecture as text and add flex to constraint tags
  react/src/components/ImageTags.tsx
  react/src/pages/MyEnvironmentPage.tsx
Labels: none

fix: remove btoa function on wrong id decoding
  react/src/pages/MyEnvironmentPage.tsx
Labels: none

fix: regression of applying default session environment
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none

improve the API request limit error message when a user tries to log in
  react/src/hooks/usePainKiller.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-login.ts
  src/components/backend-ai-painkiller.ts
Labels: field:UI / UX, field:localization

fix: set mwc-button font-size and wrap labels
  src/components/backend-ai-login.ts
Labels: none

avoid calling `_viewStateChanged` for same `active` value in `attributeChangedCallback`
  src/components/backend-ai-page.ts
Labels: none

fix: regression of showing project list according to allowed group in user info
  react/src/components/ProjectSelect.tsx
Labels: none

use `useCurrentUserInfo` instead of `useBaiClient`
  react/src/components/ProjectSelect.tsx
Labels: none

delete unused code and a file
  react/src/components/ProjectSelect.tsx
  react/src/hooks/useCurrentUser.tsx
Labels: none

fix lint
  react/src/components/ProjectSelect.tsx
Labels: none

remove updated function and don't bind `regionRenderer`
  src/components/backend-ai-agent-list.ts
Labels: none

feat: apply filter to png icon when theme is darkmode (#2304)
  src/components/backend-ai-agent-list.ts
  src/plastics/lablup-shields/lablup-shields.ts
Labels: field:UI / UX

fix: remove transformation function
  react/src/pages/MyEnvironmentPage.tsx
Labels: none

fix: `_viewStateChanged` is called for same `active` value in `attributeChangedCallback` (#2339)
  src/components/backend-ai-page.ts
Labels: none

feat: add customized image delete success message
  react/src/pages/MyEnvironmentPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*
