Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

refactor: update max limit of AI accelerator according to config
  react/src/components/ServiceLauncherModal.tsx
Labels: none

refactor: add AI accelerator in corresponding interface definition
  react/src/components/ServiceLauncherModal.tsx
  react/src/hooks/backendai.tsx
Labels: none

refactor: min/max value setting in AI accelerator according to config limit and image info
  react/src/components/ServiceLauncherModal.tsx
Labels: none

feat: add commit id to schema
  react/data/schema.graphql
Labels: none

fix: add optional chaining to call support
  Makefile
  index.html
  react/package-lock.json
  src/components/backend-ai-environment-view.ts
  src/components/backend-ai-webui.ts
  version.json
Labels: none

fix: temporally suppress dependency warnings in useEffects
  react/src/components/ServiceLauncherModal.tsx
Labels: none

feat: Link FastTrack button to frontend server
  src/components/backend-ai-login.ts
  src/components/backend-ai-webui.ts
Labels: none

misc: add key in map created HTMLElement and remove duplicated initialValue in Form
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ServiceLauncherModal.tsx
Labels: none

fix: add optional chaining to call support (#2019)
  Makefile
  index.html
  react/package-lock.json
  src/components/backend-ai-environment-view.ts
  src/components/backend-ai-webui.ts
  version.json
Labels: none

update: dependencies
  package-lock.json
  package.json
  react/package-lock.json
  react/package.json
Labels: none

feat: Link FastTrack button to frontend server (#2020)
  src/components/backend-ai-login.ts
  src/components/backend-ai-webui.ts
Labels: none

update: missing max_vfolder_count type
  src/components/backend-ai-resource-policy-list.ts
  src/plastics/chart-js.ts
Labels: field:UI / UX

misc: temporally comment out min value marks
  react/src/components/ServiceLauncherModal.tsx
Labels: none

add: a draft for updated sliderInputItem with selectable AI accelerator (#2017)
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/SliderInputFormItem.tsx
  react/src/hooks/backendai.tsx
Labels: none

fix: check support condition using state
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-resource-policy-list.ts
Labels: none

Fix: hide `max_vfolder_count` setting according to the api version (#2016)
  react/data/schema.graphql
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-resource-policy-list.ts
Labels: none

add component key
  react/src/components/ResourcePresetSelect.tsx
Labels: none

fix infinit rendering by `Form.useWatch`
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/hooks/backendai.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none

add: isDirectorySizeVisible variable to show n hide directory size in folder explorer
  config.toml.sample
  src/components/backend-ai-login.ts
  src/components/backend-ai-storage-list.ts
Labels: none

refactor: attach renderer in size displaying column in folder explorer
  src/components/backend-ai-storage-list.ts
Labels: none

set mix max validator using remainings
  react/src/components/ResourceAllocationFormItems.tsx
Labels: none

sleep before connect to rstudio app and get shmem parameter
  src/components/backend-ai-edu-applauncher.ts
Labels: none

fix preview bug and use `useTransition` for "skip to preview"
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourceNumber.tsx
  react/src/components/SessionNameFormItem.tsx
  react/src/components/SliderInputFormItem.tsx
  react/src/helper/index.test.tsx
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

add reset form button
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/ko.json
Labels: field:UI / UX, field:localization

cosmetic touch for reset button
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/en.json
  resources/i18n/ko.json
Labels: field:UI / UX, field:localization

set minimum with of Input with Slider
  react/src/components/DynamicUnitInputNumberWithSlider.tsx
  react/src/components/SliderInputFormItem.tsx
Labels: none

generate session config for new session
  .cspell.json
  react/src/components/DatePickerISO.tsx
  react/src/components/EnvVarFormList.tsx
  react/src/components/PortSelectFormItem.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/SessionNameFormItem.tsx
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

add `hpcOptimization` items
  .cspell.json
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none

fix: `image` isn't changed
  react/src/components/ImageEnvironmentSelectFormItems.tsx
Labels: none

improve layout of `hpcOptimization` items
  react/src/pages/SessionLauncherPage.tsx
Labels: none

fix: style of ResourceNumber
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourceNumber.tsx
Labels: none

change session type select, add schedule time rule
  react/src/pages/SessionLauncherPage.css
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

remove unused code
  react/src/BAICard.tsx
  react/src/components/DatePickerISO.tsx
  react/src/components/DoubleTag.tsx
  react/src/components/DynamicUnitInputNumber.tsx
  react/src/components/DynamicUnitInputNumberWithSlider.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourcePresetSelect.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none

feat: `iSizeToSize` return `undefined` when argument is `undefined`
  react/src/helper/index.tsx
Labels: none

add parseUnit and compareNumberWithUnits functions
  react/src/helper/index.test.tsx
  react/src/helper/index.tsx
Labels: none

cosmetic touch for `DoubleTag`
  react/src/components/DoubleTag.tsx
Labels: none

feat: search highlighter, set image in `onChange` of version select
  react/src/components/ImageEnvironmentSelectFormItems.tsx
Labels: none

feat: `hideTooltip` props, fixed number from 2 to 3, show `sheme` when >0
  react/src/components/ResourceNumber.tsx
Labels: none

Add optional chaining to `sizeGInfo.number`
  react/src/components/ServiceLauncherModal.tsx
Labels: none

Include a `label` for auto-generated validation messages, even for `noStyle` items.
  react/src/components/SliderInputFormItem.tsx
Labels: none

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*
