Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

refactor: Move dependency install to Dockerfile
  .dockerignore
  Dockerfile
  docker-compose.yml
  scripts/webui-dev
Labels: maintenance:dependencies

feat: replace env-variables to inside of the lablup-expansion
  src/components/backend-ai-session-launcher.ts
  src/components/lablup-expansion.ts
Labels: none

fix: window / tab mode now works
  src/components/backend-ai-dock.ts
  src/components/backend-ai-webui.ts
  src/components/backend-ai-window.ts
Labels: none

add: single-page mode (legacy support)
  index.html
  src/components/backend-ai-webui.ts
  src/components/backend-ai-window-manager.ts
  src/components/backend-ai-window.ts
  version.json
Labels: none

update: hide dock on login screen
  src/components/backend-ai-dock.ts
Labels: none

add: test background image
  resources/images/background-01.jpg
Labels: none

update: border-radius on full window mode
  src/components/backend-ai-window.ts
Labels: none

add: spa mode option
  src/components/backend-ai-dock.ts
  src/components/backend-ai-webui.ts
  src/components/backend-ai-window-manager.ts
  src/components/backend-ai-window.ts
Labels: none

update: Add `inputLimit` include min, max length
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-session-launcher.ts
Labels: field:UI / UX, field:localization

chore: Rename `inputLimit`'s attribute
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-session-launcher.ts
Labels: field:UI / UX, field:localization

refactor: custom.css and theme.json for react
  react/src/helper/react-to-webcomponent.tsx
  react/src/pages/ServingListPage.tsx
  react/src/pages/SessionListPage.tsx
  resources/custom.css
  resources/theme.json
Labels: field:UI / UX

Revert "chore: Rename `inputLimit`'s attribute"
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-session-launcher.ts
Labels: field:UI / UX, field:localization

chore: Rename `inputLimit`'s attribute
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-session-launcher.ts
Labels: field:UI / UX, field:localization

update: Change helper-text and add `inputLimit` (#1837)
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-session-launcher.ts
Labels: field:UI / UX, field:localization

add: testing SPA mode TODO: apps to use popup
  src/components/backend-ai-desktop.ts
  src/components/backend-ai-dock.ts
  src/components/backend-ai-webui.ts
  src/components/backend-ai-window-manager.ts
  src/components/backend-ai-window.ts
Labels: none

style: import custom.css to statistics-view
  src/components/backend-ai-statistics-view.ts
Labels: none

update: legacy mode testing
  src/components/backend-ai-window-manager.ts
Labels: none

style: import custom.css to statistics-view (#1840)
  src/components/backend-ai-statistics-view.ts
Labels: none

update: SPA mode (fin.)
  src/components/backend-ai-page.ts
  src/components/backend-ai-window-manager.ts
  src/components/backend-ai-window.ts
Labels: none

add: general window background color
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-window.ts
Labels: none

add: Ubuntu mono font for monospace text
  resources/fonts/fonts.css
  resources/fonts/ubuntu-mono-v15-bold.woff2
  resources/fonts/ubuntu-mono-v15-bolditalic.woff2
  resources/fonts/ubuntu-mono-v15-italic.woff2
  resources/fonts/ubuntu-mono-v15-regular.woff2
Labels: field:UI / UX

add: Ubuntu mono font for monospace text (#1841)
  resources/fonts/fonts.css
  resources/fonts/ubuntu-mono-v15-bold.woff2
  resources/fonts/ubuntu-mono-v15-bolditalic.woff2
  resources/fonts/ubuntu-mono-v15-italic.woff2
  resources/fonts/ubuntu-mono-v15-regular.woff2
Labels: field:UI / UX

fix: Include `.tsx` files and `t` func in scan list
  i18n.config.js
Labels: none

feat: Distinguish files in logs for react and lit
  i18n.config.js
Labels: none

update: Scan and add items that used in react
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
Labels: field:UI / UX, field:localization

update: Translate `__NOT_TRANSLATE_` into korean
  resources/i18n/ko.json
Labels: field:UI / UX, field:localization

fix: Add the React component to i18n scan target (#1842)
  i18n.config.js
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
Labels: field:UI / UX, field:localization

fix: http status code backward compatibility - for backward compatibility with 22.09, 404 status code should be included.
  src/components/backend-ai-session-list.ts
Labels: none

fix: http status code (#1833)
  src/components/backend-ai-session-list.ts
Labels: none

refactor MaintenanceView
  react/src/components/MaintenanceView.tsx
  react/src/index.tsx
  src/components/backend-ai-maintenance-view.ts
Labels: none

feat: add pre open port config to session launcher
  config.toml.sample
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-launcher.ts
Labels: field:UI / UX, field:localization

feat: set resources params when preopen_ports exists
  src/lib/backend.ai-client-esm.ts
Labels: none

feat: disable add button according to config
  src/components/backend-ai-session-launcher.ts
Labels: none

style: widen checkbox column of session list
  src/components/backend-ai-session-list.ts
Labels: none

fix: make preopen ports have only unique values
  src/components/backend-ai-session-launcher.ts
Labels: none

add: error message when maxCountForPreOpenedPort is 0
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-session-launcher.ts
Labels: field:UI / UX, field:localization

modify Button style
  react/src/components/MaintenanceView.tsx
Labels: none

fix: enable to close config dialog when option is 0
  src/components/backend-ai-session-launcher.ts
Labels: none

fix: Make add button disabled and enabled properly even if reopening the config modal.
  src/components/backend-ai-session-launcher.ts
Labels: none

style: remove unnecessary whitespace
  src/components/backend-ai-session-launcher.ts
Labels: none

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*
