Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

fix: modify husky config to format both lit and react components (#2262)
  .husky/pre-commit
  package.json
  react/src/components/ResourcePolicyCard.tsx
  react/src/pages/ModelStoreListPage.tsx
Labels: none

Revert "fix: modify husky config to format both lit and react components (#2262)"
  .husky/pre-commit
  package.json
  react/src/components/ResourcePolicyCard.tsx
  react/src/pages/ModelStoreListPage.tsx
Labels: none

add: format-fix-all script
  package.json
Labels: none

fix: lint errors
  react/src/components/ResourcePolicyCard.tsx
  react/src/pages/ModelStoreListPage.tsx
Labels: none

fix: match the `prettier` extension rules
  package.json
  src/components/backend-ai-resource-broker.ts
Labels: none

update format-fix-all script to format-fix:all
  package.json
Labels: none

revert: lint-staged setting of #2262 (#2264)
  .husky/pre-commit
  package.json
  src/components/backend-ai-resource-broker.ts
Labels: none

feat: connect react modal into web component and apply functions
  react/src/components/ManageAppsModal.tsx
  src/components/backend-ai-environment-list.ts
Labels: none

fix: remove useless codes
  src/components/backend-ai-environment-list.ts
Labels: none

fix: use try-catch for readable code
  react/src/components/ManageAppsModal.tsx
Labels: none

fix: change title border color
  react/src/components/BAIModal.css
Labels: none

fix: use default antd footer btn and set close transition
  react/src/components/ManageAppsModal.tsx
Labels: none

fix: delete unused modules
  react/src/components/ManageAppsModal.tsx
Labels: none

feat: apply reactour library
  react/package-lock.json
  react/package.json
  react/src/index.tsx
Labels: none

feat: set guide button in webui header and default page guide scripts
  react/src/components/MainLayout/WebUIHeader.tsx
  react/src/components/WEBUIGuideButton.tsx
Labels: none

feat: apply guide into neo session launcher page
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none

fix: regression of imageInfo initialization for categorizing environments by label in metadata
  src/components/backend-ai-resource-broker.ts
Labels: none

fix: regression of imageInfo initialization for categorizing environments by label in metadata (#2267)
  src/components/backend-ai-resource-broker.ts
Labels: none

feat: apply custom TourProvider and styles
  react/package-lock.json
  react/package.json
  react/src/components/BAITourProvider.tsx
  react/src/index.tsx
Labels: none

fix: fine-tuning CSS
  react/src/components/BAITourProvider.tsx
Labels: none

fix: fine-tuning CSS
  react/src/components/BAITourProvider.tsx
Labels: none

update: react packages
  react/package-lock.json
  react/package.json
Labels: none

update: main webui packages
  index.html
  package-lock.json
  package.json
  src/components/backend-ai-chart.ts
  src/components/backend-ai-webui.ts
  src/plastics/chart-js.ts
  src/store.ts
  version.json
Labels: field:UI / UX

update `PickerDateProps` to `PickerProps` for antd 5.15.x
  react/src/components/DatePickerISO.tsx
Labels: none

fix: use `customScalarTypes`, which is a breaking change in Relay 16.
  react/relay.config.js
Labels: none

update type definitions to handle breaking changes of Relay 16
  react/src/components/EndpointOwnerInfo.tsx
  react/src/components/EndpointStatusTag.tsx
  react/src/helper/index.tsx
  react/src/pages/RoutingListPage.tsx
Labels: none

update the test snapshot related to Ant Degin bump
  react/src/components/__snapshots__/DomainSelector.test.tsx.snap
Labels: none

use `ref` of the `Form` instead of the `useForm` function in the Modal
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserProfileSettingModal.tsx
  react/src/components/UserSettingModal.tsx
Labels: none

feat: add cli to remove build file in react folder
  Makefile
Labels: none

fix: modify the CLI to lower the risk of deletion
  Makefile
Labels: none

feat: 'make clean' removes build files in the react folder (#2272)
  Makefile
Labels: none

fix: replace plastics file with patched files.
  patches/@material+mwc-dialog+0.27.0.patch
  patches/@material+mwc-drawer+0.27.0.patch
  patches/@material+mwc-select+0.27.0.patch
  patches/@material+mwc-snackbar+0.27.0.patch
  patches/@material+mwc-top-app-bar+0.27.0.patch
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-sidepanel-notification.ts
  src/components/backend-ai-sidepanel-task.ts
  src/components/backend-ai-webui.ts
  src/components/lablup-notification.ts
  src/types/backend-ai-console.d.ts
Labels: none

misc: move plastics's mwc files to archive folder
  src/plastics/mwc/archive/mwc-dialog.ts
  src/plastics/mwc/archive/mwc-drawer.ts
  src/plastics/mwc/archive/mwc-multi-select.ts
  src/plastics/mwc/archive/mwc-snackbar.ts
  src/plastics/mwc/archive/mwc-top-app-bar-fixed.ts
  src/plastics/mwc/archive/mwc-top-app-bar.ts
Labels: field:UI / UX

style: add missed padding
  src/components/backend-ai-session-launcher.ts
Labels: none

update "Quota Scope ID" i18n
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

add `copyable` to Quota Scope ID
  react/src/components/StorageStatusPanel.tsx
Labels: none

feat: Quota Scope ID in data page's storage status panel (#2259)
  react/src/components/StorageStatusPanel.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

update: node.js packages (#2268)
  index.html
  package-lock.json
  package.json
  patches/@material+mwc-dialog+0.27.0.patch
  patches/@material+mwc-drawer+0.27.0.patch
  patches/@material+mwc-select+0.27.0.patch
  patches/@material+mwc-snackbar+0.27.0.patch
  patches/@material+mwc-top-app-bar+0.27.0.patch
  react/package-lock.json
  react/package.json
  react/relay.config.js
  react/src/components/DatePickerISO.tsx
  react/src/components/EndpointOwnerInfo.tsx
  react/src/components/EndpointStatusTag.tsx
  react/src/components/__snapshots__/DomainSelector.test.tsx.snap
  react/src/helper/index.tsx
  react/src/pages/RoutingListPage.tsx
  src/components/backend-ai-chart.ts
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-sidepanel-notification.ts
  src/components/backend-ai-sidepanel-task.ts
  src/components/backend-ai-webui.ts
  src/components/lablup-notification.ts
  src/plastics/chart-js.ts
  src/plastics/mwc/archive/mwc-dialog.ts
  src/plastics/mwc/archive/mwc-drawer.ts
  src/plastics/mwc/archive/mwc-multi-select.ts
  src/plastics/mwc/archive/mwc-snackbar.ts
  src/plastics/mwc/archive/mwc-top-app-bar-fixed.ts
  src/plastics/mwc/archive/mwc-top-app-bar.ts
  src/store.ts
  src/types/backend-ai-console.d.ts
  version.json
Labels: field:UI / UX

introduce `triggerKey` of BAIIntervalText to update immediately
  react/src/components/BAIIntervalText.tsx
  react/src/hooks/useIntervalValue.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none

move NeoSessionLauncherSwitchAlert to App.tsx
  react/src/App.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*
