Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*

style: generalize mwc colors using antd token
  react/src/components/MainLayout/MainLayout.tsx
  react/src/components/UserSettings.tsx
  resources/theme.json
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-maintenance-view.ts
  src/components/backend-ai-resource-group-list.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-settings-view.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-user-list.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/components/backend-ai-webui-styles.ts
  src/components/backend-ai-webui.ts
  src/components/lablup-activity-panel.ts
  src/components/lablup-terms-of-service.ts
Labels: none

style: set gap of cards
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-settings-view.ts
Labels: none

feat: add useEffect dependency ignore syntax comment
  react/src/components/StorageSelect.tsx
Labels: none

misc: remove unexpected space code
  react/src/components/SSHKeypairGenerationModal.tsx
Labels: none

fix:modify hardcode width to remove flex-wrap
  react/src/index.tsx
  src/components/backend-ai-resource-monitor.ts
Labels: none

fix: fix lint
  react/src/index.tsx
Labels: none

fix: set `name` variable in translation
  resources/i18n/el.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
Labels: field:UI / UX, field:localization

fix: apply manual image setting in modify model service
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ServiceLauncherModal.tsx
Labels: none

fix:remove filteredResourceGroups and use Select's filter
  react/src/components/ResourceGroupSelect.tsx
Labels: none

`availableFilter` prop of ResourceAllocationFormItems
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourcePresetSelect.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none

runShmemAutomationRule when preset is changed
  react/src/components/ResourceAllocationFormItems.tsx
Labels: none

style: touchup signup styles for dark theme
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-maintenance-view.ts
  src/components/backend-ai-signup.ts
  src/components/backend-ai-webui-styles.ts
  src/components/backend-ai-webui.ts
  src/components/lablup-expansion.ts
Labels: none

style: move mwc-tab related codes to general-styles
  src/components/backend-ai-agent-summary-view.ts
  src/components/backend-ai-agent-view.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-environment-view.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-pipeline-view.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-statistics-view.ts
  src/components/backend-ai-usersettings-view.ts
  src/pipeline/lib/pipeline-styles.ts
Labels: none

style: dark theme for mwc-checkbox
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-multi-select.ts
  src/components/backend-ai-settings-view.ts
Labels: none

fix: add image_row in Endpoint query
  react/data/schema.graphql
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ServiceLauncherModal.tsx
Labels: none

fix: cannot clear the manual image value when modifying the service.
  react/src/components/ImageEnvironmentSelectFormItems.tsx
Labels: none

refactor: useEffect of ImageEnvironmentSelectFormItems
  react/src/components/ImageEnvironmentSelectFormItems.tsx
Labels: none

set environmets fields to undfined when manual is set
  react/src/components/ImageEnvironmentSelectFormItems.tsx
Labels: none

fix:separate rule to otp is empty string and pattern is mismatched
  react/src/components/TOTPActivateModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

fix: modify guide description and rule of TOTPActivateModal (#2174)
  react/src/components/TOTPActivateModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

fix: adjust BAIModal zIndex to avoid notification drawer operation (#2186)
  react/src/components/BAIModal.tsx
  react/src/components/ModelServiceSettingModal.tsx
  react/src/components/ProjectResourcePolicySettingModal.tsx
  react/src/components/QuotaSettingModal.tsx
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserResourcePolicySettingModal.tsx
  react/src/components/VFolderTable.tsx
Labels: none

feat: enable allocatable resource preset only automatically
  react/src/components/AvailableResourcesCard.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourcePresetSelect.tsx
  react/src/hooks/hooksUsingRelay.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
  react/src/pages/SessionListPage.tsx
Labels: none

prevent session name autocompletion
  react/src/components/SessionNameFormItem.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none

fix: update logo image for AMD ROCm (#2182)
  react/src/components/ResourceNumber.tsx
  resources/icons/LICENSE.md
  resources/icons/ROCm.png
  resources/icons/ROCm_black.png
  resources/icons/rocm.svg
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-session-list.ts
Labels: field:UI / UX

feat: update VFolder operation statuses (#2031)
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-storage-list.ts
Labels: none

style: support vaadin dark theme
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-chart.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-resource-group-list.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-storage-proxy-list.ts
  src/components/backend-ai-usage-list.ts
  src/components/backend-ai-user-list.ts
  src/components/backend-ai-webui.ts
  src/components/lablup-activity-panel.ts
  src/components/lablup-expansion.ts
  src/pipeline/components/pipeline-job-list.ts
  src/pipeline/components/pipeline-job-view.ts
  src/pipeline/components/pipeline-list.ts
  src/pipeline/lib/pipeline-configuration-form.ts
Labels: none

style: change the background color of bai-dialog
  src/components/backend-ai-dialog.ts
Labels: none

fix: delete useControllableValue, add ellipsis condition
  react/src/components/BAINotificationItem.tsx
Labels: none

fix:modify regex to use switch
  src/components/backend-ai-credential-view.ts
Labels: none

feat: prevent modifying DESTROYING status services (#2200)
  react/src/pages/RoutingListPage.tsx
Labels: none

refactoring
  react/src/components/StorageSelect.tsx
  react/src/components/StorageStatusPanel.tsx
Labels: none

update: schema.graphql to the latest
  react/data/schema.graphql
Labels: none

refactor: update initializing value of imageEnvironmentSelectFormItem according to image_row
  react/src/components/ServiceLauncherModal.tsx
Labels: none

fix: remove unused import library
  react/src/components/ImageEnvironmentSelectFormItems.tsx
Labels: none

fix: conditional check on parsing accelerator from resourceSlot info
  react/src/components/ServiceLauncherModal.tsx
Labels: none

add: translation on AI accelerator value is invalid when cluster size is larger than 1
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

add: validation on cluster size or AI accelerator value changes
  react/src/components/ResourceAllocationFormItems.tsx
Labels: none

refactoring
  react/src/components/StorageSelect.tsx
Labels: none

misc: regression of condition check on setting AI accelerator value
  react/src/components/ServiceLauncherModal.tsx
Labels: none

feat: draft UI for vfolder trash bin
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-storage-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: field:UI / UX, field:localization
