Repository lablup/backend.ai-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance:dependencies, field:UI / UX, field:library / SDK, field:localization

.github/labeler.yml:

maintenance:dependencies:
  - scripts/**/*

field:UI / UX:
  - resources/fonts/*
  - resources/icons/*
  - resources/*.css
  - src/plastics/**/*
  - resources/i18n/*

field:library / SDK:
  - resources/lib/**/*
  - resources/wsproxy/**/*

field:localization:
  - resources/i18n/*

feat: support per user image push (#2300)
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-session-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: field:UI / UX, field:localization

feat: destroy-all function in stacked notification (#2289)
  react/src/components/BAINotificationItem.tsx
  react/src/hooks/useBAINotification.tsx
Labels: none

misc: update description of type of login account in login panel
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-login.ts
Labels: field:UI / UX, field:localization

misc: add `Username` to placeholder of login input field
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-login.ts
Labels: field:UI / UX, field:localization

fix: display unlimit when maxVfolderCount is 0
  react/src/components/StorageStatusPanel.tsx
Labels: none

misc: update description of type of login account in login panel (#2301)
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-login.ts
Labels: field:UI / UX, field:localization

add missing line
  src/components/backend-ai-session-view.ts
Labels: none

Update mn.json
  resources/i18n/mn.json
Labels: field:UI / UX, field:localization

fix invalid device key
  resources/device_metadata.json
Labels: none

fix: created count in StorageStatusPanel
  react/src/components/StorageStatusPanel.tsx
  src/components/backend-ai-data-view.ts
Labels: none

fix: created count in `StorageStatusPanel` (#2302)
  react/src/components/StorageStatusPanel.tsx
  src/components/backend-ai-data-view.ts
Labels: none

fix: modify compatible manager version of trash bin (#2303)
  src/lib/backend.ai-client-esm.ts
Labels: none

feat: apply filter to png icon when theme is darkmode
  src/components/backend-ai-agent-list.ts
Labels: none

feat: update schema
  react/data/schema.graphql
Labels: none

feat: match field version compatibility for vfolder v3 (#2292)
  react/data/schema.graphql
  react/src/components/StorageStatusPanel.tsx
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-storage-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: none

feat: display accelerator key instead of empty string (#2294)
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-session-list.ts
Labels: field:UI / UX, field:localization

fix: `vfolder-trash-bin` is duplicated
  src/lib/backend.ai-client-esm.ts
Labels: none

fix: `vfolder-trash-bin` is duplicated (#2305)
  src/lib/backend.ai-client-esm.ts
Labels: none

fix: remove word-break option
  src/plastics/lablup-shields/lablup-shields.ts
Labels: field:UI / UX

display vFolder as read-only in editing
  react/src/components/ServiceLauncherModal.tsx
Labels: none

display vFolder as read-only in editing (#2306)
  react/src/components/ServiceLauncherModal.tsx
Labels: none

fix: fetch `image_object` when supporting `per-user-image`
  src/components/backend-ai-session-list.ts
Labels: none

fix: fetch `image_object` when supporting `per-user-image` (#2307)
  src/components/backend-ai-session-list.ts
Labels: none

fix: multiple accelerator type in session launcher preview page
  react/src/pages/SessionLauncherPage.tsx
Labels: none

fix: apply AI accelerator allocation when selecting resourcep reset in neo session launcher
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none

omit resource slot type which has no slots
  react/src/components/ResourceAllocationFormItems.tsx
Labels: none

When applying a preset, use the first matched accelerator type
  react/src/components/ResourceAllocationFormItems.tsx
Labels: none

fix: apply AI accelerator allocation when selecting resource preset in neo session launcher (#2308)
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none

disable presets based on current images's accelerator limits
  react/src/components/ResourceAllocationFormItems.tsx
Labels: none

fix: add conditional chanining
  react/src/pages/SessionLauncherPage.tsx
Labels: none

rename "Previous" to "Classic" for Session launcher
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

display human friendly image tags in Neo Session Launcher preview step
  react/src/components/SessionKernelTag.tsx
  react/src/hooks/index.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: none

revert style of guide message of login modal #2310
  src/components/backend-ai-login.ts
Labels: none

style: move customized tag next to `SessionKernelTag`
  react/src/pages/SessionLauncherPage.tsx
Labels: none

fix: build errors
  react/src/components/SessionKernelTag.tsx
  src/components/backend-ai-edu-applauncher.ts
  src/components/backend-ai-session-list.ts
Labels: none

fix: set customized field in `useEffect` instead of `render`
  react/src/components/ImageEnvironmentSelectFormItems.tsx
Labels: none

hotfix: neo session launcher on cloud (#2310)
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/SessionKernelTag.tsx
  react/src/hooks/index.tsx
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-edu-applauncher.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-list.ts
Labels: field:UI / UX, field:localization

add tooltip for submit button
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

add tooltip for submit button (#2311)
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: field:UI / UX, field:localization

remove remaining session limit validation error
  react/src/components/ResourceAllocationFormItems.tsx
Labels: none
