Repository lablup/backend.ai-webui, pull requests merged in 2020-07, with the labels that each got.

#592 bugfix: Cannot see templates / assign resource without GPU (#591)
  package-lock.json
  package.json
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-session-launcher.ts
Labels: blocker, bug, library / SDK, major

#594 fix: consider 201 status to be always successful
  src/components/backend-ai-email-verification-view.ts
Labels: UI / UX, bug, easy

#597 feat: refactor and stabilize broker structure (#596)
  README.md
  package-lock.json
  package.json
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-experiment-view.ts
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-session-launcher.ts
  src/components/lablup-slider.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, blocker, bug, enhancement, library / SDK, major

#609 refactor: use session UUID instead of name for querying session logs
  src/components/backend-ai-session-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: easy, minor

#603 feat: add comments on source code (#402)
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-view.ts
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-change-forgot-password-view.ts
  src/components/backend-ai-chart.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-email-verification-view.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-environment-view.ts
  src/components/backend-ai-error-log-list.ts
  src/components/backend-ai-error-log-view.ts
  src/components/backend-ai-experiment-view.ts
  src/components/backend-ai-help-button.ts
  src/components/backend-ai-indicator-pool.ts
  src/components/backend-ai-indicator.ts
  src/components/backend-ai-information-view.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-maintenance-view.ts
  src/components/backend-ai-offline-indicator.ts
  src/components/backend-ai-page.ts
  src/components/backend-ai-painkiller.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-release-check.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-settings-view.ts
  src/components/backend-ai-statistics-view.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-usage-list.ts
  src/components/backend-ai-user-list.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/components/backend-ai-usersettings-view.ts
  src/components/lablup-activity-panel.ts
  src/components/lablup-codemirror.ts
  src/components/lablup-loading-spinner.ts
  src/components/lablup-notification.ts
  src/components/lablup-slider.ts
  version.json
Labels: enhancement

#612 feat: support editing .Renviron file
  resources/i18n/en.json
  src/components/backend-ai-usersettings-general-list.ts
  src/components/lablup-codemirror.ts
  src/lib/codemirror/base-style.css.js
Labels: UI / UX, enhancement, minor

#615 Feature/fraction info for fgpus #289
  src/components/backend-ai-agent-list.ts
Labels: UI / UX, easy, enhancement

#616 feat: add Resource Group column in Agent list page (#611)
  src/components/backend-ai-agent-list.ts
Labels: good first issue, minor

#619 Display >100 users and add filter input for some columns
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-user-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, bug, enhancement, library / SDK, urgency

#621 Feature/migrate repository notebook into cluster #599
  index.html
  package-lock.json
  package.json
  resources/badge-dark.svg
  resources/badge.svg
  resources/i18n/en.json
  resources/i18n/ko.json
  src/backend-ai-app.ts
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-storage-list.ts
  src/components/lablup-activity-panel.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, cloud, enhancement, enterprise, hard, library / SDK, major, web

#622 Feature/migrate d3 js charts into chart js #607
  package-lock.json
  package.json
  src/components/backend-ai-chart.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-usage-list.ts
  src/lib/Chart.js
  src/lib/Chart.min.js
  src/plastics/chart-js.ts
Labels: UI / UX, enhancement, library / SDK, minor

#624 Feature/license information viewer #623
  index.html
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-information-view.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
  version.json
Labels: UI / UX, enterprise, library / SDK, minor

#630 misc: display explicit messages when user need email verification
  src/components/backend-ai-login.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX

#625 bugfix: error when creating resource preset
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-resource-preset-list.ts
Labels: bug, easy, minor
