Repository lablup/backend.ai-webui, pull requests merged in 2020-11, with the labels that each got.

#768 fix: change password verify email page shows properly
  src/components/backend-ai-change-forgot-password-view.ts
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-email-verification-view.ts
  src/components/backend-ai-environment-list.ts
  src/components/lablup-terms-of-service.ts
Labels: UI / UX, bug, cloud, major

#770 feature: GPU/ASIC usage gauge per node
  index.html
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-error-log-list.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-page.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-signup.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-user-list.ts
  version.json
Labels: UI / UX, enhancement, enterprise, library / SDK, major

#775 fix: show vfolder invitation message
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-summary-view.ts
  src/components/lablup-activity-panel.ts
Labels: UI / UX, enhancement, minor

#779 Feature/retry manager connection while some requests are failed
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, bug, enhancement, library / SDK, major

#784 feat: add login block feature (#783)
  configs/debug.toml
  configs/default.toml
  configs/main.toml
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-login.ts
Labels: blocker, cloud, enhancement

#780 fix: restrict vfolder operation by permission
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, bug, urgency

#781 fix: vfolder name validation
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, bug, invalid

#782 fix: minor bugfixes with enhanced UI
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-help-button.ts
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-maintenance-view.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-signup.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-user-list.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/components/lablup-terms-of-service.ts
Labels: UI / UX, bug, urgency

#790 fix: disable changing resource policy name
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-resource-policy-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, bug, easy

#787 feat: max cores, max CUDA devices, and max shared mem can be configurable now
  config.toml.sample
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-launcher.ts
Labels: enhancement, minor

#805 fix: allow write permission for admin user in the group type of vfolder
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, blocker, bug, urgency

#801 fix: allow keypair creation for users only
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
Labels: blocker, bug, urgency

#800 fix: enable updating user detail
  src/components/backend-ai-user-list.ts
Labels: blocker, bug, urgency

#714 feat: add username updating feature ui
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-change-forgot-password-view.ts
  src/components/backend-ai-console.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, enhancement, major

#793 Feature/new dialog component
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-sidepanel-notification.ts
  src/components/backend-ai-sidepanel-task.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-summary-view.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
  src/plastics/mwc/mwc-dialog.ts
Labels: UI / UX, enhancement, minor

#802 fix: session launcher reflects the current resource policy just after policy modification
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-session-launcher.ts
Labels: blocker, bug, urgency

#796 feat: responsive page layout
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-agent-view.ts
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-environment-view.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-information-view.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-settings-view.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-usage-list.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/components/backend-ai-usersettings-view.ts
  src/components/lablup-activity-panel.ts
  src/components/lablup-terms-of-service.ts
  src/plastics/chart-js.ts
  src/plastics/mwc/mwc-top-app-bar-fixed.ts
Labels: UI / UX, blocker, enhancement
