Repository lablup/backend.ai-webui, pull requests merged in 2020-09, with the labels that each got.

#683 fix: Incorrect image downloaded after filtered by keywords
  src/components/backend-ai-environment-list.ts
Labels: UI / UX, bug, major

#620 feat: match SDK naming between nodejs and python SDK
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-settings-view.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: enhancement, library / SDK, major

#682 fix: layout overlap in Start new session dialog
  src/components/backend-ai-session-launcher.ts
Labels: UI / UX, bug, major

#692 fix: display error message when kernel creation failed
  src/components/backend-ai-error-log-list.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-tasker.ts
  src/components/lablup-notification.ts
Labels: UI / UX, bug, minor

#688 fix: replace session name with session id (uuid)
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
Labels: bug, major, working

#674 feat: options for launching app (open app to public / preferred port)
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-app-launcher.ts
Labels: enhancement, minor, web

#701 Change 'About' to 'About Backend.AI'
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-console.ts
Labels: UI / UX, enhancement, minor

#709 Feature/nni integration revised
  README.md
  package-lock.json
  package.json
  resources/app_template.json
  resources/i18n/en.json
  resources/i18n/ko.json
  resources/icons/mlflow.png
  resources/icons/nni.svg
  src/components/backend-ai-app-launcher.ts
Labels: UI / UX, app, enhancement, library / SDK

#705 Remove API condition of turn off button #686
  src/components/backend-ai-session-list.ts
Labels: UI / UX, bug, easy, good first issue

#718 fix: Multiple clicks cause duplicated directory path
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, bug, minor

#712 fix: use io calculator to io data, not time calculator (#685)
  src/components/backend-ai-session-list.ts
Labels: UI / UX, bug, major

#721 fix: refer 'open to public' while it is possible (#720)
  index.html
  main.js
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-console.ts
  version.json
Labels: UI / UX, blocker, bug

#723 fix: extend current request timeout in session creation
  src/components/backend-ai-session-launcher.ts
Labels: UI / UX, bug, minor

#724 fix: new image cannot be downloaded
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-import-view.ts
Labels: bug, enhancement, library / SDK

#711 refactor: update to use 20.09 storage proxy
  src/components/backend-ai-storage-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: library / SDK, major
