Repository lablup/backend.ai-webui, pull requests merged in 2020-10, with the labels that each got.

#730 Fix backend.ai LICENSE path
  src/components/backend-ai-splash.ts
Labels: good first issue

#732 Feature/ui update 20 10
  index.html
  manifest/backend.ai-brand-simple.svg
  package-lock.json
  package.json
  resources/fonts/font-awesome-all.min.css
  resources/fonts/font-awesome.css
  resources/fonts/fontawesome-webfont.woff
  resources/fonts/fontawesome-webfont.woff2
  resources/i18n/en.json
  resources/i18n/ko.json
  resources/images/launcher-background.png
  resources/images/loading-background-large.jpg
  resources/menu_icons/icon_create_a_key_pair.svg
  resources/menu_icons/icon_keypair_management.svg
  resources/menu_icons/icon_upload_files.svg
  rollup.config.ts
  src/components/backend-ai-agent-view.ts
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-change-forgot-password-view.ts
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-email-verification-view.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-environment-view.ts
  src/components/backend-ai-error-log-list.ts
  src/components/backend-ai-experiment-view.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-information-view.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-maintenance-view.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-settings-view.ts
  src/components/backend-ai-signup.ts
  src/components/backend-ai-statistics-view.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-usage-list.ts
  src/components/backend-ai-user-list.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/components/backend-ai-usersettings-view.ts
  src/components/lablup-activity-panel.ts
  src/components/lablup-terms-of-service.ts
  src/plastics/lablup-shields/lablup-shields.ts
  version.json
Labels: UI / UX

#735 fix: Image rescan/Recalculate usage button throws an error.
  src/components/backend-ai-maintenance-view.ts
Labels: UI / UX, blocker, bug

#744 fix: backend.AI logo routes to the summary page
  src/components/backend-ai-console.ts
Labels: UI / UX, minor

#749 fix: resource group deletion reflected to table
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-agent-view.ts
  src/components/backend-ai-scaling-group-list.ts
Labels: UI / UX, bug, library / SDK, major

#746 Fix/minor errors in data storage page
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, bug, major

#745 fix: enable export csv in session page.
  src/components/backend-ai-agent-view.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-environment-view.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-statistics-view.ts
  src/components/backend-ai-usersettings-view.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
  src/lib/json_to_csv.js
  src/lib/json_to_csv.ts
Labels: blocker, bug, library / SDK, minor

#751 feat: add option to enable/disable open port to public checkbox
  config.toml.sample
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-login.ts
Labels: enhancement, minor, web

#716 feat: add service ports validation for environment list
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-environment-list.ts
Labels: UI / UX, enhancement, minor

#747 fix: enable create user operation
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-credential-view.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, enhancement, library / SDK, major

#748 fix: minor errors in environments page
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-resource-preset-list.ts
Labels: UI / UX, bug, library / SDK, minor

#755 feat: polishing UI
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-information-view.ts
  src/components/backend-ai-maintenance-view.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-settings-view.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/components/lablup-progress-bar.ts
Labels: UI / UX, blocker, bug

#763 feat: add check routine for manager availablity (#762)
  src/components/backend-ai-console.ts
  src/components/backend-ai-login.ts
Labels: enhancement, library / SDK, minor
