Repository lablup/backend.ai-webui, pull requests merged in 2020-06, with the labels that each got.

#556 fix: explicitly set cpu/mem values for corresponding components
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-preset-list.ts
Labels: bug, minor

#561 feat: unified dialog element (#539)
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-user-list.ts
Labels: UI / UX, enhancement, major

#565 feat: add features to support password change by email
  README.md
  config.toml.sample
  configs/debug.toml
  configs/master.toml
  resources/i18n/en.json
  resources/i18n/ko.json
  src/backend-ai-app.ts
  src/components/backend-ai-change-forgot-password-view.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-login.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: cloud, enhancement, library / SDK

#558 feat: add service worker creation routine on compile time (#554)
  index.html
  package-lock.json
  package.json
  rollup.config.ts
  src/components/backend-ai-console.ts
  version.json
Labels: cloud, enhancement, major, web

#563 feat: add kick out option for shared virtual folder
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-storage-list.ts
Labels: easy, minor

#568 feat: change session store method (#567)
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-login.ts
Labels: enhancement, library / SDK, minor

#574 feat: add blocklist feature for sidebar menus (#562)
  config.toml.sample
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-console.ts
Labels: UI / UX, cloud, enhancement, enterprise

#573 feat: announcement panel (#252)
  package-lock.json
  package.json
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-summary-view.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
  src/lib/compile_node_to_es6.sh
Labels: UI / UX, enhancement, library / SDK, major

#578 feat: show app launcher after launch a session on summary page (#575)
  package.json
  resources/icons/LICENSE.md
  resources/icons/terminal.svg
  resources/image_metadata.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-tasker.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, enhancement, hard, library / SDK, major

#582 fix: fallback to current gpu mode if there is a gpu request but without gpu type.
  src/components/backend-ai-resource-monitor.ts
Labels: bug

#579 feat: let vfolder directory downloadable
  src/components/backend-ai-storage-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: enhancement, library / SDK

#585 feat: Open notification when no virtual folder is attached on console (#583)
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-resource-monitor.ts
Labels: UI / UX, enhancement, major

#586 feat: migrate legacy dialogs to backend.ai dialog for unified look and feel (#584)
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-change-forgot-password-view.ts
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-email-verification-view.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-environment-view.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-signup.ts
  src/components/backend-ai-splash.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-user-list.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/components/backend-ai-usersettings-view.ts
  src/components/lablup-terms-of-service.ts
Labels: UI / UX, enhancement, library / SDK, major
