Repository lablup/backend.ai-webui, pull requests merged in 2020-12, with the labels that each got.

#816 fix: enable gpu resource value changing
  src/components/backend-ai-session-launcher.ts
  src/components/lablup-slider.ts
Labels: UI / UX, blocker, bug, easy, urgency

#817 fix: disable file uploading by drag and drop operation with notification
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, blocker, bug, urgency

#818 feat: hide per week option when user account created less than a week.
  src/components/backend-ai-usage-list.ts
Labels: UI / UX, blocker, easy, enhancement, urgency

#819 fix: auto-wrap for control panel in data & storage vfolder list and in the vfolder explorer dialog
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, blocker, bug, easy, urgency

#820 fix: remove warning message in session list export csv
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-session-list.ts
Labels: UI / UX, blocker, easy, urgency

#823 fix: hide rename operation if the user is not the owner of Vfolder
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, blocker, bug, easy, urgency

#829 Feature/wait wsproxy status
  src/components/backend-ai-app-launcher.ts
Labels: enhancement, hard, library / SDK, major

#791 feat: support multi-node multi-gpu on gui
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/lablup-activity-panel.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
  src/wsproxy/lib/backend.ai-ws-appproxy.js
Labels: UI / UX, enterprise, hard, library / SDK, major

#827 feat: re-implement inactive user list (#826)
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-user-list.ts
Labels: UI / UX, enhancement, minor

#824 fix: resource group to match with resource statistics gauge
  src/components/backend-ai-resource-monitor.ts
Labels: UI / UX, blocker, bug, urgency

#831 feat: add option to change upload file size. (#830)
  README.md
  configs/debug.toml
  configs/default.toml
  configs/main.toml
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-login.ts
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, enhancement, enterprise, library / SDK

#837 fix: show inner tab of users page properly
  src/components/backend-ai-credential-view.ts
Labels: UI / UX, blocker, bug, urgency

#821 fix: enable mouse event after closing export csv dialog
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
Labels: UI / UX, blocker, bug, urgency

#838 fix: remain SSH keypair after generation
  src/components/backend-ai-usersettings-general-list.ts
Labels: UI / UX, blocker, bug, easy, urgency

#808 fix: vfolder selection initialize after session creation
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-session-launcher.ts
Labels: UI / UX, blocker, bug, urgency

#841 fix: incorrect i18n resource for the default language
  src/components/backend-ai-console.ts
  src/components/backend-ai-usersettings-general-list.ts
Labels: UI / UX, bug, urgency

#843 refactor: do not close session launch dialog by clicking outside
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-session-launcher.ts
Labels: UI / UX, minor

#846 fix: show description of each user
  src/components/backend-ai-user-list.ts
Labels: UI / UX, blocker, bug, easy, urgency

#848 feat: initialize vfolder invitation dialog to original layout
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, easy, enhancement

#852 fix: remove logic where is_amdin is not defined
  src/backend-ai-app.ts
  src/components/backend-ai-console.ts
Labels: UI / UX, bug

#845 feat: limit max characters of input field
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-change-forgot-password-view.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-email-verification-view.ts
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-signup.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-user-list.ts
  src/components/backend-ai-usersettings-general-list.ts
Labels: UI / UX, blocker, easy, enhancement, urgency

#853 feat: apply update immediately in header text when current user information has been changed
  src/components/backend-ai-console.ts
  src/components/backend-ai-user-list.ts
Labels: UI / UX, blocker, easy, enhancement, urgency

#850 fix: responsive layout for each chart in statistics page
  src/plastics/chart-js.ts
Labels: UI / UX, blocker, easy, urgency

#851 feat: logout by closing page
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/lib/TabCounter.js
Labels: UI / UX, blocker, enhancement, urgency

#854 fix: update inputfield pattern and support translation in every notification
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-change-forgot-password-view.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-email-verification-view.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-indicator-pool.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-maintenance-view.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-signup.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-user-list.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/components/backend-ai-usersettings-view.ts
Labels: UI / UX, blocker, bug, enhancement, urgency

#855 fix: put auto-logout panel into the group
  src/components/backend-ai-usersettings-general-list.ts
Labels: UI / UX, blocker, easy, good first issue, urgency

#857 feat: support harbor v2 (#856)
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-page.ts
  src/components/backend-ai-registry-list.ts
Labels: UI / UX, enhancement, enterprise, major

#844 feat: show warning when reupload same file in vfolder
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, enhancement

#863 fix: adjust slider min max and support KO/EN translation in session launcher button
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-console.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-session-launcher.ts
Labels: UI / UX, blocker, bug, easy, urgency

#859 fix: automatic logout when API keypair is not accessible
  src/components/backend-ai-login.ts
  src/components/backend-ai-painkiller.ts
Labels: UI / UX, minor

#864 fix: notification error in safari and limit max-width of sidebar
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-session-view.ts
  src/components/lablup-notification.ts
Labels: UI / UX, blocker, bug, minor, urgency

#867 fix: monkeypatch for min, max value force adjustment in lablup-slider
  src/components/lablup-slider.ts
Labels: blocker, bug, easy, urgency

#866 feat: general option for auto logout (#865)
  README.md
  src/components/backend-ai-console.ts
Labels: UI / UX, enhancement, enterprise

#870 Feature/hardware metadata
  resources/i18n/en.json
  resources/i18n/ko.json
  resources/icons/LICENSE.md
  resources/icons/ceph.png
  resources/icons/purestorage.png
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-view.ts
  src/components/backend-ai-storage-proxy-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
  src/lib/json_to_csv.js
Labels: UI / UX, enterprise, hard, library / SDK, major

#873 feat: add app category feature (#872)
  resources/app_template.json
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-session-list.ts
Labels: UI / UX, app, cloud, enhancement, enterprise, major

#877 Feature/option to change import kernel
  README.md
  index.html
  src/components/backend-ai-console.ts
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-login.ts
  version.json
Labels: UI / UX, blocker, cloud, easy, enhancement, enterprise, library / SDK, minor

#879 fix: missing help / user setting button on mini sidebar mode (#878)
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-console.ts
Labels: UI / UX, bug, easy, minor

#881 fix: max value of shared memory changes depending on current value of memory.
  src/components/backend-ai-session-launcher.ts
  src/components/lablup-slider.ts
Labels: UI / UX, blocker, bug, urgency
