Repository lablup/backend.ai-webui, pull requests merged in 2020-05, with the labels that each got.

#512 feat: common storage type description support when choosing storage (#509)
  resources/i18n/en.json
  resources/i18n/ko.json
  resources/icons/LICENSE.md
  resources/storage_metadata.json
  src/components/backend-ai-data-view.ts
Labels: UI / UX, cloud, enhancement

#514 fix: reset query interval on resource group changes (#513)
  src/components/backend-ai-resource-monitor.ts
Labels: bug, library / SDK, minor

#517 bugfix: set resource policy unlimited (#516)
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-policy-list.ts
Labels: UI / UX, bug, easy

#521 fix: KO translation on vfolder CRUD
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-storage-list.ts
Labels: easy, minor

#526 fix: GPU resource preset properly updated when environment changes
  src/components/backend-ai-resource-monitor.ts
Labels: UI / UX, bug

#527 feat: online help button on site (#524)
  src/components/backend-ai-console.ts
  src/components/backend-ai-help-button.ts
Labels: UI / UX, enhancement

#529 feat: show hover menu description on mini sidebar UI (#528)
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-console.ts
Labels: UI / UX, cloud, enhancement, major

#533 fix: display admin pop-overs only if user is admin
  src/components/backend-ai-console.ts
Labels: bug, easy

#531 feat: upgrade tus client to v2
  src/lib/tus.js
Labels: enhancement, library / SDK, maintenance

#534 fix: remove already defined resp variable
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: bug

#538 feat: New UI for 20.03 (with summary / sidebar) (#518)
  index.html
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-help-button.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-user-list.ts
  src/components/lablup-activity-panel.ts
Labels: UI / UX, cloud, enhancement, enterprise, library / SDK

#540 fix: fetch vfolder list before metric update
  src/components/backend-ai-resource-monitor.ts
Labels: bug

#535 feat: add support for signup user email verification
  resources/i18n/en.json
  resources/i18n/ko.json
  src/backend-ai-app.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-email-verification-view.ts
  src/components/backend-ai-signup.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, cloud, enhancement, library / SDK, major

#546 feat: UI for Background task UI (#542)
  package-lock.json
  package.json
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-email-verification-view.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-indicator-pool.ts
  src/components/backend-ai-maintenance-view.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-signup.ts
  src/components/backend-ai-task-view.ts
  src/components/backend-ai-tasker.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, enhancement, library / SDK

#548 fest: notification stack ui on sidepanel
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-information-view.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-sidepanel-notification.ts
  src/components/backend-ai-sidepanel-task.ts
  src/components/lablup-notification.ts
Labels: UI / UX, enhancement, major
