Repository lablup/backend.ai-webui, pull requests merged in 2020-08, with the labels that each got.

#644 Feature/show mounted folder information on session list #628
  src/components/backend-ai-session-list.ts
Labels: UI / UX, enhancement, maintenance, minor

#646 fix: change scaling group lookup routine to be robust (Alternative) (#640)
  src/components/backend-ai-resource-broker.ts
Labels: UI / UX, blocker, bug, enhancement, library / SDK, major

#642 fix: add sessionUuid to work dialog when fetching first logs
  src/components/backend-ai-session-list.ts
Labels: bug

#656 fix: Hide registry password
  src/components/backend-ai-registry-list.ts
Labels: UI / UX, easy

#655 fix: more detailed message when vfolder invitation duplicated
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, minor

#643 show a snackbar message when user starts session with invalid session name (#638)
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-session-launcher.ts
Labels: UI / UX, enhancement, minor

#664 Fix/signup field validation #663
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-signup.ts
Labels: UI / UX, bug, cloud, major

#667 feat: Migrate compute session from v4 to v5 (#651)
  src/components/backend-ai-session-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, enhancement, library / SDK

#671 fix: undefined reference to a property in checking if mounted vfolders
  src/components/backend-ai-session-launcher.ts
Labels: bug, easy, urgency
