Repository lablup/backend.ai-webui, pull requests merged in 2020-02, with the labels that each got.

#343 Feature/#305 upload component
  package-lock.json
  package.json
  src/components/backend-ai-data-view.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
  src/lib/tus.js
  tsconfig.json
Labels: UI / UX, enhancement, library / SDK, major

#346 Feature/#342 new download api
  src/components/backend-ai-data-view.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, enhancement, library / SDK

#355 Feature/#328 paginated session list
  src/components/backend-ai-session-list.ts
Labels: UI / UX, enhancement, library / SDK

#353 Feature/#320 log page
  src/backend-ai-app.ts
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-error-log-list.ts
  src/components/backend-ai-error-log-view.ts
  src/components/backend-ai-general.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-maintenance-view.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-settings-view.ts
  src/components/backend-ai-signup.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-user-list.ts
  src/components/backend-ai-usersettings-view.ts
  src/components/lablup-notification.ts
  src/components/lablup-terms-of-service.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
  src/reducers/app.ts
Labels: UI / UX, enhancement, library / SDK

#363 Update main.electron-packager.js for Mac menu items
  main.electron-packager.js
Labels: UI / UX, bug

#366 Feature/#365 desktop notification option
  src/components/backend-ai-settings-view.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/components/lablup-notification.ts
Labels: UI / UX, enhancement, major

#368 Feature/#367 minified ui
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-usersettings-general-list.ts
Labels: UI / UX, enhancement, major

#375 Use baseversion for version tag, only when category exists
  src/components/backend-ai-session-list.ts
Labels: UI / UX, bug

#370 Feature/#354 resource policy setting validation check
  package-lock.json
  package.json
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-resource-policy-list.ts
Labels: UI / UX, enhancement

#371 Hotfix/#362 session dialog slider fix
  src/components/backend-ai-resource-monitor.ts
Labels: UI / UX, bug

#372 Feature/#345 paginated user list
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-user-list.ts
Labels: UI / UX, library / SDK, major

#377 Feature/#364 add registry dialog field
  src/components/backend-ai-registry-list.ts
Labels: UI / UX, enhancement, hard, library / SDK, major

#384 Hotfix/#383 uncheck downloading image fails
  src/components/backend-ai-environment-list.ts
Labels: UI / UX, bug, minor

#385 Feature/#325 new login mode change button
  package-lock.json
  package.json
  src/components/backend-ai-login.ts
Labels: UI / UX, minor

#387 Feature/#386 replace dropdown menu
  src/components/backend-ai-console.ts
  src/components/backend-ai-usersettings-view.ts
Labels: UI / UX, enhancement

#389 Feature/388 option to keep current login session
  index.html
  preload.js
  src/components/backend-ai-console.ts
  src/components/backend-ai-usersettings-general-list.ts
  version.json
Labels: UI / UX, app, enhancement

#390 refs #382 : bugfix - rearrange images list after sorting
  src/components/backend-ai-environment-list.ts
Labels: UI / UX, blocker, bug
