Repository lablup/backend.ai-webui, pull requests merged in 2020-03, with the labels that each got.

#379 Feature/#374 pulldown on session version
  config.toml.sample
  resources/icons/LICENSE.md
  resources/icons/c.svg
  resources/icons/caffe.png
  resources/icons/caffe2.svg
  resources/icons/cpp.svg
  resources/icons/default.png
  resources/icons/haskell.png
  resources/icons/javascript.png
  resources/icons/julia.png
  resources/icons/lablup.png
  resources/icons/lua.png
  resources/icons/mxnet.svg
  resources/icons/nodejs.png
  resources/icons/php.png
  resources/icons/python.png
  resources/icons/pytorch.svg
  resources/icons/r-lang.svg
  resources/icons/rust.svg
  resources/icons/swift.svg
  resources/image_metadata.json
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-experiment-view.ts
  src/components/backend-ai-painkiller.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/plastics/mwc/mwc-multi-select-base.ts
  src/plastics/mwc/mwc-multi-select.ts
Labels: UI / UX, blocker, bug, hard

#394 Feature/393 beta option switch
  src/components/backend-ai-console.ts
  src/components/backend-ai-usersettings-general-list.ts
Labels: UI / UX, app, enhancement, web

#400 Feature/397 refactor input items
  package-lock.json
  package.json
  src/components/backend-ai-console.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-dropdown-menu.ts
  src/components/backend-ai-error-log-list.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-page.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-signup.ts
Labels: UI / UX, enhancement, major

#403 Feature/395 revised storage menu
  src/components/backend-ai-console.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-page.ts
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, enhancement, hard, major

#410 Feature/408 cannot assign gpu without virtualization
  index.html
  src/components/backend-ai-console.ts
  src/components/backend-ai-resource-monitor.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
  version.json
Labels: blocker, bug, library / SDK

#409 Bugfix/404 Folders to mount label overlaps selected folders text
  src/components/backend-ai-resource-monitor.ts
  src/plastics/mwc/mwc-multi-select-base.ts
Labels: UI / UX

#412 refs #411 : add - text indicator for gauges
  src/components/backend-ai-resource-monitor.ts
Labels: UI / UX, enhancement

#414 refs #413 : bugfix - change regexp to allow dot on folder
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, blocker, bug

#416 Feature/415 console version shield
  src/components/backend-ai-console.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-summary-view.ts
  src/plastics/lablup-shields/lablup-shields.ts
Labels: UI / UX, bug, enhancement, minor

#418 Add domain and group information for image downloading
  src/components/backend-ai-environment-list.ts
  src/lib/backend.ai-client-node.ts
Labels: bug, urgency

#423 Add proper tag object to environment language tag information (#420)
  src/components/backend-ai-resource-monitor.ts
  src/plastics/lablup-shields/lablup-shields.ts
Labels: UI / UX, bug, enhancement

#424 Feature/417 license parser
  index.html
  src/backend-ai-app.ts
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-information-view.ts
  src/components/backend-ai-splash.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, enhancement, library / SDK, major

#429 Fix GPU/fGPU heterogeneous environment installation on both 19.09 /20.03 (#428)
  src/components/backend-ai-environment-list.ts
Labels: bug

#430 Feature/425 release note link on splash and summary
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-splash.ts
  src/plastics/mwc/mwc-drawer.ts
Labels: UI / UX, enhancement

#432 Feature/431 automount folder ui
  src/components/backend-ai-resource-monitor.ts
Labels: UI / UX, enhancement

#433 feat: enable log button for terminated sessions
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-usersettings-view.ts
Labels: easy, enhancement, minor

#439 feat: add license mark support for perpetual / subscription (#438)
  src/components/backend-ai-splash.ts
Labels: UI / UX, cloud, enterprise

#441 fix: variable v should be a string to call includes method
  src/components/backend-ai-resource-preset-list.ts
Labels: bug, minor, web

#442 feat: add description hover on environment selection
  src/components/backend-ai-console.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-summary-view.ts
  src/plastics/lablup-shields/lablup-shields.ts
Labels: UI / UX, enhancement, major

#444 feat: multiple eula support
  resources/documents/privacy-policy.en.html
  resources/documents/privacy-policy.ko.html
  resources/documents/terms-of-service.en.html
  resources/documents/terms-of-service.ko.html
  src/components/backend-ai-console.ts
  src/components/backend-ai-signup.ts
  src/components/lablup-terms-of-service.ts
Labels: UI / UX, cloud, enhancement

#446 fix : asynchronous resource template refresh (#445)
  src/components/backend-ai-resource-monitor.ts
Labels: UI / UX, bug

#447 style: larger home folder icon in folder explorer path navigator
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, easy, minor

#448 feat: enable logging for local wsproxy
  package-lock.json
  package.json
  src/wsproxy/lib/backend.ai-ws-appproxy.js
  src/wsproxy/lib/bindStream.js
  src/wsproxy/lib/console-appproxy.js
  src/wsproxy/lib/logger.js
  src/wsproxy/local_proxy.js
  src/wsproxy/manager.js
Labels: maintenance

#452 feat: rename virtual folder
  src/components/backend-ai-storage-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: enhancement, library / SDK, minor

#454 feat: delete directory button in vfolder file explorer
  src/components/backend-ai-storage-list.ts
Labels: easy, minor

#450 Bugfix/web proxy 500 error
  src/components/backend-ai-session-list.ts
  src/wsproxy/lib/backend.ai-ws-appproxy.js
  src/wsproxy/lib/console-appproxy.js
  src/wsproxy/lib/htmldeco.js
  src/wsproxy/manager.js
Labels: bug, enhancement, library / SDK

#455 feat: i18n support
  .gitignore
  Makefile
  README.md
  i18n.config.js
  index.html
  package-lock.json
  package.json
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-view.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-environment-view.ts
  src/components/backend-ai-error-log-list.ts
  src/components/backend-ai-error-log-view.ts
  src/components/backend-ai-experiment-view.ts
  src/components/backend-ai-information-view.ts
  src/components/backend-ai-maintenance-view.ts
  src/components/backend-ai-message.ts
  src/components/backend-ai-page.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-settings-view.ts
  src/components/backend-ai-statistics-view.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-usage-list.ts
  src/components/backend-ai-user-list.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/components/backend-ai-usersettings-view.ts
  src/lib/backend.ai-client-es6.js
  src/lib/json_to_csv.js
  src/plastics/mwc/mwc-multi-select-base.ts
Labels: UI / UX, enhancement, hard, library / SDK, major

#457 feat: httpproxy support for local wsproxy websocket connection
  README.md
  package-lock.json
  package.json
  src/wsproxy/lib/backend.ai-ws-appproxy.js
  src/wsproxy/lib/console-appproxy.js
  src/wsproxy/manager.js
Labels: app, enhancement, minor
