Repository lablup/backend.ai-webui, pull requests merged in 2020-04, with the labels that each got.

#458 Feature/#308 rocm support
  resources/icons/LICENSE.md
  resources/icons/ROCm.png
  resources/icons/ROCm_black.png
  resources/icons/file_type_cuda.svg
  resources/icons/file_type_python.svg
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-session-list.ts
Labels: UI / UX, enhancement, library / SDK, major

#464 feat: Queue support to upload files
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, enhancement, major

#461 feat: GUI option to change image pull behavior
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-settings-view.ts
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, enhancement, enterprise, library / SDK

#463 feat: Change invitation panel after decision is made
  src/components/backend-ai-summary-view.ts
  src/components/lablup-activity-panel.ts
Labels: UI / UX, minor

#466 feat: GUI option to allow/disallow images from specific repository
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-registry-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, enhancement, library / SDK, major

#470 feat: Background on loading screen
  index.html
  resources/images/loading-background.jpg
Labels: UI / UX, enhancement, minor

#474 feat: spring clean - remove 19.03 support
  src/components/backend-ai-console.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-resource-monitor.ts
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, enhancement, library / SDK, maintenance

#476 feat: Adopt finer group select element on UI (#475)
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-console.ts
Labels: UI / UX, enhancement, minor

#478 feat: vFolder file download not working on iOS Safari
  index.html
  manifest/app.js
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, enhancement, major

#481 feat: support major password managers
  resources/images/loading-background-large.jpg
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-login.ts
Labels: UI / UX, easy, enhancement, major

#483 feat: extended vfolder permission
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-summary-view.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: enhancement, library / SDK, major, working

#485 feat: save previous endpoints for app
  resources/i18n/en.json
  resources/i18n/ko.json
  src/backend-ai-app.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-settings-store.ts
  src/components/backend-ai-signup.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/components/lablup-terms-of-service.ts
Labels: UI / UX, enhancement, library / SDK, major

#486 feat: automatic release check
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-console.ts
  src/components/backend-ai-release-check.ts
  src/components/lablup-notification.ts
Labels: UI / UX, app, enhancement, library / SDK, major

#487 feat: Keep last used group on console
  src/components/backend-ai-console.ts
  src/components/backend-ai-settings-store.ts
Labels: UI / UX, enhancement, library / SDK, minor

#488 feat: automatic release check
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-console.ts
  src/components/backend-ai-release-check.ts
  src/components/backend-ai-settings-store.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-usersettings-general-list.ts
Labels: UI / UX, app, enhancement, library / SDK, major, web

#493 feat: rename files in a virtual folder
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-storage-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: enhancement, library / SDK

#495 Feature/heterogeneous resource slot
  README.md
  resources/icons/LICENSE.md
  resources/icons/tpu.svg
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-summary-view.ts
  src/plastics/lablup-piechart/lablup-piechart.ts
Labels: UI / UX, enhancement, hard, library / SDK, major

#497 Shared memory can be set in resource preset
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-preset-list.ts
Labels: UI / UX, enhancement, minor

#500 fix: blank Data & Storage page
  src/components/backend-ai-data-view.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: bug

#501 fix: prevent PREPARING/PULLING deletion
  src/components/backend-ai-session-list.ts
Labels: UI / UX, minor

#503 feat: add refresh button for session logs
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-session-list.ts
Labels: UI / UX, easy, minor

#504 feat: unified event tasker
  README.md
  src/components/backend-ai-console.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-environment-view.ts
  src/components/backend-ai-error-log-list.ts
  src/components/backend-ai-indicator-pool.ts
  src/components/backend-ai-indicator.ts
  src/components/backend-ai-information-view.ts
  src/components/backend-ai-maintenance-view.ts
  src/components/backend-ai-page.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-tasker.ts
  src/components/backend-ai-user-list.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/components/backend-ai-usersettings-view.ts
  src/components/lablup-loading-spinner.ts
  src/lib/backend.ai-client-node.ts
Labels: enhancement, hard, library / SDK, major

#506 feat: Add option for users to specify ssh/sftp app port number
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-settings-store.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/wsproxy/manager.js
Labels: UI / UX, app, enhancement, library / SDK, major
