Repository lablup/backend.ai-webui, pull requests merged in 2021-07, with the labels that each got.

#1048 fix: hide waiting animation in initialized login panel
  src/components/backend-ai-login.ts
Labels: bug, easy, good first issue

#1057 bugfix: duplicate declaration error
  src/components/backend-ai-session-launcher-legacy.ts
  src/components/backend-ai-session-launcher.ts
Labels: bug

#1054 feat: show name of resource policies
  src/components/backend-ai-credential-list.ts
Labels: UI / UX, easy, good first issue, localization

#1051 feat: Update vfolder create and clone dialog layout
  src/components/backend-ai-data-view.ts
Labels: UI / UX, easy, enhancement, minor

#1060 feat: change timeout error msg
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, easy, good first issue

#1053 Feature/manual image name support without debug flag
  README.md
  configs/debug.toml
  configs/default.toml
  configs/main.toml
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-launcher.ts
Labels: UI / UX, enhancement, enterprise

#1064 fix: Clamp resource value in session launcher
  README.md
  config.toml.sample
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-launcher-legacy.ts
  src/components/backend-ai-session-launcher.ts
Labels: UI / UX, bug, easy, good first issue

#1071 fix: apply manual image name in session creating
  src/components/backend-ai-session-launcher-legacy.ts
  src/components/backend-ai-session-launcher.ts
  src/components/lablup-progress-bar.ts
  src/components/lablup-slider.ts
Labels: UI / UX, blocker, bug, enhancement, minor, urgency

#1072 feat: hide images which have "private" item in feature label
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-session-launcher.ts
Labels: enhancement, urgency

#1075 feature: Add Progress bar transition speed css variable
  src/components/backend-ai-session-launcher.ts
  src/components/lablup-progress-bar.ts
Labels: UI / UX, blocker, easy, enhancement, good first issue, urgency

#1076 fix: add resource gauge bugs (#1066, #1067)
  src/components/backend-ai-session-launcher-legacy.ts
  src/components/backend-ai-session-launcher.ts
Labels: UI / UX, bug, minor

#1082 Attach virtual folder with alias name (#1081)
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-session-launcher.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, cloud, library / SDK, localization, major

#1079 fix: decimal point fixing in resource slots
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-session-launcher-legacy.ts
Labels: UI / UX, blocker, bug, minor, urgency

#1078 fix: apply conditions about max memory per container in defining max value of memory resource slider
  src/components/backend-ai-session-launcher.ts
Labels: blocker, bug, minor, urgency

#1080 feat: rename property and method
  src/components/backend-ai-storage-proxy-list.ts
Labels: enhancement

#1085 update: remove 'password' field from getting user list request
  src/components/backend-ai-user-list.ts
Labels: blocker, bug, easy, minor

#1062 feature: show access and secret keys
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt.json
  resources/i18n/pt_BR.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh_CN.json
  resources/i18n/zh_TW.json
  src/components/backend-ai-webui-styles.ts
  src/components/backend-ai-webui.ts
Labels: UI / UX, enhancement, good first issue, localization, minor

#1061 feat: disable description icon in control panel of Storages
  src/components/backend-ai-storage-proxy-list.ts
Labels: UI / UX, enhancement, good first issue, minor
