Repository lablup/backend.ai-webui, pull requests merged in 2021-12, with the labels that each got.

#1165 fix: refactor vaadin-grid template elements to renderer function
  src/components/backend-ai-storage-list.ts
Labels: bug, good first issue, UI / UX

#1160 fix: ToS(Terms of Service) / Privacy Policy dialog disappears after closing one of them
  resources/i18n/ko.json
  src/components/backend-ai-dialog.ts
  src/components/lablup-terms-of-service.ts
Labels: bug, good first issue, easy

#1171 update: node.js packages
  package.json
Labels: bug, minor, library / SDK, blocker

#1172 fix: mwc-switch not working
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-settings-view.ts
  src/components/backend-ai-user-list.ts
Labels: bug, UI / UX, urgency

#1174 feat: provide a dialog used for detailed status data
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-session-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: enhancement, UI / UX, urgency, localization

#1167 add: column for schedulable in agent table and provide updateable UI for its value
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-agent-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: good first issue, easy, UI / UX, urgency, localization

#1177 fix: can't run app by clicking the app icon.
  src/components/backend-ai-app-launcher.ts
Labels: bug, good first issue, UI / UX, urgency

#1170 fix: resource description in configuration column overlaps
  src/components/backend-ai-session-list.ts
Labels: enhancement, minor, UI / UX
