Repository lablup/backend.ai-webui, pull requests merged in 2021-04, with the labels that each got.

#545 feat: pipeline feature (beta)
  package-lock.json
  package.json
  resources/i18n/en.json
  resources/i18n/ko.json
  src/backend-ai-app.ts
  src/components/backend-ai-pipeline-common.ts
  src/components/backend-ai-pipeline-component-create.ts
  src/components/backend-ai-pipeline-component-view.ts
  src/components/backend-ai-pipeline-create.ts
  src/components/backend-ai-pipeline-list.ts
  src/components/backend-ai-pipeline-runner.ts
  src/components/backend-ai-pipeline-view.ts
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: enhancement, major, working

#754 Feature/enable tensorboard path #680
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-session-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
  src/wsproxy/gateway/consoleproxy.js
  src/wsproxy/lib/backend.ai-ws-appproxy.js
  src/wsproxy/lib/console-appproxy.js
  src/wsproxy/manager.js
Labels: UI / UX, enhancement, library / SDK, major

#901 feat: cloning vfolder
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-storage-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, enhancement

#892 feat: show resource allocation explicitly
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-session-launcher.ts
Labels: UI / UX, enhancement, urgency

#952 fix: better port garbage collection for websocket proxy
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-list.ts
  src/lib/backend.ai-client-node.ts
  src/wsproxy/lib/bindStream.js
  src/wsproxy/manager.js
Labels: UI / UX, bug, library / SDK, major

#955 feat: share a group folder directly with overriding permission
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-storage-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: enhancement, library / SDK, minor

#964 feat: add edu-applauncher page and component
  src/backend-ai-app.ts
  src/components/backend-ai-edu-applauncher.ts
  src/components/backend-ai-webui.ts
  src/components/lablup-activity-panel.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: blocker, cloud, enhancement, enterprise, library / SDK, major, urgency

#965 feat: add update_full_name so that every user can change thier name
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, bug, good first issue

#970 fix: rollback createIfNotExists function to have resources param on request
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: blocker, bug, urgency

#973 feat: implement edu applauncher client API with token-based authorization
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-edu-applauncher.ts
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: enhancement, enterprise, library / SDK, major, urgency

#974 fix: temporary disable clone feature
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-edu-applauncher.ts
  src/components/backend-ai-storage-list.ts
Labels: blocker, urgency

#967 fix: update scheduler changing
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-settings-view.ts
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: blocker, bug, minor

#954 fix: inhibit vfolder deletion when mounted
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, blocker, urgency

#972 fix: replace wl-textfield to mwc-textfield and update validation logics on input field
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-resource-policy-list.ts
Labels: UI / UX, blocker, bug, easy
