Repository lablup/backend.ai-webui, pull requests merged in 2021-03, with the labels that each got.

#922 fix: disable filebrowser button only when it is visible
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, blocker, bug, easy, urgency

#926 feat: drag feature to loading screen (#925)
  src/components/backend-ai-webui-styles.ts
Labels: UI / UX, app, easy, enhancement

#927 fix: invalid calculation logic for GPU utilization
  src/components/backend-ai-session-list.ts
Labels: bug

#924 fix: allow preload script to share window object (#923)
  main.js
  preload.js
  version.json
Labels: app, minor

#929 fix: unable to login when localStorage is full
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: bug, major

#936 fix: prevent "Infinity" max value to be converted as NaN in discrete GPU mode
  src/components/backend-ai-session-launcher.ts
Labels: bug

#933 feat: add apache-spark image metadata (#932)
  resources/app_template.json
  resources/icons/apache-spark.svg
  resources/image_metadata.json
  src/components/backend-ai-session-list.ts
Labels: UI / UX, app, cloud, enhancement, minor

#939 fix: support legacy R images / add pre-test routines for list casting
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-session-launcher.ts
Labels: UI / UX, bug, minor

#934 feat: add .tmux.conf and .vimrc to editable dotfiles
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/components/backend-ai-webui-styles.ts
  src/components/lablup-codemirror.ts
Labels: easy, enhancement

#943 fix: update previously selected rcfile to currently selected rcfile
  src/components/backend-ai-usersettings-general-list.ts
Labels: UI / UX, blocker, bug, easy, urgency
