Repository lablup/backend.ai-webui, pull requests merged in 2021-01, with the labels that each got.

#883 fix: rearrange layout
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-console-styles.ts
  src/components/backend-ai-console.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-permission-denied-view.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-signup.ts
Labels: UI / UX, easy, minor

#887 fix: inspect file's mode in legacy API to distinguish file and directory
  src/components/backend-ai-storage-list.ts
Labels: bug, urgency

#894 fix: update documentation link
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-help-button.ts
Labels: bug, easy, minor
