Repository lablup/backend.ai-webui, pull requests merged in 2021-06, with the labels that each got.

#1010 feat: rename from group to project
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-data-view.ts
Labels: UI / UX, easy, good first issue

#1012 fix: login icon style
  src/components/backend-ai-login.ts
Labels: UI / UX, bug, good first issue, minor

#1014 refs #1013 : Add support for SCHEDULED session with conditional manager version
  index.html
  manifest.json
  package-lock.json
  src/components/backend-ai-edu-applauncher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
  version.json
Labels: UI / UX, enhancement, enterprise, library / SDK

#1036 fix: fix Russian translation
  resources/i18n/ru.json
Labels: UI / UX, enhancement, localization

#1042 feature: prevent the monitor user from logging in.
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, enhancement, enterprise, major
