Repository lablup/backend.ai-webui, pull requests merged in 2021-05, with the labels that each got.

#986 feat: add default icon for non-recognized service apps
  src/components/backend-ai-app-launcher.ts
Labels: UI / UX, easy, good first issue

#991 fix: rewrite base class' attributeChangedCallback monitoring (#990)
  package-lock.json
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-page.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-summary-view.ts
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, blocker, bug, enhancement, enterprise, library / SDK, major

#992 bugfix: resize the web terminal guide according to window size
  src/components/backend-ai-app-launcher.ts
Labels: UI / UX, easy, good first issue

#987 fix: Replace the link detail view in the Web Terminal Guide with the correct url
  src/components/backend-ai-app-launcher.ts
Labels: bug, easy, good first issue

#959 fix: dropdown UI permission dialog
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, bug, good first issue

#981 fix: create new resource group
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-scaling-group-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: bug, urgency

#1000 fix: overlapping environment section in session launcher dialog
  src/components/backend-ai-session-launcher.ts
Labels: UI / UX, blocker, bug, easy, good first issue, urgency

#996 fix: unify height of login panel
  src/components/backend-ai-login.ts
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, easy, good first issue, minor

#976 feat: display SCHEDULED session which is recently introduced
  src/components/backend-ai-edu-applauncher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: enhancement, minor

#1007 feat: change font family
  index.html
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-error-log-list.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/components/lablup-notification.ts
Labels: UI / UX, bug, minor

#1008 Feature/modify top bar style
  resources/i18n/ko.json
  src/components/backend-ai-webui-styles.ts
  src/components/backend-ai-webui.ts
Labels: UI / UX, good first issue
