Repository lablup/backend.ai-webui, pull requests merged in 2021-02, with the labels that each got.

#895 feat: support directory upload
  resources/app_template.json
  resources/i18n/en.json
  resources/i18n/ko.json
  resources/icons/filebrowser.svg
  resources/image_metadata.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, blocker, enhancement, hard, urgency

#900 feat: add progress bar support for image rescan (#898)
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-maintenance-view.ts
  src/components/backend-ai-registry-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, enhancement, library / SDK, major

#893 feat: add progress bar for flashblade volume
  src/components/backend-ai-storage-proxy-list.ts
Labels: UI / UX, enhancement, enterprise

#903 feat: custom environment variable popup (#902)
  resources/fonts/MaterialIcons-Regular.woff
  resources/fonts/MaterialIcons-Regular.woff2
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-session-launcher.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, enhancement, enterprise, library / SDK, major

#905 fix: exception handling in misreferencing live stat field
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-agent-list.ts
Labels: bug

#908 feat: provide leaving invited vfolder
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-storage-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, easy, enhancement

#906 fix: close SSE(server-side event) after task finished
  src/components/backend-ai-maintenance-view.ts
  src/components/backend-ai-registry-list.ts
Labels: blocker, bug, minor, urgency

#884 feat: alert file extension change
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-storage-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: UI / UX, easy, enhancement

#911 Feature/support runtime env casting
  package.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-storage-list.ts
  src/wsproxy/gateway/consoleproxy.js
  src/wsproxy/gateway/tcpwsproxy.js
  src/wsproxy/lib/backend.ai-ws-appproxy.js
  src/wsproxy/lib/console-appproxy.js
  src/wsproxy/manager.js
Labels: UI / UX, enhancement, enterprise, library / SDK, major, world console

#914 feat: Add filter and sorting by each name of Vfolder
  src/components/backend-ai-storage-list.ts
Labels: UI / UX, enhancement

#918 fix: Set floating-point of shared memory in resource preset into 2 digits.
  src/components/backend-ai-session-launcher.ts
Labels: UI / UX, bug, easy, good first issue, urgency
