Repository lablup/backend.ai-webui, pull requests merged in 2021-09, with the labels that each got.

#1120 feat: add overlay network settings dialog and increase code flexibility
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-settings-view.ts
Labels: enhancement, UI / UX, urgency, localization

#1127 hotfix: remove legacy code in user creation
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: bug, minor, UI / UX, blocker, urgency

#1106 feat: remove empty mounted-folder-dropdown
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-session-list.ts
Labels: enhancement, good first issue, minor, UI / UX, localization

#1129 add: manually turn on / off automatic OpenMP optimization (#1119)
  index.html
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-session-launcher.ts
  version.json
Labels: minor, UI / UX, localization
