Repository lablup/backend.ai-webui, pull requests merged in 2022-04, with the labels that each got.

#1266 Refactor: paramater `args` to `arguments` in app execution with session creation
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: bug, minor, blocker, urgency

#1269 Make the gpu slider active when there is a gpu available.
  src/components/backend-ai-session-launcher.ts
Labels: bug, UI / UX, blocker, urgency

#1237 fix: activate superadmin's all vfolder listing feature
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-session-launcher.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: bug, good first issue, UI / UX

#1262 refactor: show path dialog only when clicking the icon
  src/components/backend-ai-session-launcher.ts
Labels: enhancement, good first issue, UI / UX

#1264 Failing to update a compute session's name will set the value of edit element to `undefined`
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-session-list.ts
Labels: bug, UI / UX, localization

#1272 Support to import Gitlab repository
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt.json
  resources/i18n/pt_BR.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh_CN.json
  resources/i18n/zh_TW.json
  src/components/backend-ai-import-view.ts
Labels: enhancement, UI / UX, web, localization

#1275 fix: explicitly set maxMemoryPerContainer settings for desktop apps
  configs/default.toml
  configs/main.toml
Labels: UI / UX

#1276 fix: deliver group ID in getting WSProxy version
  src/components/backend-ai-app-launcher.ts
  src/lib/backend.ai-client-node.ts
Labels: bug, urgency

#1282 Add margins to policy dialog to distinguish fields
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-resource-policy-list.ts
Labels: good first issue, UI / UX

#1279 Support to select folder hosts for import Github/Gitlab repo
  src/components/backend-ai-import-view.ts
Labels: help wanted, minor

#1283 Enhance design of folder-explorer-dialog
  src/components/backend-ai-storage-list.ts
Labels: good first issue, minor, UI / UX

#1284 fix: replace consoleServerURL to webServerURL in sample configs
  configs/debug.toml
  configs/default.toml
  configs/main.toml
Labels: bug, minor

#1285 fix setting page's config button horizontally
  src/components/backend-ai-settings-view.ts
Labels: enhancement, good first issue, easy, UI / UX

#1281 add: import weightless textfield to summary view
  src/components/backend-ai-summary-view.ts
Labels: bug, easy, UI / UX, urgency

#1286 feat: show vfolder host when creating a session
  src/components/backend-ai-session-launcher.ts
Labels: enhancement, good first issue, UI / UX
