Repository lablup/backend.ai-webui, pull requests merged in 2022-07, with the labels that each got.

#1339 hotfix: import client-esm to fix backend-ai client ReferenceError
  src/components/backend-ai-change-forgot-password-view.ts
  src/components/backend-ai-edu-applauncher.ts
  src/components/backend-ai-email-verification-view.ts
  src/components/backend-ai-signup.ts
Labels: bug, blocker, urgency, cloud

#1343 Fix: Add missing configurations
  README.md
  config.toml.sample
Labels: enhancement, easy

#1341 docs: Clarify dev-setup guide and fix code-block formats
  README.md
Labels: maintenance

#1337 fix: make gpu required image available to download
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-storage-list.ts
Labels: bug, minor, UI / UX, blocker

#1338 fix: prevents resource policy updates with incorrect values
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-resource-policy-list.ts
Labels: bug, good first issue, minor, UI / UX

#1358 feat: allow user to force termination of sessions
  src/components/backend-ai-session-list.ts
Labels: enhancement, good first issue, easy

#1363 feat(wsproxy): Add dotenv support and parse env-vars more carefully
  README.md
  package-lock.json
  package.json
  src/components/backend-ai-app-launcher.ts
  src/wsproxy/local_proxy.js
  src/wsproxy/manager.js
Labels: enhancement, library / SDK

#1362 fix: show resource statistics about current resource group
  src/components/backend-ai-resource-monitor.ts
Labels: good first issue, easy, need confirmation, UI / UX

#1090 feat: refresh image list after rescanning
  config.toml.sample
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-maintenance-view.ts
  src/components/backend-ai-registry-list.ts
Labels: duplicate, enhancement, good first issue, UI / UX

#1383 fix: change the size of the popup to fit the text
  src/components/backend-ai-indicator.ts
Labels: bug, good first issue

#1361 fix: side menu icon button ripple to disappear after click
  src/components/backend-ai-webui-styles.ts
Labels: bug, good first issue, minor, UI / UX

#1319 fix: Refactor mwc-select&mwc-list-item style & layout (#1207)
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-settings-view.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-usage-list.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/components/backend-ai-webui-styles.ts
Labels: enhancement, UI / UX, maintenance

#1327 Feature: refactor storage host selection
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-multi-select.ts
  src/components/backend-ai-resource-policy-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-esm.ts
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: enhancement, UI / UX, blocker, urgency

#1386 fix: disable resource policy control button for domain admin
  src/components/backend-ai-resource-policy-list.ts
Labels: bug, minor, UI / UX

#1395 fix: parse unicode strings for some items in the toml config
  src/components/backend-ai-webui.ts
Labels: easy
