Repository lablup/backend.ai-webui, pull requests merged in 2022-01, with the labels that each got.

#1178 Add and deliver the allowed client IPs field to proxy coordinator
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-error-log-list.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-settings-view.ts
  src/components/backend-ai-storage-list.ts
  src/components/lablup-progress-bar.ts
  src/components/lablup-slider.ts
Labels: enhancement, UI / UX, localization

#1186 fix: change event listener to check mount folder selection properly
  src/components/backend-ai-session-launcher.ts
Labels: bug, good first issue, easy, UI / UX, blocker

#1188 feat: toggle token email confirmation option
  config.toml.sample
  src/components/backend-ai-login.ts
  src/components/backend-ai-signup.ts
Labels: enhancement, minor, easy, UI / UX

#1189 feat: add max range of mtu
  src/components/backend-ai-settings-view.ts
Labels: enhancement, good first issue, minor, easy

#1181 Add a feature to update a session's name in Web-UI
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-session-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: enhancement, UI / UX, localization

#1182 add: session mode selection area and batch session config in session launcher
  package.json
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/lablup-codemirror.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
  tsconfig.json
Labels: enhancement, UI / UX, localization

#1135 refactor: combine modify and add registry dialog
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-registry-list.ts
Labels: enhancement, UI / UX, localization

#1197 hotfix: support displaying error when multi-node session creation failed
  src/components/backend-ai-session-list.ts
Labels: bug, easy, UI / UX, blocker, urgency

#1193 style: change width and height of log dialog
  src/components/backend-ai-session-list.ts
Labels: enhancement, good first issue, easy, UI / UX

#1206 fix: monkeypatch style manipulation according to the number of list-items in environment
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-signup.ts
  src/components/lablup-codemirror.ts
Labels: good first issue, easy, UI / UX, blocker, urgency

#1205 fix: session resource allocation doesn't match
  src/components/backend-ai-session-launcher.ts
Labels: bug, enhancement, easy, UI / UX

#1195 feat: add image name in session launcher
  src/components/backend-ai-session-launcher.ts
Labels: enhancement, good first issue, easy, UI / UX
