Repository lablup/backend.ai-webui, pull requests merged in 2022-11, with the labels that each got.

#1506 fix: make available to select project in creating the project data folder
  src/components/backend-ai-data-view.ts
Labels: bug, minor, blocker

#1495 Open dialog and add credential with URL option
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-summary-view.ts
Labels: enhancement, minor, UI / UX, hacktoberfest-accepted

#1507 fix: show session language description
  src/components/backend-ai-session-launcher.ts
Labels: bug, good first issue, minor, UI / UX, level:4

#1494 chore(backend-ai-dialog): translate new-keypair-dialog in kor
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-credential-list.ts
Labels: field:UI / UX, field:i18n

#1512 Hotfix: remove invalid import statements
  src/components/backend-ai-webui.ts
Labels: type:bug, effect:minor, difficulty:easy, severity:blocker, level:5, field:UI / UX, field:localization

#1503 feat: add download link button for webui desktop
  config.toml.sample
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-webui.ts
Labels: type:enhancement, area:UI / UX, platform:web, area:i18n, level:3, field:UI / UX, field:localization

#1505 feat: add log download button on session log dialog
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-common-utils.ts
  src/components/backend-ai-session-list.ts
Labels: type:enhancement, effect:minor, platform:enterprise, level:3, field:UI / UX, field:localization

#1516 fix: send preferred port when only checked
  src/components/backend-ai-app-launcher.ts
Labels: type:bug, effect:minor, difficulty:easy, area:UI / UX, level:3, platform:general, field:UI / UX

#1517 Feature/update data handling part in receiving and updating keypair resource policy
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-resource-policy-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: type:bug, effect:minor, action:need confirmation, area:UI / UX, severity:blocker, level:5

#1518 fix: TOS dialog doesn't show because of id mismatching
  src/components/backend-ai-signup.ts
Labels: type:bug, good first issue, effect:minor, difficulty:easy, area:UI / UX, severity:blocker, level:3, field:UI / UX

#1514 feat: add sticky title option to `backend-ai-dialog`
  src/components/backend-ai-dialog.ts
Labels: type:enhancement, good first issue, effect:minor, difficulty:easy, area:UI / UX, platform:web, level:1, mnt:refactor, field:UI / UX
