Repository lablup/backend.ai-webui, pull requests merged in 2022-03, with the labels that each got.

#1246 feat: display bootstrap script button in user settings page
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-usersettings-general-list.ts
  src/components/lablup-codemirror.ts
Labels: UI / UX, localization

#1250 Feature: masking user info
  config.toml.sample
  src/components/backend-ai-common-utils.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-user-list.ts
  src/components/backend-ai-webui.ts
Labels: enhancement, minor, easy, UI / UX, urgency

#1252 Fix: replace `is_active` column in user list to `status`
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-user-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: bug, minor, easy, UI / UX, blocker, urgency, localization

#1254 fix: get wsproxy version
  src/components/backend-ai-app-launcher.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: bug, good first issue, UI / UX, urgency

#1257 Hotfix: refactor resource limit configuration
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-session-launcher.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: bug, minor, library / SDK, UI / UX, blocker, urgency

#1256 check github default branch using api
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt.json
  resources/i18n/pt_BR.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh_CN.json
  resources/i18n/zh_TW.json
  src/components/backend-ai-import-view.ts
Labels: bug, minor, UI / UX, localization

#1259 Refactor: reformat legacy mounts information on each session list
  src/components/backend-ai-session-list.ts
Labels: bug, UI / UX, blocker, urgency
