Repository lablup/backend.ai-webui, pull requests merged in 2022-06, with the labels that each got.

#1324 Feat: distinguish image tag for Custom Environments(#1255)
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-session-list.ts
Labels: enhancement, minor, UI / UX

#1325 Fix: css variable typo error on `mwc`
  src/components/backend-ai-change-forgot-password-view.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-maintenance-view.ts
  src/components/backend-ai-pipeline-view.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-resource-group-list.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-session-launcher-legacy.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-signup.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-user-list.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/components/backend-ai-usersettings-view.ts
  src/components/backend-ai-webui-styles.ts
Labels: bug, good first issue, minor, easy

#1334 fix: mounted folders change to unchecked after moving the session launcher page.
  src/components/backend-ai-session-launcher.ts
Labels: bug, UI / UX

#1332 add: storage host that supports directory based quota setting
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-storage-list.ts
Labels: enhancement, UI / UX, enterprise

#1340 fix: mount shared folders when creating a session
  src/components/backend-ai-resource-broker.ts
Labels: bug, good first issue, minor
