Repository lablup/backend.ai-webui, pull requests merged in 2022-09, with the labels that each got.

#1439 feat: add agent summary page
  config.toml.sample
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/backend-ai-app.ts
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-agent-summary-view.ts
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-esm.ts
Labels: enhancement, UI / UX, blocker, localization, feature

#1449 fix: rename `BackendAIAgent` to `BackendAIAgentSummaryList` and add detail typings
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-agent-summary-view.ts
Labels: bug, good first issue, minor

#1454 fix: remove animation of buttons that do not trigger other events
  src/components/backend-ai-session-launcher.ts
Labels: minor, UI / UX

#1459 fix: add type-check before initializing chart
  src/plastics/chart-js.ts
Labels: bug, good first issue, easy, UI / UX

#1457 hotfix: add type definition to show `agent-summary-list`
  src/components/backend-ai-agent-summary-view.ts
Labels: bug, good first issue, blocker, urgency

#1461 update: node.js base version to 18
  .nvmrc
  index.html
  src/components/backend-ai-webui.ts
  version.json
Labels: minor, maintenance, build-chain

#1463 style: total allocation pane is too big
  src/components/backend-ai-session-launcher.ts
Labels: good first issue

#1465 fix: add title to show what the Control icons do
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-storage-list.ts
Labels: good first issue, easy, UI / UX, localization

#1356 fix: cluster size slider to be active by cluster mode selection
  src/components/backend-ai-session-launcher.ts
Labels: bug, good first issue, minor, easy

#1211 feature: send target app's protocol (http or tcp) when starting wsproxy
  src/components/backend-ai-app-launcher.ts
  src/wsproxy/manager.js
Labels: enhancement

#1472 fix: remove animations from which events do not occur
  src/components/backend-ai-storage-list.ts
Labels: minor, easy, UI / UX

#1477 style: adjust the License Key button size
  src/components/backend-ai-information-view.ts
Labels: enhancement, good first issue, easy, UI / UX

#1473 fix: add helper dialog for endpoint
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-login.ts
Labels: enhancement, good first issue, UI / UX, localization

#1479 feature : annotate plastic components and ESModule SDK
  package-lock.json
  package.json
  src/components/backend-ai-signup.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-esm.ts
  src/lib/backend.ai-client-ingen.js
  src/lib/backend.ai-client-node-test-native-es6.js
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
  src/lib/compile_node_to_es6.sh
  src/plastics/lablup-piechart/lablup-piechart.ts
  src/plastics/lablup-shields/lablup-shields.ts
Labels: enhancement, library / SDK, UI / UX

#1481 feature: allow plugins work as hidden page plugin.
  src/components/backend-ai-webui.ts
  src/plugins_sample/test-plugin.ts
Labels: enhancement, minor, library / SDK

#1483 fix: Cannot set the maximum shared memory size via configuration
  src/components/backend-ai-login.ts
Labels: bug, major, blocker
