Repository lablup/backend.ai-webui, pull requests merged in 2022-08, with the labels that each got.

#1399 fix: Incorrect warning message is output when allocating a size small…
  resources/i18n/ko.json
Labels: minor, localization

#1401 fix: typo in Korean translation for SessionTerminated
  resources/i18n/ko.json
Labels: minor, UI / UX, localization

#1397 fix: Manual image name is not required in Session launcher
  src/components/backend-ai-session-launcher.ts
Labels: bug, minor

#1308 feature: application signing with GitHub Actions
  .github/workflows/package.yml
  Makefile
  README.md
  app-packager.js
  package-lock.json
  package.json
  upload-release.js
  version.json
Labels: enhancement, major, maintenance, app

#1407 Hotfix/hide resource statics panel when login
  src/components/backend-ai-resource-monitor.ts
Labels: bug, good first issue, minor, UI / UX

#1408 add: Required field for validation whether input field in command area
  src/components/lablup-codemirror.ts
Labels: enhancement, easy, UI / UX, urgency

#1385 fix: show the modified registry information
  src/components/backend-ai-registry-list.ts
Labels: bug, good first issue

#1413 feature: support SSO login (SAML 2.0)
  config.toml.sample
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-login.ts
  src/lib/backend.ai-client-esm.ts
Labels: enhancement, major, library / SDK, UI / UX, urgency, localization

#1418 fix: save button was not working due to the wrong function call
  src/components/backend-ai-registry-list.ts
Labels: bug, blocker

#1421 style: remove `flex-grow="0"` from paramaters column in log page
  src/components/backend-ai-error-log-list.ts
Labels: good first issue, minor, easy, UI / UX

#1423 fix: do not allow blank username / password
  src/components/backend-ai-registry-list.ts
Labels: bug, UI / UX, blocker

#1414 feature: provide toggle(enable/disable) in project field
  src/components/backend-ai-data-view.ts
Labels: enhancement, UI / UX

#1411 fix: inconsistent login style
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-login.ts
Labels: bug, UI / UX

#1403 change: es-dev-server to @web/dev-server
  package-lock.json
  package.json
Labels: enhancement, maintenance, build-chain

#1419 fix: SAML login via form submit instead of `fetch`
  src/components/backend-ai-login.ts
  src/lib/backend.ai-client-esm.ts
Labels: bug, urgency

#1412 feature: provide UI for requesting container commit
  config.toml.sample
  package-lock.json
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-sidepanel-task.ts
  src/components/backend-ai-tasker.ts
  src/lib/backend.ai-client-esm.ts
Labels: enhancement, UI / UX, blocker, urgency, localization

#1138 Feature: webui grid status
  .github/workflows/label.yml
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-error-log-list.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-information-view.ts
  src/components/backend-ai-list-status.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-storage-proxy-list.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-user-list.ts
  src/components/lablup-loading-dots.ts
Labels: bug, enhancement, good first issue, minor, UI / UX

#1425 Hotfix: Temporally disable terminate and container commit on running session
  src/components/backend-ai-session-list.ts
Labels: bug, minor, UI / UX, blocker, urgency

#1426 feature: display message when session's status is `no-available-instances`
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-session-list.ts
Labels: good first issue, easy

#1400 fix: add validation check and enable button only valid status in import and run page
  src/components/backend-ai-import-view.ts
Labels: enhancement, UI / UX

#1431 hotfix: don't show the Environments Images list
  src/components/backend-ai-environment-list.ts
Labels: bug, good first issue, minor, easy, urgency

#1436 fix: automatically set the height of `list-wrapper`, which wraps grids, to avoid the height mismatch between the two elements
  src/components/backend-ai-general-styles.ts
Labels: bug, minor

#1435 feature: display richer agent information
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-agent-list.ts
Labels: enhancement, minor, easy, UI / UX, localization

#1437 fix: CUDA utilization was displayed as `Infinity`
  src/components/backend-ai-agent-list.ts
Labels: bug, minor

#1438 fix: disable container commit when session is batch type
  src/components/backend-ai-session-list.ts
Labels: bug, easy

#1440 refactor: temporally block pages related to pipeline menu
  src/backend-ai-app.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-webui.ts
Labels: minor, need confirmation, urgency

#1444 hotfix: remove wrong parsing number logic in initial configuration
  src/components/backend-ai-login.ts
Labels: bug, minor, easy, blocker, urgency

#1441 bugfix: list status unrecognized
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-error-log-list.ts
  src/components/backend-ai-list-status.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-storage-proxy-list.ts
  src/components/backend-ai-user-list.ts
  src/components/backend-ai-usersettings-view.ts
Labels: bug, good first issue

#1445 update: lit and mwc-components to the latest version
  package-lock.json
  package.json
Labels: minor, dependencies

#1447 refactor: use type alias for `listCondition`
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-error-log-list.ts
  src/components/backend-ai-list-status.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-storage-proxy-list.ts
  src/components/backend-ai-user-list.ts
Labels: enhancement, good first issue, easy

#1427 feature: add extra information in the last page of session launcher
  resources/i18n/en.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-session-launcher.ts
Labels: good first issue, minor, need confirmation, UI / UX, localization
