Repository lablup/backend.ai-webui, pull requests merged in 2022-02, with the labels that each got.

#1215 Upgrade base node.js version from 15 to 16
  index.html
  package-lock.json
  version.json
Labels: major, library / SDK, maintenance, dependencies

#1210 style: resource type of session launcher
  src/components/backend-ai-session-launcher.ts
  src/components/lablup-slider.ts
Labels: enhancement, good first issue, UI / UX

#1209 fix: round mem and shmem allocation size in panel
  src/components/backend-ai-session-launcher.ts
Labels: bug, good first issue, minor

#1227 bugfix: wrong folder id path
  src/components/backend-ai-storage-list.ts
Labels: bug, good first issue, UI / UX

#1200 fix: change auto_logout value set logic
  src/components/backend-ai-webui.ts
Labels: bug, minor, blocker

#1201 fix: add scroll to session list tab in session tab
  src/components/backend-ai-session-view.ts
Labels: bug, enhancement, good first issue, UI / UX

#1230 bugfix: session rename translation (ko)
  resources/i18n/ko.json
Labels: bug, good first issue, minor, easy, UI / UX, localization

#1233 fix: wrong path of shared to email
  src/components/backend-ai-storage-list.ts
Labels: bug, good first issue, easy, UI / UX

#1213 fix: add registry field values not being removed
  src/components/backend-ai-registry-list.ts
Labels: bug, good first issue, easy, UI / UX

#1219 fix: prevent esc key close login dialog
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-login.ts
Labels: bug, good first issue, easy, UI / UX

#1228 style: make endpoint resizable and unify heights of vaadin-grid
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-storage-proxy-list.ts
Labels: good first issue, minor, easy, UI / UX

#1194 feat: arbitrary path vfolder mounts
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt.json
  resources/i18n/pt_BR.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh_CN.json
  resources/i18n/zh_TW.json
  src/components/backend-ai-session-launcher.ts
Labels: enhancement, good first issue, UI / UX, localization
