Repository lablup/backend.ai-webui, pull requests merged in 2022-12, with the labels that each got.

#1528 feat: add support for header based authentication on wsproxy
  src/components/backend-ai-app-launcher.ts
  src/wsproxy/lib/console-appproxy.js
  src/wsproxy/manager.js
Labels: type:enhancement, effect:minor, area:library / SDK, platform:app, level:4, difficulty:normal

#1482 Show warning dialog and validation message when setting rate limit below 100
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-credential-list.ts
Labels: type:enhancement, action:need confirmation, area:UI / UX, area:i18n, level:3, platform:general, field:UI / UX, field:localization

#1533 fix: build correct app url in `_terminateApp` regardless of the existence of trailing slash
  src/components/backend-ai-session-list.ts
Labels: type:bug, effect:minor, difficulty:easy

#1532 fix: broken logic in initializing browser backendai client
  src/components/backend-ai-signup.ts
Labels: type:bug, effect:major, area:library / SDK

#1530 feat: show all resource templates when `alwaysEnqueueComputeSession` is true
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-session-launcher.ts
Labels: type:enhancement, effect:minor, area:UI / UX, level:3, difficulty:normal, platform:general, field:UI / UX
