Repository lablup/backend.ai-webui, pull requests merged in 2023-07, with the labels that each got.

#1756 misc: update image metadata with additional Python and CUDA versions
  resources/image_metadata.json
Labels: size:S

#1752 fix: do not auto logout when preserve login true
  src/components/backend-ai-webui.ts
Labels: effort:easy, urgency:1, impact:invisible, size:S, field:UI / UX

#1748 docs: Modified to fit nvidia brand notation
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt.json
  resources/i18n/pt_BR.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh_CN.json
  resources/i18n/zh_TW.json
Labels: effort:easy, urgency:1, area:docs, impact:visible, size:M, field:UI / UX, field:localization

#1702 feat: add support for Furiosa Warboy accelerator
  resources/device_metadata.json
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  resources/icons/furiosa.svg
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-settings-view.ts
  src/lib/backend.ai-client-esm.ts
  version.json
Labels: type:enhance, effort:hard, urgency:3, impact:visible, size:XL, field:UI / UX, field:localization

#1737 feat: hide directory-based usage information based on configuration
  config.toml.sample
  src/components/backend-ai-login.ts
  src/components/backend-ai-storage-list.ts
Labels: type:enhance, effort:easy, area:ux, urgency:4, platform:general, impact:visible, size:M, field:UI / UX

#1759 fix: parse fgpu slots to float
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
Labels: type:fix, effort:easy, area:ux, urgency:3, platform:general, impact:visible, size:S, field:UI / UX

#1760 fix: annotate unused codes
  react/src/components/ProjectResourcePolicySettingModal.tsx
  react/src/components/StorageHostResourcePanel.tsx
  react/src/components/StorageHostSettingsPanel.tsx
  react/src/components/UserResourcePolicySettingModal.tsx
Labels: type:fix, effort:easy, area:ux, urgency:blocker, platform:app, urgency:5, impact:invisible, size:M

#1762 hotfix: vfolder quota support
  react/src/components/DomainSelector.tsx
  react/src/components/ProjectSelector.tsx
  react/src/components/QuotaScopeCard.tsx
  react/src/components/ResourcePolicyCard.tsx
  react/src/components/StorageHostSettingsPanel.tsx
  react/src/components/UserSelector.tsx
  react/src/components/__generated__/QuotaScopeCardFragment.graphql.ts
  react/src/components/__generated__/ResourcePolicyCard_project_resource_policy.graphql.ts
  react/src/components/__generated__/ResourcePolicyCard_user_resource_policy.graphql.ts
  react/src/components/__generated__/StorageHostSettingsPanelQuery.graphql.ts
  react/src/components/__generated__/StorageHostSettingsPanel_storageVolumeFrgmt.graphql.ts
  react/src/helper/index.tsx
  react/src/hooks/index.ts
  react/src/pages/StorageHostSettingPage.tsx
  resources/i18n/en.json
  resources/i18n/ko.json
  src/lib/backend.ai-client-esm.ts
Labels: type:fix, type:enhance, effort:easy, area:ux, urgency:5, platform:general, impact:visible, size:XL, field:UI / UX, field:localization

#1763 cosmetic changes of quota scope setting page
  react/src/components/QuotaScopeCard.tsx
  react/src/components/ResourcePolicyCard.tsx
  resources/i18n/en.json
  resources/i18n/ko.json
Labels: size:M, field:UI / UX, field:localization

#1764 fix: used, capacity was changed in the resource panel and change the unset icon
  react/src/components/QuotaScopeCard.tsx
  react/src/components/ResourcePolicyCard.tsx
  react/src/components/StorageHostResourcePanel.tsx
Labels: type:fix, effort:easy, area:ux, urgency:5, platform:general, impact:visible, size:S, field:UI / UX

#1765 compact ui version of storage quota setting
  react/src/components/QuotaScopeCard.tsx
  react/src/components/ResourcePolicyCard.tsx
  react/src/components/StorageHostResourcePanel.tsx
  resources/theme.json
Labels: size:L

#1768 feat: merge running and others tab in the session list
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
Labels: type:enhance, effort:easy, area:ux, urgency:3, platform:general, impact:visible, size:S, field:UI / UX

#1769 feat: Remove resource policy panel on Quota setting and bugfix
  react/src/components/QuotaScopeCard.tsx
  react/src/components/QuotaSettingModal.tsx
  react/src/components/StorageHostSettingsPanel.tsx
  react/src/components/UserSelector.tsx
Labels: size:L

#1770 feat: add loading indicator on UserSelector
  react/src/components/UserSelector.tsx
Labels: size:XS

#1771 feat: remove per-vfolder usage stats in Web UI
  src/components/backend-ai-storage-list.ts
Labels: type:enhance, effort:easy, area:ux, urgency:4, platform:general, impact:visible, size:XS, field:UI / UX

#1766 update: spring clean - node.js packages
  index.html
  package-lock.json
  package.json
  src/components/backend-ai-release-check.ts
  src/components/backend-ai-webui.ts
  version.json
Labels: type:enhance, effort:easy, area:lib, urgency:2, platform:general, impact:invisible, size:XL

#1775 update: reactjs components (2023. 7)
  index.html
  react/package-lock.json
  react/package.json
  version.json
Labels: effort:easy, area:lib, mnt:dependencies, urgency:2, platform:general, impact:invisible, comp:JS SDK, size:XL

#1778 refactor: refactoring storage status and add quota per storage volume
  react/src/components/Flex.tsx
  react/src/components/FlexActivityIndicator.tsx
  react/src/components/StorageHostResourcePanel.tsx
  react/src/components/StorageSelector.tsx
  react/src/components/StorageStatusPanel.tsx
  react/src/components/UsageProgress.tsx
  react/src/helper/index.tsx
  react/src/index.tsx
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-storage-list.ts
Labels: type:enhance, effort:normal, area:ux, urgency:4, platform:general, impact:visible, size:XL, field:UI / UX, field:localization

#1776 fix: `newPublicRequest` -> `newSignedRequest` when getting resource-slots
  src/lib/backend.ai-client-esm.ts
Labels: type:fix, effort:easy, area:lib, area:ux, urgency:3, type:refactor, platform:general, impact:invisible, size:XS

#1718 feat: add setup GUI for `is_public` to resource group
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-resource-group-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: type:fix, type:enhance, effort:normal, area:ux, urgency:3, platform:general, impact:visible, size:L, field:UI / UX, field:localization

#1783 fix: update the text of launch button using @property
  src/components/backend-ai-session-launcher.ts
Labels: effort:easy, area:lib, area:ux, urgency:2, type:refactor, platform:general, impact:invisible, size:S, field:UI / UX, field:localization

#1781 update: node.js package dependencies
  package-lock.json
  package.json
  react/package-lock.json
  react/package.json
Labels: type:fix, effort:easy, area:lib, mnt:dependencies, urgency:1, platform:general, impact:invisible, size:XL

#1784 fix: fill missing return value of login function
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-login.ts
Labels: type:fix, effort:easy, urgency:3, platform:general, impact:invisible, size:S

#1785 update: add watchman installation guide to README.md
  README.md
Labels: size:XS

#1788 add: hover tooltips on storage control icons
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-storage-list.ts
  src/components/lablup-slider.ts
Labels: type:enhance, effort:easy, area:ux, urgency:2, platform:general, impact:visible, size:L, field:UI / UX, field:localization

#1790 bugfix: prevent flicking of StorageStatusPanel using deferredFetchKey
  react/src/components/StorageStatusPanel.tsx
Labels: size:XS

#1796 update: github actions to track the latest releases
  .github/workflows/add-to-project.yml
  .github/workflows/auto_author_assign.yml
  .github/workflows/label.yml
  .github/workflows/package.yml
Labels: effort:easy, mnt:build-chain, urgency:2, area:infra, impact:invisible, size:S

#1791 refactor: remove `any` from code typing
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-common-utils.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-page.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-user-dropdown-menu.ts
  src/components/backend-ai-usersettings-general-list.ts
  src/components/backend-ai-webui.ts
  src/components/lablup-codemirror.ts
  src/components/lablup-notification.ts
  src/components/lablup-terms-of-service.ts
  src/plastics/chart-js.ts
  src/plastics/font/font-awesome.js
  src/plastics/mwc/mwc-dialog.ts
  src/plastics/mwc/mwc-drawer.ts
Labels: effort:hard, urgency:2, type:refactor, platform:general, area:impl, impact:invisible, status:ongoing, size:L, field:UI / UX

#1798 feat: add react copy code component and apply it to vscode password and otp code
  react/src/components/CopyableCodeText.tsx
  react/src/index.tsx
  resources/theme.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-user-dropdown-menu.ts
  src/components/backend-ai-user-list.ts
Labels: type:enhance, effort:normal, platform:app, urgency:2, type:refactor, platform:general, impact:visible, size:L

#1802 fix: vscode graphql extention configuration
  graphql.config.js
  react/data/relay-directives.graphql
Labels: size:L

#1804 update: new brand logo
  manifest/backend-ai.icns
  manifest/backend-ai.ico
  manifest/backend-ai.iconset/icon_128x128@1x.png
  manifest/backend-ai.iconset/icon_128x128@2x.png
  manifest/backend-ai.iconset/icon_16x16@1x.png
  manifest/backend-ai.iconset/icon_16x16@2x.png
  manifest/backend-ai.iconset/icon_256x256@1x.png
  manifest/backend-ai.iconset/icon_256x256@2x.png
  manifest/backend-ai.iconset/icon_32x32@1x.png
  manifest/backend-ai.iconset/icon_32x32@2x.png
  manifest/backend-ai.iconset/icon_512x512@1x.png
  manifest/backend-ai.iconset/icon_512x512@2x.png
  manifest/backend.ai-brand-simple.svg
  manifest/backend.ai-brand-white.svg
  manifest/backend.ai-brand.svg
  manifest/backend.ai-text.svg
  manifest/favicon.ico
Labels: effort:easy, area:ux, urgency:2, type:refactor, platform:general, impact:visible, size:M

#1808 feature: setup basic react test environment
  graphql.config.js
  react/data/relay-and-local-directives-for-graphql-config.graphql
  react/package-lock.json
  react/package.json
  react/src/components/DomainSelector.test.tsx
  react/src/components/__snapshots__/DomainSelector.test.tsx.snap
Labels: size:L

#1816 refactor: import new icon scheme from window mode branch
  resources/fonts/MaterialIcons-Regular.woff
  resources/fonts/MaterialIcons-Regular.woff2
  resources/fonts/fonts.css
  resources/fonts/material-icons-outlined.woff2
  resources/fonts/material-icons-round.woff2
  resources/fonts/material-icons-sharp.woff2
  resources/fonts/material-icons-two-tone.woff2
  resources/fonts/material-icons.woff2
  resources/fonts/quicksand-v13-latin-300.woff
  resources/fonts/quicksand-v13-latin-300.woff2
  resources/fonts/quicksand-v13-latin-500.woff
  resources/fonts/quicksand-v13-latin-500.woff2
  resources/fonts/quicksand-v13-latin-700.woff
  resources/fonts/quicksand-v13-latin-700.woff2
  resources/fonts/quicksand-v13-latin-regular.woff
  resources/fonts/quicksand-v13-latin-regular.woff2
Labels: effort:easy, area:ux, urgency:2, type:refactor, platform:general, impact:visible, field:UI / UX

#1815 fix: Solve to extract `backend-ai-multi-select` tag from scheduler options
  src/components/backend-ai-multi-select.ts
  src/components/backend-ai-resource-group-list.ts
Labels: type:fix, effort:easy, area:ux, platform:general, impact:visible, size:S

#1814 update: change '표시 할' to '표시할' for no-announcement text
  resources/i18n/ko.json
Labels: effort:easy, area:i18n, urgency:1, platform:general, status:done, size:XS, field:UI / UX, field:localization

#1801 feature: Support model serving UI 2
  react/src/components/DefaultProviders.tsx
  react/src/components/DoubleTag.tsx
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ImageMetaIcon.tsx
  react/src/components/Information.tsx
  react/src/components/ModelServiceSettingModal.tsx
  react/src/components/ResetPasswordRequired.tsx
  react/src/components/ResourceGroupSelect.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/ServingList.tsx
  react/src/components/SessionKernelTag.tsx
  react/src/components/SessionListColums/SessionInfoCell.tsx
  react/src/components/SliderInputFormItem.tsx
  react/src/components/TextHighlighter.tsx
  react/src/components/VFolderSelect.tsx
  react/src/helper/index.tsx
  react/src/hooks/index.ts
  react/src/hooks/reactQueryAlias.tsx
  react/src/index.tsx
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
  react/src/react-app-env.d.ts
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/backend-ai-app.ts
  src/components/backend-ai-serving-list.ts
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-esm.ts
Labels: area:ux, urgency:5, effort:epic, impact:visible, status:ongoing, size:XL, field:UI / UX, field:localization

#1820 feat: use GraphQL `endpoint_list` instaed REST `/services`
  graphql.config.js
  react/data/schema.graphql
  react/src/components/CopyableCodeText.tsx
  react/src/components/ModelServiceSettingModal.tsx
  react/src/components/ServingList.tsx
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
Labels: size:XL

#1819 fix: unable to terminate a compute session when wsproxy address is not properly
  src/components/backend-ai-session-list.ts
  version.json
Labels: type:fix, effort:normal, urgency:4, size:M, comp:manager

#1821 refactor: change user info and setting modal to react component
  react/src/components/SessionList.tsx
  react/src/components/StorageSelector.tsx
  react/src/components/StorageStatusPanel.tsx
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserInfoModal.tsx
  react/src/components/UserSettingModal.tsx
  react/src/index.tsx
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-user-list.ts
Labels: type:enhance, status:invalid, area:ux, urgency:2, type:refactor, platform:general, size:XL, field:UI / UX, field:localization

#1817 feat: authorize app by query param
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-edu-applauncher.ts
  src/components/backend-ai-session-list.ts
Labels: size:L
