Repository lablup/backend.ai-webui, pull requests merged in 2023-10, with the labels that each got.

#1957 update: change label on terms of service dialog's close button
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/lablup-terms-of-service.ts
Labels: area:i18n, size:S, field:UI / UX, field:localization

#1896 feat: Neo session launcher (Step 3&4)
  .cspell.json
  README.md
  package-lock.json
  react/package-lock.json
  react/package.json
  react/src/BAICard.tsx
  react/src/RelayEnvironment.ts
  react/src/components/DatePickerISO.tsx
  react/src/components/DefaultProviders.tsx
  react/src/components/DoubleTag.tsx
  react/src/components/EnvVarFormList.tsx
  react/src/components/FolderDownloadButton.tsx
  react/src/components/FolderExplorer.tsx
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ImageMetaIcon.tsx
  react/src/components/PortSelectFormItem.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourceGroupSelect.tsx
  react/src/components/ResourceNumber.tsx
  react/src/components/ResourcePresetSelect.tsx
  react/src/components/SessionTemplateModal.tsx
  react/src/components/SliderInputFormItem.tsx
  react/src/components/VFolderSelect.tsx
  react/src/components/VFolderTable.tsx
  react/src/components/VFolderTableFormItem.tsx
  react/src/components/__snapshots__/DomainSelector.test.tsx.snap
  react/src/hooks/index.ts
  react/src/index.tsx
  react/src/pages/SessionLauncherPage.tsx
  react/src/pages/SessionListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-session-view-next.ts
Labels: size:XL, field:UI / UX, field:localization

#1961 fix: remove warnings/errors and unused logs in the browser console
  react/src/RelayEnvironment.ts
  react/src/pages/RoutingListPage.tsx
Labels: size:L

#1963 style: widen control column to show rescan icon
  src/components/backend-ai-registry-list.ts
Labels: type:fix, effort:easy, area:ux, urgency:3, platform:general, impact:visible, size:XS

#1966 feature: hide sftp resource group
  graphql.config.js
  react/src/components/ResourceGroupSelect.tsx
  react/src/index.tsx
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-resource-monitor.ts
Labels: type:enhance, effort:normal, area:ux, urgency:4, platform:general, impact:visible, size:L

#1944 feature: Enable create session with bootstrap script
  src/components/backend-ai-edu-applauncher.ts
  src/lib/backend.ai-client-node.ts
Labels: type:enhance, effort:normal, area:lib, platform:enterprise, urgency:3, impact:invisible, size:S

#1972 fix: remove `max_vfolder_count` from keypair resource policy
  react/data/schema.graphql
  react/src/components/ProjectResourcePolicySettingModal.tsx
  react/src/components/ResourcePolicyCard.tsx
  react/src/components/StorageStatusPanel.tsx
  react/src/components/UserResourcePolicySettingModal.tsx
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-storage-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: type:fix, effort:normal, effort:easy, area:ux, urgency:blocker, urgency:4, platform:general, impact:visible, size:XL, field:UI / UX

#1982 fix: empty filtered scaling groups generates error
  src/components/backend-ai-resource-broker.ts
Labels: type:fix, effort:easy, urgency:5, platform:general, impact:invisible, size:XS, field:UI / UX

#1984 add: disable hostkey checking option for sftp session
  src/components/backend-ai-app-launcher.ts
Labels: size:XS

#1989 update: i18n resources
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: type:fix, effort:normal, area:i18n, urgency:3, platform:general, impact:visible, field:localization

#1990 update: PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size:S

#1986 feature: split copy to clipboard in sftp session connection dialog
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-storage-list.ts
Labels: size:L, field:UI / UX, field:localization

#1975 feature: Registry management UI using GraphQL
  react/data/schema.graphql
  react/package-lock.json
  react/package.json
  react/src/components/ContainerRegistryEditorModal.tsx
  react/src/components/ContainerRegistryList.tsx
  react/src/components/DefaultProviders.tsx
  react/src/components/PopConfirmWithInput.tsx
  react/src/components/__snapshots__/DomainSelector.test.tsx.snap
  react/src/hooks/usePainKiller.tsx
  react/src/index.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-environment-view.ts
  src/lib/backend.ai-client-esm.ts
Labels: size:XL, field:UI / UX, field:localization

#1995 fix: revert max_vfolder_count removing
  react/data/schema.graphql
  react/src/components/ProjectResourcePolicySettingModal.tsx
  react/src/components/ResourcePolicyCard.tsx
  react/src/components/StorageStatusPanel.tsx
  react/src/components/UserResourcePolicySettingModal.tsx
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-resource-policy-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: size:L

#2007 fix: remove image naming checking when selecting sftp image
  src/components/backend-ai-storage-list.ts
Labels: type:fix, effort:normal, area:ux, urgency:4, platform:general, impact:invisible, size:XS

#2004 fix: touchup sftp connection example text
  src/components/backend-ai-app-launcher.ts
Labels: type:fix, effort:easy, area:ux, urgency:3, platform:general, impact:visible, size:S
