Repository lablup/backend.ai-webui, pull requests merged in 2023-06, with the labels that each got.

#1732 hotfix: enable sftp-scaling-group feature from manager v22.03.3
  src/lib/backend.ai-client-esm.ts
Labels: size:XS

#1734 fix: touchup description for ssh sftp session
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-app-launcher.ts
Labels: size:M, field:UI / UX, field:localization

#1736 fix: set timeout value to 10sec on fetching `user_stats`
  src/lib/backend.ai-client-esm.ts
Labels: urgency:blocker, urgency:5, impact:invisible, size:XS

#1738 fix: SFTP scaling group session refusing to be created
  src/components/backend-ai-storage-list.ts
Labels: type:fix, urgency:blocker, size:XS
