Repository lablup/backend.ai-webui, pull requests merged in 2023-05, with the labels that each got.

#1690 feature: folder upload
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-storage-list.ts
Labels: type:enhance, effort:normal, area:ux, area:i18n, urgency:5, platform:general, impact:visible, size:L, field:UI / UX, field:localization

#1705 fix: utilization values in idle checker pop-up are not updated after the initial rendering
  src/components/backend-ai-session-list.ts
Labels: effort:normal, area:ux, urgency:blocker, urgency:5, platform:general, impact:visible, size:M, field:UI / UX

#1703 feat: show idle check information based on only applied configurations#361
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-session-list.ts
Labels: effort:easy, area:ux, area:i18n, platform:general, impact:visible, size:M, field:UI / UX, field:localization

#1704 feat: support i18n ally extension for VS Code
  .gitignore
  .vscode/i18n-ally-custom-framework.yml
  .vscode/i18n-ally-reviews.yml
Labels: size:M

#1711 hotfix: Disable the app icon if the user is not the owner of the session.
  src/components/backend-ai-session-list.ts
Labels: type:fix, effort:easy, area:ux, urgency:4, platform:general, impact:visible, size:XS

#1709 Hotfix/manual image input is not displayed on desktop app
  src/components/backend-ai-login.ts
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-user-dropdown-menu.ts
Labels: type:fix, type:enhance, effort:normal, area:ux, platform:app, urgency:5, impact:visible, size:S

#1646 feat: configuration to use react component in web component
  .prettierignore
  Makefile
  index.html
  package-lock.json
  package.json
  react/.env.development
  react/.gitignore
  react/README.md
  react/craco.config.js
  react/package-lock.json
  react/package.json
  react/public/.gitkeep
  react/src/components/BackendaiClientProvider.tsx
  react/src/components/DefaultProviders.tsx
  react/src/components/Flex.tsx
  react/src/components/Information.tsx
  react/src/helper/customeThemeConfig.ts
  react/src/helper/index.tsx
  react/src/helper/react-to-webcomponent.tsx
  react/src/hooks/index.ts
  react/src/index.css
  react/src/index.tsx
  react/src/logo.svg
  react/src/react-app-env.d.ts
  react/src/reportWebVitals.ts
  react/src/setupTests.ts
  react/tsconfig.json
  resources/theme.json
  src/components/backend-ai-information-view-legacy.ts
  src/components/backend-ai-information-view.ts
  web-dev-server.config.js
Labels: area:lib, platform:general, effort:epic, impact:breaking, comp:JS SDK, size:XL, field:UI / UX, field:localization

#1710 feat: display allocated shared memory in session config column
  src/components/backend-ai-session-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: effort:easy, area:ux, urgency:3, impact:visible, size:M

#1701 feat: set `allowed_session_types` default value and make required.
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-multi-select.ts
  src/components/backend-ai-resource-group-list.ts
Labels: type:fix, type:enhance, effort:normal, area:ux, area:i18n, urgency:4, platform:general, impact:visible, size:L, field:UI / UX, field:localization

#1694 feat: connect ssh / sftp in filebrowser dialog
  config.toml.sample
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-storage-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: type:enhance, effort:normal, area:ux, urgency:blocker, urgency:5, platform:general, size:L, field:UI / UX, field:localization

#1727 fix: compile block of Make file for react build multi target (web,app)
  Makefile
  package.json
  react/package.json
Labels: size:S

#1729 fix: enable npu resource slider when limited
  src/components/backend-ai-session-launcher.ts
Labels: type:fix, area:ux, urgency:blocker, platform:web, urgency:5, effort:epic, impact:visible, size:S, size:XS
