Repository lablup/backend.ai-webui, pull requests merged in 2023-12, with the labels that each got.

#2072 add: BUILD_NUMBER as a number of commits on build target branch
  Makefile
  index.html
  src/components/backend-ai-webui.ts
  version.json
Labels: type:enhance, effort:easy, urgency:3, platform:general, area:infra, impact:invisible, size:S

#2069 feature: recover folder cloneable option in folder create/setting modal.
  .prettierignore
  react/data/schema.graphql
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-project-switcher.ts
  src/components/backend-ai-storage-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: type:enhance, urgency:5, size:XL

#2076 fix: rename to mode_card
  react/data/schema.graphql
  react/src/components/ModelCardModal.tsx
  react/src/pages/ModelStoreListPage.tsx
  src/components/backend-ai-data-view.ts
Labels: size:M

#2078 Fix: Sharing vfolder dialog is not closed when user click outside of dialog
  src/components/backend-ai-storage-list.ts
Labels: type:fix, size:XS

#2083 feature: Disable primary keypair deletion
  react/data/schema.graphql
  react/src/components/UserInfoModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-user-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: size:L, field:UI / UX, field:localization

#2087 feature: re-arrange my account dialog
  react/src/components/KeypairInfoModal.tsx
  react/src/components/UserProfileSettingModal.css
  react/src/components/UserProfileSettingModal.tsx
  react/src/index.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-usersettings-general-list.ts
Labels: size:L, field:UI / UX, field:localization

#2080 Fix: Change to setting.Pulgins to setting.OpensourcePlugins
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-settings-view.ts
Labels: type:enhance, effort:easy, size:L, field:UI / UX, field:localization

#2030 feature: remaining marks in environment allocation slider
  react/src/components/DynamicUnitInputNumber.tsx
  react/src/components/DynamicUnitInputNumberWithSlider.tsx
  react/src/components/InputNumberWithSlider.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/helper/index.test.tsx
  react/src/helper/index.tsx
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: size:XL, field:UI / UX, field:localization, neo session launcher

#2092 fix:activated and disabled mwc-switch's color is shown shadow color
  src/components/backend-ai-general-styles.ts
Labels: type:enhance, size:XS

#2067 refactor: rewrite protocol interceptor / buffer handler to new format introduced from Electron 25
  Makefile
  main.js
  package-lock.json
  package.json
Labels: effort:hard, platform:app, mnt:dependencies, urgency:3, type:refactor, area:upstream, impact:invisible, size:M

#2046 fix: user signup without confirmation
  src/components/backend-ai-signup.ts
Labels: type:fix, type:enhance, effort:easy, size:M

#2047 feat: Expose endpoint and created user in model serving list
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: effort:easy, size:M, field:UI / UX, field:localization

#2055 fix:The Credential View displays a list that does not match the sub-tab
  src/components/backend-ai-credential-view.ts
Labels: type:fix, effort:easy, size:S

#2071 feat: Add table columns setting component
  react/src/components/TableColumnsSettingModal.tsx
  react/src/pages/ServingListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: type:enhance, effort:normal, size:L, size:XL, field:UI / UX, field:localization

#2086 fix: calculate liveStat by considering all containers
  src/components/backend-ai-session-list.ts
Labels: type:fix, effort:normal, area:ux, urgency:4, platform:general, impact:visible, size:L

#2107 fix: Remove unnecessary spaces in sFTP upload session commands
  src/components/backend-ai-app-launcher.ts
Labels: size:XS

#2097 feat: run `relay:watch` with nodemon
  package.json
  react/package-lock.json
  react/package.json
Labels: size:L

#2109 fix: Image name exceptions of `ImageEnvironmentSelectFormItem`
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ImageMetaIcon.tsx
  react/src/components/ModelCardModal.tsx
  react/src/components/SessionKernelTag.tsx
  react/src/hooks/index.ts
Labels: size:L

#2111 docs: fix GitHub branding
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  resources/icons/LICENSE.md
  upload-release.js
Labels: size:L, field:UI / UX, field:localization

#2112 feature: Set resource limitation in service launcher
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/hooks/index.ts
  src/components/backend-ai-login.ts
Labels: size:L

#2099 fix:modiy condition of registry user config validation
  react/src/components/ContainerRegistryEditorModal.tsx
Labels: type:fix, effort:easy, area:ux, urgency:2, size:XS, field:UI / UX

#2108 feature: `useResourceLimitAndRemaining` hook
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
Labels: size:XL

#2095 fix:Add white-space style
  react/src/components/UserDropdownMenu.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-webui-styles.ts
  src/components/backend-ai-webui.ts
Labels: type:fix, effort:easy, size:M, field:UI / UX, field:localization

#2116 fix:UserDropdownMenu userName's item overflow issue
  react/src/components/UserDropdownMenu.tsx
Labels: effort:easy, size:XS

#2098 feat:Implement notice alert and delete notice-ticker and announcement panel.
  react/src/components/AnnouncementAlert.tsx
  react/src/index.tsx
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-summary-view.ts
Labels: type:enhance, effort:normal, effort:easy, size:L

#2093 refactor: Signout modal
  react/src/components/SignoutModal.tsx
  react/src/index.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-login.ts
  src/components/backend-ai-webui.ts
Labels: type:enhance, effort:easy, area:ux, urgency:1, platform:general, size:L, field:UI / UX, field:localization
