Repository lablup/backend.ai-webui, pull requests merged in 2023-02, with the labels that each got.

#1567 feat: add disk column on agent tab and display the total capacity of the storage
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-storage-proxy-list.ts
Labels: type:enhancement, status:good first issue, effect:minor, difficulty:easy, area:UI / UX, level:2, platform:general, field:UI / UX, field:localization

#1566 fix: refactor vfolder quota setting dialog
  src/components/backend-ai-common-utils.ts
  src/components/backend-ai-storage-list.ts
Labels: type:bug, effect:minor, level:3, field:UI / UX

#1565 Fix: remove '.git' suffix about git repos
  src/components/backend-ai-import-view.ts
Labels: type:bug, type:enhancement

#1570 refactor/add more sort columns for multiple pages
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-user-list.ts
  src/components/lablup-grid-sort-filter-column.ts
Labels: type:enhancement, effect:minor, area:UI / UX, level:5, difficulty:normal

#1558 update: package running script to npx-based CLI
  package.json
Labels: type:enhancement, level:3, platform:general

#1571 hotfix: broken environment list UI because of the unmatched tag
  src/components/backend-ai-environment-list.ts
Labels: type:bug, status:good first issue, effect:minor, difficulty:easy, area:UI / UX, level:5, platform:general, field:UI / UX

#1578 feat: Add modal to enter SSH keypair manually
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-usersettings-general-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: type:enhancement, level:3, field:UI / UX, field:localization

#1572 feat: display CUDA memory utilization in node and session pages
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-session-list.ts
Labels: type:enhancement, action:need confirmation, area:UI / UX, level:5, platform:general, field:UI / UX

#1576 bugfix: insert a dash in image Requirements (tag) in launching a compute session
  src/components/backend-ai-session-launcher.ts
Labels: status:good first issue, effect:minor, difficulty:easy, area:UI / UX, level:2, platform:general, field:UI / UX

#1573 feat: add status column and disable deleting folders
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-storage-list.ts
Labels: type:enhancement, effect:minor, difficulty:easy, area:UI / UX, level:5, platform:general, field:UI / UX, field:localization

#1580 fix: display cuda mem info if cuda util exist
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-session-list.ts
Labels: type:bug, type:enhancement, status:good first issue, effect:minor, difficulty:easy, area:UI / UX, level:4, platform:general, field:UI / UX

#1581 misc: change data folder's status color
  src/components/backend-ai-storage-list.ts
Labels: effect:minor, difficulty:easy, area:UI / UX

#1588 fix: incorrect display of GPU memory utilization
  src/components/backend-ai-session-list.ts
Labels: type:bug, status:good first issue, effect:minor, difficulty:easy, area:UI / UX, level:3, platform:general, field:UI / UX

#1591 fix: incorrect assignment of signin mode config
  src/components/backend-ai-login.ts
Labels: type:bug, severity:blocker

#1594 add: more CSS injection point to custom.css
  src/components/backend-ai-agent-summary-view.ts
  src/components/backend-ai-agent-view.ts
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-email-verification-view.ts
  src/components/backend-ai-environment-view.ts
  src/components/backend-ai-error-log-view.ts
  src/components/backend-ai-error-view.ts
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-information-view.ts
  src/components/backend-ai-maintenance-view.ts
  src/components/backend-ai-pipeline-view.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-settings-view.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-usage-list.ts
  src/components/backend-ai-user-dropdown-menu.ts
  src/components/backend-ai-user-list.ts
  src/components/backend-ai-usersettings-view.ts
  src/components/lablup-activity-panel.ts
  src/components/lablup-loading-spinner.ts
  src/components/lablup-terms-of-service.ts
Labels: type:enhancement, effect:minor, difficulty:easy, area:UI / UX, platform:enterprise, level:5, platform:general, field:UI / UX

#1593 feature: show total resource group amount in resource monitor gauge
  src/components/backend-ai-login.ts
  src/components/backend-ai-resource-broker.ts
Labels: type:bug, effect:minor, area:UI / UX, level:4

#1596 feat: add support for TOTP integration
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-login.ts
  src/components/backend-ai-user-dropdown-menu.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-esm.ts
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
  src/lib/qr.js
Labels: type:enhancement, effect:major, difficulty:hard, area:library / SDK, area:UI / UX, platform:enterprise, level:3, field:UI / UX, field:localization

#1599 fix: increase item count 20 -> 100 for agent summary list query
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-resource-broker.ts
Labels: severity:blocker, level:5

#1600 feature: 2fa management
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-user-dropdown-menu.ts
  src/components/backend-ai-user-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: type:enhancement, effect:minor, area:UI / UX, level:3, difficulty:normal, platform:general, field:UI / UX, field:localization

#1585 fix: align gpu process bar
  src/components/backend-ai-resource-broker.ts
Labels: type:enhancement, status:good first issue, effect:minor, difficulty:easy, action:need confirmation, area:UI / UX, level:3, platform:general, field:UI / UX

#1606 fix: allow any special characters in password input
  src/components/backend-ai-change-forgot-password-view.ts
  src/components/backend-ai-common-utils.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-signup.ts
  src/components/backend-ai-user-dropdown-menu.ts
  src/components/backend-ai-user-list.ts
Labels: type:bug, level:5

#1590 ci: add an `add-to-project` workflow
  .github/workflows/add-to-project.yml
Labels: type:enhancement, effect:minor, level:3, difficulty:normal

#1607 fix: display all available presets when `always_enqueue_compute_session` options is configured
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-session-launcher.ts
Labels: type:bug, effect:minor, difficulty:easy, area:UI / UX, level:5, platform:general, field:UI / UX

#1604 hotfix: typo errors in getting 2FA
  src/components/backend-ai-user-dropdown-menu.ts
  src/components/backend-ai-user-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: type:bug, status:good first issue, effect:minor, difficulty:easy, area:UI / UX, level:4, platform:general, field:UI / UX

#1610 refactor: display total remaining resources in resource group indicator
  src/components/backend-ai-resource-broker.ts
Labels: level:5

#1613 feat: set columns in the registry-list page to be resizable
  src/components/backend-ai-registry-list.ts
Labels: type:enhancement, effort:1, difficulty:easy, area:UI / UX, urgency:1, field:UI / UX

#1612 feat: add the flag to hide 2fa
  config.toml.sample
  resources/i18n/en.json
  src/components/backend-ai-login.ts
  src/components/backend-ai-user-dropdown-menu.ts
  src/components/backend-ai-user-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: type:enhancement, effort:1, difficulty:easy, area:UI / UX, urgency:4, platform:general, field:UI / UX, field:localization

#1614 style: display all characters of session image tag
  src/components/backend-ai-session-launcher.ts
  src/plastics/lablup-shields/lablup-shields.ts
Labels: type:bug, type:enhancement, effort:1, difficulty:easy, area:UI / UX, urgency:4, platform:general, field:UI / UX
