Repository lablup/backend.ai-webui, pull requests merged in 2023-11, with the labels that each got.

#2003 fix: limit number of characters of model service name
  react/src/components/ServiceLauncherModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: size:M, field:UI / UX, field:localization

#1998 feat: add config option that can hide custom resource allocation
  config.toml.sample
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-launcher.ts
Labels: type:enhance, effort:easy, area:ux, urgency:3, platform:general, size:S

#2002 fix: hide inference app from app launcher
  src/components/backend-ai-app-launcher.ts
Labels: type:enhance, effort:normal, area:ux, urgency:4, impact:visible, size:S, field:UI / UX, ossca23

#2005 feat: add passwordless sudo user management UI
  react/src/components/UserInfoModal.tsx
  react/src/components/UserSettingModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/lib/backend.ai-client-esm.ts
Labels: type:enhance, effort:normal, effort:easy, area:ux, urgency:3, urgency:4, platform:general, impact:visible, size:L, field:UI / UX, field:localization

#1999 feat: new GraphQL directive on Client, `@since(version:)` and `@deprecatedSince(version:)`
  graphql.config.js
  react/data/client-directives.graphql
  react/data/relay-and-local-directives-for-graphql-config.graphql
  react/data/schema.graphql
  react/src/RelayEnvironment.ts
  react/src/components/StorageStatusPanel.tsx
  react/src/helper/graphql-transformer.test.ts
  react/src/helper/graphql-transformer.ts
  react/src/pages/ServingListPage.tsx
Labels: urgency:blocker, size:XL

#2012 fix: UI with multiple types of accelerators
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-panel.ts
Labels: type:fix, effort:hard, action:need confirmation, area:ux, urgency:blocker, urgency:5, platform:general, impact:visible, size:XL, field:UI / UX

#1996 feat: add `allowAppDownloadPanel` that can hide app download panel
  config.toml.sample
  src/components/backend-ai-login.ts
  src/components/backend-ai-summary-view.ts
Labels: type:enhance, effort:easy, area:ux, platform:web, urgency:3, impact:invisible, impact:visible, size:S

#2010 feature: set password to `undefined` when no change is desired.
  react/src/components/ContainerRegistryEditorModal.tsx
  react/src/components/ContainerRegistryList.tsx
Labels: type:fix, effort:normal, area:lib, urgency:4, platform:general, impact:invisible, size:S, comp:manager

#2011 bugfix: GraphQL variable type error
  react/src/components/UserSettingModal.tsx
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-environment-view.ts
  src/components/backend-ai-resource-policy-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: type:fix, effort:normal, area:lib, urgency:4, platform:general, impact:invisible, comp:JS SDK, size:M, comp:manager

#2013 update: stand-alone local proxy packaging
  Makefile
  index.html
  package-lock.json
  package.json
  react/package.json
  src/components/backend-ai-webui.ts
  version.json
Labels: effort:hard, platform:app, hacktoberfest-accepted, urgency:4, type:refactor, platform:general, area:upstream, area:infra, impact:invisible, comp:JS SDK, size:XL

#1994 docs: Update documentation link
  src/components/backend-ai-app-launcher.ts
Labels: type:question, effort:easy, urgency:1, platform:general, area:docs, impact:invisible, size:XS

#2014 update: change NPU device limit per node to 8
  src/components/backend-ai-session-launcher-neo.ts
  src/components/backend-ai-session-launcher.ts
Labels: effort:easy, urgency:5, type:refactor, platform:general, area:impl, impact:invisible

#2015 add: read NPU limit per node configuration from config.toml
  config.toml.sample
  src/components/backend-ai-login.ts
Labels: type:enhance, effort:normal, platform:enterprise, urgency:5, area:impl, impact:invisible

#2019 fix: add optional chaining to call support
  Makefile
  index.html
  react/package-lock.json
  src/components/backend-ai-environment-view.ts
  src/components/backend-ai-webui.ts
  version.json
Labels: type:fix, effort:easy, area:ux, urgency:3, platform:general, impact:invisible, size:M

#2020 feat: Link FastTrack button to frontend server
  src/components/backend-ai-login.ts
  src/components/backend-ai-webui.ts
Labels: platform:cloud, size:S

#2017 add: a draft for updated sliderInputItem with selectable AI accelerator
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/SliderInputFormItem.tsx
  react/src/hooks/backendai.tsx
Labels: type:enhance, status:help wanted, effort:normal, action:need confirmation, area:ux, urgency:5, impact:visible, size:L

#2016 Fix: hide `max_vfolder_count` setting according to the api version
  react/data/schema.graphql
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-resource-policy-list.ts
Labels: type:fix, type:enhance, effort:easy, area:ux, urgency:3, platform:general, impact:visible, size:L

#2021 feature: hide size of directory by option
  config.toml.sample
  src/components/backend-ai-login.ts
  src/components/backend-ai-storage-list.ts
Labels: type:enhance, effort:easy, area:ux, urgency:4, platform:general, impact:visible, size:XL

#2023 feature: update existing components for neo session launcher
  react/src/components/DoubleTag.tsx
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourceNumber.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/SliderInputFormItem.tsx
  react/src/helper/index.test.tsx
  react/src/helper/index.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: size:L

#1953 feat: Neo session launcher - alpha
  .cspell.json
  react/.storybook/main.ts
  react/.storybook/preview.ts
  react/package-lock.json
  react/package.json
  react/src/BAICard.tsx
  react/src/components/DatePickerISO.tsx
  react/src/components/DynamicStepInputNumber.stories.tsx
  react/src/components/DynamicStepInputNumber.tsx
  react/src/components/DynamicUnitInputNumber.stories.tsx
  react/src/components/DynamicUnitInputNumber.tsx
  react/src/components/DynamicUnitInputNumberWithSlider.stories.tsx
  react/src/components/DynamicUnitInputNumberWithSlider.tsx
  react/src/components/EnvVarFormList.tsx
  react/src/components/PortSelectFormItem.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourceNumber.stories.tsx_
  react/src/components/ResourcePresetSelect.tsx
  react/src/components/SessionNameFormItem.tsx
  react/src/components/VFolderTableFormItem.tsx
  react/src/helper/index.test.tsx
  react/src/hooks/backendai.tsx
  react/src/hooks/index.ts
  react/src/pages/SessionLauncherPage.css
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: size:XL, field:UI / UX, field:localization

#2024 feat: VFolderPermissionTag component
  react/src/components/VFolderPermissionTag.tsx
  react/src/components/VFolderTable.tsx
Labels: size:M

#2028 feature: Response style for `ImageEnvironmentSelectFormItems`
  react/src/components/ImageEnvironmentSelectFormItems.css
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ResourceAllocationFormItems.tsx
Labels: size:L

#2026 feat: cluster mode in Neo Session launcher
  .cspell.json
  react/src/components/InputNumberWithSlider.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/SliderInputFormItem.tsx
  react/src/hooks/hooksUsingRelay.tsx
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: size:XL, field:UI / UX, field:localization

#2029 fix: variable name validation rule of `EnvVarFormList`
  react/src/components/EnvVarFormList.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: size:L, field:UI / UX, field:localization

#2034 add: bundle option to Makefile with auto-release bundle
  .github/workflows/package.yml
  Makefile
  README.md
  index.html
  package-lock.json
  src/components/backend-ai-webui.ts
  version.json
Labels: effort:normal, mnt:build-chain, urgency:5, platform:general, area:infra, impact:invisible, size:M, github_actions

#2040 feature: rename `blockedMenuItem` to `inactiveMenuItem`
  config.toml.sample
  src/components/backend-ai-webui.ts
  src/types/backend-ai-console.d.ts
Labels: type:enhance, effort:normal, area:ux, urgency:2, type:refactor, platform:general, impact:visible, size:XL

#2043 fix: exception caused by mismatched selected resource group information.
  react/src/components/ResourceGroupSelect.tsx
  react/src/index.tsx
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-resource-monitor.ts
Labels: size:M

#2036 fix: Use `blockedMenuItem` to hide and show pipeline button
  config.toml.sample
  src/components/backend-ai-login.ts
  src/components/backend-ai-webui.ts
Labels: effort:easy, urgency:3, type:refactor, size:L

#2045 Feat:Cancelled session's log button is disabled
  src/components/backend-ai-session-list.ts
Labels: type:enhance, effort:easy, size:XS

#1993 fix: update edu app launcher
  config.toml.sample
  src/components/backend-ai-edu-applauncher.ts
  src/components/backend-ai-login.ts
  src/lib/backend.ai-client-esm.ts
  src/lib/backend.ai-client-node.ts
Labels: type:enhance, effort:normal, urgency:5, impact:invisible, size:M

#2049 fix: add blockedMenuItem again
  src/components/backend-ai-webui.ts
Labels: effort:normal, urgency:5, type:refactor, platform:general, area:impl, impact:visible, size:L

#2051 Fix:Invisible Data&Storage menu
  src/components/backend-ai-webui.ts
Labels: type:fix, effort:easy, size:XS

#2052 fix: Correct hyphen usage in input validator regex
  react/src/components/SessionListColums/SessionInfoCell.tsx
  react/src/components/SessionNameFormItem.tsx
Labels: urgency:2, size:XS

#2057 fix: add omitted html tag in folder explorer
  src/components/backend-ai-storage-list.ts
Labels: urgency:blocker, impact:visible, size:XS

#2053 feature: set `singleAttributePerLine` prettier option to `false` (default:false)
  react/.prettierrc.json
  src/.prettierrc.json
Labels: effort:normal, mnt:dependencies, urgency:3, platform:general, area:infra, impact:invisible, size:XS

#2048 fix: remove `unhandled promise rejection` in UserProfileSettingModal
  react/src/components/UserProfileSettingModal.tsx
Labels: type:fix, effort:easy, urgency:3, platform:general, impact:visible, size:M

#2060 fix: typo error
  src/components/backend-ai-session-launcher.ts
Labels: type:fix, effort:easy, area:ux, urgency:1, platform:general, impact:visible, field:UI / UX

#2063 fix: remove comment applied in controls column in vfolder list
  src/components/backend-ai-storage-list.ts
Labels: urgency:blocker, impact:visible

#2065 fix: reflect changed desktop app download link by architecture
  src/components/backend-ai-summary-view.ts
Labels: type:fix, effort:easy, platform:app, mnt:build-chain, urgency:4, area:infra, impact:invisible, size:XS
