Repository lablup/backend.ai-webui, pull requests merged in 2023-08, with the labels that each got.

#1825 fix: serving dialog popup generates error when unexpected image metadata is loaded without icon URL
  index.html
  package-lock.json
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/VFolderSelect.tsx
  react/src/hooks/index.ts
  src/components/backend-ai-webui.ts
  version.json
Labels: type:fix, effort:easy, urgency:blocker, platform:general, impact:visible, size:S

#1806 fix: modify the logic to validate the URL input
  src/components/backend-ai-registry-list.ts
Labels: type:fix, effort:easy, size:S

#1803 feature: Proxy react server to web dev server by using `devServer` and `proxy`
  README.md
  es-dev-server.config.js
  main.js
  package.json
  react/.env.development
  react/craco.config.js
  tests/test_login.js
  tests/test_vfolder.js
  tsconfig.json
  web-dev-server.config.js
Labels: effort:easy, platform:web, area:infra, impact:invisible, size:M

#1831 feat: update model-service related i18n
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ModelServiceSettingModal.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
  resources/i18n/en.json
  resources/i18n/ko.json
Labels: type:enhance, effort:easy, area:ux, area:i18n, urgency:3, platform:general, impact:visible, size:L, field:UI / UX, field:localization

#1826 refactor: modify totp initializing logic
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserSettingModal.tsx
  resources/i18n/en.json
  resources/i18n/ko.json
Labels: effort:normal, area:ux, urgency:2, type:refactor, platform:general, impact:invisible, size:L, field:UI / UX, field:localization

#1837 update: Change helper-text and add `inputLimit`
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-session-launcher.ts
Labels: size:S, field:UI / UX, field:localization

#1840 style: import custom.css to statistics-view
  src/components/backend-ai-statistics-view.ts
Labels: type:enhance, effort:easy, area:ux, urgency:3, platform:general, size:XS

#1841 add: Ubuntu mono font for monospace text
  resources/fonts/fonts.css
  resources/fonts/ubuntu-mono-v15-bold.woff2
  resources/fonts/ubuntu-mono-v15-bolditalic.woff2
  resources/fonts/ubuntu-mono-v15-italic.woff2
  resources/fonts/ubuntu-mono-v15-regular.woff2
Labels: type:enhance, effort:easy, area:ux, urgency:3, platform:general, impact:visible, field:UI / UX

#1842 fix: Add the React component to i18n scan target
  i18n.config.js
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
Labels: size:L, field:UI / UX, field:localization

#1833 fix: http status code
  src/components/backend-ai-session-list.ts
Labels: type:fix, effort:easy, urgency:4, size:XS, comp:manager

#1843 feat: add preopen ports configs on the session launcher
  config.toml.sample
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/lablup-expansion.ts
  src/lib/backend.ai-client-esm.ts
Labels: type:enhance, effort:normal, area:ux, urgency:4, type:refactor, platform:general, impact:visible, size:XL, field:UI / UX, field:localization

#1836 hotfix: custom.css and theme.json for react component
  react/src/helper/react-to-webcomponent.tsx
  react/src/pages/ServingListPage.tsx
  react/src/pages/SessionListPage.tsx
  resources/custom.css
  resources/theme.json
Labels: size:L, field:UI / UX

#1852 update: fix '자원를' to '자원을' for smaller resource text
  resources/i18n/ko.json
Labels: size:XS, field:UI / UX, field:localization, ossca23

#1854 feat: display pre open ports to the inside of lablup-expansion
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/lablup-expansion.ts
Labels: type:enhance, effort:easy, area:ux, urgency:4, platform:general, impact:visible, size:M

#1853 refactor: modify client config constructor type check in backend.ai-client-esm.ts
  src/lib/backend.ai-client-esm.ts
Labels: size:XS

#1856 feat: update preopen port detail info
  resources/i18n/en.json
  resources/i18n/ko.json
Labels: type:enhance, effort:easy, area:ux, urgency:1, platform:general, impact:visible, size:XS, field:UI / UX, field:localization

#1847 fix: Remove license errors in open-source project version
  src/lib/backend.ai-client-esm.ts
Labels: size:S

#1860 fix: set the popup container to shadowRoot always
  react/src/components/DefaultProviders.tsx
  react/src/components/ServiceLauncherModal.tsx
Labels: size:S

#1861 feat: unify terminology to `preopen ports`
  config.toml.sample
  resources/i18n/en.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-launcher.ts
Labels: type:fix, effort:easy, area:ux, urgency:3, platform:general, impact:invisible, size:L, field:UI / UX, field:localization

#1862 feat: edu-applauncher opens app for a session
  src/backend-ai-app.ts
  src/components/backend-ai-edu-applauncher.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-esm.ts
Labels: size:M

#1866 fix: version label overlapping
  src/components/backend-ai-session-launcher.ts
Labels: size:M

#1865 style: set card tab background color to white
  resources/custom.css
  resources/theme.json
Labels: area:ux, urgency:3, platform:general, impact:visible, size:S, field:UI / UX

#1858 refactor: Change manage apps dialog to react component
  react/src/components/ManageAppsModal.tsx
  react/src/index.tsx
Labels: size:L

#1859 feat: react-based image environment select display tags with search highlight
  react/src/components/DoubleTag.tsx
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/SessionListColums/SessionInfoCell.tsx
  react/src/components/TextHighlighter.tsx
  resources/theme.json
Labels: size:L

#1869 fix: react dev server to proxy any unknown requests to web-dev-server
  react/craco.config.js
  react/package.json
Labels: size:S

#1864 fix: model service stability
  react/data/schema.graphql
  react/src/components/EndpointStatusTag.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/ServingRouteErrorModal.tsx
  react/src/hooks/backendai.tsx
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
  resources/i18n/en.json
  resources/i18n/ko.json
  src/lib/backend.ai-client-esm.ts
Labels: size:XL, field:UI / UX, field:localization

#1872 feature: show an error message when the service fails to start
  react/src/components/ServiceLauncherModal.tsx
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
Labels: size:M, field:UI / UX, field:localization

#1873 update: node.js module dependencies
  index.html
  package-lock.json
  package.json
  react/package-lock.json
  react/package.json
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
  react/src/pages/SessionListPage.tsx
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-esm.ts
  version.json
Labels: effort:hard, mnt:dependencies, urgency:4, type:refactor, platform:general, area:upstream, impact:invisible

#1846 feat: add copy to clipboard button
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-app-launcher.ts
Labels: size:M, field:UI / UX, field:localization, ossca23

#1844 modify regexTable to use error notification when referenced resource is deleted
  src/components/backend-ai-painkiller.ts
Labels: size:XS, ossca23

#1857 test: Flex component rendering test & snapshot
  package.json
  react/src/components/DomainSelector.test.tsx
  react/src/components/Flex.test.tsx
  react/src/components/__snapshots__/Flex.test.tsx.snap
Labels: size:M, ossca23

#1875 feat: Do not allow batch session startup command to have an empty string.
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-session-launcher.ts
  src/components/lablup-codemirror.ts
Labels: type:enhance, effort:easy, area:ux, area:i18n, urgency:2, platform:general, impact:visible, size:L, field:UI / UX, field:localization

#1868 fix: password validation rule on "Modify User Detail" Modal
  react/src/components/UserSettingModal.tsx
Labels: size:XS, ossca23

#1780 feature: allow eduapplauncher to pass `resources` option
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-edu-applauncher.ts
  src/lib/backend.ai-client-esm.ts
  src/lib/backend.ai-client-node.ts
Labels: size:M, field:UI / UX, field:localization

#1871 feature: add tab for pipeline dedicated folder list
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-storage-list.ts
Labels: size:S, field:UI / UX, field:localization

#1877 style: apply custom header to Modal
  react/src/components/BAIModal.css
  react/src/components/BAIModal.tsx
  react/src/components/ManageAppsModal.tsx
  react/src/components/ModelServiceSettingModal.tsx
  react/src/components/ProjectResourcePolicySettingModal.tsx
  react/src/components/QuotaSettingModal.tsx
  react/src/components/ResourcePolicyCard.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/ServingRouteErrorModal.tsx
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserInfoModal.tsx
  react/src/components/UserResourcePolicySettingModal.tsx
  react/src/components/UserSettingModal.tsx
  react/src/fix_antd.css
  react/src/pages/ServingListPage.tsx
  resources/theme.json
  src/components/backend-ai-general-styles.ts
Labels: type:enhance, effort:normal, area:ux, urgency:2, platform:general, impact:visible, size:L

#1850 Refactor maintenance view
  react/src/index.tsx
  react/src/pages/MaintenancePage.tsx
Labels: size:L, ossca23

#1849 Refactor user pref modal
  react/src/components/UserProfileSettingModal.tsx
  react/src/index.tsx
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
Labels: size:L, field:UI / UX, field:localization, ossca23

#1885 ci: Add auto-label-in-issue action
  .github/workflows/auto-label-in-issue.yaml
Labels: size:S

#1889 fix: incomplete URL substring sanitization
  src/components/backend-ai-import-view.ts
Labels: size:XS

#1892 update: change '몇 일' to '며칠' for gpu/accelerator text
  resources/i18n/ko.json
Labels: size:XS, field:UI / UX, field:localization

#1895 update: 키 수명 -> 키 경과시간
  resources/i18n/ko.json
Labels: effort:easy, area:ux, urgency:1, type:refactor, platform:general, size:XS, field:UI / UX, field:localization

#1888 feature: add sorting filter in new column `created_at` in serving list
  react/data/schema.graphql
  react/package-lock.json
  react/package.json
  react/src/helper/index.tsx
  react/src/helper/types.tsx
  react/src/hooks/reactPaginationQueryOptions.tsx
  react/src/pages/ServingListPage.tsx
  react/src/react-app-env.d.ts
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
Labels: urgency:5, size:L, field:UI / UX, field:localization

#1886 Fix: resource monitor's right border is not visible
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-resource-monitor.ts
Labels: size:S, ossca23
