Repository lablup/backend.ai-webui, pull requests merged in 2023-03, with the labels that each got.

#1615 fix: get `totpSupported` flag asynchronously
  src/components/backend-ai-user-dropdown-menu.ts
  src/components/backend-ai-user-list.ts
Labels: type:bug, effort:1, difficulty:easy, area:UI / UX, urgency:4, platform:general

#1616 refactor: change 2FA option name: `hide2FA` -> `enable2FA`
  config.toml.sample
  src/components/backend-ai-login.ts
  src/lib/backend.ai-client-esm.ts
Labels: difficulty:easy, urgency:5

#1619 fix: minor capital letter issue
  resources/i18n/en.json
Labels: effort:1, difficulty:easy, area:UI / UX, area:i18n, urgency:1, platform:general, field:UI / UX, field:localization

#1622 hotfix: 2FA item is not display after the initial login
  src/components/backend-ai-login.ts
  src/components/backend-ai-user-dropdown-menu.ts
  src/components/backend-ai-user-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: area:UI / UX, severity:blocker, urgency:2, difficulty:normal, platform:general, field:UI / UX

#1624 fix: apply ellipsis when username or userid exceeds total width of user dropdown menu
  src/components/backend-ai-user-dropdown-menu.ts
Labels: effort:2, difficulty:easy, area:UI / UX, urgency:4

#1623 hotfix: Remove the waiting text in the login dialog in typing OTP
  src/components/backend-ai-login.ts
Labels: effort:1, difficulty:easy, area:UI / UX, urgency:4, platform:general, field:UI / UX

#1626 update: change '강제종료' to '종료' for multiple session termination button text
  resources/i18n/ko.json
Labels: effort:1, difficulty:easy, area:i18n, urgency:2, platform:general

#1627 update: spring-cleaning time (component updates)
  package-lock.json
  package.json
  rollup.config.ts
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-error-log-list.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-resource-group-list.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-settings-view.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-storage-proxy-list.ts
  src/components/backend-ai-user-list.ts
  src/components/lablup-grid-sort-filter-column.ts
Labels: effort:3, difficulty:hard, area:library / SDK, mnt:dependencies, urgency:2, platform:general

#1628 feat: add force 2fa option
  config.toml.sample
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-user-dropdown-menu.ts
  src/lib/backend.ai-client-esm.ts
Labels: effort:2, area:UI / UX, urgency:4, difficulty:normal, platform:general, field:UI / UX

#1586 add: handle inference type on WebUI
  package-lock.json
  resources/app_template.json
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  resources/image_metadata.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-storage-list.ts
  src/lib/backend.ai-client-esm.ts
  version.json
Labels: type:enhancement, effort:3, action:working, area:library / SDK, area:UI / UX, urgency:5, difficulty:normal, platform:general, field:UI / UX, field:localization

#1639 feat: display usage_mode to folder-info-dialog
  src/components/backend-ai-storage-list.ts
Labels: effort:1, difficulty:easy, area:UI / UX, urgency:1, platform:general, field:UI / UX

#1635 feat: add service definition for gradio-cat-client
  resources/app_template.json
  resources/icons/kitty.png
Labels: area:UI / UX, platform:app, field:UI / UX

#1641 feature: show tooltips on every icon in controls tab
  package-lock.json
  package.json
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-session-list.ts
Labels: effort:1, difficulty:easy, area:UI / UX, area:i18n, urgency:5, mnt:refactor, field:UI / UX, field:localization

#1642 feature: hide vfolder sharing when invite others disabled
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-storage-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: effort:2, action:need confirmation, area:UI / UX, urgency:5

#1647 feat: add `allowPreferredPort` to show/hide `Try preferred port`
  config.toml.sample
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-login.ts
Labels: effort:1, difficulty:easy, area:UI / UX, urgency:4, platform:general, field:UI / UX

#1636 feat: make use of SI/binary prefixes consistent for disk, network, and memory
  src/backend-ai-app.ts
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-common-utils.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-experiment-view.ts
  src/components/backend-ai-monthly-usage-panel.ts
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-storage-proxy-list.ts
  src/components/backend-ai-webui.ts
  src/components/lablup-grid-sort-filter-column.ts
Labels: effort:1, difficulty:easy, urgency:4, mnt:refactor

#1644 add: basic support for IPU / ATOM GUI menu
  resources/app_template.json
  resources/device_metadata.json
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  resources/icons/classification.svg
  resources/icons/orbit.svg
  resources/icons/rebel.svg
  resources/image_metadata.json
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-metadata-store.ts
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-session-launcher-legacy.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-settings-store.ts
  src/components/backend-ai-settings-view.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-esm.ts
Labels: type:enhancement, effort:3, area:library / SDK, area:UI / UX, urgency:4, platform:general, field:UI / UX, field:localization

#1640 feat: add a host usage indicator to "create vFolder dialog"
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-data-view.ts
Labels: type:enhancement, effort:3, area:UI / UX, urgency:5, difficulty:normal, platform:general, field:UI / UX, field:localization

#1648 hotfix: rename `volumeInfo` property to `storageProxyInfo`
  src/components/backend-ai-data-view.ts
Labels: type:bug, effort:1, difficulty:easy, area:UI / UX, severity:blocker, urgency:5, platform:general, field:UI / UX

#1645 feat: display idle checker remaining time
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-common-utils.ts
  src/components/backend-ai-session-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: effort:2, area:UI / UX, area:i18n, urgency:5, difficulty:normal, platform:general, field:UI / UX, field:localization

#1655 fix : remain highlight after click on help button
  src/components/backend-ai-help-button.ts
Labels: type:enhancement, effort:1, difficulty:easy, action:need confirmation, area:UI / UX, urgency:1, platform:general, field:UI / UX

#1658 feat: add confirm dialog for delete credentials
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-credential-list.ts
Labels: type:enhancement, effort:1, difficulty:easy, area:UI / UX, urgency:1, platform:general, field:UI / UX, field:localization

#1657 feat: vscode prettier extension issue
  .prettierignore
Labels: type:enhancement, effort:1, difficulty:easy, urgency:1, platform:general

#1659 fix: sorting installed environments up when visiting environment menu
  src/components/backend-ai-environment-list.ts
Labels: effort:2, difficulty:easy, area:UI / UX, urgency:1, platform:general, field:UI / UX

#1662 fix: change messege type of delete user
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-user-list.ts
Labels: type:bug, urgency:1, platform:general, field:UI / UX, field:localization

#1654 fix: add margin to resource preset dialog
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-storage-list.ts
Labels: type:enhancement, effort:1, difficulty:easy, area:UI / UX, urgency:1, platform:general, field:UI / UX

#1663 fix: resize column for resolve disappearing-icon
  src/components/backend-ai-credential-list.ts
Labels: type:enhancement, effort:1, difficulty:easy, area:UI / UX, urgency:1, platform:general, field:UI / UX

#1665 fix: session launcher's environment variable editor dialog button is broken in Korean
  src/components/backend-ai-session-launcher.ts
Labels: type:bug, effort:1, difficulty:easy, action:need confirmation, area:UI / UX, urgency:1, platform:general, field:UI / UX

#1651 add: add utilization idle checks column
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-session-list.ts
  src/plastics/lablup-shields/lablup-shields.ts
Labels: effort:2, area:UI / UX, urgency:4, difficulty:normal, platform:general, field:UI / UX, field:localization

#1668 feat: add support for setting `inference` as allowed session type
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-resource-group-list.ts
Labels: type:enhance, effort:normal, area:ux, urgency:4, size:XS, field:UI / UX, field:localization

#1670 fix: escape status info detail message text.
  src/components/backend-ai-session-list.ts
Labels: type:fix, effort:easy, area:ux, urgency:2, platform:general, field:UI / UX
