Repository lablup/backend.ai-webui, pull requests merged in 2023-04, with the labels that each got.

#1666 refactor: change idle checks column based on changed data structure
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-list-status.ts
  src/components/backend-ai-page.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-sidepanel-notification.ts
  src/components/backend-ai-sidepanel-task.ts
  src/components/backend-ai-tasker.ts
  src/components/lablup-loading-dots.ts
  src/components/lablup-loading-spinner.ts
  src/components/lablup-notification.ts
  src/lib/backend.ai-client-esm.ts
  src/pipeline/components/pipeline-view.ts
  src/pipeline/lib/pipeline-configuration-form.ts
Labels: type:enhance, area:i18n, urgency:5, type:refactor, platform:general, effort:epic, field:UI / UX, field:localization

#1674 fix: display explicit message when a user tries to create a session with the same name of a running session
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-session-launcher.ts
Labels: urgency:3, field:UI / UX, field:localization

#1672 fix: add `enqueueOnly` option to image installation
  src/components/backend-ai-environment-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: type:fix, effort:easy, urgency:2, platform:general, field:UI / UX

#1680 hotfix: remove inline styling applied in force terminate button
  src/components/backend-ai-session-list.ts
Labels: effort:easy, area:ux, urgency:3, impact:visible, size:XS

#1684 fix: import `wl-textfield` to display env list to apply in session launcher
  src/components/backend-ai-session-launcher.ts
Labels: type:fix, effort:easy, area:ux, impact:visible, size:XS

#1673 fix: show correct msg when vfolder sharing fails
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-painkiller.ts
  src/components/backend-ai-storage-list.ts
Labels: type:fix, effort:normal, urgency:4, size:XS, field:UI / UX, field:localization

#1685 fix: unable to launch VSCode in web version
  resources/i18n/en.json
  resources/i18n/ko.json
  src/components/backend-ai-app-launcher.ts
  src/lib/backend.ai-client-esm.ts
Labels: type:fix, urgency:blocker, platform:app, platform:web, urgency:5, field:UI / UX, field:localization

#1480 add: type annotations for ESM SDK
  src/components/backend-ai-metadata-store.ts
  src/components/backend-ai-pipeline-list.ts
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, urgency:1, platform:general, impact:invisible, status:ongoing, comp:JS SDK

#1675 refactor: remove innerHTML-based content rendering on session list status dialog
  src/components/backend-ai-session-list.ts
Labels: area:ux, urgency:3, type:refactor, platform:general, impact:invisible

#1688 ci: Add size label automation actions job
  .github/workflows/label.yml
Labels: type:enhance, effort:easy, mnt:dependencies, urgency:1, impact:invisible, status:done, size:XS, skip:changelog, skip:ci

#1689 feat: add endpoint validation
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  src/components/backend-ai-login.ts
Labels: type:enhance, effort:easy, area:ux, area:i18n, urgency:1, platform:general, impact:visible, size:XS, field:UI / UX, field:localization, size/S

#1687 feat: add sorting button to project selector
  index.html
  package-lock.json
  package.json
  resources/webui.css
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-project-switcher.ts
  src/components/backend-ai-webui-styles.ts
Labels: type:question, effort:normal, area:ux, urgency:4, platform:general, size:M, field:UI / UX, size/XL

#1691 feat: show agent id to session list if `hideAgent` is false
  src/components/backend-ai-session-list.ts
Labels: type:enhance, effort:easy, area:ux, urgency:4, platform:general, size:XS, field:UI / UX

#1693 add: event-driven metadata reload
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-metadata-store.ts
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-session-list.ts
Labels: effort:easy, urgency:3, type:refactor, platform:general, impact:invisible, size:M

#1697 fix: regression of manually setting HPC optimization value in session launcher
  src/components/backend-ai-session-launcher.ts
Labels: type:fix, effort:easy, urgency:blocker, urgency:4, impact:invisible, size:XS

#1699 fix: regression of session creation on disabled openmp optimization
  src/components/backend-ai-session-launcher.ts
Labels: size:XS

#1692 feature: rename usage tab and add info dialog in statistics page
  package-lock.json
  package.json
  resources/i18n/en.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ru.json
  resources/webui.css
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-project-switcher.ts
  src/components/backend-ai-statistics-view.ts
  src/components/backend-ai-usage-list.ts
Labels: type:enhance, effort:normal, area:ux, urgency:4, platform:general, impact:visible, size:L, field:UI / UX, field:localization
