Repository lablup/backend.ai-webui, pull requests merged in 2024-02, with the labels that each got.

#2192 feat: set RegExpression for validating URL pattern
  react/src/components/ContainerRegistryEditorModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, urgency:blocker, urgency:4, size:M, field:UI / UX, field:localization

#2174 fix:modify guide description of TOTPActivateModal and add rule of OTP input
  react/src/components/TOTPActivateModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: size:L, field:UI / UX, field:localization

#2186 fix: modify zIndex of BAIModal to prevent manipulation of the notification drawer
  react/src/components/BAIModal.tsx
  react/src/components/ModelServiceSettingModal.tsx
  react/src/components/ProjectResourcePolicySettingModal.tsx
  react/src/components/QuotaSettingModal.tsx
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserResourcePolicySettingModal.tsx
  react/src/components/VFolderTable.tsx
Labels: size:S

#2182 fix: update logo image for AMD ROCm
  react/src/components/ResourceNumber.tsx
  resources/icons/LICENSE.md
  resources/icons/ROCm.png
  resources/icons/ROCm_black.png
  resources/icons/rocm.svg
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-session-list.ts
Labels: size:M, field:UI / UX

#2031 feat: update VFolder operation statuses
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-storage-list.ts
Labels: size:M, comp:manager

#2200 feat: prevent modifying DESTROYING status services
  react/src/pages/RoutingListPage.tsx
Labels: type:fix, effort:easy, area:ux, urgency:2, platform:general, impact:visible, size:XS, field:UI / UX

#2166 fix: ResourceGroupSelect is layout and support search highlight
  react/src/components/ResourceGroupSelect.tsx
  react/src/index.tsx
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-resource-monitor.ts
Labels: size:M

#2199 feat: apply ellipsis into notification
  react/src/components/BAINotificationItem.tsx
Labels: size:XS

#2194 fix: display credential-list when `keypair`button in `summary` page is clicked
  src/components/backend-ai-credential-view.ts
Labels: size:S

#2211 fix: general setting page is empty after navigation from log tab
  react/src/pages/UserSettingsPage.tsx
Labels: size:S

#2208 fix: when user menu is clicked, credential tab is shown instead of user.
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-summary-view.ts
Labels: size:S

#2218 fix: current project doesn't apply to vfolder list and session list
  react/src/components/MainLayout/WebUIHeader.tsx
  react/src/components/VFolderTable.tsx
  react/src/hooks/index.tsx
Labels: size:M

#2207 fix: resource-monitor is shown at out of layout
  react/src/index.tsx
  src/components/backend-ai-resource-monitor.ts
Labels: size:XS

#2215 feat: refactor batch session date picker component with react component
  react/src/components/BAIIntervalText.tsx
  react/src/components/BatchSessionScheduledTimeSetting.tsx
  react/src/components/DatePickerISO.tsx
  react/src/hooks/useEventNotStable.tsx
  react/src/hooks/useIntervalValue.tsx
  react/src/index.tsx
  react/src/pages/ServingListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-session-launcher.ts
Labels: type:fix, effort:normal, area:ux, urgency:blocker, platform:web, urgency:3, urgency:4, platform:general, impact:visible, size:L, field:UI / UX, field:localization

#2206 fix: main layout header appears behind fixed column table
  react/src/components/MainLayout/MainLayout.tsx
Labels: size:XS

#2224 add: type for date
  react/package-lock.json
  react/package.json
  src/components/backend-ai-storage-proxy-list.ts
Labels: urgency:blocker, urgency:5, platform:general, size:M

#2225 fix: @typescript-eslint/typescript-estree dependency warning
  react/package-lock.json
  react/package.json
Labels: size:XL

#2227 Fix: flicker on first browser load in dark mode
  index.html
  package-lock.json
  package.json
  patches/@material+mwc-select+0.27.0.patch
  patches/@material+mwc-textfield+0.27.0.patch
  react/src/components/MainLayout/WebUIHeader.tsx
  react/src/hooks/useThemeMode.tsx
  resources/theme.json
  resources/webui.css
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-registry-list.ts
  src/components/backend-ai-resource-group-list.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-splash.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-storage-proxy-list.ts
  src/components/backend-ai-usage-list.ts
  src/components/backend-ai-user-list.ts
  src/components/backend-ai-webui-styles.ts
  src/pipeline/components/pipeline-job-list.ts
  src/pipeline/components/pipeline-job-view.ts
  src/pipeline/components/pipeline-list.ts
  src/pipeline/lib/pipeline-configuration-form.ts
Labels: size:XL, field:UI / UX

#2232 feat: add JSON schema files for theme.json
  resources/antdThemeConfig.schema.json
  resources/theme.json
  resources/theme.schema.json
Labels: size:XL

#2233 fix: Electron live debug mode using `LIVE_DEBUG` and `LIVE_DEBUG_ENDPOINT`
  main.js
Labels: size:S

#2212 feat: Introduce `SettingList` component for setting page UI
  react/craco.config.js
  react/package-lock.json
  react/package.json
  react/src/components/BAISider.tsx
  react/src/components/SettingItem.tsx
  react/src/components/SettingList.tsx
  react/src/pages/UserSettingsPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: size:XL, field:UI / UX, field:localization

#2234 fix: missing commit of UserSettingsPage to rollback
  react/src/components/SettingItem.tsx
  react/src/components/SettingList.tsx
  react/src/pages/UserSettingsPage.tsx
  react/src/pages/UserSettingsPage2.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: size:XL, field:UI / UX, field:localization
