Repository lablup/backend.ai-webui, pull requests merged in 2024-04, with the labels that each got.

#2280 style: fix the broken select UI of the new storage folder dialog
  src/components/backend-ai-data-view.ts
Labels: type:fix, effort:easy, area:ux, urgency:3, platform:general, impact:visible, size:XS

#2277 style: update hard coded colors and missed translations
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-user-list.ts
Labels: type:enhance, effort:easy, urgency:1, platform:general, impact:visible, size:XL, field:UI / UX, field:localization

#2204 feat: support vfolder trash bin
  i18n.config.js
  react/data/schema.graphql
  react/src/components/StorageStatusPanel.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-storage-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: type:enhance, effort:normal, area:ux, urgency:3, platform:general, impact:visible, status:ongoing, size:XL, field:UI / UX, field:localization

#2286 fix: regression of listing connected agent with null-check on live_stat from response
  src/components/backend-ai-agent-list.ts
Labels: urgency:blocker, size:XS

#2285 feat: display `Quota per storage volume` info if quota is available
  react/src/components/StorageSelect.tsx
  react/src/components/StorageStatusPanel.tsx
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-storage-list.ts
Labels: type:fix, effort:easy, urgency:5, platform:general, impact:invisible, size:S

#2295 fix: disable download button when download perm is not allowed
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-storage-list.ts
Labels: type:fix, urgency:blocker, type:refactor, size:L, field:UI / UX, field:localization

#2188 feat: expose TCP apps from browser-based WebUI
  config.toml.sample
  react/src/hooks/index.tsx
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-login.ts
Labels: size:L

#2299 Fix: TOTP activation modal not opening for non-TOTP users with `forceTotp`
  react/src/components/ForceTOTPChecker.tsx
  react/src/components/MainLayout/MainLayout.tsx
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserDropdownMenu.tsx
  react/src/components/UserInfoModal.tsx
  react/src/components/UserProfileSettingModal.tsx
  react/src/components/UserSettingModal.tsx
  react/src/hooks/backendai.tsx
Labels: size:L

#2289 feat: destroy-all function in stacked notification
  react/src/components/BAINotificationItem.tsx
  react/src/hooks/useBAINotification.tsx
Labels: type:enhance, effort:easy, area:ux, urgency:2, platform:general, impact:visible, size:S

#2301 misc: update description of type of login account in login panel
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-login.ts
Labels: effort:easy, urgency:2, type:refactor, impact:visible, size:XL, field:UI / UX, field:localization

#2134 feat: add support for Hyperaccel LPU devices
  config.toml.sample
  react/src/components/DynamicUnitInputNumber.tsx
  react/src/components/MainLayout/MainLayout.tsx
  react/src/components/ResourceNumber.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/hooks/backendai.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
  resources/device_metadata.json
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  resources/icons/npu_generic.svg
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-settings-view.ts
  src/lib/backend.ai-client-esm.ts
Labels: type:enhance, effort:normal, urgency:4, platform:general, area:impl, impact:visible, size:XL, comp:manager, field:UI / UX, field:localization

#2302 fix: created count in `StorageStatusPanel`
  react/src/components/StorageStatusPanel.tsx
  src/components/backend-ai-data-view.ts
Labels: size:M

#2303 fix: modify compatible manager version of trash bin
  src/lib/backend.ai-client-esm.ts
Labels: type:fix, effort:easy, platform:general, size:XS

#2292 feat: match field version compatibility for vfolder v3
  react/data/schema.graphql
  react/src/components/StorageStatusPanel.tsx
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-storage-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: type:fix, urgency:blocker, urgency:4, platform:general, impact:invisible, size:L

#2294 feat: display accelerator key instead of empty string
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-session-list.ts
Labels: effort:easy, area:ux, urgency:2, type:refactor, platform:general, impact:visible, size:M, field:UI / UX, field:localization

#2305 fix: `vfolder-trash-bin` is duplicated
  src/lib/backend.ai-client-esm.ts
Labels: type:fix, effort:easy, urgency:3, platform:general, impact:invisible, size:XS

#2306 fix: vFolder field has incorrect value in editing
  react/src/components/ServiceLauncherModal.tsx
Labels: size:M

#2307 fix: session list fetch error
  src/components/backend-ai-session-list.ts
Labels: urgency:blocker, urgency:5, size:S

#2308 fix: apply AI accelerator allocation when selecting resource preset in neo session launcher
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: type:fix, urgency:blocker, size:M

#2310 hotfix: neo session launcher on cloud
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/SessionKernelTag.tsx
  react/src/hooks/index.tsx
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-edu-applauncher.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-list.ts
Labels: size:L, field:UI / UX, field:localization

#2311 feat: add tooltip for submit button
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: size:M, field:UI / UX, field:localization

#2312 remove remaining session limit validation error
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: size:S

#2314 hotfix: touchup container commit feature
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-session-list.ts
Labels: size:L, field:UI / UX, field:localization

#2315 fix: update imageify availability status on `input` event
  src/components/backend-ai-session-list.ts
Labels: size:XS

#2320 fix: notarization not working
  .github/workflows/package.yml
  app-packager.js
Labels: effort:normal, urgency:blocker, platform:general, area:upstream, area:infra, impact:invisible, size:XS, maintenance:dependencies

#2322 feat: set color for text 'only'
  src/components/backend-ai-summary-view.ts
Labels: effort:easy, area:ux, impact:visible, size:XS

#2324 fix: check isNaN before set value of DynamicUnitInputNumber
  react/src/components/DynamicUnitInputNumber.tsx
Labels: type:fix, urgency:blocker, size:XS

#2325 style: add css variable to vaadin grid for plugin page
  src/components/backend-ai-storage-proxy-list.ts
Labels: type:enhance, effort:easy, area:ux, urgency:2, platform:general, impact:visible, size:XS

#2329 fix: set supported language codes to allow all i18n languages
  src/components/backend-ai-webui.ts
Labels: size:S

#2330 fix: unkown scailing group error when user change the project
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourceGroupSelect.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: size:M

#2328 feat: add branding config to theme.json
  react/src/components/MainLayout/WebUISider.tsx
  react/src/helper/customThemeConfig.ts
  resources/theme.json
  resources/theme.schema.json
  scripts/replace-with-brand-name.sh
Labels: type:enhance, effort:easy, area:ux, urgency:4, platform:general, impact:visible, size:M, maintenance:dependencies

#2304 feat: apply filter to png icon when theme is darkmode
  src/components/backend-ai-agent-list.ts
  src/plastics/lablup-shields/lablup-shields.ts
Labels: urgency:1, size:S, field:UI / UX

#2339 fix: `_viewStateChanged` is called for same `active` value in `attributeChangedCallback`
  src/components/backend-ai-page.ts
Labels: size:S

#2340 hotfix: regression of showing project list according to allowed group in user info
  react/src/components/ProjectSelect.tsx
  react/src/hooks/useCurrentUser.tsx
Labels: type:fix, effort:normal, urgency:blocker, impact:visible, size:M

#2334 fix: vFolder form item validation in Neo session launcher
  react/src/components/VFolderTable.tsx
  react/src/components/VFolderTableFormItem.tsx
  react/src/hooks/index.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: size:M

#2337 fix: regression of applying default session environment
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: type:fix, effort:normal, urgency:4, impact:visible, size:M

#2332 feat: add MyEnvironment page to manage per user commit images
  react/data/schema.graphql
  react/src/App.tsx
  react/src/components/BAIModal.css
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ImageTags.tsx
  react/src/components/MainLayout/WebUISider.tsx
  react/src/components/SessionKernelTag.tsx
  react/src/helper/index.tsx
  react/src/hooks/index.tsx
  react/src/hooks/useBAINotification.tsx
  react/src/pages/MyEnvironmentPage.tsx
  react/src/pages/ServingListPage.tsx
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/backend-ai-app.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-esm.ts
  src/plastics/lablup-shields/lablup-shields.ts
Labels: type:enhance, effort:normal, area:ux, urgency:blocker, urgency:5, platform:general, impact:visible, size:XL, field:UI / UX, field:localization

#2338 style: label wrapping, font resizing and numeric token formatting in login panel
  react/src/components/MainLayout/MainLayout.tsx
  src/components/backend-ai-login.ts
Labels: size:M

#2344 style: remove `px` when calculating margin of WebUIHeader wrapper
  react/src/components/MainLayout/MainLayout.tsx
Labels: type:fix, effort:easy, area:ux, platform:general, impact:invisible

#2346 hotfix: enable non-accelerator preset when accelerator image
  react/src/components/ResourceAllocationFormItems.tsx
Labels: size:S

#2349 revert: "#2344 remove px when calculating margin of WebUIHeader wrapper"
  react/src/components/MainLayout/MainLayout.tsx
Labels: size:XS

#2347 ci: display failed-tests annotation only in jest-coverage-report-action
  .github/workflows/jest.yml
Labels: size:XS

#2354 hotfix: listup only ready status vfolder on service launcher
  index.html
  manifest.json
  package.json
  react/package.json
  react/src/components/ServiceLauncherModal.tsx
  src/components/backend-ai-webui.ts
  version.json
Labels: type:fix, effort:easy, area:ux, urgency:blocker, impact:visible, size:S

#2356 fix: remove container commit interaction button in `upload session`
  src/components/backend-ai-session-list.ts
Labels: type:fix, effort:easy, urgency:2, impact:visible, size:XS

#2361 fix: preserve the preset of session launcher using query parameters.
  react/src/components/ResourceAllocationFormItems.tsx
Labels: size:XS

#2352 fix: default environment as a initial value of the service launcher
  react/src/components/ServiceLauncherModal.tsx
Labels: size:XS

#2359 fix: wrong vFolder validation result occasionally.
  react/src/components/VFolderTable.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: size:M

#2363 fix: prevent delete in shared vfolder by permission
  src/components/backend-ai-storage-list.ts
Labels: size:M

#2370 fix: `onChangeAliasMap` is triggered on every render
  react/src/components/VFolderTable.tsx
Labels: size:XS

#2376 fix: Change '/session' path to be used as sider's selectedKey 'job'
  react/src/components/MainLayout/WebUISider.tsx
Labels: size:XS

#2381 feat: auto mounted vFolder in Neo session launcher
  react/src/components/VFolderTable.tsx
  react/src/components/VFolderTableFormItem.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: size:L

#2379 fix: include cancel handler in ServiceLauncherModal
  react/src/components/ServiceLauncherModal.tsx
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
Labels: type:fix, effort:easy, urgency:3, platform:general, impact:visible, size:S

#2384 Omit `onOk` from `BAIModalProps` instead of `onOK`
  react/src/components/EndpointTokenGenerationModal.tsx
Labels: size:XS

#2374 fix: preventing sharing of auto-mounted folders
  src/components/backend-ai-storage-list.ts
Labels: size:XS

#2342 ci: Bump actions/labeler from 4 to 5
  .github/labeler.yml
  .github/workflows/label.yml
Labels: size:M

#2348 hotfix: only show vfolder when mount in session perm is allowed
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourcePresetSelect.tsx
  react/src/components/VFolderTable.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
Labels: type:fix, effort:normal, area:ux, urgency:blocker, impact:visible, size:L, neo session launcher

#2380 fix: add ErrorBoundary on main layout when error occurred during fetching TOTP checker
  react/src/App.tsx
  react/src/components/BAIErrorBoundary.tsx
  react/src/components/MainLayout/MainLayout.tsx
Labels: type:fix, urgency:blocker, impact:visible, size:L

#2375 feat: add `User work` to VSCode remote connection info
  src/components/backend-ai-app-launcher.ts
Labels: type:fix, effort:easy, urgency:3, platform:general, impact:visible, size:XL

#2391 feat: add `UserKnownHostsFile` to vs code app guide
  src/components/backend-ai-app-launcher.ts
Labels: size:XS

#2390 bug: session list grid resized when data is refetched
  src/components/backend-ai-session-list.ts
Labels: size:M

#2392 fix: Modal header buttons are not clickable in the top area of Electron
  react/src/components/BAIModal.css
  react/src/components/BAIModal.tsx
Labels: size:XS

#2395 hotfix: set cuda share first as an ai accelerator when both cuda device and shares available
  src/components/backend-ai-session-launcher.ts
Labels: urgency:blocker
