Repository lablup/backend.ai-webui, pull requests merged in 2024-03, with the labels that each got.

#2238 feat: add password change request alert to summary page
  react/src/App.tsx
  react/src/components/PasswordChangeRequestAlert.tsx
Labels: type:fix, effort:easy, area:ux, urgency:4, platform:general, impact:visible, size:M

#2239 feat: display announcement alert to every page.
  react/src/App.tsx
  react/src/components/MainLayout/MainLayout.tsx
Labels: effort:easy, area:ux, urgency:3, type:refactor, platform:general, impact:visible, size:M

#2241 fix: unintended console log and import `glob`
  react/src/hooks/useBAINotification.tsx
  rollup.plugins.config.ts
Labels: size:XS

#2242 fix: optional chaining and handle `_requestDestroySession`
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-session-list.ts
Labels: size:XS

#2245 fix: FastTrack menu key to `pipeline`
  react/src/components/MainLayout/WebUISider.tsx
Labels: size:XS

#2244 hotfix: regression of image info display in serving page
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
  src/components/backend-ai-session-launcher.ts
Labels: area:ux, urgency:blocker, size:M

#2247 fix: change to select colors via token
  react/src/BAICard.tsx
  react/src/components/ErrorLogList.tsx
  react/src/components/Information.tsx
  react/src/pages/ServingListPage.tsx
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-summary-view.ts
Labels: size:M

#2248 feat: `theme-logo-url` css variable
  react/src/components/MainLayout/MainLayout.tsx
Labels: size:S

#2250 fix: change disabled slider color and total allocation conditional rendering
  src/components/backend-ai-session-launcher.ts
  src/components/lablup-slider.ts
Labels: size:XS

#2254 feat: fixed to be able to dynamically change colors.
  src/components/backend-ai-session-launcher.ts
Labels: size:S

#2258 fix: font-size of the session launcher button
  src/components/backend-ai-session-launcher.ts
Labels: size:XS

#2257 style: modify background color more naturally
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-storage-list.ts
Labels: size:XS

#2256 fix: regression of built-in app in session execution when app itself is refreshed in Windows Desktop app
  main.js
  src/components/backend-ai-app-launcher.ts
Labels: urgency:blocker

#2262 fix: modify husky config to format both lit and react components
  .husky/pre-commit
  package.json
  react/src/components/ResourcePolicyCard.tsx
  react/src/pages/ModelStoreListPage.tsx
Labels: type:fix, impact:invisible, size:S

#2267 fix: regression of imageInfo initialization for categorizing environments by label in metadata
  src/components/backend-ai-resource-broker.ts
Labels: type:fix, effort:easy, area:ux, urgency:blocker, urgency:5, platform:general, impact:visible, size:XS, field:UI / UX

#2272 feat: 'make clean' removes build files in the react folder
  Makefile
Labels: size:XS

#2259 feat: Quota Scope ID in data page's storage status panel
  react/src/components/StorageStatusPanel.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: type:enhance, effort:easy, urgency:3, size:L, size:S, field:UI / UX, field:localization

#2268 update: node.js packages
  index.html
  package-lock.json
  package.json
  patches/@material+mwc-dialog+0.27.0.patch
  patches/@material+mwc-drawer+0.27.0.patch
  patches/@material+mwc-select+0.27.0.patch
  patches/@material+mwc-snackbar+0.27.0.patch
  patches/@material+mwc-top-app-bar+0.27.0.patch
  react/package-lock.json
  react/package.json
  react/relay.config.js
  react/src/components/DatePickerISO.tsx
  react/src/components/EndpointOwnerInfo.tsx
  react/src/components/EndpointStatusTag.tsx
  react/src/components/__snapshots__/DomainSelector.test.tsx.snap
  react/src/helper/index.tsx
  react/src/pages/RoutingListPage.tsx
  src/components/backend-ai-chart.ts
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-sidepanel-notification.ts
  src/components/backend-ai-sidepanel-task.ts
  src/components/backend-ai-webui.ts
  src/components/lablup-notification.ts
  src/plastics/chart-js.ts
  src/plastics/mwc/archive/mwc-dialog.ts
  src/plastics/mwc/archive/mwc-drawer.ts
  src/plastics/mwc/archive/mwc-multi-select.ts
  src/plastics/mwc/archive/mwc-snackbar.ts
  src/plastics/mwc/archive/mwc-top-app-bar-fixed.ts
  src/plastics/mwc/archive/mwc-top-app-bar.ts
  src/store.ts
  src/types/backend-ai-console.d.ts
  version.json
Labels: size:XL, field:UI / UX

#2270 fix: use `ref` of the `Form` instead of the `useForm` function in the Modal
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserProfileSettingModal.tsx
  react/src/components/UserSettingModal.tsx
Labels: size:L

#2220 feat: Neo session launcher as a default
  react/src/App.tsx
  react/src/components/AvailableResourcesCard.tsx
  react/src/components/BAIIntervalText.tsx
  react/src/components/BAINotificationButton.tsx
  react/src/components/ContainerRegistryList.tsx
  react/src/components/EnvVarFormList.tsx
  react/src/components/InputNumberWithSlider.tsx
  react/src/components/MainLayout/MainLayout.tsx
  react/src/components/NeoSessionLauncherSwitchAlert.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourceAvailableGageBar.tsx
  react/src/components/ResourceGroupSelect.tsx
  react/src/components/ResourcePresetSelect.tsx
  react/src/components/SessionList.tsx
  react/src/components/SessionListColums/SessionInfoCell.tsx
  react/src/components/SessionNameFormItem.tsx
  react/src/components/VFolderTable.tsx
  react/src/components/WEBUINotificationDrawer.tsx
  react/src/helper/index.test.tsx
  react/src/helper/index.tsx
  react/src/hooks/hooksUsingRelay.tsx
  react/src/hooks/useBAINotification.tsx
  react/src/hooks/useBAISetting.tsx
  react/src/hooks/useIntervalValue.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
  react/src/pages/SessionLauncherPage.tsx
  react/src/pages/SessionListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-settings-store.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-webui.ts
Labels: size:XL, field:UI / UX, field:localization
