Repository lablup/backend.ai-webui, pull requests merged in 2024-07, with the labels that each got.

#2492 feature: Not connected alert banner in React
  react/src/components/MainLayout/MainLayout.tsx
  react/src/components/NetworkStatusBanner.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/backend-ai-app.ts
  src/components/backend-ai-offline-indicator.ts
  src/components/backend-ai-webui.ts
  src/reducers/app.ts
  src/types/backend-ai-console.d.ts
Labels: area:ux, area:i18n, size:L

#2494 feat: background task notification for cloning a model folder
  react/data/schema.graphql
  react/src/components/ModelCardModal.tsx
  react/src/components/ModelCloneModal.tsx
  react/src/pages/ModelStoreListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#2497 feat: add a link to open a cloned folder in a notification
  react/src/components/BAINotificationItem.tsx
  react/src/components/FolderExplorerOpener.tsx
  react/src/components/ModelCardModal.tsx
  react/src/components/ModelCloneModal.tsx
  react/src/helper/graphql-transformer.ts
  react/src/hooks/useBAINotification.tsx
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-storage-list.ts
Labels: size:L

#2504 feat: support Atom Plus devices
  config.toml.sample
  react/src/components/ResourceNumber.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/hooks/backendai.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
  resources/device_metadata.json
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-resource-group-list.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-settings-view.ts
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, area:ux, area:i18n, size:L

#2507 fix: Correct references to ubuntu mono bold fonts
  resources/fonts/fonts.css
Labels: area:ux, size:XS

#2500 fix: change webui language selection logic
  react/src/components/DefaultProviders.tsx
  react/src/hooks/useBAISetting.tsx
  react/src/pages/UserSettingsPage.tsx
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-help-button.ts
  src/components/backend-ai-settings-store.ts
  src/components/backend-ai-signup.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-webui.ts
  src/components/lablup-terms-of-service.ts
  src/types/backend-ai-console.d.ts
Labels: size:L

#2505 fix: migrate husky command to v9
  .husky/pre-commit
  package.json
Labels: size:XS

#2509 fix: change login input validation logic to support both email and non-email types
  src/components/backend-ai-login.ts
Labels: size:XS

#2506 feat: support port range type in `PortSelectFormItem`
  react/src/components/PortSelectFormItem.tsx
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#2415 feat: Interactive Login for SSO
  react/src/App.tsx
  react/src/hooks/useBAISetting.tsx
  react/src/pages/InteractiveLoginPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-webui.ts
Labels: area:ux, area:i18n, size:L

#2502 feature: prevent stacking of duplicate notifications
  src/components/backend-ai-session-list.ts
  src/components/lablup-notification.ts
Labels: size:M

#2503 fix: change description validating logic in lablup-notification
  src/components/backend-ai-session-list.ts
  src/components/lablup-notification.ts
Labels: size:M

#2511 fix: Apply one decimal place rounding to per session I/O stat
  src/components/backend-ai-session-list.ts
Labels: size:XS

#2481 add: confirmation dialog on force-terminate attempt on PULLING/PREPARING/TERMINATING
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-session-list.ts
Labels: type:enhance, area:ux, area:i18n, urgency:5, impact:visible, size:L

#2516 fix: correct mistaken 'rocm_device' in resource monitor
  src/components/backend-ai-resource-monitor.ts
Labels: type:fix, effort:easy, urgency:blocker, size:S, flow:hotfix

#2508 feature: Change ServiceLauncherModal to page
  react/src/App.tsx
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/components/ServiceValidationView.tsx
  react/src/pages/EndpointDetailPage.tsx
  react/src/pages/EndpointListPage.tsx
  react/src/pages/ServiceLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-webui.ts
Labels: area:ux, area:i18n, size:XL

#2510 add: kernel_id param on fetching container log by kernel id in session
  react/src/pages/SummaryPage.tsx
  src/components/backend-ai-session-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: effort:normal, area:lib, urgency:4, impact:visible, size:L

#2517 refactor: Show as many agent IDs as the number of agents.
  src/components/backend-ai-session-list.ts
Labels: size:S

#2522 fix: `allowCustomResourceAllocation` options in Neo session launcher
  react/src/components/ResourceAllocationFormItems.tsx
Labels: size:XS

#2523 fix: rename `enableModelStore` configuration
  config.toml.sample
  react/src/components/ProjectSelect.tsx
  react/src/hooks/index.tsx
  react/src/pages/VFolderListPage.tsx
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-login.ts
Labels: size:S

#2472 feat: add support for setting `runtime_variant` parameter
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/components/ServiceValidationView.tsx
  react/src/pages/EndpointDetailPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/lib/backend.ai-client-esm.ts
  version.json
Labels: area:lib, area:ux, area:i18n, size:L

#2521 fix: Correct CPU util ratio for cluster sessions
  src/components/backend-ai-session-list.ts
Labels: size:XS

#2524 fix: workaround of considering version-compatibility for fetching per container(kernel) logs
  src/components/backend-ai-session-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: type:fix, area:lib, urgency:blocker, size:L

#2520 feature: Add `model` query param to start the service with folder mounting
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/components/ServiceValidationView.tsx
  react/src/components/VFolderSelect.tsx
  src/components/backend-ai-storage-list.ts
Labels: size:M

#2526 fix: add `undefined` type to `useResourceSlotsDetails`
  react/src/components/ImageResourceFormItem.tsx
  react/src/components/KeypairResourcePolicySettingModal.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourceNumber.tsx
  react/src/hooks/backendai.tsx
Labels: size:M

#2458 feat: Lucide icon with custom svgs
  react/package-lock.json
  react/package.json
  react/src/components/DefaultProviders.tsx
  react/src/components/MainLayout/WebUISider.tsx
  react/src/index.css
  react/src/index.tsx
Labels: size:M

#2527 fix: Cannot read properties of null (reading 'slice') error
  src/components/backend-ai-session-list.ts
Labels: size:XS

#2525 add: existing environment when modifying endpoint or querying endpoint detail
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/pages/EndpointDetailPage.tsx
  react/src/pages/EndpointListPage.tsx
Labels: type:enhance, effort:easy, area:ux, urgency:4, impact:visible, size:S

#2530 fix: resetting i18n key of atom plus device
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, urgency:blocker, area:i18n, size:L

#2531 fix: allow dot(.) input on vfolder aliasing but not allowing automount folder path
  react/src/components/VFolderTable.tsx
  react/src/components/VFolderTableFormItem.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, urgency:blocker, area:i18n, size:L

#2532 fix: Image environment select form item's wrap style
  react/src/components/ImageEnvironmentSelectFormItems.tsx
Labels: size:XS

#2528 fix: handle search params using `URLSearchParams`
  react/src/components/FolderExplorerOpener.tsx
  react/src/components/ResourceGroupSelect.tsx
  react/src/components/VFolderLazyView.tsx
  react/src/components/VFolderSelect.tsx
  react/src/components/VFolderTable.tsx
  react/src/hooks/backendai.tsx
Labels: size:S

#2533 style: dynamic model card ui
  react/src/components/ModelCardModal.tsx
  react/src/pages/ModelStoreListPage.tsx
Labels: urgency:4, type:refactor, platform:general, size:M, field:UI / UX

#2534 feat: Add finetune model button to model card and fix key warning
  react/src/components/ModelCardModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: type:enhance, effort:easy, area:ux, area:i18n, urgency:5, platform:general, impact:visible, size:M, field:UI / UX

#2466 feat: Import notebook using Neo Session Launcher
  react/src/App.tsx
  react/src/components/ImportNotebook.tsx
  react/src/components/LocationStateBreadCrumb.tsx
  react/src/helper/index.tsx
  react/src/pages/ImportAndRunPage.tsx
  react/src/pages/SessionLauncherPage.tsx
  react/src/react-app-env.d.ts
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-webui.ts
Labels: area:ux, area:i18n, size:XL

#2537 feat: Make model description expandable
  react/src/components/ModelCardModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: type:enhance, effort:easy, area:ux, area:i18n, urgency:5, platform:general, size:M, field:UI / UX

#2538 fix: hide auto mounted vfolder in the service launcher
  react/src/components/ServiceLauncherPageContent.tsx
Labels: size:XS

#2536 fix: 400 error occurs when refreshing container logs
  src/components/backend-ai-session-list.ts
Labels: type:fix, urgency:blocker, urgency:5, platform:general, impact:invisible, size:M, flow:hotfix

#2540 fix: `index.css` for Lucide icon in Electron environment
  react/src/components/DefaultProviders.tsx
  react/src/index.tsx
Labels: size:XS

#2539 fix: all cloning folder errors are handled as existing name errors
  react/src/components/ModelCloneModal.tsx
Labels: size:XS

#2541 fix: Setting initial values for antd form instances
  react/src/components/KeypairResourcePolicySettingModal.tsx
Labels: size:S

#2515 feat: use pnpm instead of npm
  .github/workflows/jest.yml
  .github/workflows/package.yml
  .gitignore
  .npmrc
  Makefile
  README.md
  package-lock.json
  package.json
  patches/@material+mwc-top-app-bar+0.27.0.patch
  pnpm-lock.yaml
  react/.npmrc
  react/package-lock.json
  react/package.json
  react/pnpm-lock.yaml
  react/src/helper/graphql-transformer.test.ts
  scripts/pre-commit
  src/components/backend-ai-data-view.ts
  src/reducers/app.ts
Labels: size:XL

#2542 fix: modify runtime variant
  react/src/components/ServiceLauncherPageContent.tsx
Labels: size:XS

#2543 feat: Improve model card layout and add descriptions to the model store list
  react/src/components/ModelCardModal.tsx
  react/src/pages/ModelStoreListPage.tsx
Labels: area:ux, urgency:blocker, urgency:5, impact:visible, size:M, field:UI / UX

#2557 fix: hide resource slots form items when `allowCustomResourceAllocation` is false
  react/src/components/ResourceAllocationFormItems.tsx
Labels: size:XS

#2553 feat: Chat UI Modal for Model service
  react/package.json
  react/pnpm-lock.yaml
  react/src/components/BAIModal.tsx
  react/src/components/SourceCodeViewer.tsx
  react/src/components/lablupTalkativotUI/ChatInput.tsx
  react/src/components/lablupTalkativotUI/ChatMessage.tsx
  react/src/components/lablupTalkativotUI/ChatMessageContent.tsx
  react/src/components/lablupTalkativotUI/ChatMessageList.tsx
  react/src/components/lablupTalkativotUI/ChatUIModal.tsx
  react/src/components/lablupTalkativotUI/CopyButton.tsx
  react/src/components/lablupTalkativotUI/LLMChatCard.tsx
  react/src/components/lablupTalkativotUI/ScrollBottomHandlerButton.tsx
  react/src/components/lablupTalkativotUI/VirtualChatMessageList.tsx
  react/src/pages/EndpointDetailPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#2554 feat: Add feature to reset chat and set non-LLM models to custom
  react/src/components/lablupTalkativotUI/ChatInput.tsx
  react/src/components/lablupTalkativotUI/ChatMessage.tsx
  react/src/components/lablupTalkativotUI/ChatUIModal.tsx
  react/src/components/lablupTalkativotUI/LLMChatCard.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#2559 fix: backward compatibility for extra mounts of a service
  react/src/components/ServiceLauncherPageContent.tsx
Labels: size:XS

#2562 feat: resource preset in Service Launcher
  react/src/components/ServiceLauncherPageContent.tsx
Labels: type:enhance, effort:normal, area:ux, urgency:blocker, size:XS

#2563 fix: eslint error of Chat UI components
  react/package.json
  react/src/components/BAIModal.tsx
  react/src/components/lablupTalkativotUI/ChatMessageContent.tsx
  react/src/components/lablupTalkativotUI/ChatMessageList.tsx
  react/src/components/lablupTalkativotUI/ScrollBottomHandlerButton.tsx
Labels: size:S

#2571 fix: `VFolderSelect` component search feature
  react/src/components/VFolderSelect.tsx
Labels: size:XS

#2577 feat: move credential delete forever button to inactive tab
  src/components/backend-ai-credential-list.ts
Labels: type:enhance, effort:easy, area:ux, urgency:1, platform:general, impact:visible, size:S

#2576 fix: too many interval network request
  react/src/pages/SessionLauncherPage.tsx
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-summary-view.ts
Labels: size:M

#2578 feat: Introduce react elapsed time renderer
  react/src/components/DefaultProviders.tsx
  react/src/index.tsx
  src/components/backend-ai-session-list.ts
Labels: size:M

#2579 style: use token value for border colors
  resources/templates/under_construction.html
  resources/webui.css
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-dialog.ts
  src/components/backend-ai-environment-view.ts
  src/components/backend-ai-sidepanel-notification.ts
  src/components/backend-ai-sidepanel-task.ts
  src/components/backend-ai-signup.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-user-list.ts
  src/components/backend-ai-webui-styles.ts
  src/components/lablup-expansion.ts
  src/lib/codemirror/base-style.css.js
  src/pipeline/components/pipeline-job-list.ts
  src/pipeline/components/pipeline-job-view.ts
  src/pipeline/lib/pipeline-configuration-form.ts
Labels: area:lib, area:ux, size:M

#2560 feat: new chatting page
  react/src/App.tsx
  react/src/components/EndpointSelect.tsx
  react/src/components/lablupTalkativotUI/ChatMessage.tsx
  react/src/components/lablupTalkativotUI/ChatMessageList.tsx
  react/src/components/lablupTalkativotUI/ChatUIModal.tsx
  react/src/components/lablupTalkativotUI/EndpointLLMChatCard.tsx
  react/src/components/lablupTalkativotUI/LLMChatCard.tsx
  react/src/components/lablupTalkativotUI/LLMPlaygroundPage.tsx
  react/src/components/lablupTalkativotUI/ModelSelect.tsx
  react/src/pages/EndpointDetailPage.tsx
  react/src/pages/EndpointListPage.tsx
  react/src/pages/ServingPage.tsx
  react/src/react-app-env.d.ts
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, urgency:3, impact:visible, size:XL

#2565 refactor: EndpointSelect
  react/src/components/EndpointSelect.tsx
  react/src/components/lablupTalkativotUI/ChatMessageContent.tsx
  react/src/components/lablupTalkativotUI/EndpointLLMChatCard.tsx
  react/src/components/lablupTalkativotUI/LLMChatCard.tsx
  react/src/components/lablupTalkativotUI/LLMPlaygroundPage.tsx
Labels: size:L

#2567 feat: synchronized chatting
  react/src/components/EndpointSelect.tsx
  react/src/components/lablupTalkativotUI/ChatInput.tsx
  react/src/components/lablupTalkativotUI/EndpointLLMChatCard.tsx
  react/src/components/lablupTalkativotUI/LLMChatCard.tsx
  react/src/components/lablupTalkativotUI/LLMPlaygroundPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/lib/pep440.ts
Labels: type:enhance, effort:normal, area:lib, area:ux, area:i18n, urgency:3, platform:general, impact:visible, size:L, field:UI / UX

#2566 fix: resource icon and unit are not displayed on KeypairResourcePolicyList
  react/src/hooks/backendai.tsx
Labels: size:XS

#2561 feat: remove password validation for superadmin
  react/src/components/UserProfileSettingModal.tsx
Labels: type:enhance, effort:easy, urgency:2, platform:general, size:XS

#2585 ci: add Frontend Daily Board project automatically
  .github/workflows/add-to-project.yml
Labels: size:XS

#2519 feat: add a checkbox to select all items in session list
  src/components/backend-ai-session-list.ts
Labels: type:enhance, effort:normal, area:ux, urgency:2, platform:general, impact:visible, size:M, field:UI / UX

#2581 feat: re-render once when `backend-ai-page` is inactive
  src/components/backend-ai-page.ts
  src/components/backend-ai-session-list.ts
Labels: size:L

#2548 refactor: error feedback UX
  react/src/components/ContainerRegistryEditorModal.tsx
  react/src/components/ContainerRegistryList.tsx
  react/src/components/KeypairResourcePolicyList.tsx
  react/src/components/KeypairResourcePolicySettingModal.tsx
  react/src/components/ManageAppsModal.tsx
  react/src/components/ManageImageResourceLimitModal.tsx
  react/src/components/ProjectResourcePolicyList.tsx
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/components/UserResourcePolicyList.tsx
  react/src/pages/MyEnvironmentPage.tsx
Labels: type:fix, effort:easy, urgency:blocker, urgency:3, type:refactor, platform:general, size:L

#2593 fix: typo error
  resources/i18n/ko.json
Labels: area:ux, area:i18n, size:XS
