Repository lablup/backend.ai-webui, pull requests merged in 2024-06, with the labels that each got.

#2452 fix: Add user commit image input validation logic
  src/components/backend-ai-session-list.ts
Labels: size:M

#2449 feat: compatibility check function supports multiple conditions
  react/data/client-directives.graphql
  react/src/helper/graphql-transformer.test.ts
  react/src/helper/graphql-transformer.ts
  src/lib/backend.ai-client-esm.ts
  src/lib/pep440.test.ts
  src/lib/pep440.ts
Labels: area:lib, size:L

#2459 fix: compiled and typo error
  react/src/components/MainLayout/WebUISider.tsx
  resources/i18n/it.json
Labels: area:ux, area:i18n, size:XS

#2454 fix: `supports` type of `useSuspendedBackendaiClient`
  react/src/components/MainLayout/WebUISider.tsx
  react/src/components/ProjectResourcePolicyList.tsx
  react/src/components/UserResourcePolicyList.tsx
  react/src/helper/index.test.tsx
  react/src/helper/index.tsx
  react/src/hooks/index.tsx
  react/src/pages/ResourcePolicyPage.tsx
Labels: size:M

#2464 ci: add permissions to Jest report github action
  .github/workflows/jest.yml
Labels: size:XS

#2460 refactor: rename page components related to the `Endpoint` type
  react/src/App.tsx
  react/src/components/InferenceSessionErrorModal.tsx
  react/src/pages/EndpointDetailPage.tsx
  react/src/pages/EndpointListPage.tsx
Labels: size:M

#2462 update: node.js packages
  package-lock.json
  package.json
  react/package-lock.json
  react/package.json
  react/src/components/DomainSelector.test.tsx
  react/src/components/MainLayout/WebUISider.tsx
  react/src/components/__snapshots__/DomainSelector.test.tsx.snap
Labels: size:XL

#2461 refactor: replace Recoil with Jotai
  react/package.json
  react/src/App.tsx
  react/src/components/BAIContentWithDrawerArea.tsx
  react/src/components/BAINotificationButton.tsx
  react/src/components/MainLayout/MainLayout.tsx
  react/src/components/NeoSessionLauncherSwitchAlert.tsx
  react/src/hooks/useBAINotification.tsx
  react/src/hooks/useBAISetting.tsx
  react/src/pages/SessionLauncherPage.tsx
  src/components/backend-ai-settings-store.ts
Labels: size:L

#2468 fix: missing `react/pacakge-lock.json` update
  react/package-lock.json
Labels: size:S

#2463 Add size options to `theme.json`
  react/src/components/MainLayout/WebUISider.tsx
  react/src/helper/customThemeConfig.ts
  resources/theme.json
  resources/theme.schema.json
Labels: type:enhance, effort:easy, urgency:3, platform:general, impact:invisible, size:M

#2471 feat: service routes sync button
  react/src/pages/EndpointDetailPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#2470 fix: adjust the position of mwc selection menu items
  src/components/backend-ai-credential-list.ts
Labels: size:XS

#2473 Add copyable button to My Environment page
  react/src/pages/MyEnvironmentPage.tsx
Labels: effort:easy, area:ux, urgency:3, platform:general, impact:visible, size:S, field:UI / UX

#2474 Fix overflow issue in manual image tag
  react/src/pages/SessionLauncherPage.tsx
Labels: type:fix, urgency:3, platform:general, impact:visible, size:L, field:UI / UX

#2475 fix: PEP440 suffix normalization for `alpha` and `beta`
  src/lib/pep440.test.ts
  src/lib/pep440.ts
Labels: area:lib, size:S

#2478 Fix: all elements are NOT clickable after a page transition with openped modal
  react/src/components/DefaultProviders.tsx
  src/components/backend-ai-dialog.ts
Labels: type:fix, area:ux, urgency:1, platform:general, impact:visible, size:S, field:UI / UX

#2480 fix: run form validation after changing preset
  react/src/components/ResourceAllocationFormItems.tsx
Labels: size:S

#2482 ci: add permissions for uploading release assets
  .github/workflows/package.yml
Labels: size:XS

#2476 feat: vFolder explorer permarlink
  react/src/App.tsx
  react/src/components/FolderExplorerOpener.tsx
  react/src/components/VFolderLazyView.tsx
  react/src/pages/EndpointDetailPage.tsx
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-storage-list.ts
Labels: size:L

#2485 refactor: improve resource allocation form item labels with resource details API
  react/src/components/AgentList.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourceNumber.tsx
  react/src/hooks/backendai.tsx
  react/src/pages/EndpointDetailPage.tsx
Labels: size:M

#2343 feat: Apply Cloudscape's `Board Component` into Summary Page
  react/package-lock.json
  react/package.json
  react/patches/@cloudscape-design+board-components+3.0.60.patch
  react/src/App.tsx
  react/src/components/BAIBoard.tsx
  react/src/components/SummaryItem.tsx
  react/src/components/SummaryPageItems/SummaryItemDownloadApp.tsx
  react/src/components/SummaryPageItems/SummaryItemInvitation.tsx
  react/src/components/SummaryPageItems/SummaryItemStartMenu.tsx
  react/src/pages/SummaryPage.tsx
Labels: type:enhance, area:ux, urgency:1, type:refactor, platform:general, impact:visible, size:XL, field:UI / UX

#2489 bug: set dark theme color for error panel in session detail modal
  src/components/backend-ai-session-list.ts
Labels: size:S

#2465 refactor: migrate setting page to react component
  react/src/components/SSHKeypairManagementModal.tsx
  react/src/components/SettingItem.tsx
  react/src/components/SettingList.tsx
  react/src/hooks/useBAISetting.tsx
  react/src/pages/UserSettingsPage.tsx
  react/src/pages/UserSettingsPage2.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-usersettings-general-list.ts
Labels: area:ux, area:i18n, size:XL

#2490 feat: Adjust fetch timeout to 15s for improved UX
  src/lib/backend.ai-client-node.ts
Labels: area:lib, size:XS

#2491 feat: Adjust fetch timeout to 15s for improved user experience (cllient-esm)
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, size:XS

#2488 bug: Neo session launcher summary page UI is broken for long execution commands in batch sessions
  react/src/components/SourceCodeViewer.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: size:M

#2441 feat: memorize board's items by using local storage in SummaryPage
  react/src/components/BAIBoard.tsx
  react/src/hooks/useBAISetting.tsx
  react/src/pages/SummaryPage.tsx
Labels: size:L

#2446 feat: disable customize board items in BAIBoard component
  react/patches/@cloudscape-design+board-components+3.0.60.patch
  react/src/components/BAIBoard.tsx
Labels: size:M

#2498 feature: add a link to open a folder explorer in notification
  react/src/components/FolderExplorerOpener.tsx
  src/components/backend-ai-storage-list.ts
Labels: size:M

#2495 feature: preserve selected tab in vfolder list page
  react/src/App.tsx
  react/src/index.tsx
  react/src/pages/VFolderListPage.tsx
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-webui.ts
Labels: size:L
