Repository lablup/backend.ai-webui, pull requests merged in 2024-12, with the labels that each got.

#2909 fix: disabled accelerator select when no GPUs are allowed
  react/src/components/ResourceAllocationFormItems.tsx
Labels: size:S

#2913 fix: Add missing container registry types
  react/src/components/ContainerRegistryEditorModal.tsx
Labels: size:S

#2910 fix: add 5s delay when session expiration datetime is over
  react/src/components/BAIIntervalView.tsx
  react/src/components/LoginSessionExtendButton.tsx
  react/src/hooks/useIntervalValue.tsx
Labels: type:fix, effort:easy, urgency:blocker, size:M

#2912 fix: Resource group change does not update related data in form
  react/__test__/matchMedia.mock.js
  react/src/components/ResourceAllocationFormItems.test.ts
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourceGroupSelect.tsx
  react/src/hooks/useResourceLimitAndRemaining.test.ts
  react/src/hooks/useResourceLimitAndRemaining.tsx
Labels: size:L

#2917 feat: Add error view for expired login session
  react/src/RelayEnvironment.ts
  react/src/components/BAIErrorBoundary.tsx
  react/src/components/LoginSessionExtendButton.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#2919 fix: allow cmd/ctrl click to open link in new tab
  react/src/components/WebUILink.tsx
Labels: size:S

#2920 fix: enable and remove auto-setting for project name field
  react/src/components/ContainerRegistryEditorModal.tsx
Labels: size:S

#2922 misc: replace title of desktop app download to be more comprehensive
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: effort:easy, area:ux, area:i18n, urgency:4, size:M, field:UI / UX, field:localization

#2923 chore: remove unused component files
  react/src/index.tsx
  src/backend-ai-app.ts
  src/components/backend-ai-environment-view.ts
  src/components/backend-ai-session-view-next.ts
Labels: size:L

#2931 feat: strict selection mode of BAIPropertyFilter
  react/src/components/BAIPropertyFilter.tsx
Labels: size:L

#2938 fix: use combine operator `& and `|`
  react/src/components/BAIPropertyFilter.tsx
Labels: size:XS

#2943 refactor: Session log modal transition handling
  react/src/components/ComputeSessionList.tsx
  react/src/components/ComputeSessionNodeItems/ContainerLogModal.tsx
  react/src/components/ComputeSessionNodeItems/ContainerLogModalWithLazyQueryLoader.tsx
  react/src/components/SessionDetailAndContainerLogOpenerLegacy.tsx
Labels: size:L

#2757 feat: migrate `/credentials` page to react component
  .cspell.json
  react/src/App.tsx
  react/src/components/BAIPropertyFilter.tsx
  react/src/components/UserInfoModal.tsx
  react/src/components/UserList.tsx
  react/src/components/UserSettingModal.tsx
  react/src/index.tsx
  react/src/pages/UserCredentialsPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/backend-ai-app.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-webui.ts
Labels: area:ux, area:i18n, size:XL

#2934 feat: user list using `user_nodes` query
  .cspell.json
  react/src/components/UserList.tsx
  react/src/components/UserNodeList.tsx
  react/src/components/UserSettingModal.tsx
  react/src/pages/UserCredentialsPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/backend-ai-app.ts
  src/components/backend-ai-credential-view.ts
Labels: area:ux, area:i18n, size:XL

#2942 fix: Resolve node module macos-alias installation on non-macOS platforms
  package.json
  pnpm-lock.yaml
Labels: type:fix, effort:easy, area:lib, platform:general, size:M, flow:hotfix

#2954 style: Add flex-wrap and tag resource group text for improved readability.
  react/src/components/SessionDetailContent.tsx
Labels: effort:easy, area:ux, urgency:1, size:XS, field:UI / UX

#2960 update: pnpm-lock file to apply properly
  pnpm-lock.yaml
  react/pnpm-lock.yaml
Labels: size:XL

#2916 fix: enhance resource group name validation logic for spaces and special characters
  src/components/backend-ai-resource-group-list.ts
Labels: size:S

#2945 fix: Update resource acquisition notation elements.
  react/src/components/AgentDetailModal.tsx
Labels: type:fix, size:S, field:UI / UX

#2970 fix: auto-update login inconsistency in ResourceAllocationFormItems
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: size:L

#2888 fix: switch to managing hiddenColumnKeys in TableColumnsSettingModal
  react/src/components/AgentList.tsx
  react/src/components/AgentSummaryList.tsx
  react/src/components/ContainerRegistryList.tsx
  react/src/components/CustomizedImageList.tsx
  react/src/components/ErrorLogList.tsx
  react/src/components/ImageList.tsx
  react/src/components/KeypairResourcePolicyList.tsx
  react/src/components/ProjectResourcePolicyList.tsx
  react/src/components/TableColumnsSettingModal.tsx
  react/src/components/UserResourcePolicyList.tsx
  react/src/hooks/useBAISetting.tsx
  react/src/hooks/useHiddenColumnKeysSetting.tsx
  react/src/pages/EndpointListPage.tsx
Labels: type:fix, size:L

#2927 feat: support for extra field in registry type
  react/data/schema.graphql
  react/src/components/BAICodeEditor.tsx
  react/src/components/ContainerRegistryEditorModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#2758 feat: migrate user credential list to react component
  react/src/components/UserCredentialList.tsx
  react/src/components/UserNodeList.tsx
  react/src/pages/UserCredentialsPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/backend-ai-app.ts
Labels: area:ux, area:i18n, size:XL

#2940 feat: keypair info/setting modal in credential page
  react/src/components/KeypairInfoModal.tsx
  react/src/components/KeypairResourcePolicySelector.tsx
  react/src/components/KeypairSettingModal.tsx
  react/src/components/MyKeypairInfoModal.tsx
  react/src/components/UserCredentialList.tsx
  react/src/components/UserInfoModal.tsx
  react/src/pages/UserSettingsPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#2755 feat: remove legacy user/credential components
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-user-list.ts
Labels: size:XL

#2980 refactor: preview step of SessionLauncher into a separate component
  react/src/components/BAICard.tsx
  react/src/components/SessionLauncherPreview.tsx
  react/src/components/SessionOwnerSetterCard.tsx
  react/src/components/SummaryPageItems/SummaryItemInvitation.tsx
  react/src/pages/ImportAndRunPage.tsx
  react/src/pages/SessionLauncherPage.tsx
  react/src/pages/UserCredentialsPage.tsx
Labels: size:XL

#2971 chore: update NVIDIA references in image metadata
  react/src/hooks/useBackendAIImageMetaData.test.tsx
  resources/image_metadata.json
Labels: size:M

#2864 feat: Set the initial value of the chat modal to the recently created token
  react/src/components/lablupTalkativotUI/ChatUIModal.tsx
  react/src/components/lablupTalkativotUI/LLMChatCard.tsx
  react/src/pages/EndpointDetailPage.tsx
Labels: size:M

#2965 hotfix: `sudo_session_enable` setting doesn't work
  react/src/components/UserSettingModal.tsx
Labels: type:fix, urgency:blocker, size:XS, field:UI / UX

#2986 fix: lint error
  react/src/components/UserInfoModal.tsx
Labels: size:XS

#2849 feat: Add `CREATING` session status
  react/src/components/ComputeSessionNodeItems/SessionActionButtons.tsx
  react/src/components/ComputeSessionNodeItems/SessionStatusTag.tsx
  react/src/components/SessionList.tsx
  react/src/components/SessionListColums/SessionInfoCell.tsx
  react/src/pages/SessionListPage.tsx
  src/components/backend-ai-edu-applauncher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-esm.ts
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: area:lib, size:M

#2990 fix: resetting the navigate route and modifying the CSS in summary page
  react/src/components/UserCredentialList.tsx
  src/components/backend-ai-summary-view.ts
Labels: size:L

#2989 fix: set `Max Network Count` field to project resource policy
  react/data/schema.graphql
  react/src/components/ProjectResourcePolicyList.tsx
  react/src/components/ProjectResourcePolicySettingModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, area:ux, area:i18n, size:L
