Repository lablup/backend.ai-webui, pull requests merged in 2024-10, with the labels that each got.

#2730 fix: value handling of DynamicUnitInputNumberWithSlider
  react/src/components/DynamicUnitInputNumberWithSlider.stories.tsx
  react/src/components/DynamicUnitInputNumberWithSlider.tsx
Labels: size:L

#2731 feat: change redirect path of `VfolderLazyView` to current page
  react/src/components/VFolderLazyView.tsx
Labels: type:enhance, effort:easy, area:ux, platform:general, size:XS

#2716 Improve Vietnamese translation
  resources/i18n/vi.json
Labels: area:ux, area:i18n, size:S

#2693 feat: Session owner setting panel in Neo session launcher
  .cspell.json
  react/src/BAICard.tsx
  react/src/components/AvailableResourcesCard.tsx
  react/src/components/BAISelect.tsx
  react/src/components/HiddenFormItem.tsx
  react/src/components/ResourceGroupSelect.tsx
  react/src/components/SessionLauncherErrorTourProps.tsx
  react/src/components/SessionOwnerSetterCard.tsx
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#2733 feat: User setting for the classic session launcher
  react/src/App.tsx
  react/src/components/NeoSessionLauncherSwitchAlert.tsx
  react/src/hooks/useBAISetting.tsx
  react/src/pages/UserSettingsPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-session-launcher.ts
Labels: area:ux, area:i18n, size:L

#2701 feat: add sensitive env var clearing and e2e tests for session launcher
  e2e/session-launcher.test.ts
  react/src/components/EnvVarFormList.test.tsx
  react/src/components/EnvVarFormList.tsx
  react/src/components/VFolderTableFormItem.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: size:L

#2702 fix: use `id` as a key of Image
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ResourceAllocationFormItems.test.ts
Labels: size:XS

#2732 fix: set max shared memory to 7.999PiB in ResourcePresetSettingModal
  react/src/components/ResourcePresetSettingModal.tsx
Labels: size:XS

#2689 feat: add BAIPropertyFilter to Endpoint list
  react/src/pages/EndpointListPage.tsx
Labels: size:L

#2747 feat: refetch endpoint's models
  react/src/components/lablupTalkativotUI/ChatUIModal.tsx
  react/src/components/lablupTalkativotUI/EndpointLLMChatCard.tsx
  react/src/components/lablupTalkativotUI/LLMPlaygroundPage.tsx
Labels: size:M

#2744 feat: search image with full name in Environment page
  react/src/components/ImageList.tsx
Labels: area:ux, size:XS, field:UI / UX

#2724 feat: move to detail page after modifying model service
  react/src/components/ServiceLauncherPageContent.tsx
Labels: effort:easy, area:ux, urgency:2, size:XS, field:UI / UX

#2722 test: e2e test for user page
  e2e/test-util.ts
  e2e/user.test.ts
Labels: size:L

#2750 feat: disable LLM Chat button based on endpoint status
  react/src/pages/EndpointDetailPage.tsx
Labels: size:XS

#2743 feat: name-based query search feature on `EndpointSelect`
  react/src/components/EndpointSelect.tsx
Labels: size:M

#2745 refactor: folder creation modal
  react/src/components/FolderCreateModal.tsx
  react/src/pages/VFolderListPage.tsx
Labels: size:L

#2749 feat: user resource policy allocation in user setting modal
  react/src/components/UserResourcePolicySelector.tsx
  react/src/components/UserSettingModal.tsx
Labels: type:enhance, effort:normal, area:ux, urgency:2, platform:general, impact:visible, size:M

#2737 misc: add a space between Environments and Version
  react/src/components/ImageEnvironmentSelectFormItems.tsx
Labels: size:XS

#2606 feat: Introduce `resizable table` component
  react/package.json
  react/pnpm-lock.yaml
  react/src/components/BAITable.tsx
Labels: size:L

#2748 feat: resizable columns without specifying width
  react/src/components/BAITable.tsx
Labels: size:L

#2751 fix: replace `skip` with `skipOnClient` to avoid runtime errors
  react/src/components/EndpointSelect.tsx
Labels: size:XS

#2752 feat: add `TableColumnSettingModal` to `ContainerRegistryList`
  react/src/components/ContainerRegistryList.tsx
Labels: size:L

#2741 refactor: useEventNotStable type
  react/src/components/DynamicStepInputNumber.tsx
  react/src/components/DynamicUnitInputNumberWithSlider.tsx
  react/src/components/VFolderTable.tsx
  react/src/hooks/useEventNotStable.tsx
Labels: size:S

#2742 feat: recent session history
  react/src/App.tsx
  react/src/components/SessionOwnerSetterCard.tsx
  react/src/components/SessionTemplateModal.tsx
  react/src/components/VFolderTable.tsx
  react/src/components/VFolderTableFormItem.tsx
  react/src/hooks/backendai.tsx
  react/src/hooks/useBAISetting.tsx
  react/src/pages/SessionLauncherPage.tsx
  react/src/react-app-env.d.ts
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#2759 feat: display all projects in project quota setting page.
  react/src/components/FolderCreateModal.tsx
  react/src/components/ProjectSelect.tsx
  react/src/components/ProjectSelectForAdminPage.tsx
  react/src/components/StorageHostSettingsPanel.tsx
Labels: urgency:3, size:M

#2736 feat: add session name copy button
  src/components/backend-ai-session-list.ts
Labels: size:S

#2761 fix: set autoSelectType to `usage` in FolderCreateModal
  react/src/components/FolderCreateModal.tsx
  react/src/components/StorageSelect.tsx
Labels: size:XS

#2763 refactor: move useRecentSessionHistory to a separate file
  react/src/components/SessionTemplateModal.tsx
  react/src/hooks/backendai.tsx
  react/src/hooks/useRecentSessionHistory.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: size:L

#2762 fix: hide "compare with other models" in LLM Playground
  react/src/components/lablupTalkativotUI/ChatUIModal.tsx
  react/src/components/lablupTalkativotUI/LLMChatCard.tsx
Labels: size:S

#2764 fix: Fix for container registry form entry validation rules in version earlier 24.09.0
  react/src/components/ContainerRegistryEditorModalBefore2409.tsx
  react/src/components/ContainerRegistryListBefore2409.tsx
Labels: size:S

#2765 feat: create folder in the vfolder form item
  react/src/components/FolderCreateModal.tsx
  react/src/components/VFolderTable.tsx
Labels: size:M

#2766 feat: open vFolder in vFolder form item
  react/src/components/BAILink.tsx
  react/src/components/FolderExplorerOpener.tsx
  react/src/components/VFolderTable.tsx
Labels: size:M

#2768 fix: 0 desired routing count in endpoint edit page
  react/src/components/BAILink.tsx
  react/src/components/ServiceLauncherPageContent.tsx
Labels: size:XS

#2767 test: refactor test code due to changes in the folder creation modal
  e2e/test-util.ts
  e2e/vfolder.test.ts
Labels: size:L

#2774 fix: handle current resource group using initial values in launchers
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: type:fix, size:M

#2773 fix: remove period from service name pattern validation
  react/src/components/ServiceLauncherPageContent.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: type:fix, area:ux, area:i18n, size:L

#2778 hotfix: container registry password caanot be set when creating
  react/src/components/ContainerRegistryEditorModal.tsx
Labels: size:S, flow:hotfix

#2771 fix: hide divider in LLMChatCard
  react/src/components/lablupTalkativotUI/LLMChatCard.tsx
Labels: size:XS

#2777 style: improve install image list
  react/src/components/ImageInstallModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:M, field:UI / UX

#2776 feat: add support for Furiosa RNGD accelerator
  .cspell.json
  config.toml.sample
  react/src/components/ContainerRegistryEditorModal.tsx
  react/src/components/ResourceNumber.tsx
  react/src/hooks/backendai.tsx
  react/src/hooks/index.tsx
  react/src/hooks/useResourceLimitAndRemaining.test.ts
  resources/device_metadata.json
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-settings-view.ts
  src/lib/backend.ai-client-esm.ts
  src/lib/json_to_csv.ts
Labels: area:lib, area:ux, area:i18n, size:XL

#2791 fix: display Gaudi 2 util in session list
  src/components/backend-ai-session-list.ts
Labels: size:S

#2782 e2e: set-timout-to-session-e2e
  e2e/config.test.ts
  e2e/session-launcher.test.ts
  e2e/test-util.ts
Labels: size:S
