Repository lablup/backend.ai-webui, pull requests merged in 2024-08, with the labels that each got.

#2595 feat: copyable i18n key for debug mode
  react/src/components/AgentList.tsx
  react/src/components/DefaultProviders.tsx
Labels: size:M

#2572 feat: introduce `useControllableState`
  react/src/components/BAICodeEditor.tsx
  react/src/components/BAIPropertyFilter.tsx
  react/src/components/DynamicStepInputNumber.tsx
  react/src/components/DynamicUnitInputNumber.tsx
  react/src/components/DynamicUnitInputNumberWithSlider.tsx
  react/src/components/InputNumberWithSlider.tsx
  react/src/components/NonLinearSlider.tsx
  react/src/components/ProjectSelect.tsx
  react/src/components/ResourceGroupSelect.tsx
  react/src/components/ResourceGroupSelectForCurrentProject.tsx
  react/src/components/ResourcePresetSelect.tsx
  react/src/components/ShellScriptEditModal.tsx
  react/src/components/StorageSelect.tsx
  react/src/components/VFolderSelect.tsx
  react/src/components/VFolderTable.tsx
  react/src/hooks/useControllableState.test.ts
  react/src/hooks/useControllableState.ts
Labels: area:lib, size:L

#2600 fix: add missing checkbox PR in session list page
  src/components/backend-ai-session-list.ts
Labels: size:S

#2601 fix: set notification's description field to empty string
  src/components/backend-ai-session-list.ts
Labels: size:S

#2590 feat: introduce `useSuspenseQuery` with support for `fetchKey`.
  react/src/hooks/reactQueryAlias.tsx
Labels: size:M

#2584 fix: use starts_at instead of created_at for session reservation & elapsed time
  react/src/index.tsx
  src/components/backend-ai-session-list.ts
Labels: effort:easy, size:S

#2518 fix: apply decimal place rounding
  react/src/components/AgentList.tsx
  react/src/helper/index.test.tsx
  react/src/helper/index.tsx
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-panel.ts
Labels: area:ux, area:i18n, size:XL

#2513 feat: introduce exporting CSV module
  react/src/components/KeypairResourcePolicyList.tsx
  react/src/components/ProjectResourcePolicyList.tsx
  react/src/components/UserResourcePolicyList.tsx
  react/src/helper/index.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: type:enhance, effort:normal, area:ux, area:i18n, urgency:2, platform:general, impact:visible, size:L

#2608 fix: initialize detail text after the notification is shown
  src/components/lablup-notification.ts
Labels: size:XS

#2596 fix: blank `/change-password` page
  src/components/backend-ai-change-forgot-password-view.ts
  src/components/backend-ai-edu-applauncher.ts
  src/components/backend-ai-email-verification-view.ts
  src/types/backend-ai-console.d.ts
Labels: size:XS

#2602 feat: improve wsproxy address validation
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-resource-group-list.ts
Labels: effort:easy, platform:general, impact:visible, size:S, field:UI / UX

#2583 feat: Individual `error_msg` for cards to prevent total list fetch disruption
  react/data/schema.graphql
  react/src/components/ModelCardModal.tsx
  react/src/pages/ModelStoreListPage.tsx
Labels: type:enhance, effort:normal, area:ux, urgency:4, platform:general, impact:visible, size:XL

#2609 refactor: replace REST method from to function when download from session info
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, urgency:blocker, size:XS

#2594 ci: update `add-to-project` github action to add PRs to project
  .github/workflows/add-to-project.yml
Labels: size:S

#2610 feat: add confirm dialog before moving to trash bin tab
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-storage-list.ts
Labels: area:ux, area:i18n, size:L

#2612 fix: missed prefix function usage in resource panel
  src/components/backend-ai-resource-monitor.ts
Labels: size:XS

#2613 style: change `EndpointLLMChatCard` close button color
  react/src/components/lablupTalkativotUI/EndpointLLMChatCard.tsx
Labels: type:enhance, area:ux, urgency:1, platform:general, impact:visible, size:XS, field:UI / UX

#2614 fix: TOUR error when HTML elements are missing
  react/src/pages/SessionLauncherPage.tsx
Labels: size:S

#2617 fix: Login modal is disappeared in Electron env
  react/src/App.tsx
Labels: size:S

#2618 fix: batch session schedule date picker in the Classic session launcher
  react/src/components/BatchSessionScheduledTimeSetting.tsx
  react/src/components/DatePickerISO.tsx
Labels: size:M

#2619 feat: rename 'Sync' to 'Sync input'
  react/src/components/lablupTalkativotUI/LLMPlaygroundPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: effort:easy, area:ux, area:i18n, urgency:1, impact:visible, size:M

#2621 feat: Disable the time before the current HH:MM:SS for today's date
  react/src/components/BatchSessionScheduledTimeSetting.tsx
Labels: type:fix, effort:normal, area:ux, urgency:4, platform:general, impact:visible, size:M, field:UI / UX

#2592 feat: add property for calculating resource without per container option
  react/src/hooks/useResourceLimitAndRemaining.tsx
Labels: size:S

#2603 feat: BAIProperty filter supports `boolean` type
  react/src/components/AgentList.tsx
  react/src/components/BAIPropertyFilter.stories.tsx
  react/src/components/BAIPropertyFilter.tsx
  react/src/components/EndpointSelect.tsx
  react/src/components/lablupTalkativotUI/LLMPlaygroundPage.tsx
  react/src/pages/EndpointListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#2587 feat: persist current Tab on the Environment page using search param
  react/src/pages/EnvironmentPage.tsx
Labels: size:M

#2611 feat: update packages
  package.json
  pnpm-lock.yaml
  react/package.json
  react/pnpm-lock.yaml
  react/src/components/ResourceGroupSelect.tsx
  react/src/components/ResourceGroupSelectForCurrentProject.tsx
  react/src/components/__snapshots__/DomainSelector.test.tsx.snap
  react/src/components/lablupTalkativotUI/ChatMessage.tsx
  react/src/components/lablupTalkativotUI/VirtualChatMessageList.tsx
Labels: effort:easy, urgency:2, platform:general, impact:invisible, size:XL

#2591 chore: update react-query
  react/package.json
  react/pnpm-lock.yaml
  react/src/components/AnnouncementAlert.tsx
  react/src/components/DefaultProviders.tsx
  react/src/components/EndpointTokenGenerationModal.tsx
  react/src/components/FolderExplorer.tsx
  react/src/components/Information.tsx
  react/src/components/KeypairInfoModal.tsx
  react/src/components/ModelCloneModal.tsx
  react/src/components/ResetPasswordRequired.tsx
  react/src/components/ResourceGroupSelect.tsx
  react/src/components/ResourcePresetSelect.tsx
  react/src/components/SSHKeypairGenerationModal.tsx
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/components/SessionListColums/SessionInfoCell.tsx
  react/src/components/SignoutModal.tsx
  react/src/components/StorageSelect.tsx
  react/src/components/StorageStatusPanel.tsx
  react/src/components/SummaryPageItems/SummaryItemInvitation.tsx
  react/src/components/TOTPActivateModal.tsx
  react/src/components/UserProfileSettingModal.tsx
  react/src/components/UserSettingModal.tsx
  react/src/components/VFolderLazyView.tsx
  react/src/components/VFolderSelect.tsx
  react/src/components/VFolderTable.tsx
  react/src/components/lablupTalkativotUI/ChatUIModal.tsx
  react/src/components/lablupTalkativotUI/EndpointLLMChatCard.tsx
  react/src/hooks/backendai.tsx
  react/src/hooks/index.tsx
  react/src/hooks/reactQueryAlias.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
  react/src/pages/EndpointDetailPage.tsx
  react/src/pages/EndpointListPage.tsx
Labels: size:L

#2620 feat: add `enableLLMPlayground` config
  config.toml.sample
  react/src/hooks/index.tsx
  react/src/pages/ServingPage.tsx
  src/components/backend-ai-login.ts
Labels: type:enhance, effort:easy, urgency:2, size:S, field:UI / UX

#2529 feat: Folder Explorer as an independent component
  react/src/components/BAIModal.tsx
  react/src/components/FolderExplorerOpener.tsx
  react/src/components/LegacyFolderExplorer.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/icons/filebrowser.svg
  src/backend-ai-app.ts
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-folder-explorer.ts
  src/components/backend-ai-storage-list.ts
  src/lib/backend.ai-client-es6.js
  src/lib/backend.ai-client-esm.ts
  src/lib/backend.ai-client-node.js
  src/lib/backend.ai-client-node.ts
Labels: area:lib, area:ux, area:i18n, size:XL

#2622 feat: Folder Explorer in any page
  react/src/App.tsx
  react/src/components/FolderExplorerOpener.tsx
  react/src/components/LegacyFolderExplorer.tsx
  react/src/helper/index.tsx
  react/src/pages/EndpointDetailPage.tsx
  src/backend-ai-app.ts
  src/components/backend-ai-folder-explorer.ts
  src/components/backend-ai-webui.ts
  src/types/backend-ai-console.d.ts
Labels: size:L

#2628 fix: eunsure valid acceleartorType in Session Launcher
  react/src/components/ResourceAllocationFormItems.tsx
Labels: size:S

#2624 style: update `BAIPropertyFilter` label and fix overlapped clear icon
  react/src/components/BAIPropertyFilter.tsx
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
Labels: area:ux, area:i18n, size:M

#2625 fix: overlapping vscode desktop passwords.
  src/components/backend-ai-app-launcher.ts
Labels: type:fix, effort:easy, area:ux, platform:app, urgency:3, size:XS

#2629 fix: unitended `only` condition of graphql transformer test code
  react/src/helper/graphql-transformer.test.ts
Labels: size:S

#2627 fix: vaadin table in `backend-ai-folder-explorer` does not output some content when there is scrolling
  react/src/components/LegacyFolderExplorer.tsx
  src/components/backend-ai-folder-explorer.ts
Labels: size:XS

#2631 fix: Wrong device name for Rebellions ATOM+
  react/src/components/ResourceNumber.tsx
Labels: size:XS

#2633 update: CSpell configuration based on Backend.AI Writing Rules
  .cspell.json
Labels: size:M

#2634 add: Thai language support
  react/src/pages/UserSettingsPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-webui.ts
Labels: type:enhance, effort:normal, area:ux, area:i18n, urgency:5, platform:general, impact:visible, size:XL, field:localization

#2638 refactor: the CSV utility function and add test code
  react/src/components/KeypairResourcePolicyList.tsx
  react/src/components/ProjectResourcePolicyList.tsx
  react/src/components/UserResourcePolicyList.tsx
  react/src/helper/csv-util.test.ts
  react/src/helper/csv-util.ts
  react/src/helper/index.tsx
Labels: size:L

#2630 feat: add Gaudi 2 icon
  .cspell.json
  react/src/components/ResourceNumber.tsx
  resources/device_metadata.json
  resources/icons/gaudi.svg
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-session-list.ts
Labels: area:lib, area:ux, area:i18n, size:M

#2640 add: requested_slots usage for resource display when occupied_slots are empty
  src/components/backend-ai-session-list.ts
Labels: size:L

#2643 fix: unnecessary POST request in SSH keypair generation modal
  react/src/components/SSHKeypairGenerationModal.tsx
  react/src/components/SSHKeypairManagementModal.tsx
Labels: urgency:blocker, size:S

#2646 fix: vfolder share button has disappeared
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-storage-list.ts
Labels: size:M

#2635 fix: cannot search agents in session list
  src/components/backend-ai-session-list.ts
Labels: type:fix, effort:easy, area:ux, urgency:blocker, urgency:3, platform:general, size:S, field:UI / UX

#2641 fix: "Cannot update an unmounted root" error of `react-to-webcomponent`
  react/src/helper/react-to-webcomponent.tsx
Labels: size:S

#2636 fix: incorrect agent utilization stats
  react/src/components/AgentList.tsx
  react/src/components/BAIProgressWithLabel.tsx
Labels: type:fix, effort:normal, urgency:blocker, urgency:4, platform:general, size:M

#2647 feat: setup Playwright e2e test including vFolder create/delete test
  .gitignore
  e2e/agent.test.ts
  e2e/login.test.ts
  e2e/test-util-antd.ts
  e2e/test-util.ts
  e2e/vfolder.test.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  react/src/components/UserDropdownMenu.tsx
Labels: size:L

#2644 fix: Unable to revoke shared folder permission and refactor the modify permissions modal.
  react/src/components/InviteFolderPermissionSettingModal.tsx
  react/src/pages/VFolderListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-storage-list.ts
Labels: type:fix, area:lib, area:ux, urgency:blocker, area:i18n, urgency:4, size:XL

#2652 fix: the conditions of allocatablePresetNames
  react/src/components/ResourceAllocationFormItems.test.ts
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
Labels: size:L

#2649 fix: Windows architecture mismatch issue when downloading the app.
  react/src/components/SummaryPageItems/SummaryItemDownloadApp.tsx
  src/components/backend-ai-summary-view.ts
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, size:S

#2659 fix: modify the locale of reservation time to the language of Backend.AI
  src/components/backend-ai-session-list.ts
Labels: area:i18n, size:XS

#2615 feat: migrate image list
  react/src/components/FlexActivityIndicator.tsx
  react/src/components/ImageInstallModal.tsx
  react/src/components/ImageList.tsx
  react/src/components/ImageTags.tsx
  react/src/components/ManageAppsModal.tsx
  react/src/components/ManageImageResourceLimitModal.tsx
  react/src/components/ResourceNumber.tsx
  react/src/helper/index.tsx
  react/src/hooks/index.tsx
  react/src/hooks/useBackendAIImageMetaData.test.tsx
  react/src/index.tsx
  react/src/pages/EnvironmentPage.tsx
  react/src/pages/MyEnvironmentPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  resources/image_metadata.json
Labels: area:ux, area:i18n, size:XL

#2648 fix: `pnpm install` does not use `/react/.npmrc`.
  package.json
  react/package.json
  react/pnpm-lock.yaml
Labels: size:S

#2660 fix: checkboxes in the webui session list are unchecked on auto-refresh, or clicks are not scoped
  src/components/backend-ai-session-list.ts
Labels: size:S

#2663 chore: add test code for `getImageMeta`
  react/src/hooks/useBackendAIImageMetaData.test.tsx
Labels: size:M

#2664 ui: wrap AgentList with Suspense
  react/src/pages/ResourcesPage.tsx
Labels: size:S

#2669 fix: enable a session log button when `PREPARING`
  src/components/backend-ai-session-list.ts
Labels: size:XS

#2662 fix: apply decimal place rounding to session usage
  react/src/helper/index.tsx
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-session-list.ts
Labels: type:fix, effort:easy, area:ux, urgency:2, platform:general, impact:visible, size:L, field:UI / UX

#2671 chore: clean up files and update README.md
  README.md
  package.json
  pnpm-lock.yaml
  react/data/relay-and-local-directives-for-graphql-config.graphql
  tests/helper.js
  tests/page_login.js
  tests/page_vfolder.js
  tests/test_login.js
  tests/test_vfolder.js
Labels: size:XL

#2665 e2e: test NEO session launcher and imageList
  .prettierignore
  e2e/.prettierrc.json
  e2e/agent.test.ts
  e2e/environment.test.ts
  e2e/login.test.ts
  e2e/session.test.ts
  e2e/test-util-antd.ts
  e2e/test-util.ts
  e2e/vfolder.test.ts
  package.json
Labels: effort:normal, size:L
