Repository lablup/backend.ai-webui, pull requests merged in 2024-01, with the labels that each got.

#2122 docs: fix GitLab branding
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: size:L, field:UI / UX, field:localization

#2110 fix: env variable validation rule in neo session lanuncher
  react/src/components/EnvVarFormList.tsx
Labels: size:S

#2126 style: remove `whiteSpace` to fix the broken UI of the announcement.
  react/src/components/AnnouncementAlert.tsx
Labels: type:fix, effort:easy, area:ux, urgency:1, platform:general, impact:visible, size:S

#2130 fix: implement Neo Session column's content
  react/src/components/SessionList.tsx
  react/src/components/SessionListColums/SessionInfoCell.tsx
Labels: size:L

#2120 feature: implement custom hooks to use React dark mode
  react/src/components/DefaultProviders.tsx
  react/src/components/ImageEnvironmentSelectFormItems.css
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/helper/customThemeConfig.ts
  react/src/hooks/useLocalStorageGlobalState.tsx
  react/src/hooks/useThemeMode.tsx
  resources/theme.json
Labels: type:enhance, effort:normal, size:L

#2136 feat: `allow_manual_image_name_for_session` option in ServiceLauncher
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ServiceLauncherModal.tsx
Labels: size:M

#2138 fix: model service owner always represented as logged in user
  react/data/schema.graphql
  react/src/components/EndpointOwnerInfo.tsx
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/lib/backend.ai-client-esm.ts
Labels: urgency:blocker, size:L, field:UI / UX, field:localization

#2123 feat: add session name validator to the session launcher
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
Labels: type:fix, type:enhance, effort:easy, area:ux, urgency:4, platform:general, impact:visible, size:M, neo session launcher

#2144 fix: default select value is appeared correctly in add-folder-dialog
  src/components/backend-ai-data-view.ts
Labels: size:S

#2143 fix: apply overflow style and modify option to mwc-list-item in modify-permission-dialog
  src/components/backend-ai-storage-list.ts
Labels: size:M

#2133 fix: implement Neo Session column's content (2)
  react/src/components/SessionList.tsx
  react/src/components/SessionListColums/SessionInfoCell.tsx
Labels: size:L

#2131 feat: refactoring ErrorLogList to react
  react/src/components/ErrorLogList.tsx
  react/src/components/TextHighlighter.tsx
  react/src/index.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-error-log-list.ts
  src/components/backend-ai-error-log-view.ts
  src/components/backend-ai-usersettings-view.ts
Labels: size:XL, field:UI / UX, field:localization

#2146 feature: improve log search performance and UX
  react/src/components/ErrorLogList.tsx
  react/src/components/TextHighlighter.tsx
Labels: size:L

#2152 fix: omit the mark if it is greater than the max
  react/src/components/DynamicUnitInputNumberWithSlider.tsx
  react/src/components/InputNumberWithSlider.tsx
Labels: size:S

#2150 fix: improve session status info
  src/components/backend-ai-session-list.ts
Labels: type:enhance, effort:easy, area:ux, urgency:4, platform:general, impact:visible, size:L, field:UI / UX

#2147 feature: Improve edu-applauncher scalability for adding session templates
  src/components/backend-ai-edu-applauncher.ts
  src/components/backend-ai-environment-list.ts
Labels: size:L

#2153 fix: UserInfoModal is displayed previous data
  src/components/backend-ai-user-list.ts
Labels: size:M

#2139 fix: version comparison function based on PEP440
  package-lock.json
  package.json
  src/lib/backend.ai-client-esm.ts
  src/lib/pep440.test.ts
  src/lib/pep440.ts
Labels: size:XL

#2177 fix: mapping `servicePorts` instead string array when get services.
  src/components/backend-ai-edu-applauncher.ts
Labels: type:fix, effort:easy, urgency:2, platform:general, impact:invisible, size:XS

#2173 feat: filter props of VFolderTableFormItem
  react/src/components/VFolderTable.tsx
  react/src/components/VFolderTableFormItem.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: type:fix, urgency:1, platform:general, impact:visible, size:S, neo session launcher

#2178 fix: `initialValues` props of `<Form/>` under Modal doesn't work in Electron
  react/src/components/ContainerRegistryEditorModal.tsx
  react/src/components/ContainerRegistryList.tsx
  react/src/components/EndpointTokenGenerationModal.tsx
  react/src/components/ModelCloneModal.tsx
  react/src/components/ModelServiceSettingModal.tsx
  react/src/components/ProjectResourcePolicySettingModal.tsx
  react/src/components/QuotaSettingModal.tsx
  react/src/components/SessionListColums/SessionInfoCell.tsx
  react/src/components/SignoutModal.tsx
  react/src/components/TableColumnsSettingModal.tsx
  react/src/components/UserResourcePolicySettingModal.tsx
Labels: size:L

#2184 Fix/draggable header for electron
  react/src/components/MainLayout/WebUIHeader.css
  react/src/components/MainLayout/WebUIHeader.tsx
  react/src/components/WEBUINotificationDrawer.tsx
  src/components/lablup-notification.ts
Labels: size:S

#2185 fix: remove ROCm icon from resource monitor
  src/components/backend-ai-resource-monitor.ts
Labels: size:XS

#2162 feat: separate the formatting and linting configuration
  .eslintrc.json
  .github/workflows/jest.yml
  package-lock.json
  package.json
  react/package-lock.json
  react/package.json
Labels: size:L

#2179 feat: add draggable prop of BAIModal to drag modal
  react/package-lock.json
  react/package.json
  react/src/components/BAIModal.css
  react/src/components/BAIModal.tsx
  react/src/components/UserDropdownMenu.tsx
  react/src/index.tsx
Labels: size:L
