Repository lablup/backend.ai-webui, pull requests merged in 2024-05, with the labels that each got.

#2350 refactor: clean up backend-ai-webui.ts
  src/components/backend-ai-webui.ts
Labels: size:XL

#2331 feat: current project state using Jotai library
  react/package-lock.json
  react/package.json
  react/src/components/AvailableResourcesCard.tsx
  react/src/components/DefaultProviders.tsx
  react/src/components/MainLayout/WebUIHeader.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourceGroupSelect.tsx
  react/src/components/ResourceGroupSelectForCurrentProject.tsx
  react/src/components/StorageStatusPanel.tsx
  react/src/components/VFolderLazyView.tsx
  react/src/components/VFolderSelect.tsx
  react/src/components/VFolderTable.tsx
  react/src/hooks/index.tsx
  react/src/hooks/useCurrentProject.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
  react/src/index.tsx
  react/src/pages/ServingListPage.tsx
  react/src/pages/SessionLauncherPage.tsx
  react/src/pages/SessionListPage.tsx
Labels: size:XL

#2388 update: node.js components to recent versions
  index.html
  package-lock.json
  package.json
  react/package-lock.json
  react/package.json
  react/src/components/__snapshots__/DomainSelector.test.tsx.snap
  version.json
Labels: effort:hard, area:lib, mnt:dependencies, mnt:build-chain, urgency:2, type:refactor, platform:general, area:upstream, impact:invisible, size:XL

#2265 feat: apply react managing apps modal into web component
  react/src/components/DefaultProviders.tsx
  react/src/components/ImageResourceFormItem.tsx
  react/src/components/InputNumberWithSlider.tsx
  react/src/components/ManageAppsModal.tsx
  react/src/components/ManageImageResourceLimitModal.tsx
  react/src/components/NonLinearSlider.tsx
  react/src/hooks/backendai.tsx
  react/src/hooks/index.tsx
  react/src/index.tsx
  resources/device_metadata.json
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-environment-list.ts
Labels: area:ux, area:i18n, size:XL, field:UI / UX, field:localization

#2403 hotfix: Rename Relay mutation type file name
  react/src/components/ManageImageResourceLimitModal.tsx
Labels: size:XS

#2397 fix: reload behavior of BAIErrorBoundary for Electron
  react/src/components/BAIErrorBoundary.tsx
Labels: size:S

#2398 fix: normalize copied example command format in sFTP upload agent panel
  src/components/backend-ai-app-launcher.ts
Labels: size:XS

#2411 misc: change color of main access key tag to green
  react/src/components/KeypairInfoModal.tsx
  src/components/backend-ai-credential-list.ts
Labels: area:ux, urgency:2, impact:visible, size:XS

#2406 feat: new resources page and support agent pagination
  package-lock.json
  package.json
  react/data/schema.graphql
  react/src/App.tsx
  react/src/components/AgentDetailModal.tsx
  react/src/components/AgentList.tsx
  react/src/components/AgentSettingModal.tsx
  react/src/components/AutoRefreshSwitch.tsx
  react/src/components/AvailableResourcesCard.tsx
  react/src/components/BAIProgressWithLabel.tsx
  react/src/components/MainLayout/WebUISider.tsx
  react/src/components/ResourceAvailableGageBar.tsx
  react/src/components/WEBUIHelpButton.tsx
  react/src/helper/index.tsx
  react/src/hooks/reactPaginationQueryOptions.tsx
  react/src/pages/EnvironmentPage.tsx
  react/src/pages/ResourcesPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/backend-ai-app.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-webui.ts
Labels: type:enhance, area:ux, area:i18n, urgency:4, platform:general, impact:visible, size:XL, field:UI / UX

#2413 fix: TextHighlighter performance
  react/src/components/ErrorLogList.tsx
  react/src/components/TextHighlighter.tsx
Labels: size:M

#2414 fix: i18n missing and plural items
  config.toml.sample
  i18n.config.js
  react/src/components/ManageAppsModal.tsx
  react/src/components/ManageImageResourceLimitModal.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/SettingList.tsx
  react/src/hooks/index.tsx
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-login.ts
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-session-launcher.ts
Labels: area:ux, area:i18n, size:L

#2402 feat: introduce SourceCodeViewer component
  react/package-lock.json
  react/package.json
  react/src/components/SourceCodeViewer.tsx
  react/src/index.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-app-launcher.ts
Labels: area:ux, area:i18n, size:XL

#2284 feat: Neo Session Launcher Tour Guide via 'antd tour'
  react/src/BAICard.tsx
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/SessionLauncherErrorTourProps.tsx
  react/src/hooks/useBAISetting.tsx
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#2416 feat: the project select supports model store type for admin
  react/src/components/ProjectSelect.tsx
  react/src/hooks/backendai.tsx
  react/src/hooks/index.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#2418 feat: Property filter component
  react/src/components/AgentList.tsx
  react/src/components/BAIPropertyFilter.stories.tsx
  react/src/components/BAIPropertyFilter.test.tsx
  react/src/components/BAIPropertyFilter.tsx
  react/src/helper/index.test.tsx
  react/src/helper/index.tsx
  resources/i18n/ko.json
Labels: area:ux, area:i18n, size:L

#2357 feat: add new resource policy page (keypair, user, project)
  react/data/schema.graphql
  react/src/App.tsx
  react/src/components/AllowedHostNamesSelect.tsx
  react/src/components/BAIPropertyFilter.stories.tsx
  react/src/components/ErrorLogList.tsx
  react/src/components/FormItemWithUnlimited.tsx
  react/src/components/KeypairResourcePolicyList.tsx
  react/src/components/KeypairResourcePolicySettingModal.tsx
  react/src/components/MainLayout/WebUISider.tsx
  react/src/components/ProjectResourcePolicyList.tsx
  react/src/components/UserResourcePolicyList.tsx
  react/src/hooks/backendai.tsx
  react/src/hooks/index.tsx
  react/src/pages/ResourcePolicyPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-resource-policy-list.ts
  src/components/backend-ai-webui.ts
Labels: type:enhance, effort:normal, area:ux, area:i18n, urgency:3, platform:general, impact:visible, size:XL, field:UI / UX, field:localization

#2419 misc/remove-legacy-keypair-resource-policy-page
  src/components/backend-ai-credential-view.ts
  src/components/backend-ai-resource-policy-list.ts
Labels: size:XL

#2061 feature: provide model service validation
  react/package-lock.json
  react/package.json
  react/src/components/BAIModal.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/ServiceValidationView.tsx
  react/src/components/ValidationStatusTag.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, area:ux, area:i18n, size:XL, field:UI / UX, field:localization

#2420 feat: set `maxHeight` to BAIModal
  react/src/components/BAIModal.css
  react/src/components/BAIModal.tsx
Labels: size:M

#2424 style: set footer to null and styling AgentDetailModal
  react/src/components/AgentDetailModal.tsx
Labels: type:enhance, effort:easy, platform:general, impact:visible, size:L, field:UI / UX

#2425 fix: missing i18n for BAIPropertyFilter
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:M

#2429 fix: do not apply preset when disabled presets
  react/src/components/ResourceAllocationFormItems.tsx
Labels: size:XS

#2428 fix: `InputNumber` component does not update the value correctly at first
  react/src/components/DynamicStepInputNumber.tsx
  react/src/components/DynamicUnitInputNumberWithSlider.tsx
  react/src/components/InputNumberWithSlider.tsx
Labels: size:M

#2434 hotfix: replace ellipsis in Notification with `_.turuncate`
  react/src/components/BAINotificationItem.tsx
Labels: size:S

#2421 feat: User resource policy page
  react/src/components/FormItemWithUnlimited.tsx
  react/src/components/KeypairResourcePolicyList.tsx
  react/src/components/KeypairResourcePolicySettingModal.tsx
  react/src/components/ResourcePolicyCard.tsx
  react/src/components/UserResourcePolicyList.tsx
  react/src/components/UserResourcePolicySettingModal.tsx
  react/src/helper/index.test.tsx
  react/src/helper/index.tsx
  react/src/pages/ResourcePolicyPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-credential-view.ts
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, area:ux, area:i18n, size:XL

#2423 feat: Project resource policy page
  react/src/components/ProjectResourcePolicyList.tsx
  react/src/components/ProjectResourcePolicySettingModal.tsx
  react/src/pages/ResourcePolicyPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:lib, area:ux, area:i18n, size:XL

#2435 feat: provide sorted resource presets to NeoSessionLauncher when presets are modifed
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourcePresetSelect.tsx
Labels: size:S

#2432 fix: error handling for ModifyEndpoint GQL fails
  react/src/components/ServiceLauncherModal.tsx
Labels: size:XS

#2440 fix: use `recursive` validation option for `ResourceAllocationFormItems`
  react/src/components/ResourceAllocationFormItems.tsx
Labels: size:S

#2438 fix: request update when commit session dialog is opened
  src/components/backend-ai-session-list.ts
Labels: size:XS

#2433 fix: temporally disable session commit to tar file in commit session dialog
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-session-list.ts
Labels: type:fix, effort:easy, area:ux, area:i18n, urgency:5, size:L, field:UI / UX

#2431 fix: Mishandling of undefined value in the ModifyImage mutation
  react/src/components/ManageAppsModal.tsx
  react/src/components/ManageImageResourceLimitModal.tsx
Labels: size:S

#2430 misc: realign session name of upload session list
  src/components/backend-ai-session-list.ts
Labels: size:XS

#2439 fix: improve `message`'s i18n and duration for model services deletion
  react/src/components/DefaultProviders.tsx
  react/src/pages/ServingListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#2426 fix: empty filter layout of `BAIPropertyFiilter`
  react/src/components/BAIPropertyFilter.tsx
Labels: size:M

#2437 add: providing additional vfolder mounts and arbitrary model definition path in model service launcher
  react/data/schema.graphql
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/VFolderLazyView.tsx
  react/src/components/VFolderTableFormItem.tsx
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: type:enhance, area:ux, urgency:blocker, area:i18n, urgency:5, type:refactor, impact:breaking, size:XL

#2443 feature/add-extra-mount-and-mount-destination-on-routing-info
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/VFolderSelect.tsx
  react/src/pages/RoutingListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#2447 fix/consider-version-compatibility-on-extra-mounts-in-model-serving
  react/src/components/BAIModal.tsx
  react/src/components/ServiceLauncherModal.tsx
  react/src/components/ServiceValidationView.tsx
  react/src/components/VFolderTable.tsx
  react/src/pages/RoutingListPage.tsx
  react/src/pages/ServingListPage.tsx
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, size:L
