Repository lablup/backend.ai-webui, pull requests merged in 2024-09, with the labels that each got.

#2658 e2e: vfolder invitation
  e2e/test-util-antd.ts
  e2e/test-util.ts
  e2e/vfolder.test.ts
Labels: size:L

#2674 fix: useBackendAIImageMetaData test code related to `waitFor`
  e2e/test-util.ts
  react/src/hooks/index.tsx
  react/src/hooks/useBackendAIImageMetaData.test.tsx
Labels: size:L

#2551 add: login session extension feature with UI button
  config.toml.sample
  react/src/components/MainLayout/WebUIHeader.tsx
  react/src/components/TimeContainer.tsx
  react/src/hooks/index.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-login.ts
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, area:ux, area:i18n, size:L

#2676 refactor: login session extension
  react/src/components/LoginSessionExtendButton.tsx
  react/src/components/MainLayout/WebUIHeader.tsx
  react/src/components/TimeContainer.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:lib, area:ux, area:i18n, size:L

#2680 Fix: Resource Number displays an infinity symbol unexpectedly
  react/src/components/ImageList.tsx
  react/src/components/ResourceNumber.tsx
Labels: size:S

#2623 feat: add support for Gaudi 2 Accelerator
  .cspell.json
  config.toml.sample
  react/src/components/AgentList.tsx
  react/src/components/ResourceGroupSelect.tsx
  react/src/components/ResourceNumber.tsx
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/components/VFolderSelect.tsx
  react/src/components/VFolderTable.tsx
  react/src/helper/index.tsx
  react/src/hooks/backendai.tsx
  react/src/hooks/index.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
  resources/device_metadata.json
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  resources/icons/gaudi.svg
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
  src/components/backend-ai-agent-view.ts
  src/components/backend-ai-credential-list.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-resource-broker.ts
  src/components/backend-ai-resource-monitor.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-settings-view.ts
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, area:ux, area:i18n, size:XL

#2681 fix: missing load the `maxGaudi2DevicesPerContainer`
  src/components/backend-ai-login.ts
Labels: size:S

#2682 fix: Remove unused device `gaudi.device`
  src/components/backend-ai-session-launcher.ts
Labels: size:S

#2686 fix: Change resource display basis from Ratio to current amount
  src/components/backend-ai-session-list.ts
Labels: size:M

#2683 chore: remove unused backend-ai-agent-list
  src/components/backend-ai-agent-list.ts
  src/components/backend-ai-agent-summary-list.ts
Labels: size:XL

#2678 feat: show confirm modal instead of popconfirm when deleting endpoint
  react/src/pages/EndpointListPage.tsx
Labels: size:L

#2685 feat: add endpoint status filtering
  react/src/pages/EndpointListPage.tsx
Labels: size:M

#2688 pagination and filter with deferred values
  react/src/App.tsx
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/pages/EndpointDetailPage.tsx
  react/src/pages/EndpointListPage.tsx
Labels: size:XL

#2684 refactor: centralize resource slot type definitions and improve device metadata handling in `/react`
  react/package.json
  react/pnpm-lock.yaml
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourceNumber.tsx
  react/src/components/ResourcePresetSelect.tsx
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/hooks/backendai.test.tsx
  react/src/hooks/backendai.tsx
  react/src/hooks/useResourceLimitAndRemaining.test.ts
  react/src/hooks/useResourceLimitAndRemaining.tsx
  resources/device_metadata.json
  resources/device_metadata.schema.json
Labels: size:L

#2690 refactor: percent calcuation and typescript deifinition in agent list
  react/src/components/AgentList.tsx
Labels: size:L

#2687 fix: modification of "model service's resource"
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ServiceLauncherPageContent.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#2691 fix: compatibility for lifecycle filter of Endpoint
  react/src/pages/EndpointListPage.tsx
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, size:M

#2679 test: add more edge cases of `iSizeToSize` and `parseUnit`
  react/src/helper/index.test.tsx
  react/src/helper/index.tsx
Labels: size:M

#2695 fix: disable edit button based on endpoint status
  react/src/pages/EndpointDetailPage.tsx
  react/src/pages/EndpointListPage.tsx
Labels: size:M

#2692 feat: add max validation rule for CPU and memory in Form.Item.
  react/src/components/InputNumberWithSlider.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#2698 fix: remove duplicated `form.getFieldValue` in `ensureValidAcceleratorType`
  react/src/components/ResourceAllocationFormItems.tsx
Labels: size:XS

#2697 add: convert showing all environment images including uninstalled ones by config
  config.toml.sample
  e2e/config-test.toml
  e2e/config.test.ts
  e2e/test-util.ts
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/hooks/index.tsx
  src/components/backend-ai-login.ts
Labels: size:L

#2699 fix: object merging with mutation in VFolderTable, hooks, and SessionLauncherPage
  react/src/components/VFolderTable.tsx
  react/src/hooks/backendai.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: size:XS

#2704 fix: use antd color token for invalid mwc-textfield theme
  src/components/backend-ai-folder-explorer.ts
Labels: size:XS, field:UI / UX

#2514 Add an 'Import from hugging face' modal
  react/src/components/ImportFromHuggingFaceModal.tsx
  react/src/components/VFolderSelect.tsx
  react/src/pages/VFolderListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#2709 feat: add `enableImportFromHuggingFace` option
  config.toml.sample
  react/src/hooks/index.tsx
  react/src/pages/VFolderListPage.tsx
  src/components/backend-ai-login.ts
Labels: size:S

#2705 test: e2e test for parsing config.toml and modifying
  e2e/config-test.toml
  e2e/config.test.ts
  e2e/test-util.ts
  package.json
  pnpm-lock.yaml
Labels: size:L

#2710 feat: fetch the Hugging Face info using a URL
  react/src/components/ImportFromHuggingFaceModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#2715 feat: Improve form item and switch to README preview on validation check
  react/src/components/ImportFromHuggingFaceModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#2712 feat: compare with other models
  react/src/components/lablupTalkativotUI/ChatUIModal.tsx
  react/src/components/lablupTalkativotUI/EndpointLLMChatCard.tsx
  react/src/components/lablupTalkativotUI/LLMChatCard.tsx
  react/src/components/lablupTalkativotUI/LLMPlaygroundPage.tsx
  react/src/pages/EndpointDetailPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#2718 fix: display only active endpoints in EndpointSelect
  react/src/components/EndpointSelect.tsx
Labels: size:S

#2717 feat: import from HuggingFace and show result with modal
  react/src/components/ImportFromHuggingFaceModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, urgency:5, size:XL

#2700 add: warning when maximum resources to allocate is not enough to the minimum required resources in selected image
  e2e/session.test.ts
  react/src/components/DynamicUnitInputNumberWithSlider.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#2708 feat: add copy button for full image name in session launcher and environments page
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ImageList.tsx
  react/src/components/lablupTalkativotUI/CopyButton.tsx
Labels: size:M

#2711 fix: add scroll to the lablup-activity-panel
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-summary-view.ts
  src/components/lablup-activity-panel.ts
Labels: size:S

#2667 fix: Consider folder state for vfolder invitations
  .cspell.json
  e2e/vfolder.test.ts
  src/components/backend-ai-summary-view.ts
Labels: type:enhance, effort:normal, area:ux, urgency:1, platform:general, size:L

#2706 fix: separate CUDA FGPU slots from ROCM GPU slots
  src/components/backend-ai-session-list.ts
Labels: size:M

#2720 fix: session launcher validation logic when max_concurrent_sessions is set to 0 (unlimited)
  react/src/hooks/hooksUsingRelay.tsx
Labels: size:XS

#2728 refactor: move const vaiables to `const-vars.ts`
  react/src/components/KeypairResourcePolicyList.tsx
  react/src/components/KeypairResourcePolicySettingModal.tsx
  react/src/helper/const-vars.ts
  react/src/hooks/hooksUsingRelay.tsx
Labels: size:S

#2654 refactor: `KeypairResourcePolicySettingModal` update to support policy settings for all available accelerators.
  react/src/components/FormItemWithUnlimited.tsx
  react/src/components/KeypairResourcePolicyList.tsx
  react/src/components/KeypairResourcePolicySettingModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#2656 refactor: resource preset page
  react/src/components/ContainerRegistryList.tsx
  react/src/components/KeypairResourcePolicyList.tsx
  react/src/components/ResourcePresetList.tsx
  react/src/components/ResourcePresetSettingModal.tsx
  react/src/pages/EnvironmentPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: effort:normal, area:ux, area:i18n, urgency:2, type:refactor, platform:general, impact:visible, size:XL, field:UI / UX

#2726 fix: Fixed the maximum desired number of sessions value in the Model Launcher modal to follow `max_session_count_per_model_session`
  react/src/components/ServiceLauncherPageContent.tsx
Labels: area:ux, area:i18n, size:M
