Repository lablup/backend.ai-webui, pull requests merged in 2025-01, with the labels that each got.

#2814 [FR-52] feat: Session usage monitor in react
  react/src/components/BAIProgressWithLabel.tsx
  react/src/components/SessionDetailContent.tsx
  react/src/components/SessionUsageMonitor.tsx
Labels: size:L

#2972 refactor: replace ChatInput with antdx component
  react/package.json
  react/pnpm-lock.yaml
  react/src/components/lablupTalkativotUI/ChatInput.tsx
  react/src/components/lablupTalkativotUI/ChatMessage.tsx
  react/src/components/lablupTalkativotUI/ChatMessageContent.tsx
  react/src/components/lablupTalkativotUI/ChatSender.tsx
  react/src/components/lablupTalkativotUI/LLMChatCard.tsx
Labels: size:XL

#2993 [FR-22] feature: handle image and text attachments in chat modal
  react/package.json
  react/pnpm-lock.yaml
  react/src/components/lablupTalkativotUI/ChatMessage.tsx
  react/src/components/lablupTalkativotUI/LLMChatCard.tsx
  react/src/components/lablupTalkativotUI/VirtualChatMessageList.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#2995 [FR-22] feature: provide token-related information
  react/src/components/lablupTalkativotUI/ChatMessage.tsx
  react/src/components/lablupTalkativotUI/LLMChatCard.tsx
Labels: size:M

#2998 [FR-316] feat: introduce `useTokenCount` using `gpt-tokenizer`
  react/package.json
  react/pnpm-lock.yaml
  react/src/components/lablupTalkativotUI/LLMChatCard.tsx
  react/src/hooks/useTokenizer.ts
Labels: size:M

#3002 [FR-7] fix: neo session launcher reset function behavior
  react/src/helper/index.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: size:S

#3004 [FR-341] fix: Page Error on Accessing Agent Summary with a Regular User Account
  react/src/components/AgentSummaryList.tsx
  react/src/hooks/useCurrentProject.tsx
Labels: size:S

#2992 [FR-240] fix: show vfolder types in folder create modal based on user permission
  react/src/components/FolderCreateModal.tsx
  react/src/components/StorageStatusPanel.tsx
  react/src/pages/VFolderListPage.tsx
Labels: size:M

#3011 [FR-344] feat: auto screenshot with Playwrite
  .gitignore
  e2e/envs/.env.playwright.sample
  e2e/screenshot.test.ts
  e2e/test-util.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Labels: size:L

#3016 [FR-356] fix: remove `enableLinks` to prevent logs from disappearing in the container log
  react/src/components/ComputeSessionNodeItems/ContainerLogModal.tsx
Labels: size:XS

#3008 [FR-342] chores: Add ESLint Configuration for JSON Schema Validation
  .cspell.json
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  react/package.json
  react/src/App.tsx
  react/src/components/FolderCreateModal.tsx
  react/src/components/ModelCloneModal.tsx
  react/src/components/ResourcePresetSettingModal.tsx
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/components/SessionListColums/SessionInfoCell.tsx
  react/src/components/SessionNameFormItem.tsx
  react/src/components/UserProfileSettingModal.tsx
  react/src/pages/EndpointDetailPage.tsx
  react/src/pages/Page401.tsx
  react/src/pages/Page404.tsx
  resources/antdThemeConfig.schema.json
  resources/device_metadata.json
  resources/i18n.schema.json
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-error-view.ts
  src/components/backend-ai-folder-explorer.ts
  src/components/backend-ai-login.ts
  src/components/backend-ai-permission-denied-view.ts
  src/components/backend-ai-resource-panel.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-settings-view.ts
  src/components/backend-ai-storage-list.ts
Labels: area:ux, area:i18n, size:XL

#3028 chore: Update PR template to remind mentioning both GitHub/Jira issues
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size:XS

#2963 feat(FR-17): update `desired_session_count` field name to `replicas`
  .cspell.json
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/components/ServiceValidationView.tsx
  react/src/pages/EndpointDetailPage.tsx
  react/src/pages/EndpointListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, area:ux, area:i18n, size:L

#3034 feat(FR-244): session renaming in the session detail panel
  react/src/components/ComputeSessionNodeItems/EditableSessionName.tsx
  react/src/components/SessionDetailContent.tsx
  react/src/components/SessionDetailDrawer.tsx
  react/src/components/SessionNameFormItem.tsx
  react/src/hooks/backendai.tsx
  src/components/backend-ai-login.ts
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, size:L

#3009 refactor(FR-343): migrate maintenance page to react by using SettingList
  .cspell.json
  react/src/App.tsx
  react/src/components/MaintenanceSettingList.tsx
  react/src/components/SettingList.tsx
  react/src/hooks/index.tsx
  react/src/pages/MaintenancePage.tsx
  react/src/pages/UserSettingsPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/backend-ai-app.ts
  src/components/backend-ai-maintenance-view.ts
  src/components/backend-ai-webui.ts
Labels: area:ux, area:i18n, size:XL

#3040 feat(FR-372): support id based object resolution
  react/src/components/ModelCardModal.tsx
  react/src/components/ModelCloneModal.tsx
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-folder-explorer.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-summary-view.ts
  src/lib/backend.ai-client-esm.ts
  src/lib/pep440.test.ts
Labels: area:lib, urgency:blocker, urgency:5, size:M, flow:hotfix

#3042 fix(FR-382, FR-384): Handle deprecated image name fields in service launcher and image download
  react/src/components/ImageInstallModal.tsx
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/components/ServiceValidationView.tsx
  react/src/pages/EndpointDetailPage.tsx
Labels: size:M

#3065 feature(FR-352): update-useBAINotification
  react/src/components/ComputeSessionNodeItems/ContainerCommitModal.tsx
  react/src/components/ContainerRegistryList.tsx
  react/src/components/ContainerRegistryListBefore2409.tsx
  react/src/components/MaintenanceSettingList.tsx
  react/src/components/ModelCloneModal.tsx
  react/src/hooks/useBAINotification.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: size:L

#3064 fxi(FR-423): Unkown image error in Image list's control modal
  react/src/components/ImageList.tsx
  react/src/components/ManageAppsModal.tsx
  react/src/components/ManageImageResourceLimitModal.tsx
Labels: size:M

#3038 feat(FR-247, FR-249): open folder explorer from session detail panel using vfolder_mounts
  react/src/components/SessionDetailContent.tsx
Labels: area:lib, size:S

#2926 misc(FR-29): upgrade to React 19 stable
  react/package.json
  react/patches/rc-field-form.patch
  react/pnpm-lock.yaml
  react/src/components/BAIModal.tsx
  react/src/components/DefaultProviders.tsx
  react/src/components/ImageMetaIcon.tsx
  react/src/components/ImageTags.tsx
  react/src/components/SourceCodeViewer.tsx
  react/src/components/__snapshots__/DomainSelector.test.tsx.snap
  react/src/components/lablupTalkativotUI/ChatMessageContent.tsx
  react/src/hooks/useControllableState.ts
  react/src/hooks/useIntervalValue.tsx
  react/src/index.tsx
Labels: size:XL
