Repository lablup/backend.ai-webui, pull requests merged in 2025-07, with the labels that each got.

#3863 fix(FR-1155): Set DynamicUnitInputNumber to stringMode
  react/src/components/DynamicUnitInputNumber.tsx
  react/src/components/DynamicUnitInputNumberWithSlider.stories.tsx
  react/src/components/ResourceAllocationFormItems.tsx
Labels: size:S

#3874 fix(FR-1170): make BAITable to controll correct pagination values
  react/src/components/BAITable.tsx
Labels: size:S

#3774 fix(FR-1056): Use fetch-event-source for authenticated SSE requests
  pnpm-lock.yaml
  react/package.json
  react/src/components/ServiceValidationView.tsx
  react/src/helper/index.tsx
  react/src/hooks/useBAINotification.tsx
Labels: size:XL

#3883 fix(FR-1186): update okButtonProps to include disabled and danger in BAIConfirmModalWithInput component
  react/src/components/BAIConfirmModalWithInput.tsx
Labels: size:S

#3897 chore(FR-1197): modify validation message in environments select
  react/src/components/ImageEnvironmentSelectFormItems.tsx
Labels: size:S

#3898 chore(FR-1181):update mai branch version to v25.2.0-alpha.0
  electron-app/package.json
  index.html
  manifest.json
  package.json
  react/package.json
  version.json
Labels: size:S

#3899 chore(FR-1195): modify column setting logic
  react/src/components/SessionOwnerSetterCard.tsx
  react/src/components/TOTPActivateModal.tsx
  react/src/components/TableColumnsSettingModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-page.ts
Labels: area:ux, area:i18n, size:XL

#3905 chore(FR-1205): run prettier and eslint at pre-commit
  package.json
Labels: size:XS

#3875 feat(FR-1134): Add tooltips for prometheus metrics
  react/src/components/SessionMetricGraph.tsx
  react/src/components/UserSessionsMetrics.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#3879 fix(FR-1178): correct the labels for Simplified and Traditional Chinese in the language selection
  react/src/pages/UserSettingsPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:M

#3908 fix(FR-1212): The resource number has different size NVIDIA logos.
  react/src/components/ResourceNumber.tsx
  resources/icons/nvidia.svg
Labels: area:ux, size:XS

#3911 style(FR-1190): enhance the ux for resource display on the agent page
  react/src/components/AgentList.tsx
  react/src/components/StorageHostResourcePanel.tsx
  react/src/components/StorageProxyList.tsx
  react/src/helper/index.tsx
Labels: size:M

#3919 fix(FR-1219): Support responsive session metric graph
  react/src/components/SessionMetricGraph.tsx
  react/src/components/UserSessionsMetrics.tsx
Labels: size:M

#3855 feat(FR-735): apply NEO style to existing pages using Tabs or Table
  react/src/components/AgentList.tsx
  react/src/components/AgentSummaryList.tsx
  react/src/components/BAIFetchKeyButton.tsx
  react/src/components/BAITable.tsx
  react/src/components/ContainerRegistryList.tsx
  react/src/components/CustomizedImageList.tsx
  react/src/components/ImageList.tsx
  react/src/components/KeypairResourcePolicyList.tsx
  react/src/components/PaginationInfoText.tsx
  react/src/components/ProjectResourcePolicyList.tsx
  react/src/components/ResourceGroupList.tsx
  react/src/components/ResourcePresetList.tsx
  react/src/components/StorageProxyList.tsx
  react/src/components/UserCredentialList.tsx
  react/src/components/UserNodeList.tsx
  react/src/components/UserResourcePolicyList.tsx
  react/src/hooks/index.tsx
  react/src/pages/AgentSummaryPage.tsx
  react/src/pages/ComputeSessionListPage.tsx
  react/src/pages/EnvironmentPage.tsx
  react/src/pages/MyEnvironmentPage.tsx
  react/src/pages/ResourcePolicyPage.tsx
  react/src/pages/ServingPage.tsx
  react/src/pages/UserCredentialsPage.tsx
  react/src/pages/VFolderNodeListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#3867 feat(FR-1161): Apply BAIBoard component to Start Page
  react/src/components/ActionItemContent.tsx
  react/src/hooks/useBAISetting.tsx
  react/src/pages/StartPage.tsx
Labels: size:L

#3759 add(FR-1074): chat interface for model cards
  .gitignore
  react/src/components/ModelCardChat.tsx
  react/src/components/ModelCardModal.tsx
  react/src/components/ModelTryContentButton.tsx
  react/src/hooks/useModelCardMetadata.tsx
  react/src/pages/ChatPage.tsx
  react/src/pages/ModelStoreListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  resources/images/model-player/Llama-2-13b-chat-hf.jpeg
  resources/images/model-player/Llama-3.2-11B-Vision-Instruct.jpeg
  resources/images/model-player/Meta-Llama-3-8B-Instruct.jpeg
  resources/images/model-player/Mistral-7B-Instruct-v0.1.jpeg
  resources/images/model-player/Mixtral-8x7B-Instruct-v0.1.jpeg
  resources/images/model-player/Qwen2-7B-Instruct.jpeg
  resources/images/model-player/Talkativot-UI.jpeg
  resources/images/model-player/Yi-1.5-9B-Chat.jpeg
  resources/images/model-player/bert-large-cased.jpeg
  resources/images/model-player/calm3-22b-chat.jpeg
  resources/images/model-player/clip-vit-large-patch14.jpeg
  resources/images/model-player/default.jpeg
  resources/images/model-player/efficientnet-b0.jpeg
  resources/images/model-player/falcon-7b-instruct.jpeg
  resources/images/model-player/flan-t5-xxl.jpeg
  resources/images/model-player/gemma-1.1-2b-it.jpeg
  resources/images/model-player/gemma-2-27b-it.jpeg
  resources/images/model-player/hf-logo.png
  resources/images/model-player/hugging-face-background.jpg
  resources/images/model-player/llama-3.1-8b-it.jpeg
  resources/images/model-player/phi-4.jpeg
  resources/images/model-player/sdxl-turbo.jpeg
  resources/images/model-player/stable-diffusion-2.jpeg
  resources/images/model-player/stable-diffusion-3-medium.jpeg
  resources/images/model-player/stable-diffusion-v1-5.jpeg
  resources/images/model-player/whisper-large-v3.jpeg
  resources/model_card_metadata.json
  resources/model_card_metadata.schema.json
Labels: area:ux, area:i18n, size:XL

#3906 refactor(FR-583): Remove compatibility before manager version 24.09
  react/src/components/Chat/EndpointSelect.tsx
  react/src/components/ComputeSessionNodeItems/ContainerLogModal.tsx
  react/src/components/ComputeSessionNodeItems/SessionActionButtons.tsx
  react/src/components/ContainerRegistryEditorModal.tsx
  react/src/components/EndpointOwnerInfo.tsx
  react/src/components/FolderInvitationResponseModal.tsx
  react/src/components/ImageNodeSimpleTag.tsx
  react/src/components/KeypairResourcePolicyInfoModal.tsx
  react/src/components/KeypairResourcePolicyList.tsx
  react/src/components/KeypairResourcePolicySettingModal.tsx
  react/src/components/MainLayout/WebUISider.tsx
  react/src/components/ManageAppsModal.tsx
  react/src/components/ManageImageResourceLimitModal.tsx
  react/src/components/ModelCloneModal.tsx
  react/src/components/MyKeypairInfoModal.tsx
  react/src/components/ProjectResourcePolicyList.tsx
  react/src/components/ProjectResourcePolicySettingModal.tsx
  react/src/components/ProjectSelect.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/components/ServiceValidationView.tsx
  react/src/components/StorageStatusPanel.tsx
  react/src/components/UserInfoModal.tsx
  react/src/components/UserResourcePolicyList.tsx
  react/src/components/UserResourcePolicySettingModal.tsx
  react/src/components/UserSettingModal.tsx
  react/src/hooks/backendai.tsx
  react/src/hooks/index.tsx
  react/src/hooks/useSuspendedFilteredAppTemplate.ts
  react/src/pages/ChatPage.tsx
  react/src/pages/EndpointDetailPage.tsx
  react/src/pages/ResourcePolicyPage.tsx
  react/src/pages/StorageHostSettingPage.tsx
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-edu-applauncher.ts
  src/components/backend-ai-project-switcher.ts
  src/components/backend-ai-session-list.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-webui.ts
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, size:XL

#3955 style(FR-1242): folder create panel layout was broken
  react/src/components/ActionItemContent.tsx
  react/src/pages/VFolderNodeListPage.tsx
Labels: size:L

#3961 fix(FR-1250): add error handler for 409 error to acceptoin invitaion
  react/src/components/FolderInvitationResponseModal.tsx
Labels: size:XS

#3960 fix(FR-1251): folder invitation response modal doesn't show latest data.
  react/src/components/FolderInvitationResponseModal.tsx
  react/src/components/FolderInvitationResponseModalOpener.tsx
Labels: size:S

#3965 fix(FR-1254): Add desktop notification localstorage setting to callback dependency array
  react/src/hooks/useBAINotification.tsx
Labels: size:XS

#3971 style(FR-1257): broken UI of create session panel
  react/src/pages/ComputeSessionListPage.tsx
  react/src/pages/VFolderNodeListPage.tsx
Labels: size:M

#3969 fix(FR-1252): Separate untag and forget queries
  data/merged_schema.graphql
  data/schema.graphql
  react/src/components/CustomizedImageList.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, area:ux, area:i18n, size:XL

#3937 feat(FR-1220): Add duplicate check logic for session and service names
  react/src/components/ComputeSessionNodeItems/EditableSessionName.tsx
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/components/SessionNameFormItem.tsx
  react/src/hooks/useValidateServiceName.tsx
  react/src/hooks/useValidateSessionName.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3979 chore(FR-1153): replace CPU and MEM icons in React
  react/src/components/ResourceNumber.tsx
Labels: size:S

#3982 feat(FR-1263): show pending sessions in the session list immediately aftercreation
  react/src/pages/ComputeSessionListPage.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: size:M

#3964 fix(FR-1255): fix invalid vfolder selection in session launcher
  react/src/components/HiddenFormItem.tsx
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/components/SessionLauncherFormIncompatibleValueChecker.tsx
  react/src/components/SessionLauncherPreview.tsx
  react/src/components/SessionTemplateModal.tsx
  react/src/components/VFolderTable.tsx
  react/src/components/VFolderTableFormItem.tsx
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-app-launcher.ts
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, area:ux, area:i18n, size:L

#3939 feat(FR-1230): My resource usage/capacity within the resource group
  react/src/components/BaseResourceCard.tsx
  react/src/components/MyResourceWithinResourceGroupCard.tsx
  react/src/components/ResourceGroupSelect.tsx
  react/src/pages/DashboardPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3941 feat(FR-1231): total resources within resource group
  react/src/components/BaseResourceCard.tsx
  react/src/components/MyResourceCard.tsx
  react/src/components/MyResourceWithinResourceGroupCard.tsx
  react/src/components/TotalResourceWithinResourceGroupCard.tsx
  react/src/pages/DashboardPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3984 chore(FR-1243): update package versions after v25.12.0 release
  packages/backend.ai-ui/package.json
  pnpm-lock.yaml
  react/package.json
  react/src/components/AboutBackendAIModal.tsx
  react/src/components/AgentDetailModal.tsx
  react/src/components/AgentSettingModal.tsx
  react/src/components/AutoScalingRuleEditorModal.tsx
  react/src/components/BAIConfirmModalWithInput.tsx
  react/src/components/BAIModal.tsx
  react/src/components/BAIPropertyFilter.tsx
  react/src/components/BAISelect.tsx
  react/src/components/Chat/EndpointSelect.tsx
  react/src/components/ComputeSessionNodeItems/AppLauncherModal.tsx
  react/src/components/ComputeSessionNodeItems/ContainerCommitModal.tsx
  react/src/components/ComputeSessionNodeItems/ContainerLogModal.tsx
  react/src/components/ComputeSessionNodeItems/SessionActionButtons.tsx
  react/src/components/ContainerRegistryEditorModal.tsx
  react/src/components/ContainerRegistryList.tsx
  react/src/components/DynamicUnitInputNumber.tsx
  react/src/components/EndpointTokenGenerationModal.tsx
  react/src/components/FolderCreateModal.tsx
  react/src/components/FolderExplorer.tsx
  react/src/components/FolderExplorerOpener.tsx
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ImageInstallModal.tsx
  react/src/components/ImportFromHuggingFaceModal.tsx
  react/src/components/InviteFolderSettingModal.tsx
  react/src/components/KeypairResourcePolicySettingModal.tsx
  react/src/components/KeypairSettingModal.tsx
  react/src/components/LegacyFolderExplorer.tsx
  react/src/components/ManageAppsModal.tsx
  react/src/components/ManageImageResourceLimitModal.tsx
  react/src/components/ModelCardModal.tsx
  react/src/components/ModelCloneModal.tsx
  react/src/components/MyKeypairInfoModal.tsx
  react/src/components/OverlayNetworkSettingModal.tsx
  react/src/components/PrivacyPolicyModal.tsx
  react/src/components/ProjectResourcePolicySettingModal.tsx
  react/src/components/QuotaSettingModal.tsx
  react/src/components/ResetPasswordRequired.tsx
  react/src/components/ResourceGroupSettingModal.tsx
  react/src/components/ResourcePresetSelect.tsx
  react/src/components/ResourcePresetSettingModal.tsx
  react/src/components/SSHKeypairManualFormModal.tsx
  react/src/components/SchedulerSettingModal.tsx
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/components/SessionDetailContent.tsx
  react/src/components/ShellScriptEditModal.tsx
  react/src/components/TOTPActivateModalWithToken.tsx
  react/src/components/TableColumnsSettingModal.tsx
  react/src/components/TermsOfServiceModal.tsx
  react/src/components/UserProfileSettingModal.tsx
  react/src/components/UserResourcePolicySettingModal.tsx
  react/src/components/UserSettingModal.tsx
  react/src/components/VFolderSelect.tsx
  react/src/pages/VFolderNodeListPage.tsx
Labels: size:XL

#3993 fix(FR-1274): add @change option to api_endpoint to update value immediately
  src/components/backend-ai-login.ts
Labels: size:XS

#4002 fix(FR-1295): Preserve necessary GraphQL fragments after client directive filtering
  react/src/helper/graphql-transformer.test.ts
  react/src/helper/graphql-transformer.ts
Labels: size:L

#4006 chore(FR-1293): update to version 20 of relay-related packages
  package.json
  packages/backend.ai-ui/package.json
  pnpm-lock.yaml
  react/package.json
  react/src/components/TotalResourceWithinResourceGroup.tsx
  react/src/pages/DashboardPage.tsx
Labels: size:L

#3924 feat(FR-1227): Enable baiClient Usage in webui from backend.ai-ui
  packages/backend.ai-ui/package.json
  packages/backend.ai-ui/src/components/fragments/BAISessionTypeTag.tsx
  packages/backend.ai-ui/src/components/fragments/index.ts
  packages/backend.ai-ui/src/components/index.ts
  packages/backend.ai-ui/src/components/provider/BAIClientProvider/BAIClientProvider.tsx
  packages/backend.ai-ui/src/components/provider/BAIClientProvider/context.ts
  packages/backend.ai-ui/src/components/provider/BAIClientProvider/hooks/useAnonymousBAIClient.ts
  packages/backend.ai-ui/src/components/provider/BAIClientProvider/hooks/useConnectedBAIClient.ts
  packages/backend.ai-ui/src/components/provider/BAIClientProvider/index.ts
  packages/backend.ai-ui/src/components/provider/BAIClientProvider/types.ts
  packages/backend.ai-ui/src/components/provider/BAIConfigProvider/BAIConfigProvider.tsx
  packages/backend.ai-ui/src/components/provider/BAIConfigProvider/index.ts
  packages/backend.ai-ui/src/components/provider/index.ts
  packages/backend.ai-ui/src/components/tests/index.ts
  packages/backend.ai-ui/src/index.ts
  pnpm-lock.yaml
  react/src/components/DefaultProviders.tsx
  react/src/hooks/index.tsx
Labels: size:L

#4015 refactor(FR-1298): replace headerBg token misuse with proper primary color palette
  pnpm-lock.yaml
  react/package.json
  react/src/components/BAIPanelItem.tsx
  react/src/components/BAIProgress.tsx
  react/src/components/StorageStatusPanelCard.tsx
  react/src/hooks/usePrimaryColors.ts
Labels: size:L

#4027 feat(FR-1304): enhance PR workflow to auto-assign issues to active sprints
  .claude/commands/create-pr-stack-for-stage.md
Labels: size:S

#4021 fix(FR-1301): remove improper key prop usage in SessionMetricGraph component
  react/src/components/SessionMetricGraph.tsx
Labels: size:XS
