Repository lablup/backend.ai-webui, pull requests merged in 2025-02, with the labels that each got.

#3085 fix(FR-453): UserDropdownMenu isn't opening
  react/package.json
  react/pnpm-lock.yaml
  react/src/components/MainLayout/WebUIHeader.tsx
  react/src/components/UserDropdownMenu.tsx
  react/src/components/__snapshots__/DomainSelector.test.tsx.snap
Labels: size:M

#2999 refactor(FR-460): handle undefined value as controlled value in BAIPropertyFilter
  react/src/components/BAIPropertyFilter.tsx
Labels: size:M

#2932 feat(FR-319): Session list NEO
  react/src/App.tsx
  react/src/components/BAILink.tsx
  react/src/components/BAIPropertyFilter.tsx
  react/src/components/BAITable.tsx
  react/src/components/ComputeSessionList.tsx
  react/src/components/ComputeSessionNodeItems/SessionReservation.tsx
  react/src/components/ComputeSessionNodeItems/SessionSlotCell.tsx
  react/src/components/ComputeSessionNodeItems/SessionStatusTag.tsx
  react/src/components/ComputeSessionNodeItems/TerminateSessionModal.tsx
  react/src/components/SessionDetailContent.tsx
  react/src/components/SessionDetailDrawer.tsx
  react/src/components/SessionNodes.tsx
  react/src/components/SessionUsageMonitor.tsx
  react/src/helper/index.tsx
  react/src/hooks/reactPaginationQueryOptions.tsx
  react/src/hooks/useDeferredQueryParams.tsx
  react/src/pages/ComputeSessionListPage.tsx
  resources/i18n/ko.json
  resources/theme.json
Labels: area:ux, area:i18n, size:XL

#3093 feat(FR-459): User setting for experimental NEO session list
  react/src/App.tsx
  react/src/components/MainLayout/WebUISider.tsx
  react/src/hooks/useBAISetting.tsx
  react/src/pages/UserSettingsPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3053 feat(FR-368): Update folder list Immediately after creating a new folder.
  react/src/components/FolderCreateModal.tsx
  src/components/backend-ai-data-view.ts
  src/components/backend-ai-storage-list.ts
Labels: size:S

#3108 Improvement on Korean i18n
  resources/i18n/ko.json
Labels: area:ux, area:i18n, size:M

#3088 fix(FR-439): Silent error in interactive-login
  react/src/components/MainLayout/MainLayout.tsx
  react/src/components/WebUIBreadcrumb.tsx
  react/src/pages/InteractiveLoginPage.tsx
Labels: size:S

#3061 feat(FR-250): show session idle checker in session detail panel
  react/src/components/ComputeSessionNodeItems/SessionIdleChecks.tsx
  react/src/components/ComputeSessionNodeItems/SessionReservation.tsx
  react/src/components/IdleCheckDescriptionModal.tsx
  react/src/components/SessionDetailContent.tsx
  react/src/pages/SessionListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-session-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, area:ux, area:i18n, size:XL

#3081 feat(FR-444): add kernel list into session detail drawer
  config.toml.sample
  react/src/components/ComputeSessionNodeItems/ConnectedKernelList.tsx
  react/src/components/SessionDetailContent.tsx
  react/src/hooks/index.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-login.ts
  src/components/backend-ai-session-list.ts
Labels: area:ux, area:i18n, size:XL

#3097 fix(FR-458): set session detail panel version compatibility
  react/src/components/SessionDetailAndContainerLogOpenerLegacy.tsx
  react/src/components/SessionDetailContent.tsx
  react/src/pages/EndpointDetailPage.tsx
  src/components/backend-ai-session-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, size:M

#3107 feat(FR-408): add soft timeout feature to NetworkStatusBanner
  react/src/RelayEnvironment.ts
  react/src/components/MainLayout/MainLayout.tsx
  react/src/components/MainLayout/WebUIHeader.tsx
  react/src/components/NetworkStatusBanner.tsx
  react/src/components/SiderToggleButton.tsx
  react/src/components/UserDropdownMenu.tsx
  react/src/pages/SessionLauncherPage.tsx
  src/lib/backend.ai-client-esm.ts
  src/lib/backend.ai-client-node.ts
Labels: area:lib, size:L

#3104 feat(FR-465): Add prop to enable NEO style in BAITable
  react/src/components/BAITable.tsx
  react/src/components/SessionNodes.tsx
Labels: size:M

#3024 add(FR-9): autoscaling feature UI in model service creation/modification panel
  .cspell.json
  react/data/schema.graphql
  react/src/components/AutoScalingRuleEditorModal.tsx
  react/src/components/InputNumberWithSlider.tsx
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/helper/const-vars.ts
  react/src/pages/EndpointDetailPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#3111 misc(FR-473): missing i18n update and remove table token value
  react/src/pages/EndpointDetailPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  resources/theme.json
Labels: area:ux, area:i18n, size:L

#3112 fix(FR-470): Unable to access service update page
  react/src/App.tsx
  react/src/pages/EndpointDetailPage.tsx
  react/src/pages/ServiceLauncherPage.tsx
Labels: size:S

#3113 fix(FR-472): empty resource preset in service launcher
  react/src/components/ServiceLauncherPageContent.tsx
Labels: size:XS

#3074 feature(FR-393): add e2e test for maintenance page
  e2e/maintenance.test.ts
  e2e/test-util-antd.ts
  react/src/components/MaintenanceSettingList.tsx
Labels: size:M

#3116 fix(FR-480): Backward version compatibility for Endpoint Autoscaling Rules
  react/src/pages/EndpointDetailPage.tsx
Labels: size:L

#3100 feat(FR-503): open kernel log modal in Kernel list
  react/src/components/ComputeSessionNodeItems/ConnectedKernelList.tsx
  react/src/components/ComputeSessionNodeItems/ContainerLogModal.tsx
Labels: size:M

#3136 feat(FR-502): introduce UnmountModalAfterClose
  react/src/components/ComputeSessionNodeItems/ConnectedKernelList.tsx
  react/src/components/UnmountModalAfterClose.tsx
Labels: size:M

#3166 chores(FR-524): increase default soft-timeout to 20s
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, size:XS

#3129 Improvement on Korean i18n (02.10)
  resources/i18n/ko.json
Labels: area:ux, area:i18n, size:L

#3144 Improvement on English Translation (02.12)
  resources/i18n/en.json
Labels: area:ux, area:i18n, size:M

#3168 chore: bump version to 25.3.0-alpha.0 for dev
  index.html
  manifest.json
  package.json
  react/package.json
  version.json
Labels: size:S

#3171 refactor(FR-492): row selection change handling
  react/src/helper/index.tsx
  react/src/pages/ComputeSessionListPage.tsx
Labels: size:M

#3173 feat(FR-532): display error_data of model service's route
  react/src/components/BAIJSONViewerModal.tsx
  react/src/components/InferenceSessionErrorModal.tsx
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/pages/EndpointDetailPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3163 feat(FR-492): terminiate sessions in NEO session list
  react/src/App.tsx
  react/src/components/BAILink.tsx
  react/src/components/ComputeSessionNodeItems/TerminateSessionModal.tsx
  react/src/components/SessionNodes.tsx
  react/src/helper/index.tsx
  react/src/pages/ComputeSessionListPage.tsx
  react/src/usePromiseTracker.ts
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#3172 fix(FR-528): session list filter UI in small screen
  react/src/components/BAIPropertyFilter.tsx
  react/src/components/SessionUsageMonitor.tsx
  react/src/pages/ComputeSessionListPage.tsx
Labels: size:S

#3169 feat(FR-527): introduce BAIFetchKeyButton
  react/src/components/BAIFetchKeyButton.tsx
  react/src/components/BAITable.tsx
  react/src/hooks/useDeferredQueryParams.tsx
  react/src/pages/ComputeSessionListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3170 feat(FR-448): Type counts in NEO session list tabs
  react/src/pages/ComputeSessionListPage.tsx
Labels: size:M

#3067 feat(FR-434): support math in model card.
  react/package.json
  react/pnpm-lock.yaml
  react/src/components/lablupTalkativotUI/ChatMessageContent.tsx
Labels: size:L

#3073 feat(FR-433): wrap customTags contents with Collapse
  .cspell.json
  react/package.json
  react/pnpm-lock.yaml
  react/src/components/lablupTalkativotUI/ChatMessage.tsx
  react/src/components/lablupTalkativotUI/LLMChatCard.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3102 fix(FR-464): Ensure unique values in compute session mount list
  src/components/backend-ai-session-list.ts
Labels: size:XS

#3143 fix(FR-506): Set the width of the description in the session detail panel to maximum
  react/src/components/SessionDetailContent.tsx
Labels: size:XS

#3032 feat(FR-255): synchronize the file input in the LLM Playground.
  react/src/components/lablupTalkativotUI/EndpointLLMChatCard.tsx
  react/src/components/lablupTalkativotUI/LLMChatCard.tsx
  react/src/helper/index.tsx
Labels: type:enhance, urgency:3, impact:visible, size:M, field:UI / UX

#3197 fix(FR-547): fix calculate logic for agent list memory usage progress percent
  react/src/components/AgentList.tsx
Labels: size:XS

#3194 fix(FR-546): handle session rename error of `modify_compute_session`
  react/src/components/ComputeSessionNodeItems/EditableSessionName.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:M

#3199 fix(FR-552): can not reopen vfolder createion modal in session launcher
  react/src/components/FolderCreateModal.tsx
Labels: size:M

#3202 feat(FR-555): Improve the auto-scaling rule editor interface and list
  react/src/components/AutoScalingRuleEditorModal.tsx
  react/src/pages/EndpointDetailPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#3203 feat(FR-561): add percentage suffix for kernel metric threshold
  react/src/components/AutoScalingRuleEditorModal.tsx
  react/src/pages/EndpointDetailPage.tsx
Labels: size:XS

#3117 feature(FR-467): Enhance Sidebar and Card UI
  react/src/components/BAIMenu.tsx
  src/components/lablup-activity-panel.ts
Labels: size:XS

#3189 fix(FR-568): remove whitespace and update CoolDown text in autoscaling UI
  react/src/pages/EndpointDetailPage.tsx
  resources/i18n/en.json
Labels: area:ux, area:i18n, size:XS

#3195 feat(FR-536): Move LLM Playground to on the top menu
  react/src/App.tsx
  react/src/components/Chat/ChatMessage.tsx
  react/src/components/Chat/ChatMessageContent.tsx
  react/src/components/Chat/ChatMessageList.tsx
  react/src/components/Chat/ChatSender.tsx
  react/src/components/Chat/ChatUIModal.tsx
  react/src/components/Chat/CopyButton.tsx
  react/src/components/Chat/EndpointLLMChatCard.tsx
  react/src/components/Chat/LLMChatCard.tsx
  react/src/components/Chat/ModelSelect.tsx
  react/src/components/Chat/ScrollBottomHandlerButton.tsx
  react/src/components/Chat/VirtualChatMessageList.tsx
  react/src/components/MainLayout/WebUISider.tsx
  react/src/pages/ChatPage.tsx
  react/src/pages/EndpointDetailPage.tsx
  react/src/pages/ServingPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/backend-ai-app.ts
  src/components/backend-ai-webui.ts
Labels: area:ux, area:i18n, size:L

#3223 feat(FR-369): Add icon components for Neo design
  react/src/components/BAIIcons/App.svg
  react/src/components/BAIIcons/AppIcon.tsx
  react/src/components/BAIIcons/CalculateResource.svg
  react/src/components/BAIIcons/CalculateResourceIcon.tsx
  react/src/components/BAIIcons/ContainerCommit.svg
  react/src/components/BAIIcons/ContainerCommitIcon.tsx
  react/src/components/BAIIcons/Dashboard.svg
  react/src/components/BAIIcons/DashboardIcon.tsx
  react/src/components/BAIIcons/Endpoint.svg
  react/src/components/BAIIcons/EndpointIcon.tsx
  react/src/components/BAIIcons/Examples.svg
  react/src/components/BAIIcons/List.svg
  react/src/components/BAIIcons/ListIcon.tsx
  react/src/components/BAIIcons/ModelStore.svg
  react/src/components/BAIIcons/ModelStoreIcon.tsx
  react/src/components/BAIIcons/NewFolder.svg
  react/src/components/BAIIcons/NewFolderIcon.tsx
  react/src/components/BAIIcons/Pipeline.svg
  react/src/components/BAIIcons/PipelineIcon.tsx
  react/src/components/BAIIcons/Purge.svg
  react/src/components/BAIIcons/PurgeIcon.tsx
  react/src/components/BAIIcons/RescanImages.svg
  react/src/components/BAIIcons/RescanImagesIcon.tsx
  react/src/components/BAIIcons/Restore.svg
  react/src/components/BAIIcons/RestoreIcon.tsx
  react/src/components/BAIIcons/SessionLog.svg
  react/src/components/BAIIcons/SessionLogIcon.tsx
  react/src/components/BAIIcons/SessionStart.svg
  react/src/components/BAIIcons/SessionStartIcon.tsx
  react/src/components/BAIIcons/ShareAlt.svg
  react/src/components/BAIIcons/ShareAltIcon.tsx
  react/src/components/BAIIcons/StartCircle.svg
  react/src/components/BAIIcons/StartCircleIcon.tsx
  react/src/components/BAIIcons/SystemMonitor.svg
  react/src/components/BAIIcons/SystemMonitorIcon.tsx
  react/src/components/BAIIcons/TerminalApp.svg
  react/src/components/BAIIcons/TerminalAppIcon.tsx
  react/src/components/BAIIcons/Terminate.svg
  react/src/components/BAIIcons/TerminateIcon.tsx
  react/src/components/BAIIcons/TrashBin.svg
  react/src/components/BAIIcons/TrashBinIcon.tsx
  react/src/components/BAIIcons/Upload.svg
  react/src/components/BAIIcons/UploadIcon.tsx
  react/src/components/BAIIcons/UserUnion.svg
  react/src/components/BAIIcons/UserUnionIcon.tsx
  react/src/components/ComputeSessionNodeItems/SessionActionButtons.tsx
Labels: size:L

#3212 feature(FR-569): add Rebellions image metadata
  resources/image_metadata.json
Labels: size:M

#3139 feat(FR-534): introduce NEO style Tabs and RadioGroup
  react/src/components/AgentList.tsx
  react/src/components/AgentSummaryList.tsx
  react/src/components/BAICard.tsx
  react/src/components/BAIRadioGroup.tsx
  react/src/components/BAITable.tsx
  react/src/components/BAITabs.tsx
  react/src/components/ComputeSessionNodeItems/SessionStatusTag.tsx
  react/src/components/EndpointList.tsx
  react/src/components/SessionLauncherPreview.tsx
  react/src/components/SessionOwnerSetterCard.tsx
  react/src/components/SummaryPageItems/SummaryItemInvitation.tsx
  react/src/components/UserCredentialList.tsx
  react/src/components/UserNodeList.tsx
  react/src/pages/ComputeSessionListPage.tsx
  react/src/pages/EndpointDetailPage.tsx
  react/src/pages/ImportAndRunPage.tsx
  react/src/pages/ServingPage.tsx
  react/src/pages/UserCredentialsPage.tsx
Labels: size:L

#3162 refactor(FR-535): Endpoint destroying category
  react/src/components/EndpointList.tsx
  react/src/pages/EndpointDetailPage.tsx
Labels: size:M

#3234 hotfix: Move Chat menu under Serving menu
  react/src/components/MainLayout/WebUISider.tsx
Labels: size:S

#3099 feat(FR-462): Add CSP nonce string that will be injected by webserver.
  index.html
  react/src/components/DefaultProviders.tsx
Labels: size:S

#3243 chore(FR-590): set up i18n key sorting pre-commit hook
  .prettierignore
  package.json
  pnpm-lock.yaml
  resources/i18n/.prettierrc
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#3246 chore(FR-591): enable resursive sort option of i18n keys
  resources/i18n/.prettierrc
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#3235 fix(FR-582): Resolve E2E Test Failures Due to i18n and Component Updates
  e2e/agent.test.ts
  e2e/config.test.ts
  e2e/login.test.ts
  e2e/test-util.ts
  e2e/user.test.ts
  e2e/vfolder.test.ts
Labels: size:M

#3221 fix(FR-578): fix resource panel i18n key error.
  src/components/backend-ai-resource-panel.ts
Labels: size:XS

#3264 fix(FR-576): remove hyperlink in sftp/ftp link on app launcher dialog
  src/components/backend-ai-app-launcher.ts
Labels: effort:easy, impact:visible, size:S, field:UI / UX

#3224 refactor(FR-593): Endpoint list loading state management
  react/src/App.tsx
  react/src/components/EndpointList.tsx
  react/src/hooks/reactPaginationQueryOptions.tsx
  react/src/hooks/useDeferredQueryParams.tsx
  react/src/pages/ComputeSessionListPage.tsx
  react/src/pages/ServingPage.tsx
Labels: size:XL

#3245 feat(FR-567): preserve pagination/filter/order data in session/endpoint page
  react/src/hooks/reactPaginationQueryOptions.tsx
  react/src/hooks/useDeferredQueryParams.tsx
  react/src/pages/ComputeSessionListPage.tsx
  react/src/pages/ServingPage.tsx
Labels: size:L

#3273 chore: delete unnecessary 'add to project' GitHub Action
  .github/workflows/add-to-project.yml
Labels: size:S

#3272 feature(FR-604): remove deprecated inference request metrics
  src/components/backend-ai-session-list.ts
Labels: size:S

#2786 feat(FR-48): WebUI NEO start page basic layout
  pnpm-lock.yaml
  react/package.json
  react/patches/@cloudscape-design__board-components@3.0.60.patch
  react/pnpm-lock.yaml
  react/src/App.tsx
  react/src/components/ActionItemContent.tsx
  react/src/components/BAIBoard.tsx
  react/src/components/MainLayout/WebUISider.tsx
  react/src/components/SummaryPageItems/SummaryItemDownloadApp.tsx
  react/src/components/SummaryPageItems/SummaryItemStartMenu.tsx
  react/src/hooks/useBAISetting.tsx
  react/src/pages/Page401.tsx
  react/src/pages/Page404.tsx
  react/src/pages/StartPage.tsx
  react/src/pages/SummaryPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  resources/theme.json
  src/backend-ai-app.ts
  src/components/backend-ai-error-view.ts
  src/components/backend-ai-permission-denied-view.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-storage-proxy-list.ts
  src/components/backend-ai-summary-view.ts
  src/components/backend-ai-webui.ts
Labels: area:ux, area:i18n, size:XL

#2885 refactor(FR-587): Start page components
  react/src/components/ActionItemContent.tsx
  react/src/components/BAIBoard.tsx
  react/src/components/MainLayout/WebUISider.tsx
  react/src/components/ThemeAdminProvider.tsx
  react/src/components/ThemeSecondaryProvider.tsx
  react/src/hooks/useBAISetting.tsx
  react/src/pages/StartPage.tsx
  resources/theme.json
  src/backend-ai-app.ts
  src/components/backend-ai-webui.ts
Labels: size:XL

#3270 feat(FR-603): Add folder creation notification with an open button
  react/src/components/BAINotificationItem.tsx
  react/src/components/FolderCreateModal.tsx
  react/src/hooks/useBAINotification.tsx
Labels: size:M

#3200 feat(FR-553): Add Agents
  react/src/App.tsx
  react/src/components/AIAgentSelect.tsx
  react/src/components/Chat/EndpointLLMChatCard.tsx
  react/src/components/Chat/LLMChatCard.tsx
  react/src/components/MainLayout/WebUISider.tsx
  react/src/hooks/useAIAgent.ts
  react/src/hooks/useBAISetting.tsx
  react/src/pages/AIAgentPage.tsx
  react/src/pages/ChatPage.tsx
  react/src/pages/UserSettingsPage.tsx
  resources/ai-agents.json
  resources/ai-agents.schema.json
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/backend-ai-app.ts
  src/components/backend-ai-webui.ts
Labels: area:ux, area:i18n, size:XL

#3265 feat(FR-533): Add fluent-emoji-flat component
  react/craco.config.js
  react/package.json
  react/pnpm-lock.yaml
  react/src/components/Chat/EndpointLLMChatCard.tsx
  react/src/components/FluentEmojiIcon.tsx
  react/src/pages/AIAgentPage.tsx
  resources/ai-agents.json
Labels: area:ux, area:i18n, size:XL

#3190 feat(FR-252): Introduce session status info modal in session detail panel
  react/src/components/ComputeSessionNodeItems/ConnectedKernelList.tsx
  react/src/components/ComputeSessionNodeItems/SessionIdleChecks.tsx
  react/src/components/ComputeSessionNodeItems/SessionStatusDetailModal.tsx
  react/src/components/ComputeSessionNodeItems/SessionStatusTag.tsx
  react/src/components/DoubleTag.tsx
  react/src/components/SessionDetailContent.tsx
  react/src/components/SessionNodes.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3176 feat(FR-512): NEO storage status panel
  react/src/components/BAIPanelItem.tsx
  react/src/components/StorageStatusPanelCard.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3226 feat(FR-513): NEO quota per storage volume card
  react/src/components/BAIProgress.tsx
  react/src/components/QuotaPerStorageVolumePanelCard.tsx
  resources/theme.json
Labels: size:L

#3232 feat(FR-581): Add NEO vFolder list page
  react/src/App.tsx
  react/src/components/ActionItemContent.tsx
  react/src/components/BAITable.tsx
  react/src/components/BAITag.tsx
  react/src/components/StorageStatusPanelCard.tsx
  react/src/components/VFolderNodes.tsx
  react/src/components/VFolderPermissionCell.tsx
  react/src/pages/ComputeSessionListPage.tsx
  react/src/pages/VFolderNodeListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#3251 feat(FR-592): NEO vfolder page - delete folders
  react/src/components/BAIConfirmModalWithInput.tsx
  react/src/components/DeleteVFolderModal.tsx
  react/src/components/FolderCreateModal.tsx
  react/src/components/VFolderNodes.tsx
  react/src/helper/index.tsx
  react/src/hooks/index.tsx
  react/src/pages/VFolderNodeListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#3258 feat(FR-511): Set experimental to NEO vfolder page.
  react/src/App.tsx
  react/src/components/MainLayout/WebUISider.tsx
  react/src/hooks/useBAISetting.tsx
  react/src/pages/UserSettingsPage.tsx
  resources/i18n/de.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:M

#3259 feat(FR-594): renaming folder
  react/src/components/EditableVFolderName.tsx
  react/src/components/VFolderNodes.tsx
  react/src/hooks/index.tsx
  react/src/pages/VFolderNodeListPage.tsx
  resources/i18n/de.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, area:ux, area:i18n, size:L

#3271 feat(FR-598): Add permission setting button to the folder explorer
  react/src/components/BAIModal.css
  react/src/components/BAIModal.tsx
  react/src/components/BAISelect.tsx
  react/src/components/LegacyFolderExplorer.tsx
  react/src/hooks/index.tsx
  src/components/backend-ai-folder-explorer.ts
Labels: size:L

#3274 feat(FR-597): refactoring invite folder modal
  react/src/components/InviteFolderPermissionSettingModal.tsx
  react/src/components/InviteFolderSettingModal.tsx
  react/src/components/VFolderNodes.tsx
  react/src/hooks/index.tsx
  react/src/pages/VFolderListPage.tsx
  react/src/pages/VFolderNodeListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-storage-list.ts
Labels: area:ux, area:i18n, size:XL

#3284 feat: NEO allocation resource panel (experimental)
  react/src/components/ActionItemContent.tsx
  react/src/components/AvailableResourcesCard.tsx
  react/src/components/SessionList.tsx
  react/src/pages/ComputeSessionListPage.tsx
  react/src/pages/SessionListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#3281 feat(FR-609): Add lablup customer service agent
  react/src/pages/AIAgentPage.tsx
  resources/ai-agents.json
Labels: size:M
