Repository lablup/backend.ai-webui, pull requests merged in 2025-09, with the labels that each got.

#4212 feat(FR-1421): enhance WEBUI help button with additional page mappings
  react/src/components/WEBUIHelpButton.tsx
Labels: size:XS

#4166 fix(FR-1378): improve error handling logic in service update flow
  react/src/components/ServiceLauncherPageContent.tsx
Labels: size:L

#4223 refactor(FR-1429): backend.ai-ui peerDependencies and dependencies
  packages/backend.ai-ui/package.json
  packages/backend.ai-ui/vite.config.ts
  pnpm-lock.yaml
Labels: size:L

#4235 feat(FR-1435): exclude project type folder from folder selector of service creation page.
  react/src/components/ServiceLauncherPageContent.tsx
Labels: size:XS

#4195 feat(FR-1414): allow shmem adjustment when allowCustomResourceAllocation is disabled
  react/src/components/ResourceAllocationFormItems.tsx
Labels: size:M, customer-request

#4208 feat(FR-1419): improve resource terminology and unlimited value display in Dashboard
  packages/backend.ai-ui/src/components/BAIResourceWithSteppedProgress.tsx
  packages/backend.ai-ui/src/locale/de.json
  packages/backend.ai-ui/src/locale/el.json
  packages/backend.ai-ui/src/locale/en.json
  packages/backend.ai-ui/src/locale/es.json
  packages/backend.ai-ui/src/locale/fi.json
  packages/backend.ai-ui/src/locale/fr.json
  packages/backend.ai-ui/src/locale/id.json
  packages/backend.ai-ui/src/locale/it.json
  packages/backend.ai-ui/src/locale/ja.json
  packages/backend.ai-ui/src/locale/ko.json
  packages/backend.ai-ui/src/locale/mn.json
  packages/backend.ai-ui/src/locale/ms.json
  packages/backend.ai-ui/src/locale/pl.json
  packages/backend.ai-ui/src/locale/pt-BR.json
  packages/backend.ai-ui/src/locale/pt.json
  packages/backend.ai-ui/src/locale/ru.json
  packages/backend.ai-ui/src/locale/th.json
  packages/backend.ai-ui/src/locale/tr.json
  packages/backend.ai-ui/src/locale/vi.json
  packages/backend.ai-ui/src/locale/zh-CN.json
  packages/backend.ai-ui/src/locale/zh-TW.json
  react/src/components/BaseResourceItem.tsx
  react/src/components/MyResource.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#4169 style(FR-1386): change invite folder modal title from 'Modify Permissions' to 'Share Folder'
  react/src/components/InviteFolderSettingModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:S

#4232 fix(FR-1434): improve Makefile security and cross-platform compatibility
  Makefile
  packages/backend.ai-ui/vite.config.ts
Labels: size:S

#4170 feat(FR-1370): Property filter component for GraphQL v2 filter type
  packages/backend.ai-ui/src/components/BAIGraphQLPropertyFilter.stories.tsx
  packages/backend.ai-ui/src/components/BAIGraphQLPropertyFilter.tsx
  packages/backend.ai-ui/src/components/index.ts
Labels: size:XL

#4238 chore: Update alpha version index to 25.14.0-alpha.0
  electron-app/package.json
  index.html
  manifest.json
  package.json
  react/package.json
  version.json
Labels: size:S

#4219 feat(FR-1425): implement BAISessionAgentIds component to improve agent display
  packages/backend.ai-ui/package.json
  packages/backend.ai-ui/src/components/fragments/BAISessionAgentIds.tsx
  packages/backend.ai-ui/src/locale/de.json
  packages/backend.ai-ui/src/locale/el.json
  packages/backend.ai-ui/src/locale/en.json
  packages/backend.ai-ui/src/locale/es.json
  packages/backend.ai-ui/src/locale/fi.json
  packages/backend.ai-ui/src/locale/fr.json
  packages/backend.ai-ui/src/locale/id.json
  packages/backend.ai-ui/src/locale/it.json
  packages/backend.ai-ui/src/locale/ja.json
  packages/backend.ai-ui/src/locale/ko.json
  packages/backend.ai-ui/src/locale/mn.json
  packages/backend.ai-ui/src/locale/ms.json
  packages/backend.ai-ui/src/locale/pl.json
  packages/backend.ai-ui/src/locale/pt-BR.json
  packages/backend.ai-ui/src/locale/pt.json
  packages/backend.ai-ui/src/locale/ru.json
  packages/backend.ai-ui/src/locale/th.json
  packages/backend.ai-ui/src/locale/tr.json
  packages/backend.ai-ui/src/locale/vi.json
  packages/backend.ai-ui/src/locale/zh-CN.json
  packages/backend.ai-ui/src/locale/zh-TW.json
  pnpm-lock.yaml
  react/src/components/ComputeSessionNodeItems/SessionSlotCell.tsx
  react/src/components/SessionDetailContent.tsx
  react/src/components/SessionNodes.tsx
Labels: size:L

#4237 feat(FR-1437): enhance session display with owner information and improved date formatting
  react/src/components/ComputeSessionNodeItems/SessionReservation.tsx
  react/src/components/SessionNodes.tsx
Labels: size:S

#4249 chore(FR-1438): correct Japanese translation
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/pages/VFolderNodeListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#4241 refactor(FR-1441): improve resource display component architecture and consistency
  backend.ai-webui.code-workspace
  packages/backend.ai-ui/src/components/BAIBoardItemTitle.tsx
  packages/backend.ai-ui/src/components/BAIResourceWithSteppedProgress.tsx
  packages/backend.ai-ui/src/helper/index.ts
  react/src/components/BaseResourceItem.tsx
  react/src/components/ConfigurableResourceCard.tsx
  react/src/components/MyResource.tsx
  react/src/components/MyResourceWithinResourceGroup.tsx
  react/src/components/TotalResourceWithinResourceGroup.tsx
  react/src/pages/ComputeSessionListPage.tsx
  react/src/pages/DashboardPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#4246 refactor(FR-1444): consolidate BAIResourceWithSteppedProgress into BAIStatistic
  packages/backend.ai-ui/src/components/BAIResourceWithSteppedProgress.tsx
  packages/backend.ai-ui/src/components/BAIRowWrapWithDividers.tsx
  packages/backend.ai-ui/src/components/BAIStatistic.tsx
  packages/backend.ai-ui/src/components/ResourceStatistics.tsx
  packages/backend.ai-ui/src/components/index.ts
  packages/backend.ai-ui/src/locale/de.json
  packages/backend.ai-ui/src/locale/el.json
  packages/backend.ai-ui/src/locale/en.json
  packages/backend.ai-ui/src/locale/es.json
  packages/backend.ai-ui/src/locale/fi.json
  packages/backend.ai-ui/src/locale/fr.json
  packages/backend.ai-ui/src/locale/id.json
  packages/backend.ai-ui/src/locale/it.json
  packages/backend.ai-ui/src/locale/ja.json
  packages/backend.ai-ui/src/locale/ko.json
  packages/backend.ai-ui/src/locale/mn.json
  packages/backend.ai-ui/src/locale/ms.json
  packages/backend.ai-ui/src/locale/pl.json
  packages/backend.ai-ui/src/locale/pt-BR.json
  packages/backend.ai-ui/src/locale/pt.json
  packages/backend.ai-ui/src/locale/ru.json
  packages/backend.ai-ui/src/locale/th.json
  packages/backend.ai-ui/src/locale/tr.json
  packages/backend.ai-ui/src/locale/vi.json
  packages/backend.ai-ui/src/locale/zh-CN.json
  packages/backend.ai-ui/src/locale/zh-TW.json
  react/src/components/BaseResourceItem.tsx
  react/src/components/ConfigurableResourceCard.tsx
  react/src/components/MyResource.tsx
  react/src/components/MyResourceWithinResourceGroup.tsx
  react/src/components/TotalResourceWithinResourceGroup.tsx
  react/src/hooks/backendai.tsx
  react/src/pages/ComputeSessionListPage.tsx
Labels: size:XL

#4248 refactor(FR-1445): rename ResourceGroupSelectForCurrentProject to SharedResourceGroupSelectForCurrentProject and add onChangeInTransition
  react/src/components/MyResourceWithinResourceGroup.tsx
  react/src/components/PendingSessionNodeList.tsx
  react/src/components/SharedResourceGroupSelectForCurrentProject.tsx
  react/src/components/TotalResourceWithinResourceGroup.tsx
  react/src/index.tsx
Labels: area:ux, area:i18n, size:XL

#4252 fix(FR-1431): URL-based state persistence for pagination and filters
  react/src/components/AgentList.tsx
  react/src/components/AgentSummaryList.tsx
  react/src/components/ContainerRegistryList.tsx
  react/src/components/PendingSessionNodeList.tsx
  react/src/components/StorageProxyList.tsx
  react/src/components/UserCredentialList.tsx
  react/src/components/UserNodeList.tsx
  react/src/hooks/reactPaginationQueryOptions.tsx
  react/src/pages/ComputeSessionListPage.tsx
  react/src/pages/ServingPage.tsx
  react/src/pages/VFolderNodeListPage.tsx
Labels: size:XL

#4263 feat(FR-1451): add lint rule to restrict imports from backend.ai-ui
  packages/backend.ai-ui/src/components/Table/index.ts
  packages/backend.ai-ui/src/components/index.ts
  react/package.json
  react/src/components/MyResource.tsx
  react/src/components/MyResourceWithinResourceGroup.tsx
  react/src/components/TotalResourceWithinResourceGroup.tsx
  react/src/hooks/useBAISetting.tsx
Labels: size:M

#4255 feat(FR-1447): add JSON sort plugin to prettier in the BUI project
  packages/backend.ai-ui/package.json
  packages/backend.ai-ui/src/locale/.prettierrc
  packages/backend.ai-ui/src/locale/de.json
  packages/backend.ai-ui/src/locale/el.json
  packages/backend.ai-ui/src/locale/en.json
  packages/backend.ai-ui/src/locale/es.json
  packages/backend.ai-ui/src/locale/fi.json
  packages/backend.ai-ui/src/locale/fr.json
  packages/backend.ai-ui/src/locale/id.json
  packages/backend.ai-ui/src/locale/it.json
  packages/backend.ai-ui/src/locale/ja.json
  packages/backend.ai-ui/src/locale/ko.json
  packages/backend.ai-ui/src/locale/mn.json
  packages/backend.ai-ui/src/locale/ms.json
  packages/backend.ai-ui/src/locale/pl.json
  packages/backend.ai-ui/src/locale/pt-BR.json
  packages/backend.ai-ui/src/locale/pt.json
  packages/backend.ai-ui/src/locale/ru.json
  packages/backend.ai-ui/src/locale/th.json
  packages/backend.ai-ui/src/locale/tr.json
  packages/backend.ai-ui/src/locale/vi.json
  packages/backend.ai-ui/src/locale/zh-CN.json
  packages/backend.ai-ui/src/locale/zh-TW.json
  pnpm-lock.yaml
Labels: size:XL

#4269 fix(FR-1455): correct the incorrect values shown on the dashboard
  packages/backend.ai-ui/src/components/ResourceStatistics.tsx
  packages/backend.ai-ui/src/locale/de.json
  packages/backend.ai-ui/src/locale/el.json
  packages/backend.ai-ui/src/locale/en.json
  packages/backend.ai-ui/src/locale/es.json
  packages/backend.ai-ui/src/locale/fi.json
  packages/backend.ai-ui/src/locale/fr.json
  packages/backend.ai-ui/src/locale/id.json
  packages/backend.ai-ui/src/locale/it.json
  packages/backend.ai-ui/src/locale/ja.json
  packages/backend.ai-ui/src/locale/ko.json
  packages/backend.ai-ui/src/locale/mn.json
  packages/backend.ai-ui/src/locale/ms.json
  packages/backend.ai-ui/src/locale/pl.json
  packages/backend.ai-ui/src/locale/pt-BR.json
  packages/backend.ai-ui/src/locale/pt.json
  packages/backend.ai-ui/src/locale/ru.json
  packages/backend.ai-ui/src/locale/th.json
  packages/backend.ai-ui/src/locale/tr.json
  packages/backend.ai-ui/src/locale/vi.json
  packages/backend.ai-ui/src/locale/zh-CN.json
  packages/backend.ai-ui/src/locale/zh-TW.json
  react/src/components/MyResourceWithinResourceGroup.tsx
  react/src/components/ResourceAllocationFormItems.test.ts
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
Labels: size:L

#4289 fix(FR-1479): remove forced automatic shmem adjustment during session creation
  react/src/pages/SessionLauncherPage.tsx
Labels: size:XS

#4293 fix(FR-1483): correct queryKey from 'termsOfService' to 'privacyPolicy'
  react/src/components/PrivacyPolicyModal.tsx
Labels: size:XS

#4217 feat(FR-1424): update to calculate liveStat and capacity per session
  react/src/components/ComputeSessionNodeItems/SessionSlotCell.tsx
  react/src/components/SessionDetailContent.tsx
  react/src/components/SessionUsageMonitor.tsx
  react/src/hooks/useSessionNodeLiveStat.tsx
  resources/i18n/ko.json
Labels: area:ux, area:i18n, size:L

#4297 style(FR-1487): improve layout and spacing for ImageNodeSimpleTag component
  react/src/components/ImageNodeSimpleTag.tsx
Labels: size:M

#4291 fix(FR-1474): handle infinity values in resource progress calculation
  packages/backend.ai-ui/src/components/BAIStatistic.tsx
Labels: size:XS

#4303 refactor(FR-1492): extract SharedMemoryFormItems from ResourceAllocationFormItems
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/components/SessionFormItems/ResourceAllocationFormItems.test.ts
  react/src/components/SessionFormItems/ResourceAllocationFormItems.tsx
  react/src/components/SessionFormItems/SharedMemoryFormItems.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: size:XL

#4301 feat(FR-55): support ai.backend.accelerators image label's * value
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/SessionFormItems/ResourceAllocationFormItems.test.ts
  react/src/components/SessionFormItems/ResourceAllocationFormItems.tsx
  react/src/helper/index.test.tsx
  react/src/hooks/useBackendAIImageMetaData.test.tsx
Labels: size:M, migration

#4310 feat(FR-1472): implement GraphQL viewer query for current user information
  data/schema.graphql
  packages/backend.ai-ui/src/components/provider/BAIClientProvider/index.ts
  packages/backend.ai-ui/src/components/provider/BAIClientProvider/types.ts
  packages/backend.ai-ui/src/hooks/index.ts
  packages/backend.ai-ui/src/hooks/useViewer.ts
  react/src/hooks/backendai.test.tsx
  react/src/hooks/backendai.tsx
Labels: size:XL

#4299 feat(FR-1286): replace hardcoded strings with translations in React components
  react/src/components/ResourceGroupList.tsx
  react/src/components/UserCredentialList.tsx
  react/src/components/UserNodeList.tsx
  react/src/components/UserSettingModal.tsx
  react/src/pages/ComputeSessionListPage.tsx
  react/src/pages/ServingPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#4284 fix(FR-1469): use inclusive checking for GitHub host detection
  src/components/backend-ai-import-view.ts
Labels: size:XS

#4071 fix(FR-1324): Preserve query parameters when navigating via breadcrumb in FileExplorer
  packages/backend.ai-ui/package.json
  packages/backend.ai-ui/src/components/baiClient/FileExplorer/BAIFileExplorer.tsx
  packages/backend.ai-ui/src/components/baiClient/FileExplorer/hooks.ts
  pnpm-lock.yaml
  react/package.json
  react/src/components/FolderDownloadButton.tsx
  react/src/components/FolderExplorer.tsx
  react/src/components/FolderExplorerOpener.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#4089 feat(FR-1334): implement drag-and-drop file upload functionality
  packages/backend.ai-ui/src/components/Table/BAITable.tsx
  packages/backend.ai-ui/src/components/baiClient/FileExplorer/BAIFileExplorer.tsx
  packages/backend.ai-ui/src/components/baiClient/FileExplorer/DragAndDrop.tsx
  packages/backend.ai-ui/src/components/baiClient/FileExplorer/ExplorerActionControls.tsx
  packages/backend.ai-ui/src/components/baiClient/FileExplorer/hooks.ts
  packages/backend.ai-ui/src/locale/de.json
  packages/backend.ai-ui/src/locale/el.json
  packages/backend.ai-ui/src/locale/en.json
  packages/backend.ai-ui/src/locale/es.json
  packages/backend.ai-ui/src/locale/fi.json
  packages/backend.ai-ui/src/locale/fr.json
  packages/backend.ai-ui/src/locale/id.json
  packages/backend.ai-ui/src/locale/it.json
  packages/backend.ai-ui/src/locale/ja.json
  packages/backend.ai-ui/src/locale/ko.json
  packages/backend.ai-ui/src/locale/mn.json
  packages/backend.ai-ui/src/locale/ms.json
  packages/backend.ai-ui/src/locale/pl.json
  packages/backend.ai-ui/src/locale/pt-BR.json
  packages/backend.ai-ui/src/locale/pt.json
  packages/backend.ai-ui/src/locale/ru.json
  packages/backend.ai-ui/src/locale/th.json
  packages/backend.ai-ui/src/locale/tr.json
  packages/backend.ai-ui/src/locale/vi.json
  packages/backend.ai-ui/src/locale/zh-CN.json
  packages/backend.ai-ui/src/locale/zh-TW.json
  react/src/components/FolderExplorer.tsx
  react/src/components/FolderExplorerHeader.tsx
Labels: size:XL

#4337 fix: can't access property "map", `failed_predicates` is undefined
  src/components/backend-ai-session-list.ts
Labels: size:XS

#4264 feat(FR-1495): implement progress bar with bai notifiacation
  packages/backend.ai-ui/src/components/fragments/BAIImportArtifactModal.tsx
  packages/backend.ai-ui/src/locale/ko.json
  packages/backend.ai-ui/src/locale/ms.json
  packages/backend.ai-ui/src/locale/pl.json
  packages/backend.ai-ui/src/locale/pt-BR.json
  packages/backend.ai-ui/src/locale/pt.json
  packages/backend.ai-ui/src/locale/ru.json
  packages/backend.ai-ui/src/locale/th.json
  packages/backend.ai-ui/src/locale/tr.json
  packages/backend.ai-ui/src/locale/zh-CN.json
  packages/backend.ai-ui/src/locale/zh-TW.json
  react/src/pages/ReservoirArtifactDetailPage.tsx
  react/src/pages/ReservoirPage.tsx
Labels: size:M

#4313 feat(FR-1496): update pulling artifact edge after import revisions
  packages/backend.ai-ui/src/components/fragments/BAIImportArtifactModal.tsx
  react/src/pages/ReservoirArtifactDetailPage.tsx
Labels: size:S

#4325 feat(FR-1506): hide terminal and app buttons for system sessions
  react/src/components/ComputeSessionNodeItems/SessionActionButtons.tsx
  react/src/components/SessionDetailContent.tsx
Labels: size:L

#4331 fix(FR-1511): fix FolderExplorer modal buttons and implement mount-by-id support
  react/src/components/FolderExplorer.tsx
  src/components/backend-ai-folder-explorer.ts
  src/types/backend-ai-console.d.ts
Labels: size:S

#4339 fix(FR-1517): fix to ensure the gpu accelerator value is loaded correctly
  react/src/components/SessionFormItems/ResourceAllocationFormItems.tsx
Labels: size:S

#4353 feat(FR-1494): improve UX for session creation related to enqueueOnly and App launcher
  packages/backend.ai-ui/package.json
  packages/backend.ai-ui/src/components/BAINotificationItem.tsx
  packages/backend.ai-ui/src/components/index.ts
  pnpm-lock.yaml
  react/package.json
  react/src/App.tsx
  react/src/components/BAIGeneralNotificationItem.tsx
  react/src/components/BAINodeNotificationItem.tsx
  react/src/components/BAISessionNotificationItem.tsx
  react/src/components/ComputeSessionNodeItems/AppLauncherModal.tsx
  react/src/components/ComputeSessionNodeItems/SessionActionButtons.tsx
  react/src/components/ComputeSessionNodeItems/SessionStatusTag.tsx
  react/src/components/WEBUINotificationDrawer.tsx
  react/src/components/__snapshots__/DomainSelector.test.tsx.snap
  react/src/hooks/useBAINotification.tsx
  react/src/pages/ComputeSessionListPage.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: size:XL

#4359 feat(FR-1494): refactor session notification with dedicated component for improved UX
  react/src/components/BAIComputeSessionNodeNotificationItem.tsx
  react/src/components/BAINodeNotificationItem.tsx
Labels: size:L

#4298 fix(FR-1486): correct plugin import path from relative to parent directory
  index.html
  react/craco.config.js
  src/backend-ai-app.ts
Labels: size:S

#4352 feat(FR-1518): i18n updates and notification UX improvements
  packages/backend.ai-ui/src/components/fragments/BAIImportArtifactModal.tsx
  react/src/pages/ReservoirArtifactDetailPage.tsx
  react/src/pages/ReservoirPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#4342 fix(FR-1519): Endpoint lifecycle state change from created to ready not reflected
  react/src/components/Chat/EndpointSelect.tsx
  react/src/pages/ChatPage.tsx
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, size:S

#4374 fix: BAIModal import in SFTPConnectionInfoModal to use backend.ai-ui package
  react/src/components/ComputeSessionNodeItems/SFTPConnectionInfoModal.tsx
Labels: size:XS

#4321 feat(FR-1503):Adopt pnpm minimumReleaseAge for security
  pnpm-workspace.yaml
Labels: size:XS
