Repository lablup/backend.ai-webui, pull requests merged in 2025-06, with the labels that each got.

#3743 fix(FR-1058): handling default value in useDeferredQueryParams
  react/src/hooks/useDeferredQueryParams.tsx
  react/src/pages/ComputeSessionListPage.tsx
  react/src/pages/ServingPage.tsx
  react/src/pages/VFolderNodeListPage.tsx
Labels: size:S

#3737 fix(FR-1054): Add `disabled` type to BAILink and improve folder access in session details
  react/src/components/BAILink.tsx
  react/src/components/FolderLink.tsx
  react/src/components/SessionDetailContent.tsx
  react/src/pages/ComputeSessionListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3640 feat(FR-955): move Flex component to backend.ai-ui project
  .eslintrc.json
  packages/backendai-ui/.gitignore
  packages/backendai-ui/.storybook/main.ts
  packages/backendai-ui/.storybook/preview.ts
  packages/backendai-ui/package.json
  packages/backendai-ui/src/components/Flex.stories.tsx
  packages/backendai-ui/src/components/Flex.tsx
  packages/backendai-ui/src/index.ts
  pnpm-lock.yaml
  react/src/pages/StartPage.tsx
Labels: size:XL

#3723 refactor(FR-1057): Refactor size unit formatting in UI components
  react/src/components/AgentDetailModal.tsx
  react/src/components/AgentList.tsx
  react/src/components/AgentSummaryList.tsx
  react/src/components/AllocationHistoryStatistics.tsx
  react/src/components/AvailableResourcesCard.tsx
  react/src/components/ComputeSessionNodeItems/SessionSlotCell.tsx
  react/src/components/DynamicUnitInputNumber.tsx
  react/src/components/DynamicUnitInputNumberWithSlider.tsx
  react/src/components/KeypairResourcePolicySettingModal.tsx
  react/src/components/NumberWithUnit.tsx
  react/src/components/QuotaPerStorageVolumePanelCard.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourceNumber.tsx
  react/src/components/ResourcePresetList.tsx
  react/src/components/ResourcePresetSettingModal.tsx
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/components/SessionMetricGraph.tsx
  react/src/components/SessionUsageMonitor.tsx
  react/src/components/VFolderNodeDescription.tsx
  react/src/helper/big-number.test.ts
  react/src/helper/big-number.ts
  react/src/helper/index.test.tsx
  react/src/helper/index.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: size:XL

#3724 feat(FR-739): add FolderInvitationResponseModal and related hooks for managing folder invitations
  react/src/App.tsx
  react/src/components/FolderInvitationResponseModal.tsx
  react/src/components/FolderInvitationResponseModalOpener.tsx
  react/src/hooks/backendai.tsx
  react/src/hooks/useVFolderInvitations.tsx
  react/src/pages/StartPage.tsx
  react/src/pages/VFolderNodeListPage.tsx
Labels: size:L

#3758 fix(FR-1069): Improve error handling logic for WebUI login failure
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-login.ts
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, area:ux, area:i18n, size:L

#3761 feat(FR-1045): Modify WebUI 2FA configs for version compatibility
  config.toml.sample
  react/src/hooks/index.tsx
  src/components/backend-ai-login.ts
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, size:S

#3769 e2e(FR-1079): Add login failure cases due to email and password
  e2e/login.test.ts
Labels: size:M

#3600 feat(FR-834): Improve UX for Auto-Mount Folders creation
  react/src/components/FolderCreateModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3767 feature(FR-1065): add: custom label on EndpointSelect component
  react/src/components/Chat/EndpointSelect.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:M

#3555 feat(FR-624): Add chat history
  package.json
  pnpm-lock.yaml
  react/src/App.tsx
  react/src/components/Chat/ChatCard.tsx
  react/src/components/Chat/ChatHeader.tsx
  react/src/components/Chat/ChatHistory.ts
  react/src/components/Chat/ChatModel.tsx
  react/src/components/Chat/ChatParametersSliders.tsx
  react/src/components/Chat/Conversation.tsx
  react/src/components/Chat/CustomModelForm.tsx
  react/src/components/Chat/ModelSelect.tsx
  react/src/pages/ChatPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#3756 feat(FR-1070): Include new accelerator information in session creation payload
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/components/SessionDetailContent.tsx
  react/src/pages/SessionLauncherPage.tsx
  src/components/backend-ai-app-launcher.ts
  src/components/backend-ai-folder-explorer.ts
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-splash.ts
  src/lib/backend.ai-client-esm.ts
  src/types/backend-ai-console.d.ts
Labels: area:lib, size:L

#3779 fix(FR-949): incorrect CPU usage disaply in session usage monitor
  react/src/components/DynamicUnitInputNumber.tsx
  react/src/components/SessionUsageMonitor.tsx
  react/src/hooks/useSessionNodeLiveStat.tsx
Labels: size:M

#3792 fix(FR-1097): Fix missing chat messages
  react/src/components/Chat/ChatHistory.ts
  react/src/pages/ChatPage.tsx
Labels: size:S

#3806 fix(FR-1104): Improve backward compatibility in ResourcePresetSelect
  react/src/components/ResourcePresetSelect.tsx
Labels: size:XS

#3801 fix(FR-1101): Missing Sender Information in User Invitation Email
  react/src/components/FolderInvitationResponseModal.tsx
  react/src/hooks/useVFolderInvitations.tsx
Labels: size:S

#3802 fix(FR-1106): prevent automatic shmem override when resource preset has specific shmem configuration
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ResourcePresetSelect.tsx
  react/src/components/ResourcePresetSettingModal.tsx
Labels: size:M

#3809 feat(FR-1105): Improve session metrics layout and remove CPU used metric
  react/src/components/UserSessionsMetrics.tsx
Labels: size:M

#3797 fix(FR-957): Display device name in upper case on prometheus metrics
  react/src/components/SessionMetricGraph.tsx
Labels: size:S

#3827 hotfix(FR-1110): place tooltip of chat parameter to left side to avoid overflow
  react/src/components/Chat/ChatHeader.tsx
Labels: size:XS

#3826 fix(FR-1115): Modify to display the appropriate form item for shmem based on the resource preset in the session launcher
  react/src/components/ResourceAllocationFormItems.tsx
Labels: size:L

#3825 fix(FR-1112): remove unnecessary form reset effect in VFolderTableFormItem
  react/src/components/VFolderTableFormItem.tsx
Labels: size:S

#3030 feat(FR-367): add keypair resource policy info modal
  react/src/components/AllowedVfolderHostsWithPermission.tsx
  react/src/components/KeypairResourcePolicyInfoModal.tsx
  react/src/components/KeypairResourcePolicyList.tsx
  react/src/components/ResourceNumber.tsx
  react/src/components/VFolderNodes.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, area:ux, area:i18n, size:L

#3838 misc(FR-1124): fix import error by correcting right path and library
  react/src/components/AllowedVfolderHostsWithPermission.tsx
  react/src/components/KeypairResourcePolicyInfoModal.tsx
Labels: size:S

#3843 fix(FR-1126): Duplicated port number in generating URL
  react/src/components/Chat/ChatCard.tsx
  react/src/pages/ChatPage.tsx
Labels: size:S

#3851 fix: React web bundle overrided by electron bundle
  package.json
Labels: size:XS

#3771 feat(FR-1075): set up an independent i18n environment in backend.ai-ui
  packages/backend.ai-ui/.gitignore
  packages/backend.ai-ui/README.md
  packages/backend.ai-ui/package.json
  packages/backend.ai-ui/src/components/BAIConfigProvider.tsx
  packages/backend.ai-ui/src/components/Button.tsx
  packages/backend.ai-ui/src/components/tests/BAITestButton.tsx
  packages/backend.ai-ui/src/index.ts
  packages/backend.ai-ui/src/locale/de.json
  packages/backend.ai-ui/src/locale/de_DE.ts
  packages/backend.ai-ui/src/locale/el.json
  packages/backend.ai-ui/src/locale/el_GR.ts
  packages/backend.ai-ui/src/locale/en.json
  packages/backend.ai-ui/src/locale/en_US.ts
  packages/backend.ai-ui/src/locale/es.json
  packages/backend.ai-ui/src/locale/es_ES.ts
  packages/backend.ai-ui/src/locale/fi.json
  packages/backend.ai-ui/src/locale/fi_FI.ts
  packages/backend.ai-ui/src/locale/fr.json
  packages/backend.ai-ui/src/locale/fr_FR.ts
  packages/backend.ai-ui/src/locale/id.json
  packages/backend.ai-ui/src/locale/id_ID.ts
  packages/backend.ai-ui/src/locale/index.ts
  packages/backend.ai-ui/src/locale/it.json
  packages/backend.ai-ui/src/locale/it_IT.ts
  packages/backend.ai-ui/src/locale/ja.json
  packages/backend.ai-ui/src/locale/ja_JP.ts
  packages/backend.ai-ui/src/locale/ko.json
  packages/backend.ai-ui/src/locale/ko_KR.ts
  packages/backend.ai-ui/src/locale/mn.json
  packages/backend.ai-ui/src/locale/mn_MN.ts
  packages/backend.ai-ui/src/locale/ms.json
  packages/backend.ai-ui/src/locale/ms_MY.ts
  packages/backend.ai-ui/src/locale/pl.json
  packages/backend.ai-ui/src/locale/pl_PL.ts
  packages/backend.ai-ui/src/locale/pt-BR.json
  packages/backend.ai-ui/src/locale/pt.json
  packages/backend.ai-ui/src/locale/pt_BR.ts
  packages/backend.ai-ui/src/locale/pt_PT.ts
  packages/backend.ai-ui/src/locale/ru.json
  packages/backend.ai-ui/src/locale/ru_RU.ts
  packages/backend.ai-ui/src/locale/th.json
  packages/backend.ai-ui/src/locale/th_TH.ts
  packages/backend.ai-ui/src/locale/tr.json
  packages/backend.ai-ui/src/locale/tr_TR.ts
  packages/backend.ai-ui/src/locale/vi.json
  packages/backend.ai-ui/src/locale/vi_VN.ts
  packages/backend.ai-ui/src/locale/zh-CN.json
  packages/backend.ai-ui/src/locale/zh-TW.json
  packages/backend.ai-ui/src/locale/zh_CN.ts
  packages/backend.ai-ui/src/locale/zh_TW.ts
  packages/backend.ai-ui/tsconfig.json
  packages/backend.ai-ui/vite.config.ts
  pnpm-lock.yaml
  react/src/components/DefaultProviders.tsx
Labels: size:XL
