Repository lablup/backend.ai-webui, pull requests merged in 2025-10, with the labels that each got.

#4378 feat(FR-1539): add keyboard shortcut and tooltip to notification button
  react/src/components/BAINotificationButton.tsx
Labels: size:M

#4371 feat(FR-1530): add `useIntervalValue` test code and fix broken test code snapshot
  react/src/hooks/useIntervalValue.test.tsx
Labels: size:L

#4383 feat(FR-1154): make NEO session list default with classic opt-out
  react/src/App.tsx
  react/src/components/MainLayout/WebUISider.tsx
  react/src/hooks/useBAISetting.tsx
  react/src/pages/UserSettingsPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#4381 fix(FR-1540): remove use-query-params dependency from FileExplorer
  packages/backend.ai-ui/package.json
  packages/backend.ai-ui/src/components/baiClient/FileExplorer/hooks.ts
  pnpm-lock.yaml
Labels: size:S

#4389 fix(FR-1552): fix infinite re-rendering in useInterval hook
  react/src/hooks/useIntervalValue.tsx
Labels: size:M
