Repository lablup/backend.ai-webui, pull requests merged in 2025-04, with the labels that each got.

#3443 fix(FR-752): e2e for showNonInstalledImages and login
  e2e/config.test.ts
  e2e/login.test.ts
Labels: size:S

#3438 fix(FR-750): improve resource slot display in SessionSlotCell component
  react/src/components/ComputeSessionNodeItems/SessionSlotCell.tsx
  react/src/hooks/backendai.tsx
Labels: size:M

#3433 fix(FR-733): use isActive function for session termination button disable condition
  react/src/components/ComputeSessionNodeItems/SessionActionButtons.tsx
Labels: type:fix, effort:easy, area:ux, urgency:4, size:XS

#3442 e2e(FR-759): fix create test code
  e2e/test-util.ts
  react/src/components/BAIPropertyFilter.tsx
  react/src/components/FolderCreateModal.tsx
  react/src/pages/VFolderNodeListPage.tsx
Labels: size:M

#3451 e2e(FR-759): add vfolder restore test code
  e2e/test-util.ts
  e2e/vfolder.test.ts
Labels: size:L

#3446 e2e(FR-759): fix test code for vFolder invitation test cases
  e2e/test-util.ts
  e2e/vfolder.test.ts
Labels: size:L

#3407 fix(FR-703): Add word-break to mounted folders on session detail modal
  react/src/components/FolderLink.tsx
  react/src/components/SessionDetailContent.tsx
Labels: size:L

#3077 refactor(FR-357): NEO configurations page using Setting List
  react/src/App.tsx
  react/src/components/ConfigurationsSettingList.tsx
  react/src/components/OverlayNetworkSettingModal.tsx
  react/src/components/SchedulerSettingModal.tsx
  react/src/components/SettingItem.tsx
  react/src/components/SettingList.tsx
  react/src/hooks/index.tsx
  react/src/pages/ConfigurationsPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/backend-ai-app.ts
  src/components/backend-ai-settings-view.ts
  src/components/backend-ai-webui.ts
Labels: area:ux, area:i18n, size:XL

#3070 fix(FR-242): show vfolder list based on delegated user
  react/src/components/SessionOwnerSetterCard.tsx
  react/src/components/VFolderTable.tsx
  react/src/components/VFolderTableFormItem.tsx
  react/src/pages/SessionLauncherPage.tsx
Labels: size:M

#3439 fix(FR-728): Correct visibility bug by hiding StartPage items in blocklist and inactivelist from config.toml
  config.toml.sample
  react/src/components/MainLayout/WebUISider.tsx
  react/src/hooks/index.tsx
  react/src/pages/StartPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3464 feat(FR-769): add text for when no values have changed in SettingList
  react/src/components/SettingList.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:M

#3477 fix(FR-801): update reset button to hide cloneable toggle
  react/src/components/FolderCreateModal.tsx
Labels: size:XS

#3456 feat(FR-409): introduce pinned session history
  react/src/components/BAITable.tsx
  react/src/components/SessionTemplateModal.tsx
  react/src/hooks/useBAISetting.tsx
  react/src/hooks/useRecentSessionHistory.tsx
  react/src/pages/SessionLauncherPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#3420 fix(FR-727): Modify ChatSender's style to follow Antd's design system
  react/src/components/Chat/ChatInput.tsx
Labels: size:XS

#3388 fix(FR-681): Add lifecycle_stage filter to endpoint_list query to get active endpoints
  react/src/components/Chat/Conversation.tsx
Labels: size:XS

#3432 feat(FR-540): display max, avg stats in session detail panel (UI hidden)
  react/src/components/SessionDetailContent.tsx
  react/src/components/SessionUsageMonitor.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3455 fix(FR-764): increase agent select page size and add search functionality
  react/src/components/AgentSelect.tsx
Labels: size:M

#3436 fix(FR-748): Update chat id as model changed
  react/src/components/Chat/ChatCard.tsx
Labels: size:XS

#3424 feat(FR-688): improve chat rendering performance
  pnpm-lock.yaml
  react/package.json
  react/src/components/Chat/AssistantChatMesssage.tsx
  react/src/components/Chat/ChatCard.tsx
  react/src/components/Chat/ChatInput.tsx
  react/src/components/Chat/ChatMessage.tsx
  react/src/components/Chat/ChatMessageContainer.tsx
  react/src/components/Chat/ChatMessageContent.tsx
  react/src/components/Chat/ChatMessages.tsx
  react/src/components/Chat/ChatModel.tsx
  react/src/components/Chat/Conversation.tsx
  react/src/components/Chat/ScrollBottomHandlerButton.tsx
  react/src/components/Chat/SyntaxHighight.tsx
  react/src/components/Chat/UserChatMesssage.tsx
  react/src/components/Chat/VirtualChatMessageList.tsx
  react/src/hooks/useHighlight.ts
Labels: size:XL

#3479 hotfix(FR-802): Disable Delete Button for Users with 'User' Role
  react/src/components/VFolderNodes.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:M

#3483 style(FR-816): Improve Start page grid size for XXL screen
  react/src/App.tsx
  react/src/pages/StartPage.tsx
  resources/theme.json
Labels: size:M

#3480 feat(FR-777): use resource limit of resource group
  react/data/schema.graphql
  react/src/components/DynamicUnitInputNumberWithSlider.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/hooks/useResourceLimitAndRemaining.tsx
Labels: size:L

#3488 fix(FR-777): Update `resource_slot_limit` to `resource_allocation_limit_for_sessions`
  react/data/schema.graphql
  react/src/hooks/useResourceLimitAndRemaining.tsx
Labels: size:S

#3487 fix(FR-823): log message scroll bar is too wide when logs are empty.
  react/src/components/ErrorLogList.tsx
Labels: size:XS

#3492 fix(FR-821): display unique agent IDs with comma separation
  react/src/components/SessionDetailContent.tsx
Labels: size:XS

#3353 feat(FR-655): show user's average resource utilization
  pnpm-lock.yaml
  react/data/schema.graphql
  react/package.json
  react/src/components/AllocationHistory.tsx
  react/src/components/AllocationHistoryStatistics.tsx
  react/src/components/SessionMetricGraph.tsx
  react/src/components/UserSessionsMetrics.tsx
  react/src/pages/StatisticsPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, area:ux, area:i18n, size:XL

#3473 feature(FR-529): Aplication memory bar
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/helper/index.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3489 fix(FR-819): Fix share unit of resource preset.
  react/src/components/ResourcePresetList.tsx
  react/src/components/ResourcePresetSettingModal.tsx
Labels: size:XS

#3495 fix(FR-820): compact sidebar doesn't work when refreshing.
  react/src/components/MainLayout/MainLayout.tsx
  react/src/components/MainLayout/WebUISider.tsx
Labels: size:S

#3352 chore(FR-649): clean up unused Lit elements
  src/backend-ai-app.ts
  src/components/backend-ai-environment-list.ts
  src/components/backend-ai-message.ts
  src/components/backend-ai-monthly-usage-panel.ts
  src/components/backend-ai-resource-preset-list.ts
  src/components/backend-ai-scaling-group-list.ts
  src/components/backend-ai-sidepanel-notification.ts
  src/components/backend-ai-sidepanel-task.ts
  src/components/backend-ai-storage-host-settings-view.ts
  src/components/backend-ai-storage-proxy-list.ts
  src/components/backend-ai-webui.ts
  src/types/backend-ai-console.d.ts
Labels: size:XL

#3510 fix(FR-842): storage status mismatch with virtual nodes total count.
  react/src/pages/VFolderNodeListPage.tsx
Labels: size:XS

#3509 fix(FR-843): Users with a user role are incorrectly identified as the owner of the project folder.
  react/src/components/VFolderNodes.tsx
Labels: area:ux, size:XS

#3519 fix(FR-850): typo error - folder creation and file upload
  resources/i18n/ko.json
Labels: area:ux, area:i18n, size:XS

#3500 feat(FR-833): Improve metric label formatting in user session history page
  react/src/components/SessionMetricGraph.tsx
  react/src/pages/StatisticsPage.tsx
Labels: size:S

#3511 feat(FR-718): change vfolder status category condition
  react/src/components/StorageStatusPanelCard.tsx
  react/src/pages/VFolderNodeListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:M

#3525 hotfix(FR-853): Modified to disable folder deletion based on permissions
  react/src/components/VFolderNodes.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:M

#3505 fix(FR-839):Handle rename functionality when update_attribute is absent
  react/src/components/EditableVFolderName.tsx
  react/src/components/VFolderNodes.tsx
Labels: size:XS

#3506 feat(FR-556): trim to all input fields used during login
  src/components/backend-ai-login.ts
Labels: size:XS

#3530 fix(FR-861): fix bug where changing mount permission would not sync with Lit component
  react/src/components/LegacyFolderExplorer.tsx
Labels: size:XS

#3529 feat(FR-558): display human readable file size on folder explorer
  src/components/backend-ai-folder-explorer.ts
Labels: size:XS

#3538 fix(FR-869): fix session launcher to display appropriate type for folders
  react/src/components/VFolderTable.tsx
Labels: size:S

#3544 feat(FR-871): improve visibility of committed container names
  react/src/components/AliasedImageDoubleTags.tsx
  react/src/components/ImageEnvironmentSelectFormItems.tsx
  react/src/components/ImageList.tsx
  react/src/components/ImageTags.tsx
  react/src/components/SessionLauncherPreview.tsx
Labels: size:S

#3542 fix(FR-870): invalid sorter for file size in folder explorer
  react/src/components/FolderExplorer.tsx
Labels: size:XS

#3550 fix(FR-867): incorrect permission value display for 'wd' permission
  react/src/components/LegacyFolderExplorer.tsx
  react/src/components/ModelCloneModal.tsx
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, area:ux, area:i18n, size:S

#3536 refactor(FR-557): improve language option UX and refactor bug-prone code
  react/src/pages/UserSettingsPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3533 feat(FR-863): Add a modal to manage invited folder
  react/src/components/SharedFolderPermissionInfoModal.tsx
  react/src/components/VFolderNodes.tsx
  react/src/hooks/index.tsx
  react/src/pages/VFolderNodeListPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3532 feat(FR-559): display localized create date on the folder explorer
  src/components/backend-ai-folder-explorer.ts
Labels: size:XS

#3562 feat(FR-887): hide model service card on start page if enableModelFolders is false
  react/src/pages/StartPage.tsx
Labels: size:XS

#3565 feat(FR-889): Add resource group column to agent summary
  react/src/components/AgentSummaryList.tsx
Labels: size:XS

#3571 feat(FR-885): disable file explorer for unmanaged folder
  react/src/components/LegacyFolderExplorer.tsx
  react/src/components/UserSessionsMetrics.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3494 feat(FR-783): Refresh with baseURL and token
  react/src/components/Chat/ChatCard.tsx
  react/src/components/Chat/ChatHeader.tsx
  react/src/components/Chat/ChatModel.tsx
  react/src/components/Chat/CustomModelForm.tsx
  react/src/components/Chat/EndpointTokenSelect.tsx
  react/src/components/Chat/ModelSelect.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#3573 refactor(FR-896): chat card state managment and naming convention
  react/src/components/Chat/AIAgentSelect.tsx
  react/src/components/Chat/ChatCard.tsx
  react/src/components/Chat/ChatHeader.tsx
  react/src/components/Chat/ChatModel.tsx
  react/src/components/Chat/Conversation.tsx
  react/src/components/Chat/EndpointSelect.tsx
  react/src/pages/ChatPage.tsx
Labels: size:L

#3578 chore(FR-901): change info icon to success icon on the message
  react/src/components/ContainerRegistryList.tsx
Labels: size:XS

#3539 chore(FR-852): update validation message for folder name to allow only English letters
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:M

#3576 fix(FR-899): fix to display success message when deleting a resource preset
  react/src/components/ResourcePresetList.tsx
Labels: size:S

#3586 fix(FR-883): Implement consistent sorting behavior across table components
  react/src/components/BAITable.tsx
  react/src/components/EndpointList.tsx
  react/src/components/ImageList.tsx
  react/src/components/InviteFolderSettingModal.tsx
  react/src/components/ResourcePresetList.tsx
  react/src/components/SessionNodes.tsx
  react/src/components/UserNodeList.tsx
  react/src/components/VFolderNodes.tsx
  react/src/components/VFolderTable.tsx
  react/src/pages/ComputeSessionListPage.tsx
  react/src/pages/EndpointDetailPage.tsx
  react/src/pages/ServingPage.tsx
  react/src/pages/VFolderNodeListPage.tsx
Labels: size:M

#3589 fix(FR-908): Guard to baseURL undefined
  react/src/components/Chat/ChatCard.tsx
  react/src/components/Chat/ChatInput.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:M

#3025 feat(FR-360): add `max_pending_session_count`, `max_concurrent_sftp_sessions` to keypair resource policy.
  react/src/components/FormItemWithUnlimited.tsx
  react/src/components/KeypairResourcePolicyList.tsx
  react/src/components/KeypairResourcePolicySettingModal.tsx
  react/src/components/ResourceNumber.tsx
  react/src/helper/const-vars.ts
  react/src/hooks/hooksUsingRelay.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, area:ux, area:i18n, size:XL

#3551 feat(FR-872): relocate download desktop app to the UserDropdownMenu
  react/src/components/DesktopAppDownloadModal.tsx
  react/src/components/UserDropdownMenu.tsx
  react/src/helper/index.tsx
  react/src/hooks/index.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3599 refactor(FR-851): remove custom duration for message
  react/src/components/AutoScalingRuleEditorModal.tsx
  react/src/components/ContainerRegistryEditorModal.tsx
  react/src/components/ContainerRegistryEditorModalBefore2409.tsx
  react/src/components/ContainerRegistryList.tsx
  react/src/components/ContainerRegistryListBefore2409.tsx
  react/src/components/CustomizedImageList.tsx
  react/src/components/KeypairResourcePolicyList.tsx
  react/src/components/KeypairResourcePolicySettingModal.tsx
  react/src/components/ManageAppsModal.tsx
  react/src/components/ManageImageResourceLimitModal.tsx
  react/src/components/ProjectResourcePolicyList.tsx
  react/src/components/ResourcePresetSettingModal.tsx
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/components/UserResourcePolicyList.tsx
  react/src/components/UserSettingModal.tsx
  react/src/pages/EndpointDetailPage.tsx
Labels: size:M

#3601 fix(FR-895): change resource statistics panel on the Import & Run page to be scrollable
  src/components/backend-ai-import-view.ts
Labels: size:XS

#3591 feat(FR-564): Allow create folder and explorer for vfolder select
  react/src/components/ServiceLauncherPageContent.tsx
  react/src/components/VFolderSelect.tsx
Labels: size:L
