Repository lablup/backend.ai-webui, pull requests merged in 2025-05, with the labels that each got.

#3563 refactor(FR-773): refactor storage list to NEO style
  react/src/components/BAIIcons/Ceph.svg
  react/src/components/BAIIcons/CephIcon.tsx
  react/src/components/BAIIcons/PureStorage.svg
  react/src/components/BAIIcons/PureStorageIcon.tsx
  react/src/components/StorageProxyList.tsx
  react/src/pages/ResourcesPage.tsx
  src/backend-ai-app.ts
  src/components/backend-ai-storage-proxy-list.ts
Labels: size:XL

#3611 Fix: change separator between image name & tag
  react/src/components/ImageInstallModal.tsx
Labels: effort:easy, size:XS

#3619 fix(FR-921): Fix incorrect access key when terminating another user's session
  react/src/components/ComputeSessionNodeItems/TerminateSessionModal.tsx
Labels: size:XS

#3602 fix(FR-941): prevent suspense fallback when Allocated resource card is auto-refreshing
  react/src/pages/ComputeSessionListPage.tsx
Labels: size:XS

#3604 feat(FR-920): set `minimum-required` resources when no available preset
  react/src/components/ResourceAllocationFormItems.tsx
Labels: size:S

#3590 fix(FR-915): fix error when deleting or restoring single folder after multi-check
  react/src/components/VFolderNodes.tsx
  react/src/pages/VFolderNodeListPage.tsx
Labels: size:S

#3647 fix(FR-978): Comprehensive backward compatibility check (24.09.x) before 25.8.0 release
  react/src/components/MySessionCard.tsx
  react/src/components/RecentlyCreatedSessionCard.tsx
  react/src/pages/DashboardPage.tsx
Labels: size:XS

#3615 feat(FR-950): add folder details panel with storage info in explorer
  pnpm-lock.yaml
  react/package.json
  react/src/components/BAIText.tsx
  react/src/components/FolderExplorerActions.tsx
  react/src/components/FolderExplorerHeader.tsx
  react/src/components/LegacyFolderExplorer.tsx
  react/src/components/VFolderNameTitle.tsx
  react/src/components/VFolderNodeDescription.tsx
  react/src/components/VFolderNodes.tsx
  react/src/components/VirtualFolderNodeItems/VirtualFolderPath.tsx
  react/src/components/__snapshots__/DomainSelector.test.tsx.snap
  react/src/hooks/useVirtualFolderNodePath.ts
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#3580 fix(FR-894): show image commit error message
  react/src/components/ComputeSessionNodeItems/ContainerCommitModal.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3606 fix(FR-906): cannot create and modify resource preset when memory is null
  react/src/components/ResourcePresetSettingModal.tsx
Labels: size:S

#3656 refactor(FR-844): migrate Terms of Service modal to react component
  react/src/components/MainLayout/WebUISider.tsx
  react/src/components/TermsOfServiceModal.tsx
Labels: area:ux, area:i18n, size:M

#3658 refactor(FR-992): migrate Privacy Policy modal to NEO Style react component
  react/src/components/MainLayout/WebUISider.tsx
  react/src/components/PrivacyPolicyModal.tsx
Labels: size:M

#3639 chore(FR-972): Indicate machine translation for languages other than English and Korean
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:M

#3623 fix(FR-948): fix incorrect translation for DescSharedMemory of i18n
  react/src/components/ResourceAllocationFormItems.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-session-launcher.ts
Labels: area:ux, area:i18n, size:M

#3663 fix(FR-994): Validate that TCP APPs are allowed when open app laucnher on session detail panel
  src/components/backend-ai-app-launcher.ts
Labels: size:S

#3667 feat(FR-997): Linking the correct documentation page for a model service start/update
  react/src/components/WEBUIHelpButton.tsx
Labels: size:XS

#3631 feat(FR-450): Add LLM Parameter
  pnpm-lock.yaml
  react/package.json
  react/src/components/Chat/ChatCard.tsx
  react/src/components/Chat/ChatHeader.tsx
  react/src/components/Chat/ChatModel.tsx
  react/src/components/Chat/ChatParametersSliders.tsx
  react/src/components/Chat/Conversation.tsx
  react/src/components/DynamicUnitInputNumberWithSlider.tsx
  react/src/components/InputNumberWithSlider.tsx
  react/src/components/ResourceAllocationFormItems.tsx
  react/src/components/ServiceLauncherPageContent.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#3651 fix(FR-951): Add white-space pre-wrap to code blocks
  react/src/components/Chat/ChatMessageContent.tsx
  react/src/components/Chat/SyntaxHighight.tsx
Labels: size:XS

#3670 feat(FR-1002): Infinite scrolling of EndpointSelect
  react/src/components/BAISelect.tsx
  react/src/components/Chat/EndpointSelect.tsx
  react/src/components/TotalFooter.tsx
  react/src/hooks/usePaginatedQuery.ts
Labels: size:L

#3634 feat(FR-976): Session live stat badge
  react/src/components/ComputeSessionNodeItems/SessionSlotCell.tsx
  react/src/components/SessionNodes.tsx
  react/src/components/SessionUsageMonitor.tsx
  react/src/hooks/useSessionNodeLiveStat.tsx
Labels: size:L

#3627 feat(FR-966): Custom view beside of BAITable's pagination
  react/src/components/AgentList.tsx
  react/src/components/BAICard.tsx
  react/src/components/BAITable.tsx
  react/src/components/SessionNodes.tsx
  react/src/components/SessionTemplateModal.tsx
  react/src/components/StorageProxyList.tsx
  react/src/components/UserCredentialList.tsx
  react/src/components/VFolderNodes.tsx
  react/src/pages/ComputeSessionListPage.tsx
  react/src/pages/ResourcesPage.tsx
  react/src/pages/ServingPage.tsx
  react/src/pages/VFolderNodeListPage.tsx
Labels: size:L

#3626 refactor(FR-967): migrate list components in resources page to Neo Style
  react/src/components/AgentList.tsx
  react/src/components/ResourceGroupList.tsx
  react/src/components/StorageProxyList.tsx
  react/src/pages/ResourcesPage.tsx
Labels: size:L

#3633 refactor(FR-968): migrate create/setting modal in resource group page to Neo style
  react/src/components/ResourceGroupList.tsx
  react/src/components/ResourceGroupSettingModal.tsx
  react/src/helper/index.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:XL

#3636 refactor(FR-969): Migrate resource group info modal in resource group page to neo style
  react/src/components/Chat/EndpointSelect.tsx
  react/src/components/ResourceGroupInfoModal.tsx
  react/src/components/ResourceGroupList.tsx
  react/src/components/ResourceGroupSettingModal.tsx
  react/src/pages/ResourcesPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-resource-group-list.ts
Labels: area:ux, area:i18n, size:XL

#3452 e2e(FR-757): add test cases for session creation and add en locale to Playwright config
  e2e/session-launcher.test.ts
  e2e/session.test.ts
  e2e/utils/test-util-antd.ts
  playwright.config.ts
  src/components/backend-ai-session-launcher.ts
Labels: size:L

#3678 fix(FR-1007): Allow to create a new folder in folder explorer
  react/src/components/FolderExplorerActions.tsx
  react/src/components/LegacyFolderExplorer.tsx
Labels: size:S

#3605 chore(FR-942): change Backend.AI Badge to revised logo
  resources/badge.svg
  src/components/backend-ai-import-view.ts
Labels: size:XS

#3680 fix(FR-1008): Simplify EndpointSelectProps type and remove unused resource import
  react/src/components/Chat/EndpointSelect.tsx
  src/backend-ai-app.ts
Labels: size:S

#3696 fix(FR-1020): Change session name update method to use REST API
  react/src/components/ComputeSessionNodeItems/EditableSessionName.tsx
  react/src/components/SessionNameFormItem.tsx
Labels: size:L

#3697 feat(FR-1016): change using folderId instead of folderName when leaving a shared folder
  react/src/components/SharedFolderPermissionInfoModal.tsx
Labels: size:XS

#3567 fix(FR-890): Fix pagination count issue in agent summary table
  react/src/components/AgentSummaryList.tsx
Labels: size:XS

#3629 feat: add 'ms' gap size to Flex component
  react/src/components/Flex.tsx
Labels: size:XS

#3700 fix(FR-1021): Set Tooltip popup container to document.body via ConfigProvider to fix layout shift
  react/src/index.tsx
Labels: size:XS

#3705 chore: Bump version to 25.9.0-alpha.0
  electron-app/package.json
  index.html
  manifest.json
  package.json
  react/package.json
  version.json
Labels: size:S

#3711 fix(FR-977): Add preset for today to range picker
  react/src/components/UserSessionsMetrics.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3706 fix(FR-917): Restrict `VFolderSelect` component to show vfoldes by current project
  react/src/components/VFolderTable.tsx
Labels: size:M

#3707 refactor(FR-522): Delete legacy registry codes for before 24.09
  .cspell.json
  react/src/components/ContainerRegistryEditorModalBefore2409.tsx
  react/src/components/ContainerRegistryList.tsx
  react/src/components/ContainerRegistryListBefore2409.tsx
  react/src/pages/EnvironmentPage.tsx
  src/components/backend-ai-registry-list.ts
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, size:XL

#3690 refactor(FR-1006): delete classic session launcher and use neo as default
  react/src/App.tsx
  react/src/hooks/useBAISetting.tsx
  react/src/pages/UserSettingsPage.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
  src/components/backend-ai-folder-explorer.ts
  src/components/backend-ai-general-styles.ts
  src/components/backend-ai-import-view.ts
  src/components/backend-ai-session-launcher.ts
  src/components/backend-ai-session-view.ts
  src/components/backend-ai-storage-list.ts
  src/components/backend-ai-summary-view.ts
Labels: area:ux, area:i18n, size:XL

#3659 refactor(FR-993): migrate About Backend.AI modal to NEO Style react component
  react/src/components/AboutBackendAIModal.tsx
  react/src/components/MainLayout/WebUISider.tsx
  react/src/components/UserDropdownMenu.tsx
  src/components/backend-ai-splash.ts
Labels: size:L

#3713 misc(FR-1035): remove unused pnpm command for test using jest framework
  package.json
Labels: size:XS

#3718 chore(FR-1038): Improve Korean spacing and phrasing
  resources/i18n/ko.json
Labels: area:ux, area:i18n, size:L

#3715 feat(FR-1031): Resource allocation of SFTP session based on Image limit
  src/components/backend-ai-folder-explorer.ts
Labels: size:M

#3540 chore(FR-831): update ResourcePresetSettingModal to display exact memory value
  react/src/components/NumberWithUnit.tsx
  react/src/components/ResourceNumber.tsx
  react/src/components/ResourcePresetList.tsx
  react/src/components/ResourcePresetSettingModal.tsx
  react/src/helper/index.tsx
  resources/i18n/de.json
  resources/i18n/el.json
  resources/i18n/en.json
  resources/i18n/es.json
  resources/i18n/fi.json
  resources/i18n/fr.json
  resources/i18n/id.json
  resources/i18n/it.json
  resources/i18n/ja.json
  resources/i18n/ko.json
  resources/i18n/mn.json
  resources/i18n/ms.json
  resources/i18n/pl.json
  resources/i18n/pt-BR.json
  resources/i18n/pt.json
  resources/i18n/ru.json
  resources/i18n/th.json
  resources/i18n/tr.json
  resources/i18n/vi.json
  resources/i18n/zh-CN.json
  resources/i18n/zh-TW.json
Labels: area:ux, area:i18n, size:L

#3549 fix(FR-877): Enable project folder mount permissions editing for admins
  react/src/components/VFolderNodeDescription.tsx
  react/src/components/VFolderNodes.tsx
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, size:S

#3616 feat(FR-952): TOTP registration before login
  react/src/components/MainLayout/MainLayout.tsx
  react/src/components/TOTPActivateModal.tsx
  react/src/components/TOTPActivateModalWithToken.tsx
  react/src/index.tsx
  src/components/backend-ai-login.ts
  src/lib/backend.ai-client-esm.ts
Labels: area:lib, size:L
